ag/assets/latest_plat/rest/platform/api-urn_com.soa.admin.service.monitoring.jaxrs-JAXRSMonitorService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="urn:com.soa.admin.service.monitoring.jaxrs" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="urn:com.soa.admin.service.monitoring.jaxrs" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:nms1="http://soa.com/products/admin/service/monitoring/1.0" xmlns:shttp="http://soa.com/wsdl/http">
  <wsdl:types>
    <xs:schema elementFormDefault="qualified" targetNamespace="http://soa.com/products/admin/service/monitoring/1.0" version="1.0" xmlns:ns1="http://soa.com/products/admin/console/common/1.0" xmlns:tns="http://soa.com/products/admin/service/monitoring/1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:import namespace="http://soa.com/products/admin/console/common/1.0"/>
<xs:element name="NameValue" type="tns:nameValue"/>
<xs:element name="PID" type="tns:pid"/>
<xs:element name="PIDSet" type="tns:pidSet"/>
<xs:element name="attributeName" type="tns:attributeName"/>
<xs:element name="monitoredAttribute" type="tns:monitoredAttribute"/>
<xs:complexType name="pid"><xs:sequence><xs:element minOccurs="0" name="links"><xs:complexType><xs:sequence><xs:element maxOccurs="unbounded" minOccurs="0" name="link" type="ns1:link"/></xs:sequence></xs:complexType></xs:element><xs:element minOccurs="0" name="pid" type="xs:string"/><xs:element maxOccurs="unbounded" minOccurs="0" name="attributes" nillable="true" type="tns:monitoredAttribute"/></xs:sequence></xs:complexType>
<xs:complexType name="monitoredAttribute"><xs:complexContent><xs:extension base="tns:nameValue"><xs:sequence><xs:element minOccurs="0" name="type" type="xs:string"/><xs:element minOccurs="0" name="units" type="xs:string"/><xs:element minOccurs="0" name="description" type="xs:string"/><xs:element minOccurs="0" name="links"><xs:complexType><xs:sequence><xs:element maxOccurs="unbounded" minOccurs="0" name="link" type="ns1:link"/></xs:sequence></xs:complexType></xs:element></xs:sequence></xs:extension></xs:complexContent></xs:complexType>
<xs:complexType name="nameValue"><xs:sequence><xs:element minOccurs="0" name="name" type="tns:attributeName"/><xs:element minOccurs="0" name="timestamp" type="xs:anySimpleType"/><xs:element minOccurs="0" name="value" type="xs:string"/></xs:sequence></xs:complexType>
<xs:complexType name="attributeName"><xs:sequence><xs:element minOccurs="0" name="id" type="xs:string"/><xs:element minOccurs="0" name="pid" type="xs:string"/></xs:sequence></xs:complexType>
<xs:complexType name="pidSet"><xs:sequence><xs:element minOccurs="0" name="links"><xs:complexType><xs:sequence><xs:element maxOccurs="unbounded" minOccurs="0" name="link" type="ns1:link"/></xs:sequence></xs:complexType></xs:element><xs:element maxOccurs="unbounded" minOccurs="0" name="pids" nillable="true" type="tns:pid"/></xs:sequence></xs:complexType>
</xs:schema>
    <xs:schema elementFormDefault="qualified" targetNamespace="http://soa.com/products/admin/console/common/1.0" version="1.0" xmlns:tns="http://soa.com/products/admin/console/common/1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:element name="link" type="tns:link"/>
<xs:complexType name="link"><xs:sequence><xs:element minOccurs="0" name="href" type="xs:string"/><xs:element minOccurs="0" name="rel" type="xs:string"/><xs:element minOccurs="0" name="title" type="xs:string"/><xs:element minOccurs="0" name="type" type="xs:string"/></xs:sequence></xs:complexType>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="getAttributeValueRequestMessage">
    <wsdl:part name="pid" type="xs:string">
    </wsdl:part>
    <wsdl:part name="name" type="xs:string">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getAttributeValueResponseMessage">
    <wsdl:part name="getAttributeValueResponse" element="nms1:NameValue">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getPIDsResponseMessage">
    <wsdl:part name="getPIDsResponse" element="nms1:PIDSet">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getPIDResponseMessage">
    <wsdl:part name="getPIDResponse" element="nms1:PID">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getPIDsRequestMessage">
    <wsdl:part name="brief" type="xs:boolean">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getPIDRequestMessage">
    <wsdl:part name="pid" type="xs:string">
    </wsdl:part>
    <wsdl:part name="brief" type="xs:boolean">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="JAXRSMonitorServicePortType">
    <wsdl:operation name="getPIDs">
      <wsdl:input message="tns:getPIDsRequestMessage">
    </wsdl:input>
      <wsdl:output message="tns:getPIDsResponseMessage">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getPID">
      <wsdl:input message="tns:getPIDRequestMessage">
    </wsdl:input>
      <wsdl:output message="tns:getPIDResponseMessage">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAttributeValue">
      <wsdl:input message="tns:getAttributeValueRequestMessage">
    </wsdl:input>
      <wsdl:output message="tns:getAttributeValueResponseMessage">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="JAXRSMonitorServiceBinding" type="tns:JAXRSMonitorServicePortType">
    <shttp:binding/>
    <wsdl:operation name="getPIDs">
<wsdl:documentation><sdoc:displayName xmlns:sdoc="http://soa.com/wsdl/doc">GET </sdoc:displayName><sdoc:description xmlns:sdoc="http://soa.com/wsdl/doc"><![CDATA[Fetch all available PIDs]]></sdoc:description><sdoc:summary xmlns:sdoc="http://soa.com/wsdl/doc"><![CDATA[Fetch PIDs]]></sdoc:summary></wsdl:documentation>
    <shttp:operation location="" method="GET" outputSerialization="application/json,application/xml"/>
      <wsdl:input>
    <shttp:input name="brief" part="brief" type="query"/>
      </wsdl:input>
      <wsdl:output>
    <shttp:output name="getPIDsResponse" part="getPIDsResponse" type="entity"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getPID">
<wsdl:documentation><sdoc:displayName xmlns:sdoc="http://soa.com/wsdl/doc">GET /{pid}</sdoc:displayName><sdoc:description xmlns:sdoc="http://soa.com/wsdl/doc"><![CDATA[Fetch information for a specified PID]]></sdoc:description><sdoc:summary xmlns:sdoc="http://soa.com/wsdl/doc"><![CDATA[Fetch PID]]></sdoc:summary></wsdl:documentation>
    <shttp:operation location="/{pid}" method="GET" outputSerialization="application/json,application/xml"/>
      <wsdl:input>
    <shttp:input name="pid" part="pid" type="path"><wsdl:documentation><sdoc:description xmlns:sdoc="http://soa.com/wsdl/doc"><![CDATA[The monitorable PID]]></sdoc:description><sdoc:required xmlns:sdoc="http://soa.com/wsdl/doc">false</sdoc:required><sdoc:multiple xmlns:sdoc="http://soa.com/wsdl/doc">false</sdoc:multiple></wsdl:documentation></shttp:input>
    <shttp:input name="brief" part="brief" type="query"/>
      </wsdl:input>
      <wsdl:output>
    <shttp:output name="getPIDResponse" part="getPIDResponse" type="entity"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAttributeValue">
<wsdl:documentation><sdoc:displayName xmlns:sdoc="http://soa.com/wsdl/doc">GET /{pid}/{name}</sdoc:displayName><sdoc:description xmlns:sdoc="http://soa.com/wsdl/doc"><![CDATA[Fetch information for a specified attribute]]></sdoc:description><sdoc:summary xmlns:sdoc="http://soa.com/wsdl/doc"><![CDATA[Fetch Attribute]]></sdoc:summary></wsdl:documentation>
    <shttp:operation location="/{pid}/{name}" method="GET" outputSerialization="application/json"/>
      <wsdl:input>
    <shttp:input name="pid" part="pid" type="path"><wsdl:documentation><sdoc:description xmlns:sdoc="http://soa.com/wsdl/doc"><![CDATA[The monitorable PID]]></sdoc:description><sdoc:required xmlns:sdoc="http://soa.com/wsdl/doc">false</sdoc:required><sdoc:multiple xmlns:sdoc="http://soa.com/wsdl/doc">false</sdoc:multiple></wsdl:documentation></shttp:input>
    <shttp:input name="name" part="name" type="path"><wsdl:documentation><sdoc:description xmlns:sdoc="http://soa.com/wsdl/doc"><![CDATA[The name of the attribute]]></sdoc:description><sdoc:required xmlns:sdoc="http://soa.com/wsdl/doc">false</sdoc:required><sdoc:multiple xmlns:sdoc="http://soa.com/wsdl/doc">false</sdoc:multiple></wsdl:documentation></shttp:input>
      </wsdl:input>
      <wsdl:output>
    <shttp:output name="getAttributeValueResponse" part="getAttributeValueResponse" type="entity"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="JAXRSMonitorService">
<wsdl:documentation><sdoc:description xmlns:sdoc="http://soa.com/wsdl/doc"><![CDATA[This API provides a REST interface to the OSGi MonitorAdmin service.]]></sdoc:description><sdoc:title xmlns:sdoc="http://soa.com/wsdl/doc">Monitor Service API</sdoc:title><sdoc:version xmlns:sdoc="http://soa.com/wsdl/doc">8.0.0</sdoc:version><sdoc:vendor xmlns:sdoc="http://soa.com/wsdl/doc">Akana</sdoc:vendor></wsdl:documentation>
    <wsdl:port name="JAXRSMonitorService_rest_port_http" binding="tns:JAXRSMonitorServiceBinding">
    <shttp:address location="http://0.0.0.0/admin/monitor"/>
    </wsdl:port>
    <wsdl:port name="JAXRSMonitorService_rest_port_https" binding="tns:JAXRSMonitorServiceBinding">
    <shttp:address location="https://0.0.0.0/admin/monitor"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
