ag/assets/latest_plat/rest/platform/api-urn_com.soa.admin.service.system.jaxrs-SystemService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="urn:com.soa.admin.service.system.jaxrs" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="urn:com.soa.admin.service.system.jaxrs" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:nms1="http://soa.com/products/admin/console/system/1.0" xmlns:shttp="http://soa.com/wsdl/http">
  <wsdl:types>
    <xs:schema elementFormDefault="qualified" targetNamespace="http://soa.com/products/admin/console/system/1.0" version="1.0" xmlns:ns1="http://soa.com/products/admin/console/common/1.0" xmlns:tns="http://soa.com/products/admin/console/system/1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:import namespace="http://soa.com/products/admin/console/common/1.0"/>
<xs:element name="BundleInfo" type="tns:bundleInfo"/>
<xs:element name="ThreadInfo" type="tns:threadInfo"/>
<xs:element name="securityProvider" type="tns:securityProvider"/>
<xs:element name="system" type="tns:systemInfo"/>
<xs:complexType name="threadInfo"><xs:sequence><xs:element minOccurs="0" name="group" type="xs:string"/><xs:element name="id" type="xs:long"/><xs:element minOccurs="0" name="name" type="xs:string"/><xs:element name="priority" type="xs:int"/><xs:element maxOccurs="unbounded" minOccurs="0" name="stack" nillable="true" type="xs:string"/><xs:element minOccurs="0" name="state" type="xs:string"/></xs:sequence></xs:complexType>
<xs:complexType name="systemInfo"><xs:sequence><xs:element minOccurs="0" name="properties"><xs:complexType><xs:sequence><xs:element maxOccurs="unbounded" minOccurs="0" name="property" type="ns1:nameValuePair"/></xs:sequence></xs:complexType></xs:element><xs:element name="totalMemory" type="xs:long"/><xs:element name="usedMemory" type="xs:long"/><xs:element name="freeMemory" type="xs:long"/><xs:element minOccurs="0" name="lastStart" type="xs:string"/><xs:element name="embedded" type="xs:boolean"/><xs:element name="authorizedToRestart" type="xs:boolean"/><xs:element minOccurs="0" name="version" type="xs:string"/><xs:element name="containerService" type="xs:boolean"/><xs:element minOccurs="0" name="links"><xs:complexType><xs:sequence><xs:element maxOccurs="unbounded" minOccurs="0" name="link" type="ns1:link"/></xs:sequence></xs:complexType></xs:element><xs:element minOccurs="0" name="lifecycleState" type="xs:string"/><xs:element minOccurs="0" name="containerName" type="xs:string"/><xs:element name="startTime" type="xs:long"/><xs:element minOccurs="0" name="lastStartTime" type="xs:dateTime"/><xs:element minOccurs="0" name="contextPath" type="xs:string"/><xs:element minOccurs="0" name="security" type="tns:securityConfiguration"/></xs:sequence></xs:complexType>
<xs:complexType name="securityConfiguration"><xs:sequence><xs:element maxOccurs="unbounded" minOccurs="0" name="providers" nillable="true" type="tns:securityProvider"/></xs:sequence></xs:complexType>
<xs:complexType name="securityProvider"><xs:sequence><xs:element minOccurs="0" name="info" type="xs:string"/><xs:element minOccurs="0" name="name" type="xs:string"/><xs:element minOccurs="0" name="version" type="xs:string"/></xs:sequence></xs:complexType>
<xs:complexType name="bundleInfo"><xs:sequence><xs:element name="id" type="xs:long"/><xs:element minOccurs="0" name="lastModified" type="xs:string"/><xs:element minOccurs="0" name="lifecycle" type="xs:string"/><xs:element maxOccurs="unbounded" minOccurs="0" name="links" nillable="true" type="ns1:link"/><xs:element minOccurs="0" name="location" type="xs:string"/><xs:element minOccurs="0" name="name" type="xs:string"/><xs:element minOccurs="0" name="state" type="xs:string"/><xs:element minOccurs="0" name="version" type="xs:string"/></xs:sequence></xs:complexType>
</xs:schema>
    <xs:schema elementFormDefault="qualified" targetNamespace="http://soa.com/products/admin/console/common/1.0" version="1.0" xmlns:tns="http://soa.com/products/admin/console/common/1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:element name="NameValuePair" type="tns:nameValuePair"/>
<xs:element name="link" type="tns:link"/>
<xs:complexType name="nameValuePair"><xs:sequence><xs:element minOccurs="0" name="name" type="xs:string"/><xs:element minOccurs="0" name="value" type="xs:string"/></xs:sequence></xs:complexType>
<xs:complexType name="link"><xs:sequence><xs:element minOccurs="0" name="href" type="xs:string"/><xs:element minOccurs="0" name="rel" type="xs:string"/><xs:element minOccurs="0" name="title" type="xs:string"/><xs:element minOccurs="0" name="type" type="xs:string"/></xs:sequence></xs:complexType>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="getServicesResponseMessage">
    <wsdl:part name="getServicesResponse" type="tns:List">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getBundleServicesResponseMessage">
    <wsdl:part name="getBundleServicesResponse" type="tns:List">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="refreshRequestMessage">
  </wsdl:message>
  <wsdl:message name="getSystemReportRequestMessage">
  </wsdl:message>
  <wsdl:message name="getBundleDetailRequestMessage">
    <wsdl:part name="id" type="xs:string">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getBundleEventsRequestMessage">
    <wsdl:part name="id" type="xs:string">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getSystemInfoRequestMessage">
  </wsdl:message>
  <wsdl:message name="getServicesRequestMessage">
  </wsdl:message>
  <wsdl:message name="getBundlesRequestMessage">
  </wsdl:message>
  <wsdl:message name="getBundleServicesRequestMessage">
    <wsdl:part name="id" type="xs:string">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="restartResponseMessage">
  </wsdl:message>
  <wsdl:message name="performGarbageCollectionRequestMessage">
  </wsdl:message>
  <wsdl:message name="getConfigurationResponseMessage">
    <wsdl:part name="getConfigurationResponse" type="tns:Map">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getBundlesResponseMessage">
    <wsdl:part name="getBundlesResponse" type="tns:List">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getBundleDetailResponseMessage">
    <wsdl:part name="getBundleDetailResponse" element="nms1:BundleInfo">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getThreadDetailResponseMessage">
    <wsdl:part name="getThreadDetailResponse" element="nms1:ThreadInfo">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getBundleEventsResponseMessage">
    <wsdl:part name="getBundleEventsResponse" type="tns:List">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getThreadsRequestMessage">
  </wsdl:message>
  <wsdl:message name="getThreadsResponseMessage">
    <wsdl:part name="getThreadsResponse" type="tns:List">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="performGarbageCollectionResponseMessage">
    <wsdl:part name="performGarbageCollectionResponse" element="nms1:system">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getThreadDetailRequestMessage">
    <wsdl:part name="name" type="xs:string">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getSystemReportResponseMessage">
    <wsdl:part name="getSystemReportResponse" type="tns:StreamingOutput">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="refreshResponseMessage">
  </wsdl:message>
  <wsdl:message name="getSystemInfoResponseMessage">
    <wsdl:part name="getSystemInfoResponse" element="nms1:system">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="shutdownRequestMessage">
  </wsdl:message>
  <wsdl:message name="getConfigurationRequestMessage">
  </wsdl:message>
  <wsdl:message name="shutdownResponseMessage">
  </wsdl:message>
  <wsdl:message name="restartRequestMessage">
  </wsdl:message>
  <wsdl:portType name="SystemServicePortType">
    <wsdl:operation name="refresh">
      <wsdl:input message="tns:refreshRequestMessage">
    </wsdl:input>
      <wsdl:output message="tns:refreshResponseMessage">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getSystemInfo">
      <wsdl:input message="tns:getSystemInfoRequestMessage">
    </wsdl:input>
      <wsdl:output message="tns:getSystemInfoResponseMessage">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getServices">
      <wsdl:input message="tns:getServicesRequestMessage">
    </wsdl:input>
      <wsdl:output message="tns:getServicesResponseMessage">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getConfiguration">
      <wsdl:input message="tns:getConfigurationRequestMessage">
    </wsdl:input>
      <wsdl:output message="tns:getConfigurationResponseMessage">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getBundles">
      <wsdl:input message="tns:getBundlesRequestMessage">
    </wsdl:input>
      <wsdl:output message="tns:getBundlesResponseMessage">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getBundleEvents">
      <wsdl:input message="tns:getBundleEventsRequestMessage">
    </wsdl:input>
      <wsdl:output message="tns:getBundleEventsResponseMessage">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getBundleServices">
      <wsdl:input message="tns:getBundleServicesRequestMessage">
    </wsdl:input>
      <wsdl:output message="tns:getBundleServicesResponseMessage">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getThreadDetail">
      <wsdl:input message="tns:getThreadDetailRequestMessage">
    </wsdl:input>
      <wsdl:output message="tns:getThreadDetailResponseMessage">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="performGarbageCollection">
      <wsdl:input message="tns:performGarbageCollectionRequestMessage">
    </wsdl:input>
      <wsdl:output message="tns:performGarbageCollectionResponseMessage">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="restart">
      <wsdl:input message="tns:restartRequestMessage">
    </wsdl:input>
      <wsdl:output message="tns:restartResponseMessage">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getSystemReport">
      <wsdl:input message="tns:getSystemReportRequestMessage">
    </wsdl:input>
      <wsdl:output message="tns:getSystemReportResponseMessage">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getBundleDetail">
      <wsdl:input message="tns:getBundleDetailRequestMessage">
    </wsdl:input>
      <wsdl:output message="tns:getBundleDetailResponseMessage">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="shutdown">
      <wsdl:input message="tns:shutdownRequestMessage">
    </wsdl:input>
      <wsdl:output message="tns:shutdownResponseMessage">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getThreads">
      <wsdl:input message="tns:getThreadsRequestMessage">
    </wsdl:input>
      <wsdl:output message="tns:getThreadsResponseMessage">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SystemServiceBinding" type="tns:SystemServicePortType">
    <shttp:binding/>
    <wsdl:operation name="refresh">
<wsdl:documentation><sdoc:displayName xmlns:sdoc="http://soa.com/wsdl/doc">POST /refresh</sdoc:displayName><sdoc:description xmlns:sdoc="http://soa.com/wsdl/doc"><![CDATA[Perform a refresh packages operation.]]></sdoc:description><sdoc:summary xmlns:sdoc="http://soa.com/wsdl/doc"><![CDATA[Refresh packages]]></sdoc:summary></wsdl:documentation>
    <shttp:operation location="/refresh" method="POST"/>
    </wsdl:operation>
    <wsdl:operation name="getSystemInfo">
<wsdl:documentation><sdoc:displayName xmlns:sdoc="http://soa.com/wsdl/doc">GET </sdoc:displayName><sdoc:description xmlns:sdoc="http://soa.com/wsdl/doc"><![CDATA[Get system information.]]></sdoc:description><sdoc:summary xmlns:sdoc="http://soa.com/wsdl/doc"><![CDATA[Get system info]]></sdoc:summary></wsdl:documentation>
    <shttp:operation location="" method="GET" outputSerialization="application/xml,application/json"/>
      <wsdl:output>
    <shttp:output name="getSystemInfoResponse" part="getSystemInfoResponse" type="entity"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getServices">
<wsdl:documentation><sdoc:displayName xmlns:sdoc="http://soa.com/wsdl/doc">GET /services</sdoc:displayName><sdoc:description xmlns:sdoc="http://soa.com/wsdl/doc"><![CDATA[Get information on the active OSGi services.]]></sdoc:description><sdoc:summary xmlns:sdoc="http://soa.com/wsdl/doc"><![CDATA[Get service info]]></sdoc:summary></wsdl:documentation>
    <shttp:operation location="/services" method="GET" outputSerialization="application/xml,application/json"/>
      <wsdl:output>
    <shttp:output name="getServicesResponse" part="getServicesResponse" type="entity"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getConfiguration">
<wsdl:documentation><sdoc:displayName xmlns:sdoc="http://soa.com/wsdl/doc">GET /config</sdoc:displayName><sdoc:description xmlns:sdoc="http://soa.com/wsdl/doc"><![CDATA[Get the current configuration from the Config Admin service.]]></sdoc:description><sdoc:summary xmlns:sdoc="http://soa.com/wsdl/doc"><![CDATA[Get configuration info]]></sdoc:summary></wsdl:documentation>
    <shttp:operation location="/config" method="GET" outputSerialization="application/xml,application/json"/>
      <wsdl:output>
    <shttp:output name="getConfigurationResponse" part="getConfigurationResponse" type="entity"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getBundles">
<wsdl:documentation><sdoc:displayName xmlns:sdoc="http://soa.com/wsdl/doc">GET /bundles</sdoc:displayName><sdoc:description xmlns:sdoc="http://soa.com/wsdl/doc"><![CDATA[Get information on the deployed bundles.]]></sdoc:description><sdoc:summary xmlns:sdoc="http://soa.com/wsdl/doc"><![CDATA[Get bundle info]]></sdoc:summary></wsdl:documentation>
    <shttp:operation location="/bundles" method="GET" outputSerialization="application/xml,application/json"/>
      <wsdl:output>
    <shttp:output name="getBundlesResponse" part="getBundlesResponse" type="entity"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getBundleEvents">
<wsdl:documentation><sdoc:displayName xmlns:sdoc="http://soa.com/wsdl/doc">GET /bundles/{id}/events</sdoc:displayName><sdoc:description xmlns:sdoc="http://soa.com/wsdl/doc"><![CDATA[Get bundle events.]]></sdoc:description><sdoc:summary xmlns:sdoc="http://soa.com/wsdl/doc"><![CDATA[Get bundle events]]></sdoc:summary></wsdl:documentation>
    <shttp:operation location="/bundles/{id}/events" method="GET" outputSerialization="application/xml,application/json"/>
      <wsdl:input>
    <shttp:input name="id" part="id" type="path"><wsdl:documentation><sdoc:description xmlns:sdoc="http://soa.com/wsdl/doc"><![CDATA[The bundle ID.]]></sdoc:description><sdoc:required xmlns:sdoc="http://soa.com/wsdl/doc">true</sdoc:required><sdoc:multiple xmlns:sdoc="http://soa.com/wsdl/doc">false</sdoc:multiple></wsdl:documentation></shttp:input>
      </wsdl:input>
      <wsdl:output>
    <shttp:output name="getBundleEventsResponse" part="getBundleEventsResponse" type="entity"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getBundleServices">
<wsdl:documentation><sdoc:displayName xmlns:sdoc="http://soa.com/wsdl/doc">GET /bundles/{id}/services</sdoc:displayName><sdoc:description xmlns:sdoc="http://soa.com/wsdl/doc"><![CDATA[Get the set of services provided by a bundle.]]></sdoc:description><sdoc:summary xmlns:sdoc="http://soa.com/wsdl/doc"><![CDATA[Get bundle services]]></sdoc:summary></wsdl:documentation>
    <shttp:operation location="/bundles/{id}/services" method="GET" outputSerialization="application/xml,application/json"/>
      <wsdl:input>
    <shttp:input name="id" part="id" type="path"><wsdl:documentation><sdoc:description xmlns:sdoc="http://soa.com/wsdl/doc"><![CDATA[The bundle ID.]]></sdoc:description><sdoc:required xmlns:sdoc="http://soa.com/wsdl/doc">true</sdoc:required><sdoc:multiple xmlns:sdoc="http://soa.com/wsdl/doc">false</sdoc:multiple></wsdl:documentation></shttp:input>
      </wsdl:input>
      <wsdl:output>
    <shttp:output name="getBundleServicesResponse" part="getBundleServicesResponse" type="entity"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getThreadDetail">
<wsdl:documentation><sdoc:displayName xmlns:sdoc="http://soa.com/wsdl/doc">GET /threads/{name}</sdoc:displayName><sdoc:description xmlns:sdoc="http://soa.com/wsdl/doc"><![CDATA[Get detailed information on a thread.]]></sdoc:description><sdoc:summary xmlns:sdoc="http://soa.com/wsdl/doc"><![CDATA[Get thread detail]]></sdoc:summary></wsdl:documentation>
    <shttp:operation location="/threads/{name}" method="GET" outputSerialization="application/xml,application/json"/>
      <wsdl:input>
    <shttp:input name="name" part="name" type="path"><wsdl:documentation><sdoc:description xmlns:sdoc="http://soa.com/wsdl/doc"><![CDATA[The thread name.]]></sdoc:description><sdoc:required xmlns:sdoc="http://soa.com/wsdl/doc">true</sdoc:required><sdoc:multiple xmlns:sdoc="http://soa.com/wsdl/doc">false</sdoc:multiple></wsdl:documentation></shttp:input>
      </wsdl:input>
      <wsdl:output>
    <shttp:output name="getThreadDetailResponse" part="getThreadDetailResponse" type="entity"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="performGarbageCollection">
<wsdl:documentation><sdoc:displayName xmlns:sdoc="http://soa.com/wsdl/doc">GET /gc</sdoc:displayName><sdoc:description xmlns:sdoc="http://soa.com/wsdl/doc"><![CDATA[Perform garbage collection.]]></sdoc:description><sdoc:summary xmlns:sdoc="http://soa.com/wsdl/doc"><![CDATA[Perform garbage collection]]></sdoc:summary></wsdl:documentation>
    <shttp:operation location="/gc" method="GET"/>
      <wsdl:output>
    <shttp:output name="performGarbageCollectionResponse" part="performGarbageCollectionResponse" type="entity"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="restart">
<wsdl:documentation><sdoc:displayName xmlns:sdoc="http://soa.com/wsdl/doc">POST /restart</sdoc:displayName><sdoc:description xmlns:sdoc="http://soa.com/wsdl/doc"><![CDATA[Restart the system.]]></sdoc:description><sdoc:summary xmlns:sdoc="http://soa.com/wsdl/doc"><![CDATA[Restart]]></sdoc:summary></wsdl:documentation>
    <shttp:operation location="/restart" method="POST"/>
    </wsdl:operation>
    <wsdl:operation name="getSystemReport">
<wsdl:documentation><sdoc:displayName xmlns:sdoc="http://soa.com/wsdl/doc">GET /report</sdoc:displayName><sdoc:description xmlns:sdoc="http://soa.com/wsdl/doc"><![CDATA[Get system report.]]></sdoc:description><sdoc:summary xmlns:sdoc="http://soa.com/wsdl/doc"><![CDATA[Get system report]]></sdoc:summary></wsdl:documentation>
    <shttp:operation location="/report" method="GET" outputSerialization="text/html"/>
      <wsdl:output>
    <shttp:output name="getSystemReportResponse" part="getSystemReportResponse" type="entity"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getBundleDetail">
<wsdl:documentation><sdoc:displayName xmlns:sdoc="http://soa.com/wsdl/doc">GET /bundles/{id}</sdoc:displayName><sdoc:description xmlns:sdoc="http://soa.com/wsdl/doc"><![CDATA[Get detailed information on a deployed bundle.]]></sdoc:description><sdoc:summary xmlns:sdoc="http://soa.com/wsdl/doc"><![CDATA[Get bundle detail]]></sdoc:summary></wsdl:documentation>
    <shttp:operation location="/bundles/{id}" method="GET" outputSerialization="application/xml,application/json"/>
      <wsdl:input>
    <shttp:input name="id" part="id" type="path"><wsdl:documentation><sdoc:description xmlns:sdoc="http://soa.com/wsdl/doc"><![CDATA[The bundle ID.]]></sdoc:description><sdoc:required xmlns:sdoc="http://soa.com/wsdl/doc">true</sdoc:required><sdoc:multiple xmlns:sdoc="http://soa.com/wsdl/doc">false</sdoc:multiple></wsdl:documentation></shttp:input>
      </wsdl:input>
      <wsdl:output>
    <shttp:output name="getBundleDetailResponse" part="getBundleDetailResponse" type="entity"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="shutdown">
<wsdl:documentation><sdoc:displayName xmlns:sdoc="http://soa.com/wsdl/doc">POST /shutdown</sdoc:displayName><sdoc:description xmlns:sdoc="http://soa.com/wsdl/doc"><![CDATA[Shut down the system.]]></sdoc:description><sdoc:summary xmlns:sdoc="http://soa.com/wsdl/doc"><![CDATA[Shut down]]></sdoc:summary></wsdl:documentation>
    <shttp:operation location="/shutdown" method="POST"/>
    </wsdl:operation>
    <wsdl:operation name="getThreads">
<wsdl:documentation><sdoc:displayName xmlns:sdoc="http://soa.com/wsdl/doc">GET /threads</sdoc:displayName><sdoc:description xmlns:sdoc="http://soa.com/wsdl/doc"><![CDATA[Get information on the curently running threads.]]></sdoc:description><sdoc:summary xmlns:sdoc="http://soa.com/wsdl/doc"><![CDATA[Get thread info]]></sdoc:summary></wsdl:documentation>
    <shttp:operation location="/threads" method="GET" outputSerialization="application/xml,application/json"/>
      <wsdl:output>
    <shttp:output name="getThreadsResponse" part="getThreadsResponse" type="entity"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SystemService">
<wsdl:documentation><sdoc:description xmlns:sdoc="http://soa.com/wsdl/doc"><![CDATA[A REST API that provides access to system services.]]></sdoc:description><sdoc:title xmlns:sdoc="http://soa.com/wsdl/doc">System Management API</sdoc:title><sdoc:version xmlns:sdoc="http://soa.com/wsdl/doc">7.0.0</sdoc:version><sdoc:vendor xmlns:sdoc="http://soa.com/wsdl/doc">SOA Software</sdoc:vendor></wsdl:documentation>
    <wsdl:port name="SystemService_rest_port_http" binding="tns:SystemServiceBinding">
    <shttp:address location="http://0.0.0.0/admin/system"/>
    </wsdl:port>
    <wsdl:port name="SystemService_rest_port_https" binding="tns:SystemServiceBinding">
    <shttp:address location="https://0.0.0.0/admin/system"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
