ag/assets/previous_plat/rest/platform/api-urn_com.soa.admin.health.jaxrs-JAXRSHealthService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="urn:com.soa.admin.health.jaxrs" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="urn:com.soa.admin.health.jaxrs" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:nms1="urn:com.soa.admin.health" xmlns:shttp="http://soa.com/wsdl/http">
  <wsdl:types>
    <xs:schema elementFormDefault="qualified" targetNamespace="urn:com.soa.admin.health" version="1.0" xmlns:tns="urn:com.soa.admin.health" xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:element name="HealthMeasurableMetadata" type="tns:healthMeasurableMetadata"/>
<xs:element name="HealthMeasurableSet" type="tns:healthMeasurableSet"/>
<xs:element name="MonitoredAttribute" type="tns:monitoredAttribute"/>
<xs:element name="NameValue" type="tns:nameValue"/>
<xs:element name="Options" type="tns:options"/>
<xs:element name="Threshold" type="tns:threshold"/>
<xs:complexType name="threshold"><xs:sequence><xs:element minOccurs="0" name="normal" type="xs:string"/><xs:element minOccurs="0" name="warning" type="xs:string"/><xs:element minOccurs="0" name="failure" type="xs:string"/><xs:element minOccurs="0" name="links"><xs:complexType><xs:sequence><xs:element maxOccurs="unbounded" minOccurs="0" name="link" type="tns:atomLink"/></xs:sequence></xs:complexType></xs:element></xs:sequence></xs:complexType>
<xs:complexType name="atomLink"><xs:sequence/><xs:attribute name="length" type="xs:string"/><xs:attribute name="title" type="xs:string"/><xs:attribute name="hreflang" type="xs:string"/><xs:attribute name="rel" type="xs:string"/><xs:attribute name="type" type="xs:string"/><xs:attribute name="href" type="xs:anyURI" use="required"/></xs:complexType>
<xs:complexType name="nameValue"><xs:sequence><xs:element minOccurs="0" name="name" type="xs:string"/><xs:element minOccurs="0" name="state" type="xs:string"/><xs:element minOccurs="0" name="timestamp" type="xs:long"/><xs:element minOccurs="0" name="value" type="xs:anyType"/></xs:sequence></xs:complexType>
<xs:complexType name="healthMeasurableSet"><xs:sequence><xs:element maxOccurs="unbounded" minOccurs="0" name="links" nillable="true" type="tns:atomLink"/><xs:element maxOccurs="unbounded" minOccurs="0" name="measurables" nillable="true" type="tns:healthMeasurableMetadata"/></xs:sequence></xs:complexType>
<xs:complexType name="healthMeasurableMetadata"><xs:sequence><xs:element minOccurs="0" name="id" type="xs:string"/><xs:element minOccurs="0" name="name" type="xs:string"/><xs:element minOccurs="0" name="path" type="xs:string"/><xs:element minOccurs="0" name="state" type="xs:string"/><xs:element minOccurs="0" name="childCount" type="xs:int"/><xs:element maxOccurs="unbounded" minOccurs="0" name="attributes" nillable="true" type="tns:monitoredAttribute"/><xs:element maxOccurs="unbounded" minOccurs="0" name="children" nillable="true" type="tns:healthMeasurableMetadata"/><xs:element minOccurs="0" name="editable" type="xs:boolean"/><xs:element minOccurs="0" name="options" type="tns:options"/><xs:element minOccurs="0" name="links"><xs:complexType><xs:sequence><xs:element maxOccurs="unbounded" minOccurs="0" name="link" type="tns:atomLink"/></xs:sequence></xs:complexType></xs:element></xs:sequence></xs:complexType>
<xs:complexType name="monitoredAttribute"><xs:sequence><xs:element minOccurs="0" name="type" type="xs:string"/><xs:element minOccurs="0" name="units" type="xs:string"/><xs:element minOccurs="0" name="name" type="xs:string"/><xs:element minOccurs="0" name="path" type="xs:string"/><xs:element minOccurs="0" name="description" type="xs:string"/><xs:element minOccurs="0" name="threshold" type="tns:threshold"/><xs:element minOccurs="0" name="state" type="xs:string"/><xs:element minOccurs="0" name="value" type="xs:anyType"/><xs:element minOccurs="0" name="links"><xs:complexType><xs:sequence><xs:element maxOccurs="unbounded" minOccurs="0" name="link" type="tns:atomLink"/></xs:sequence></xs:complexType></xs:element></xs:sequence></xs:complexType>
<xs:complexType name="options"><xs:sequence><xs:element name="enableAuth" type="xs:boolean"/><xs:element minOccurs="0" name="links"><xs:complexType><xs:sequence><xs:element maxOccurs="unbounded" minOccurs="0" name="link" type="tns:atomLink"/></xs:sequence></xs:complexType></xs:element></xs:sequence></xs:complexType>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="getMetadataRequestMessage">
  </wsdl:message>
  <wsdl:message name="getMetadataDetailRequestMessage">
    <wsdl:part name="id" type="xs:string">
    </wsdl:part>
    <wsdl:part name="normal-status" type="xs:string">
    </wsdl:part>
    <wsdl:part name="warning-status" type="xs:string">
    </wsdl:part>
    <wsdl:part name="failure-status" type="xs:string">
    </wsdl:part>
    <wsdl:part name="children" type="xs:boolean">
    </wsdl:part>
    <wsdl:part name="brief" type="xs:boolean">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getMetadataChildRequestMessage">
    <wsdl:part name="parent" type="xs:string">
    </wsdl:part>
    <wsdl:part name="child" type="xs:string">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getVariableRequestMessage">
    <wsdl:part name="parent" type="xs:string">
    </wsdl:part>
    <wsdl:part name="child" type="xs:string">
    </wsdl:part>
    <wsdl:part name="var" type="xs:string">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getMeasurableValuesResponseMessage">
    <wsdl:part name="getMeasurableValuesResponse" element="nms1:NameValue">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="deleteMetadataRequestMessage">
    <wsdl:part name="id" type="xs:string">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getMetadataChildrenRequestMessage">
    <wsdl:part name="id" type="xs:string">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="deleteMetadataChildResponseMessage">
  </wsdl:message>
  <wsdl:message name="getOptionsRequestMessage">
    <wsdl:part name="id" type="xs:string">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getThresholdRequestMessage">
    <wsdl:part name="parent" type="xs:string">
    </wsdl:part>
    <wsdl:part name="child" type="xs:string">
    </wsdl:part>
    <wsdl:part name="var" type="xs:string">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="setMetadataChildrenResponseMessage">
    <wsdl:part name="setMetadataChildrenResponse" element="nms1:HealthMeasurableSet">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getMeasurableValuesRequestMessage">
    <wsdl:part name="id" type="xs:string">
    </wsdl:part>
    <wsdl:part name="format" type="xs:string">
    </wsdl:part>
    <wsdl:part name="path" type="xs:boolean">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="setMetadataChildrenRequestMessage">
    <wsdl:part name="id" type="xs:string">
    </wsdl:part>
    <wsdl:part name="parameter0" type="tns:HealthMeasurableMetadata[]">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getMeasurablesResponseMessage">
    <wsdl:part name="getMeasurablesResponse" element="nms1:HealthMeasurableMetadata">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="createConfigurationRequestMessage">
    <wsdl:part name="parameter0" element="nms1:HealthMeasurableMetadata">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getVariableResponseMessage">
    <wsdl:part name="getVariableResponse" element="nms1:MonitoredAttribute">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getMetadataChildrenResponseMessage">
    <wsdl:part name="getMetadataChildrenResponse" element="nms1:HealthMeasurableSet">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getMetadataResponseMessage">
    <wsdl:part name="getMetadataResponse" element="nms1:HealthMeasurableSet">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="updateOptionsResponseMessage">
    <wsdl:part name="updateOptionsResponse" element="nms1:Options">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getOptionsResponseMessage">
    <wsdl:part name="getOptionsResponse" element="nms1:Options">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="updateOptionsRequestMessage">
    <wsdl:part name="id" type="xs:string">
    </wsdl:part>
    <wsdl:part name="parameter0" element="nms1:Options">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getMeasurablesRequestMessage">
  </wsdl:message>
  <wsdl:message name="getThresholdResponseMessage">
    <wsdl:part name="getThresholdResponse" element="nms1:Threshold">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="updateThresholdRequestMessage">
    <wsdl:part name="parent" type="xs:string">
    </wsdl:part>
    <wsdl:part name="child" type="xs:string">
    </wsdl:part>
    <wsdl:part name="var" type="xs:string">
    </wsdl:part>
    <wsdl:part name="parameter0" element="nms1:Threshold">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getMetadataDetailResponseMessage">
    <wsdl:part name="getMetadataDetailResponse" element="nms1:HealthMeasurableMetadata">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="updateThresholdResponseMessage">
    <wsdl:part name="updateThresholdResponse" element="nms1:Threshold">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getAvailableRequestMessage">
  </wsdl:message>
  <wsdl:message name="deleteMetadataChildRequestMessage">
    <wsdl:part name="parent" type="xs:string">
    </wsdl:part>
    <wsdl:part name="child" type="xs:string">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getAvailableResponseMessage">
    <wsdl:part name="getAvailableResponse" element="nms1:HealthMeasurableMetadata">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="createConfigurationResponseMessage">
    <wsdl:part name="createConfigurationResponse" element="nms1:HealthMeasurableMetadata">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getMetadataChildResponseMessage">
    <wsdl:part name="getMetadataChildResponse" element="nms1:HealthMeasurableMetadata">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="updateMetadataChildResponseMessage">
    <wsdl:part name="updateMetadataChildResponse" element="nms1:HealthMeasurableMetadata">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="updateMetadataChildRequestMessage">
    <wsdl:part name="parent" type="xs:string">
    </wsdl:part>
    <wsdl:part name="child" type="xs:string">
    </wsdl:part>
    <wsdl:part name="parameter0" element="nms1:HealthMeasurableMetadata">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="deleteMetadataResponseMessage">
    <wsdl:part element="xs:any">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="JAXRSHealthServicePortType">
    <wsdl:operation name="getOptions">
      <wsdl:input message="tns:getOptionsRequestMessage">
    </wsdl:input>
      <wsdl:output message="tns:getOptionsResponseMessage">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="createConfiguration">
      <wsdl:input message="tns:createConfigurationRequestMessage">
    </wsdl:input>
      <wsdl:output message="tns:createConfigurationResponseMessage">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getMetadata">
      <wsdl:input message="tns:getMetadataRequestMessage">
    </wsdl:input>
      <wsdl:output message="tns:getMetadataResponseMessage">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getVariable">
      <wsdl:input message="tns:getVariableRequestMessage">
    </wsdl:input>
      <wsdl:output message="tns:getVariableResponseMessage">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateOptions">
      <wsdl:input message="tns:updateOptionsRequestMessage">
    </wsdl:input>
      <wsdl:output message="tns:updateOptionsResponseMessage">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getMetadataDetail">
      <wsdl:input message="tns:getMetadataDetailRequestMessage">
    </wsdl:input>
      <wsdl:output message="tns:getMetadataDetailResponseMessage">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteMetadata">
      <wsdl:input message="tns:deleteMetadataRequestMessage">
    </wsdl:input>
      <wsdl:output message="tns:deleteMetadataResponseMessage">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getMetadataChild">
      <wsdl:input message="tns:getMetadataChildRequestMessage">
    </wsdl:input>
      <wsdl:output message="tns:getMetadataChildResponseMessage">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateMetadataChild">
      <wsdl:input message="tns:updateMetadataChildRequestMessage">
    </wsdl:input>
      <wsdl:output message="tns:updateMetadataChildResponseMessage">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getThreshold">
      <wsdl:input message="tns:getThresholdRequestMessage">
    </wsdl:input>
      <wsdl:output message="tns:getThresholdResponseMessage">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateThreshold">
      <wsdl:input message="tns:updateThresholdRequestMessage">
    </wsdl:input>
      <wsdl:output message="tns:updateThresholdResponseMessage">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteMetadataChild">
      <wsdl:input message="tns:deleteMetadataChildRequestMessage">
    </wsdl:input>
      <wsdl:output message="tns:deleteMetadataChildResponseMessage">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getMetadataChildren">
      <wsdl:input message="tns:getMetadataChildrenRequestMessage">
    </wsdl:input>
      <wsdl:output message="tns:getMetadataChildrenResponseMessage">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="setMetadataChildren">
      <wsdl:input message="tns:setMetadataChildrenRequestMessage">
    </wsdl:input>
      <wsdl:output message="tns:setMetadataChildrenResponseMessage">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getMeasurableValues">
      <wsdl:input message="tns:getMeasurableValuesRequestMessage">
    </wsdl:input>
      <wsdl:output message="tns:getMeasurableValuesResponseMessage">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAvailable">
      <wsdl:input message="tns:getAvailableRequestMessage">
    </wsdl:input>
      <wsdl:output message="tns:getAvailableResponseMessage">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getMeasurables">
      <wsdl:input message="tns:getMeasurablesRequestMessage">
    </wsdl:input>
      <wsdl:output message="tns:getMeasurablesResponseMessage">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="JAXRSHealthServiceBinding" type="tns:JAXRSHealthServicePortType">
    <shttp:binding/>
    <wsdl:operation name="getOptions">
<wsdl:documentation><sdoc:displayName xmlns:sdoc="http://soa.com/wsdl/doc">GET /measurables/{id}/configuration</sdoc:displayName></wsdl:documentation>
    <shttp:operation location="/measurables/{id}/configuration" method="GET" outputSerialization="application/json"/>
      <wsdl:input>
    <shttp:input name="id" part="id" type="path"/>
      </wsdl:input>
      <wsdl:output>
    <shttp:output name="getOptionsResponse" part="getOptionsResponse" type="entity"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="createConfiguration">
<wsdl:documentation><sdoc:displayName xmlns:sdoc="http://soa.com/wsdl/doc">POST /measurables</sdoc:displayName><sdoc:description xmlns:sdoc="http://soa.com/wsdl/doc"><![CDATA[<p>Adds a health configuration.
A health configuration is comprised of a set of standard Monitorable attributes defined
using the OSGi MonitorAdmin service interfaces.  A health configuration allows attributes
from different Monitorable instances to be combined into a hierarchy, and thresholds may
then be placed on those attributes.  The state of the hierarchy will then reflect the combined
state of all the component attributes with respect to their configured thresholds.</p>
<h4>Request:</h4>
<pre><code>POST /admin/health HTTP/1.1
Content-Type: application/json

{"name":"My Health Variables"}
</code></pre>
<h4>Responses:</h4>
<ul>
<li>HTTP/1.1 201 Created</li>
<li>HTTP/1.1 300 Bad Request if a name or ID is not provided by the client</li>
</ul>
<h4>Sample Response:</h4>
<pre><code>201 Created
Content-Type: application/json
Location: http://localhost:9905/admin/health/measurables/my.health.variables

{
  "id" : "my.health.variables",
  "name" : "My Health Variables",
  "state" : "NORMAL",
  "attributes" : [ ],
  "children" : [ ],
  "editable" : true,
  "links" : [ {
    "rel" : "self",
    "href" : "http://localhost:9905/admin/health/measurables/my.health.variables"
  }, {
    "rel" : "brief",
    "href" : "http://localhost:9905/admin/health/measurables/my.health.variables?brief=true"
  }, {
    "rel" : "children",
    "href" : "http://localhost:9905/admin/health/measurables/my.health.variables/children"
  }, {
    "rel" : "values",
    "href" : "http://localhost:9905/admin/health/measurables/my.health.variables/values"
  } ]
}
</code></pre>]]></sdoc:description></wsdl:documentation>
    <shttp:operation inputSerialization="application/json" location="/measurables" method="POST" outputSerialization="application/json"/>
      <wsdl:input>
    <shttp:input name="parameter0" part="parameter0" type="entity"/>
      </wsdl:input>
      <wsdl:output>
    <shttp:output name="createConfigurationResponse" part="createConfigurationResponse" type="entity"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getMetadata">
<wsdl:documentation><sdoc:displayName xmlns:sdoc="http://soa.com/wsdl/doc">GET </sdoc:displayName></wsdl:documentation>
    <shttp:operation location="" method="GET" outputSerialization="application/json,application/xml"/>
      <wsdl:output>
    <shttp:output name="getMetadataResponse" part="getMetadataResponse" type="entity"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getVariable">
<wsdl:documentation><sdoc:displayName xmlns:sdoc="http://soa.com/wsdl/doc">GET /measurables/{parent}/children/{child}/variables/{var}</sdoc:displayName></wsdl:documentation>
    <shttp:operation location="/measurables/{parent}/children/{child}/variables/{var}" method="GET" outputSerialization="application/json"/>
      <wsdl:input>
    <shttp:input name="parent" part="parent" type="path"/>
    <shttp:input name="child" part="child" type="path"/>
    <shttp:input name="var" part="var" type="path"/>
      </wsdl:input>
      <wsdl:output>
    <shttp:output name="getVariableResponse" part="getVariableResponse" type="entity"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateOptions">
<wsdl:documentation><sdoc:displayName xmlns:sdoc="http://soa.com/wsdl/doc">PUT /measurables/{id}/configuration</sdoc:displayName></wsdl:documentation>
    <shttp:operation inputSerialization="application/json" location="/measurables/{id}/configuration" method="PUT" outputSerialization="application/json"/>
      <wsdl:input>
    <shttp:input name="id" part="id" type="path"/>
    <shttp:input name="parameter0" part="parameter0" type="entity"/>
      </wsdl:input>
      <wsdl:output>
    <shttp:output name="updateOptionsResponse" part="updateOptionsResponse" type="entity"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getMetadataDetail">
<wsdl:documentation><sdoc:displayName xmlns:sdoc="http://soa.com/wsdl/doc">GET /measurables/{id}</sdoc:displayName></wsdl:documentation>
    <shttp:operation location="/measurables/{id}" method="GET" outputSerialization="application/json"/>
      <wsdl:input>
    <shttp:input name="id" part="id" type="path"/>
    <shttp:input name="normal-status" part="normal-status" type="query"/>
    <shttp:input name="warning-status" part="warning-status" type="query"/>
    <shttp:input name="failure-status" part="failure-status" type="query"/>
    <shttp:input name="children" part="children" type="query"/>
    <shttp:input name="brief" part="brief" type="query"/>
      </wsdl:input>
      <wsdl:output>
    <shttp:output name="getMetadataDetailResponse" part="getMetadataDetailResponse" type="entity"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteMetadata">
<wsdl:documentation><sdoc:displayName xmlns:sdoc="http://soa.com/wsdl/doc">DELETE /measurables/{id}</sdoc:displayName></wsdl:documentation>
    <shttp:operation location="/measurables/{id}" method="DELETE"/>
      <wsdl:input>
    <shttp:input name="id" part="id" type="path"/>
      </wsdl:input>
      <wsdl:output>
    <shttp:output name="" part="" type="entity"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getMetadataChild">
<wsdl:documentation><sdoc:displayName xmlns:sdoc="http://soa.com/wsdl/doc">GET /measurables/{parent}/children/{child}</sdoc:displayName></wsdl:documentation>
    <shttp:operation location="/measurables/{parent}/children/{child}" method="GET" outputSerialization="application/json"/>
      <wsdl:input>
    <shttp:input name="parent" part="parent" type="path"/>
    <shttp:input name="child" part="child" type="path"/>
      </wsdl:input>
      <wsdl:output>
    <shttp:output name="getMetadataChildResponse" part="getMetadataChildResponse" type="entity"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateMetadataChild">
<wsdl:documentation><sdoc:displayName xmlns:sdoc="http://soa.com/wsdl/doc">PUT /measurables/{parent}/children/{child}</sdoc:displayName></wsdl:documentation>
    <shttp:operation location="/measurables/{parent}/children/{child}" method="PUT" outputSerialization="application/json"/>
      <wsdl:input>
    <shttp:input name="parent" part="parent" type="path"/>
    <shttp:input name="child" part="child" type="path"/>
    <shttp:input name="parameter0" part="parameter0" type="entity"/>
      </wsdl:input>
      <wsdl:output>
    <shttp:output name="updateMetadataChildResponse" part="updateMetadataChildResponse" type="entity"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getThreshold">
<wsdl:documentation><sdoc:displayName xmlns:sdoc="http://soa.com/wsdl/doc">GET /measurables/{parent}/children/{child}/variables/{var}/threshold</sdoc:displayName></wsdl:documentation>
    <shttp:operation location="/measurables/{parent}/children/{child}/variables/{var}/threshold" method="GET" outputSerialization="application/json"/>
      <wsdl:input>
    <shttp:input name="parent" part="parent" type="path"/>
    <shttp:input name="child" part="child" type="path"/>
    <shttp:input name="var" part="var" type="path"/>
      </wsdl:input>
      <wsdl:output>
    <shttp:output name="getThresholdResponse" part="getThresholdResponse" type="entity"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateThreshold">
<wsdl:documentation><sdoc:displayName xmlns:sdoc="http://soa.com/wsdl/doc">PUT /measurables/{parent}/children/{child}/variables/{var}/threshold</sdoc:displayName></wsdl:documentation>
    <shttp:operation location="/measurables/{parent}/children/{child}/variables/{var}/threshold" method="PUT" outputSerialization="application/json"/>
      <wsdl:input>
    <shttp:input name="parent" part="parent" type="path"/>
    <shttp:input name="child" part="child" type="path"/>
    <shttp:input name="var" part="var" type="path"/>
    <shttp:input name="parameter0" part="parameter0" type="entity"/>
      </wsdl:input>
      <wsdl:output>
    <shttp:output name="updateThresholdResponse" part="updateThresholdResponse" type="entity"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteMetadataChild">
<wsdl:documentation><sdoc:displayName xmlns:sdoc="http://soa.com/wsdl/doc">DELETE /measurables/{parent}/children/{child}</sdoc:displayName></wsdl:documentation>
    <shttp:operation location="/measurables/{parent}/children/{child}" method="DELETE"/>
      <wsdl:input>
    <shttp:input name="parent" part="parent" type="path"/>
    <shttp:input name="child" part="child" type="path"/>
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="getMetadataChildren">
<wsdl:documentation><sdoc:displayName xmlns:sdoc="http://soa.com/wsdl/doc">GET /measurables/{id}/children</sdoc:displayName></wsdl:documentation>
    <shttp:operation location="/measurables/{id}/children" method="GET" outputSerialization="application/json"/>
      <wsdl:input>
    <shttp:input name="id" part="id" type="path"/>
      </wsdl:input>
      <wsdl:output>
    <shttp:output name="getMetadataChildrenResponse" part="getMetadataChildrenResponse" type="entity"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="setMetadataChildren">
<wsdl:documentation><sdoc:displayName xmlns:sdoc="http://soa.com/wsdl/doc">PUT /measurables/{id}/children</sdoc:displayName></wsdl:documentation>
    <shttp:operation inputSerialization="application/json" location="/measurables/{id}/children" method="PUT" outputSerialization="application/json"/>
      <wsdl:input>
    <shttp:input name="id" part="id" type="path"/>
    <shttp:input name="parameter0" part="parameter0" type="entity"/>
      </wsdl:input>
      <wsdl:output>
    <shttp:output name="setMetadataChildrenResponse" part="setMetadataChildrenResponse" type="entity"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getMeasurableValues">
<wsdl:documentation><sdoc:displayName xmlns:sdoc="http://soa.com/wsdl/doc">GET /measurables/{id}/values</sdoc:displayName></wsdl:documentation>
    <shttp:operation location="/measurables/{id}/values" method="GET" outputSerialization="application/json"/>
      <wsdl:input>
    <shttp:input name="id" part="id" type="path"/>
    <shttp:input name="format" part="format" type="query"/>
    <shttp:input name="path" part="path" type="query"/>
      </wsdl:input>
      <wsdl:output>
    <shttp:output name="getMeasurableValuesResponse" part="getMeasurableValuesResponse" type="entity"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAvailable">
<wsdl:documentation><sdoc:displayName xmlns:sdoc="http://soa.com/wsdl/doc">GET /available</sdoc:displayName></wsdl:documentation>
    <shttp:operation location="/available" method="GET" outputSerialization="application/json"/>
      <wsdl:output>
    <shttp:output name="getAvailableResponse" part="getAvailableResponse" type="entity"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getMeasurables">
<wsdl:documentation><sdoc:displayName xmlns:sdoc="http://soa.com/wsdl/doc">GET /measurables</sdoc:displayName></wsdl:documentation>
    <shttp:operation location="/measurables" method="GET" outputSerialization="application/json"/>
      <wsdl:output>
    <shttp:output name="getMeasurablesResponse" part="getMeasurablesResponse" type="entity"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="JAXRSHealthService">
<wsdl:documentation><sdoc:title xmlns:sdoc="http://soa.com/wsdl/doc">Health Service</sdoc:title><sdoc:vendor xmlns:sdoc="http://soa.com/wsdl/doc">Akana</sdoc:vendor><sdoc:description xmlns:sdoc="http://soa.com/wsdl/doc"><![CDATA[<p>The Health Service provides an API to manage and query any health-related measurable attributes in the system.</p>]]></sdoc:description></wsdl:documentation>
    <wsdl:port name="JAXRSHealthService_rest_port_https" binding="tns:JAXRSHealthServiceBinding">
    <shttp:address location="https://0.0.0.0/admin/health"/>
    </wsdl:port>
    <wsdl:port name="JAXRSHealthService_rest_port_http" binding="tns:JAXRSHealthServiceBinding">
    <shttp:address location="http://0.0.0.0/admin/health"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
