ag/assets/previous_plat/rest/platform/api-urn_soa.com__uri_products_admin_bundleservice_wsdl_1.0-BundlesService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="urn:soa.com:/uri/products/admin/bundleservice/wsdl/1.0" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="urn:soa.com:/uri/products/admin/bundleservice/wsdl/1.0" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:nms2="http://soa.com/products/admin/console/obr/1.0" xmlns:nms1="http://soa.com/products/admin/console/bundles/1.0" xmlns:shttp="http://soa.com/wsdl/http">
  <wsdl:types>
    <xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:complexType name="bundleDescriptor"><xs:sequence><xs:element name="id" type="xs:long"/><xs:element minOccurs="0" name="location" type="xs:string"/><xs:element minOccurs="0" name="symbolicName" type="xs:string"/></xs:sequence></xs:complexType>
<xs:complexType name="exportedBundlePackage"><xs:complexContent><xs:extension base="bundlePackage"><xs:sequence/></xs:extension></xs:complexContent></xs:complexType>
<xs:complexType name="bundlePackage"><xs:sequence><xs:element name="bootDelegated" type="xs:boolean"/><xs:element minOccurs="0" name="name" type="xs:string"/><xs:element minOccurs="0" name="version" type="xs:string"/></xs:sequence></xs:complexType>
<xs:complexType name="importedBundlePackage"><xs:complexContent><xs:extension base="bundlePackage"><xs:sequence><xs:element minOccurs="0" name="exportingBundle" type="bundleDescriptor"/><xs:element name="optional" type="xs:boolean"/></xs:sequence></xs:extension></xs:complexContent></xs:complexType>
</xs:schema>
    <xs:schema elementFormDefault="qualified" targetNamespace="http://soa.com/products/admin/console/bundles/1.0" version="1.0" xmlns:ns1="http://soa.com/products/admin/console/common/1.0" xmlns:tns="http://soa.com/products/admin/console/bundles/1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:import namespace="http://soa.com/products/admin/console/common/1.0"/>
<xs:import/>
<xs:element name="BundleInfo" type="tns:bundleInfo"/>
<xs:element name="BundleSet" type="tns:bundleSet"/>
<xs:element name="BundleSpec" type="tns:bundleSpec"/>
<xs:complexType name="bundleSet"><xs:sequence><xs:element minOccurs="0" name="links"><xs:complexType><xs:sequence><xs:element maxOccurs="unbounded" minOccurs="0" name="link" type="ns1:link"/></xs:sequence></xs:complexType></xs:element><xs:element maxOccurs="unbounded" minOccurs="0" name="bundles" nillable="true" type="tns:bundleInfo"/></xs:sequence></xs:complexType>
<xs:complexType name="bundleInfo"><xs:sequence><xs:element name="id" type="xs:long"/><xs:element minOccurs="0" name="symbolicName" type="xs:string"/><xs:element minOccurs="0" name="state" type="xs:string"/><xs:element minOccurs="0" name="lifecycle" type="xs:string"/><xs:element minOccurs="0" name="location" type="xs:string"/><xs:element minOccurs="0" name="lastModified" type="xs:string"/><xs:element name="bundle" type="xs:boolean"/><xs:element name="startLevel" type="xs:int"/><xs:element maxOccurs="unbounded" minOccurs="0" name="servicesInUse" nillable="true" type="ns1:serviceInfo"/><xs:element maxOccurs="unbounded" minOccurs="0" name="servicesProvided" nillable="true" type="ns1:serviceInfo"/><xs:element maxOccurs="unbounded" minOccurs="0" name="properties" nillable="true" type="ns1:nameValuePair"/><xs:element maxOccurs="unbounded" minOccurs="0" name="manifest" nillable="true" type="ns1:nameValuePair"/><xs:element maxOccurs="unbounded" minOccurs="0" name="importingBundles" nillable="true" type="bundleDescriptor"/><xs:element maxOccurs="unbounded" minOccurs="0" name="exportedPackages" nillable="true" type="exportedBundlePackage"/><xs:element maxOccurs="unbounded" minOccurs="0" name="importedPackages" nillable="true" type="importedBundlePackage"/><xs:element minOccurs="0" name="links"><xs:complexType><xs:sequence><xs:element maxOccurs="unbounded" minOccurs="0" name="link" type="ns1:link"/></xs:sequence></xs:complexType></xs:element></xs:sequence></xs:complexType>
<xs:complexType name="bundleSpec"><xs:sequence><xs:element name="convert" type="xs:boolean"/><xs:element minOccurs="0" name="location" type="xs:string"/><xs:element minOccurs="0" name="password" type="xs:string"/><xs:element minOccurs="0" name="username" type="xs:string"/></xs:sequence></xs:complexType>
</xs:schema>
    <xs:schema elementFormDefault="qualified" targetNamespace="http://soa.com/products/admin/console/obr/1.0" version="1.0" xmlns:ns1="http://soa.com/products/admin/console/common/1.0" xmlns:tns="http://soa.com/products/admin/console/obr/1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:import namespace="http://soa.com/products/admin/console/common/1.0"/>
<xs:element name="InstallStatus" type="tns:installStatus"/>
<xs:element name="report" type="tns:resolutionReport"/>
<xs:element name="requirements" type="tns:resourceRequirements"/>
<xs:element name="resource" type="tns:resourceInfo"/>
<xs:complexType name="resolutionReport"><xs:sequence><xs:element maxOccurs="unbounded" minOccurs="0" name="unsatisfiedRequirements" nillable="true" type="tns:resourceRequirements"/><xs:element maxOccurs="unbounded" minOccurs="0" name="requiredResources" nillable="true" type="tns:resourceInfo"/><xs:element maxOccurs="unbounded" minOccurs="0" name="optionalResources" nillable="true" type="tns:resourceInfo"/><xs:element maxOccurs="unbounded" minOccurs="0" name="addedResources" nillable="true" type="tns:resourceInfo"/><xs:element minOccurs="0" name="status" type="xs:string"/><xs:element minOccurs="0" name="id" type="xs:string"/><xs:element minOccurs="0" name="links"><xs:complexType><xs:sequence><xs:element maxOccurs="unbounded" minOccurs="0" name="link" type="ns1:link"/></xs:sequence></xs:complexType></xs:element></xs:sequence></xs:complexType>
<xs:complexType name="resourceRequirements"><xs:sequence><xs:element minOccurs="0" name="resource" type="xs:string"/><xs:element maxOccurs="unbounded" minOccurs="0" name="requirements" nillable="true" type="xs:string"/></xs:sequence></xs:complexType>
<xs:complexType name="resourceInfo"><xs:sequence><xs:element minOccurs="0" name="id" type="xs:string"/><xs:element minOccurs="0" name="symbolicName" type="xs:string"/><xs:element minOccurs="0" name="presentationName" type="xs:string"/><xs:element minOccurs="0" name="repositoryUrl" type="xs:string"/><xs:element minOccurs="0" name="bundleUrl" type="xs:string"/><xs:element minOccurs="0" name="description" type="xs:string"/><xs:element minOccurs="0" name="size" type="xs:string"/><xs:element minOccurs="0" name="version" type="xs:string"/><xs:element maxOccurs="unbounded" minOccurs="0" name="provides" nillable="true" type="xs:string"/><xs:element maxOccurs="unbounded" minOccurs="0" name="requires" nillable="true" type="xs:string"/><xs:element maxOccurs="unbounded" minOccurs="0" name="properties" nillable="true" type="ns1:nameValuePair"/></xs:sequence></xs:complexType>
<xs:complexType name="installStatus"><xs:sequence><xs:element minOccurs="0" name="id" type="xs:string"/><xs:element name="total" type="xs:int"/><xs:element name="installed" type="xs:int"/><xs:element minOccurs="0" name="status" type="xs:string"/><xs:element minOccurs="0" name="message" type="xs:string"/><xs:element minOccurs="0" ref="tns:report"/><xs:element minOccurs="0" name="links"><xs:complexType><xs:sequence><xs:element maxOccurs="unbounded" minOccurs="0" name="link" type="ns1:link"/></xs:sequence></xs:complexType></xs:element></xs:sequence></xs:complexType>
</xs:schema>
    <xs:schema elementFormDefault="qualified" targetNamespace="http://soa.com/products/admin/console/common/1.0" version="1.0" xmlns:tns="http://soa.com/products/admin/console/common/1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:element name="NameValuePair" type="tns:nameValuePair"/>
<xs:element name="link" type="tns:link"/>
<xs:complexType name="nameValuePair"><xs:sequence><xs:element minOccurs="0" name="name" type="xs:string"/><xs:element minOccurs="0" name="value" type="xs:string"/></xs:sequence></xs:complexType>
<xs:complexType name="link"><xs:sequence><xs:element minOccurs="0" name="href" type="xs:string"/><xs:element minOccurs="0" name="rel" type="xs:string"/><xs:element minOccurs="0" name="title" type="xs:string"/><xs:element minOccurs="0" name="type" type="xs:string"/></xs:sequence></xs:complexType>
<xs:complexType name="serviceInfo"><xs:sequence><xs:element name="bundleId" type="xs:long"/><xs:element minOccurs="0" name="bundleName" type="xs:string"/><xs:element maxOccurs="unbounded" minOccurs="0" name="properties" nillable="true" type="tns:nameValuePair"/></xs:sequence></xs:complexType>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="getBundleRequestMessage">
    <wsdl:part name="id" type="xs:long">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="installRequestMessage">
    <wsdl:part name="parameter0" element="nms1:BundleSpec">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="uninstallResponseMessage">
  </wsdl:message>
  <wsdl:message name="updateResponseMessage">
    <wsdl:part name="updateResponse" element="nms1:BundleInfo">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="installFormRequestMessage">
    <wsdl:part name="location" type="xs:string">
    </wsdl:part>
    <wsdl:part name="location" type="xs:string">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getInstallStatusResponseMessage">
    <wsdl:part name="getInstallStatusResponse" element="nms2:InstallStatus">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="installResponseMessage">
    <wsdl:part name="installResponse" element="nms2:InstallStatus">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getBundlesRequestMessage">
    <wsdl:part name="filter" type="xs:string">
    </wsdl:part>
    <wsdl:part name="brief" type="xs:boolean">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="startRequestMessage">
    <wsdl:part name="id" type="xs:long">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getBundleResponseMessage">
    <wsdl:part name="getBundleResponse" element="nms1:BundleInfo">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="installFormResponseMessage">
    <wsdl:part name="installFormResponse" element="nms2:InstallStatus">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="uninstallRequestMessage">
    <wsdl:part name="id" type="xs:long">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getBundlesResponseMessage">
    <wsdl:part name="getBundlesResponse" element="nms1:BundleSet">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="stopResponseMessage">
    <wsdl:part name="stopResponse" element="nms1:BundleInfo">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="updateRequestMessage">
    <wsdl:part name="id" type="xs:long">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="stopRequestMessage">
    <wsdl:part name="id" type="xs:long">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="updateBundleResponseMessage">
    <wsdl:part name="updateBundleResponse" element="nms1:BundleInfo">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="updateBundleRequestMessage">
    <wsdl:part name="parameter0" element="nms1:BundleInfo">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getInstallStatusRequestMessage">
    <wsdl:part name="id" type="xs:string">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="startResponseMessage">
    <wsdl:part name="startResponse" element="nms1:BundleInfo">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="BundlesServicePortType">
    <wsdl:operation name="getBundle">
      <wsdl:input message="tns:getBundleRequestMessage">
    </wsdl:input>
      <wsdl:output message="tns:getBundleResponseMessage">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="install">
      <wsdl:input message="tns:installRequestMessage">
    </wsdl:input>
      <wsdl:output message="tns:installResponseMessage">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getBundles">
      <wsdl:input message="tns:getBundlesRequestMessage">
    </wsdl:input>
      <wsdl:output message="tns:getBundlesResponseMessage">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="installForm">
      <wsdl:input message="tns:installFormRequestMessage">
    </wsdl:input>
      <wsdl:output message="tns:installFormResponseMessage">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getInstallStatus">
      <wsdl:input message="tns:getInstallStatusRequestMessage">
    </wsdl:input>
      <wsdl:output message="tns:getInstallStatusResponseMessage">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="uninstall">
      <wsdl:input message="tns:uninstallRequestMessage">
    </wsdl:input>
      <wsdl:output message="tns:uninstallResponseMessage">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateBundle">
      <wsdl:input message="tns:updateBundleRequestMessage">
    </wsdl:input>
      <wsdl:output message="tns:updateBundleResponseMessage">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="update">
      <wsdl:input message="tns:updateRequestMessage">
    </wsdl:input>
      <wsdl:output message="tns:updateResponseMessage">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="start">
      <wsdl:input message="tns:startRequestMessage">
    </wsdl:input>
      <wsdl:output message="tns:startResponseMessage">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="stop">
      <wsdl:input message="tns:stopRequestMessage">
    </wsdl:input>
      <wsdl:output message="tns:stopResponseMessage">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BundlesServiceBinding" type="tns:BundlesServicePortType">
    <shttp:binding/>
    <wsdl:operation name="getBundle">
<wsdl:documentation><sdoc:displayName xmlns:sdoc="http://soa.com/wsdl/doc">GET /{id}</sdoc:displayName><sdoc:description xmlns:sdoc="http://soa.com/wsdl/doc"><![CDATA[Get detailed information for a bundle.]]></sdoc:description><sdoc:summary xmlns:sdoc="http://soa.com/wsdl/doc"><![CDATA[Get Bundle Information]]></sdoc:summary></wsdl:documentation>
    <shttp:operation location="/{id}" method="GET" outputSerialization="application/json,application/xml,text/xml"/>
      <wsdl:input>
    <shttp:input name="id" part="id" type="path"/>
      </wsdl:input>
      <wsdl:output>
    <shttp:output name="getBundleResponse" part="getBundleResponse" type="entity"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="install">
<wsdl:documentation><sdoc:displayName xmlns:sdoc="http://soa.com/wsdl/doc">POST </sdoc:displayName><sdoc:description xmlns:sdoc="http://soa.com/wsdl/doc"><![CDATA[Install a bundle from a specified location.]]></sdoc:description><sdoc:summary xmlns:sdoc="http://soa.com/wsdl/doc"><![CDATA[Install Bundle]]></sdoc:summary></wsdl:documentation>
    <shttp:operation inputSerialization="application/json" location="" method="POST" outputSerialization="application/json,application/xml,text/xml"/>
      <wsdl:input>
    <shttp:input name="parameter0" part="parameter0" type="entity"/>
      </wsdl:input>
      <wsdl:output>
    <shttp:output name="installResponse" part="installResponse" type="entity"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getBundles">
<wsdl:documentation><sdoc:displayName xmlns:sdoc="http://soa.com/wsdl/doc">GET </sdoc:displayName><sdoc:description xmlns:sdoc="http://soa.com/wsdl/doc"><![CDATA[Get all bundles that match a given filter.]]></sdoc:description><sdoc:summary xmlns:sdoc="http://soa.com/wsdl/doc"><![CDATA[Get Bundles]]></sdoc:summary></wsdl:documentation>
    <shttp:operation location="" method="GET" outputSerialization="application/json,application/xml,text/xml"/>
      <wsdl:input>
    <shttp:input name="filter" part="filter" type="query"><wsdl:documentation><sdoc:description xmlns:sdoc="http://soa.com/wsdl/doc"><![CDATA[The filter to match bundles against.  If null, all bundles will be retrieved.  The filter will be matched against the bundles manifest.]]></sdoc:description><sdoc:required xmlns:sdoc="http://soa.com/wsdl/doc">false</sdoc:required><sdoc:multiple xmlns:sdoc="http://soa.com/wsdl/doc">false</sdoc:multiple></wsdl:documentation></shttp:input>
    <shttp:input name="brief" part="brief" type="query"><wsdl:documentation><sdoc:description xmlns:sdoc="http://soa.com/wsdl/doc"><![CDATA[Boolean indicating if brief information should be returned for each bundle.]]></sdoc:description><sdoc:default xmlns:sdoc="http://soa.com/wsdl/doc">true</sdoc:default><sdoc:required xmlns:sdoc="http://soa.com/wsdl/doc">false</sdoc:required><sdoc:multiple xmlns:sdoc="http://soa.com/wsdl/doc">false</sdoc:multiple></wsdl:documentation></shttp:input>
      </wsdl:input>
      <wsdl:output>
    <shttp:output name="getBundlesResponse" part="getBundlesResponse" type="entity"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="installForm">
<wsdl:documentation><sdoc:displayName xmlns:sdoc="http://soa.com/wsdl/doc">POST </sdoc:displayName><sdoc:description xmlns:sdoc="http://soa.com/wsdl/doc"><![CDATA[Install a bundle from a specified location.]]></sdoc:description><sdoc:summary xmlns:sdoc="http://soa.com/wsdl/doc"><![CDATA[Install Bundle]]></sdoc:summary></wsdl:documentation>
    <shttp:operation inputSerialization="application/x-www-form-urlencoded" location="" method="POST" outputSerialization="application/json,application/xml,text/xml"/>
      <wsdl:input>
    <shttp:input name="location" part="location" type="query"/>
    <shttp:input name="location" part="location" type="form"/>
      </wsdl:input>
      <wsdl:output>
    <shttp:output name="installFormResponse" part="installFormResponse" type="entity"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getInstallStatus">
<wsdl:documentation><sdoc:displayName xmlns:sdoc="http://soa.com/wsdl/doc">GET /install/{id}</sdoc:displayName><sdoc:description xmlns:sdoc="http://soa.com/wsdl/doc"><![CDATA[Get detailed information on an ongoing installation job.]]></sdoc:description><sdoc:summary xmlns:sdoc="http://soa.com/wsdl/doc"><![CDATA[Get Install Information]]></sdoc:summary></wsdl:documentation>
    <shttp:operation location="/install/{id}" method="GET" outputSerialization="application/json,application/xml,text/xml"/>
      <wsdl:input>
    <shttp:input name="id" part="id" type="path"/>
      </wsdl:input>
      <wsdl:output>
    <shttp:output name="getInstallStatusResponse" part="getInstallStatusResponse" type="entity"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="uninstall">
<wsdl:documentation><sdoc:displayName xmlns:sdoc="http://soa.com/wsdl/doc">DELETE /{id}</sdoc:displayName><sdoc:description xmlns:sdoc="http://soa.com/wsdl/doc"><![CDATA[Uninstall a bundle.]]></sdoc:description><sdoc:summary xmlns:sdoc="http://soa.com/wsdl/doc"><![CDATA[Uninstall Bundle]]></sdoc:summary></wsdl:documentation>
    <shttp:operation location="/{id}" method="DELETE"/>
      <wsdl:input>
    <shttp:input name="id" part="id" type="path"/>
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="updateBundle">
<wsdl:documentation><sdoc:displayName xmlns:sdoc="http://soa.com/wsdl/doc">PUT /{id}</sdoc:displayName><sdoc:description xmlns:sdoc="http://soa.com/wsdl/doc"><![CDATA[Update a bundle.]]></sdoc:description><sdoc:summary xmlns:sdoc="http://soa.com/wsdl/doc"><![CDATA[Update Bundle]]></sdoc:summary></wsdl:documentation>
    <shttp:operation inputSerialization="application/json,application/xml,text/xml" location="/{id}" method="PUT" outputSerialization="application/json,application/xml,text/xml"/>
      <wsdl:input>
    <shttp:input name="parameter0" part="parameter0" type="entity"/>
      </wsdl:input>
      <wsdl:output>
    <shttp:output name="updateBundleResponse" part="updateBundleResponse" type="entity"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="update">
<wsdl:documentation><sdoc:displayName xmlns:sdoc="http://soa.com/wsdl/doc">POST /{id}/update</sdoc:displayName><sdoc:description xmlns:sdoc="http://soa.com/wsdl/doc"><![CDATA[Update a bundle.]]></sdoc:description><sdoc:summary xmlns:sdoc="http://soa.com/wsdl/doc"><![CDATA[Update Bundle]]></sdoc:summary></wsdl:documentation>
    <shttp:operation location="/{id}/update" method="POST"/>
      <wsdl:input>
    <shttp:input name="id" part="id" type="path"/>
      </wsdl:input>
      <wsdl:output>
    <shttp:output name="updateResponse" part="updateResponse" type="entity"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="start">
<wsdl:documentation><sdoc:displayName xmlns:sdoc="http://soa.com/wsdl/doc">POST /{id}/start</sdoc:displayName><sdoc:description xmlns:sdoc="http://soa.com/wsdl/doc"><![CDATA[Start a bundle.]]></sdoc:description><sdoc:summary xmlns:sdoc="http://soa.com/wsdl/doc"><![CDATA[Start Bundle]]></sdoc:summary></wsdl:documentation>
    <shttp:operation location="/{id}/start" method="POST"/>
      <wsdl:input>
    <shttp:input name="id" part="id" type="path"/>
      </wsdl:input>
      <wsdl:output>
    <shttp:output name="startResponse" part="startResponse" type="entity"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="stop">
<wsdl:documentation><sdoc:displayName xmlns:sdoc="http://soa.com/wsdl/doc">POST /{id}/stop</sdoc:displayName><sdoc:description xmlns:sdoc="http://soa.com/wsdl/doc"><![CDATA[Stop a bundle.]]></sdoc:description><sdoc:summary xmlns:sdoc="http://soa.com/wsdl/doc"><![CDATA[Stop Bundle]]></sdoc:summary></wsdl:documentation>
    <shttp:operation location="/{id}/stop" method="POST"/>
      <wsdl:input>
    <shttp:input name="id" part="id" type="path"/>
      </wsdl:input>
      <wsdl:output>
    <shttp:output name="stopResponse" part="stopResponse" type="entity"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="BundlesService">
<wsdl:documentation><sdoc:description xmlns:sdoc="http://soa.com/wsdl/doc"><![CDATA[API used to manage system bundles.]]></sdoc:description><sdoc:title xmlns:sdoc="http://soa.com/wsdl/doc">Bundle Administration Service</sdoc:title><sdoc:version xmlns:sdoc="http://soa.com/wsdl/doc">8.0.0</sdoc:version><sdoc:vendor xmlns:sdoc="http://soa.com/wsdl/doc">Akana</sdoc:vendor></wsdl:documentation>
    <wsdl:port name="BundlesService_rest_port_https" binding="tns:BundlesServiceBinding">
    <shttp:address location="https://0.0.0.0/admin/bundles"/>
    </wsdl:port>
    <wsdl:port name="BundlesService_rest_port_http" binding="tns:BundlesServiceBinding">
    <shttp:address location="http://0.0.0.0/admin/bundles"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
