ag/assets/previous_plat/rest/platform/api-urn_com.soa.admin.service.obr.jaxrs-RepositoryService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="urn:com.soa.admin.service.obr.jaxrs" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="urn:com.soa.admin.service.obr.jaxrs" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:nms1="http://soa.com/products/admin/console/obr/1.0" xmlns:shttp="http://soa.com/wsdl/http">
  <wsdl:types>
    <xs:schema elementFormDefault="qualified" targetNamespace="http://soa.com/products/admin/console/common/1.0" version="1.0" xmlns:tns="http://soa.com/products/admin/console/common/1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:element name="NameValuePair" type="tns:nameValuePair"/>
<xs:element name="link" type="tns:link"/>
<xs:complexType name="link"><xs:sequence><xs:element minOccurs="0" name="href" type="xs:string"/><xs:element minOccurs="0" name="rel" type="xs:string"/><xs:element minOccurs="0" name="title" type="xs:string"/><xs:element minOccurs="0" name="type" type="xs:string"/></xs:sequence></xs:complexType>
<xs:complexType name="nameValuePair"><xs:sequence><xs:element minOccurs="0" name="name" type="xs:string"/><xs:element minOccurs="0" name="value" type="xs:string"/></xs:sequence></xs:complexType>
</xs:schema>
    <xs:schema elementFormDefault="qualified" targetNamespace="http://soa.com/products/admin/console/obr/1.0" version="1.0" xmlns:ns1="http://soa.com/products/admin/console/common/1.0" xmlns:tns="http://soa.com/products/admin/console/obr/1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:import namespace="http://soa.com/products/admin/console/common/1.0"/>
<xs:element name="certificate" type="tns:certificateInfo"/>
<xs:element name="errorInfo" type="tns:errorInfo"/>
<xs:element name="report" type="tns:resolutionReport"/>
<xs:element name="repositories" type="tns:repositorySet"/>
<xs:element name="repository" type="tns:repositoryInfo"/>
<xs:element name="requirements" type="tns:resourceRequirements"/>
<xs:element name="resource" type="tns:resourceInfo"/>
<xs:element name="resources" type="tns:resourceSet"/>
<xs:complexType name="resourceSet"><xs:sequence><xs:element minOccurs="0" name="links"><xs:complexType><xs:sequence><xs:element maxOccurs="unbounded" minOccurs="0" name="link" type="ns1:link"/></xs:sequence></xs:complexType></xs:element><xs:element minOccurs="0" name="resource"><xs:complexType><xs:sequence><xs:element maxOccurs="unbounded" minOccurs="0" ref="tns:resource"/></xs:sequence></xs:complexType></xs:element></xs:sequence></xs:complexType>
<xs:complexType name="resourceInfo"><xs:sequence><xs:element minOccurs="0" name="id" type="xs:string"/><xs:element minOccurs="0" name="symbolicName" type="xs:string"/><xs:element minOccurs="0" name="presentationName" type="xs:string"/><xs:element minOccurs="0" name="repositoryUrl" type="xs:string"/><xs:element minOccurs="0" name="bundleUrl" type="xs:string"/><xs:element minOccurs="0" name="description" type="xs:string"/><xs:element minOccurs="0" name="size" type="xs:string"/><xs:element minOccurs="0" name="version" type="xs:string"/><xs:element maxOccurs="unbounded" minOccurs="0" name="provides" nillable="true" type="xs:string"/><xs:element maxOccurs="unbounded" minOccurs="0" name="requires" nillable="true" type="xs:string"/><xs:element maxOccurs="unbounded" minOccurs="0" name="properties" nillable="true" type="ns1:nameValuePair"/></xs:sequence></xs:complexType>
<xs:complexType name="repositorySet"><xs:sequence><xs:element minOccurs="0" name="links"><xs:complexType><xs:sequence><xs:element maxOccurs="unbounded" minOccurs="0" name="link" type="ns1:link"/></xs:sequence></xs:complexType></xs:element><xs:element minOccurs="0" name="repository"><xs:complexType><xs:sequence><xs:element maxOccurs="unbounded" minOccurs="0" ref="tns:repository"/></xs:sequence></xs:complexType></xs:element></xs:sequence></xs:complexType>
<xs:complexType name="repositoryInfo"><xs:sequence><xs:element minOccurs="0" name="location" type="xs:string"/><xs:element minOccurs="0" name="name" type="xs:string"/><xs:element minOccurs="0" name="lastModified" type="xs:string"/><xs:element minOccurs="0" name="error" type="tns:errorInfo"/><xs:element minOccurs="0" name="links"><xs:complexType><xs:sequence><xs:element maxOccurs="unbounded" minOccurs="0" name="link" type="ns1:link"/></xs:sequence></xs:complexType></xs:element><xs:element minOccurs="0" name="username" type="xs:string"/><xs:element minOccurs="0" name="password" type="xs:string"/><xs:element minOccurs="0" name="certificate" type="xs:string"/><xs:element minOccurs="0" name="id" type="xs:string"/><xs:element name="editable" type="xs:boolean"/></xs:sequence></xs:complexType>
<xs:complexType name="errorInfo"><xs:sequence><xs:element name="authFailure" type="xs:boolean"/><xs:element minOccurs="0" ref="tns:certificate"/><xs:element minOccurs="0" name="message" type="xs:string"/><xs:element name="notTrusted" type="xs:boolean"/></xs:sequence></xs:complexType>
<xs:complexType name="certificateInfo"><xs:sequence><xs:element minOccurs="0" name="url" type="xs:string"/><xs:element minOccurs="0" name="subjectDN" type="xs:string"/><xs:element minOccurs="0" name="issuerDN" type="xs:string"/><xs:element minOccurs="0" name="serialNo" type="xs:string"/><xs:element minOccurs="0" name="certificate" type="xs:string"/><xs:element minOccurs="0" name="expirationDate" type="xs:string"/><xs:element minOccurs="0" name="effectiveDate" type="xs:string"/></xs:sequence></xs:complexType>
<xs:complexType name="resolutionReport"><xs:sequence><xs:element maxOccurs="unbounded" minOccurs="0" name="unsatisfiedRequirements" nillable="true" type="tns:resourceRequirements"/><xs:element maxOccurs="unbounded" minOccurs="0" name="requiredResources" nillable="true" type="tns:resourceInfo"/><xs:element maxOccurs="unbounded" minOccurs="0" name="optionalResources" nillable="true" type="tns:resourceInfo"/><xs:element maxOccurs="unbounded" minOccurs="0" name="addedResources" nillable="true" type="tns:resourceInfo"/><xs:element minOccurs="0" name="status" type="xs:string"/><xs:element minOccurs="0" name="id" type="xs:string"/><xs:element minOccurs="0" name="links"><xs:complexType><xs:sequence><xs:element maxOccurs="unbounded" minOccurs="0" name="link" type="ns1:link"/></xs:sequence></xs:complexType></xs:element></xs:sequence></xs:complexType>
<xs:complexType name="resourceRequirements"><xs:sequence><xs:element minOccurs="0" name="resource" type="xs:string"/><xs:element maxOccurs="unbounded" minOccurs="0" name="requirements" nillable="true" type="xs:string"/></xs:sequence></xs:complexType>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="discoverResourcesResponseMessage">
    <wsdl:part name="discoverResourcesResponse" element="nms1:resources">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="discoverResourcesRequestMessage">
    <wsdl:part name="filter" type="xs:string">
    </wsdl:part>
    <wsdl:part name="category" type="xs:string">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="updateRepositoryRequestMessage">
    <wsdl:part name="id" type="xs:string">
    </wsdl:part>
    <wsdl:part name="parameter0" element="nms1:repository">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getRepositoriesRequestMessage">
    <wsdl:part name="refresh" type="xs:boolean">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="resolveResponseMessage">
    <wsdl:part name="resolveResponse" element="nms1:report">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="updateRepositoryResponseMessage">
    <wsdl:part name="updateRepositoryResponse" element="nms1:repository">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="removeRepositoryResponseMessage">
  </wsdl:message>
  <wsdl:message name="addRepositoryResponseMessage">
    <wsdl:part name="addRepositoryResponse" element="nms1:repository">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="resolveRequestMessage">
    <wsdl:part name="parameter0" element="nms1:resources">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getRepositoryResponseMessage">
    <wsdl:part name="getRepositoryResponse" element="nms1:repository">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="removeRepositoryRequestMessage">
    <wsdl:part name="id" type="xs:string">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getRepositoriesResponseMessage">
    <wsdl:part name="getRepositoriesResponse" element="nms1:repositories">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="deployResponseMessage">
    <wsdl:part name="deployResponse" element="nms1:report">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="deployRequestMessage">
    <wsdl:part name="id" type="xs:string">
    </wsdl:part>
    <wsdl:part name="start" type="xs:boolean">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="addRepositoryRequestMessage">
    <wsdl:part name="parameter0" element="nms1:repository">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getRepositoryRequestMessage">
    <wsdl:part name="id" type="xs:string">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="RepositoryServicePortType">
    <wsdl:operation name="updateRepository">
      <wsdl:input message="tns:updateRepositoryRequestMessage">
    </wsdl:input>
      <wsdl:output message="tns:updateRepositoryResponseMessage">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="removeRepository">
      <wsdl:input message="tns:removeRepositoryRequestMessage">
    </wsdl:input>
      <wsdl:output message="tns:removeRepositoryResponseMessage">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="discoverResources">
      <wsdl:input message="tns:discoverResourcesRequestMessage">
    </wsdl:input>
      <wsdl:output message="tns:discoverResourcesResponseMessage">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deploy">
      <wsdl:input message="tns:deployRequestMessage">
    </wsdl:input>
      <wsdl:output message="tns:deployResponseMessage">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addRepository">
      <wsdl:input message="tns:addRepositoryRequestMessage">
    </wsdl:input>
      <wsdl:output message="tns:addRepositoryResponseMessage">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getRepositories">
      <wsdl:input message="tns:getRepositoriesRequestMessage">
    </wsdl:input>
      <wsdl:output message="tns:getRepositoriesResponseMessage">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getRepository">
      <wsdl:input message="tns:getRepositoryRequestMessage">
    </wsdl:input>
      <wsdl:output message="tns:getRepositoryResponseMessage">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="resolve">
      <wsdl:input message="tns:resolveRequestMessage">
    </wsdl:input>
      <wsdl:output message="tns:resolveResponseMessage">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="RepositoryServiceBinding" type="tns:RepositoryServicePortType">
    <shttp:binding/>
    <wsdl:operation name="updateRepository">
<wsdl:documentation><sdoc:displayName xmlns:sdoc="http://soa.com/wsdl/doc">PUT /{id}</sdoc:displayName></wsdl:documentation>
    <shttp:operation location="/{id}" method="PUT" outputSerialization="application/json,application/xml"/>
      <wsdl:input>
    <shttp:input name="id" part="id" type="path"/>
    <shttp:input name="parameter0" part="parameter0" type="entity"/>
      </wsdl:input>
      <wsdl:output>
    <shttp:output name="updateRepositoryResponse" part="updateRepositoryResponse" type="entity"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="removeRepository">
<wsdl:documentation><sdoc:displayName xmlns:sdoc="http://soa.com/wsdl/doc">DELETE /{id}</sdoc:displayName></wsdl:documentation>
    <shttp:operation location="/{id}" method="DELETE" outputSerialization="application/json,application/xml"/>
      <wsdl:input>
    <shttp:input name="id" part="id" type="path"/>
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="discoverResources">
<wsdl:documentation><sdoc:displayName xmlns:sdoc="http://soa.com/wsdl/doc">GET /resources</sdoc:displayName></wsdl:documentation>
    <shttp:operation location="/resources" method="GET" outputSerialization="application/json,application/xml"/>
      <wsdl:input>
    <shttp:input name="filter" part="filter" type="query"/>
    <shttp:input name="category" part="category" type="query"/>
      </wsdl:input>
      <wsdl:output>
    <shttp:output name="discoverResourcesResponse" part="discoverResourcesResponse" type="entity"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deploy">
<wsdl:documentation><sdoc:displayName xmlns:sdoc="http://soa.com/wsdl/doc">POST /deploy</sdoc:displayName></wsdl:documentation>
    <shttp:operation location="/deploy" method="POST" outputSerialization="application/json,application/xml"/>
      <wsdl:input>
    <shttp:input name="id" part="id" type="query"/>
    <shttp:input name="start" part="start" type="query"/>
      </wsdl:input>
      <wsdl:output>
    <shttp:output name="deployResponse" part="deployResponse" type="entity"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addRepository">
<wsdl:documentation><sdoc:displayName xmlns:sdoc="http://soa.com/wsdl/doc">POST </sdoc:displayName><sdoc:description xmlns:sdoc="http://soa.com/wsdl/doc"><![CDATA[<p>Add a repository to the system.</p>
<h4>Request:</h4>
<pre><code>POST /admin/obr  HTTP/1.1
Content-Type: application/json

{}
</code></pre>
<h4>Responses:</h4>
<ul>
<li>201 Created</li>
</ul>]]></sdoc:description></wsdl:documentation>
    <shttp:operation inputSerialization="application/json,application/xml" location="" method="POST" outputSerialization="application/json,application/xml"/>
      <wsdl:input>
    <shttp:input name="parameter0" part="parameter0" type="entity"/>
      </wsdl:input>
      <wsdl:output>
    <shttp:output name="addRepositoryResponse" part="addRepositoryResponse" type="entity"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getRepositories">
<wsdl:documentation><sdoc:displayName xmlns:sdoc="http://soa.com/wsdl/doc">GET </sdoc:displayName></wsdl:documentation>
    <shttp:operation location="" method="GET" outputSerialization="application/json,application/xml"/>
      <wsdl:input>
    <shttp:input name="refresh" part="refresh" type="query"/>
      </wsdl:input>
      <wsdl:output>
    <shttp:output name="getRepositoriesResponse" part="getRepositoriesResponse" type="entity"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getRepository">
<wsdl:documentation><sdoc:displayName xmlns:sdoc="http://soa.com/wsdl/doc">GET /{id}</sdoc:displayName></wsdl:documentation>
    <shttp:operation location="/{id}" method="GET" outputSerialization="application/json,application/xml"/>
      <wsdl:input>
    <shttp:input name="id" part="id" type="path"/>
      </wsdl:input>
      <wsdl:output>
    <shttp:output name="getRepositoryResponse" part="getRepositoryResponse" type="entity"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="resolve">
<wsdl:documentation><sdoc:displayName xmlns:sdoc="http://soa.com/wsdl/doc">POST /resolve</sdoc:displayName></wsdl:documentation>
    <shttp:operation inputSerialization="application/json,application/xml" location="/resolve" method="POST" outputSerialization="application/json,application/xml"/>
      <wsdl:input>
    <shttp:input name="parameter0" part="parameter0" type="entity"/>
      </wsdl:input>
      <wsdl:output>
    <shttp:output name="resolveResponse" part="resolveResponse" type="entity"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="RepositoryService">
<wsdl:documentation><sdoc:description xmlns:sdoc="http://soa.com/wsdl/doc"><![CDATA[This API is used to administer the repositories used by the system.]]></sdoc:description><sdoc:title xmlns:sdoc="http://soa.com/wsdl/doc">Repository Administration Service</sdoc:title><sdoc:version xmlns:sdoc="http://soa.com/wsdl/doc">8.4.0</sdoc:version><sdoc:vendor xmlns:sdoc="http://soa.com/wsdl/doc">Akana</sdoc:vendor></wsdl:documentation>
    <wsdl:port name="RepositoryService_rest_port_https" binding="tns:RepositoryServiceBinding">
    <shttp:address location="https://0.0.0.0/admin/obr"/>
    </wsdl:port>
    <wsdl:port name="RepositoryService_rest_port_http" binding="tns:RepositoryServiceBinding">
    <shttp:address location="http://0.0.0.0/admin/obr"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
