ag/mediation/images/faa_airport.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="https://soa.smext.faa.gov/asws/wsdl" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xs:schema xmlns:tns="https://soa.smext.faa.gov/asws/schemas" targetNamespace="https://soa.smext.faa.gov/asws/schemas" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:element name="GET_getAirportStatus_InputMessage">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="1" name="airportCode" type="xs:anyType" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="GET_getAirportStatus_OutputMessage">
        <xs:annotation>
          <xs:documentation>OK</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="GET_getAirportStatus_400">
        <xs:annotation>
          <xs:documentation>Status is only available for major US airports</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:schema>
  </types>
  <message name="GET_getAirportStatus_InputMessage">
    <part name="GET_getAirportStatus_InputMessage" xmlns:q1="https://soa.smext.faa.gov/asws/schemas" element="q1:GET_getAirportStatus_InputMessage" />
  </message>
  <message name="GET_getAirportStatus_OutputMessage">
    <part name="GET_getAirportStatus_OutputMessage" xmlns:q2="https://soa.smext.faa.gov/asws/schemas" element="q2:GET_getAirportStatus_OutputMessage" />
  </message>
  <message name="GET_getAirportStatus_400">
    <part name="GET_getAirportStatus_400" xmlns:q3="https://soa.smext.faa.gov/asws/wsdl" element="q3:GET_getAirportStatus_400" />
  </message>
  <portType name="FAA_Airport_Status_SOAP_PortType">
    <operation name="GET_getAirportStatus">
      <documentation></documentation>
      <input xmlns:q4="https://soa.smext.faa.gov/asws/wsdl" message="q4:GET_getAirportStatus_InputMessage" />
      <output xmlns:q5="https://soa.smext.faa.gov/asws/wsdl" message="q5:GET_getAirportStatus_OutputMessage">
        <documentation>OK</documentation>
      </output>
      <fault name="GET_getAirportStatus_400" xmlns:q6="https://soa.smext.faa.gov/asws/wsdl" message="q6:GET_getAirportStatus_400">
        <documentation>Status is only available for major US airports</documentation>
      </fault>
    </operation>
  </portType>
  <binding name="FAA_Airport_Status_SOAP_Binding" xmlns:q7="https://soa.smext.faa.gov/asws/wsdl" type="q7:FAA_Airport_Status_SOAP_PortType">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" />
    <operation name="GET_getAirportStatus">
      <soap:operation soapAction="GET_getAirportStatus" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input>
        <soap:body use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output>
        <soap:body use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
      <fault name="GET_getAirportStatus_400">
        <soap:fault use="literal" name="GET_getAirportStatus_400" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" />
      </fault>
    </operation>
  </binding>
  <service name="FAA_Airport_Status_SOAP">
    <documentation>Service/API provides airport weather and delays</documentation>
    <port name="default_Port" xmlns:q8="https://soa.smext.faa.gov/asws/wsdl" binding="q8:FAA_Airport_Status_SOAP_Binding">
      <soap:address location="https%3A%2F%2Fsoa.smext.faa.gov%2Fasws" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" />
    </port>
  </service>
</definitions>