ag/assets/restApiDocs_api-platform_84/api-urn_com.soa.audit.admin-AuditTrailService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="urn:com.soa.audit.admin" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="urn:com.soa.audit.admin" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:nms1="urn:com.soa.audit.admin.model" xmlns:shttp="http://soa.com/wsdl/http">
  <wsdl:types>
    <xs:schema elementFormDefault="qualified" targetNamespace="urn:com.soa.audit.admin.model" version="1.0" xmlns:tns="urn:com.soa.audit.admin.model" xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:element name="AuditComment" type="tns:auditComment"/>
<xs:element name="AuditRecord" type="tns:auditRecord"/>
<xs:element name="AuditTrail" type="tns:auditTrail"/>
<xs:element name="AuditWorkflow" type="tns:auditWorkflow"/>
<xs:element name="AuditWorkflowAction" type="tns:auditWorkflowAction"/>
<xs:complexType name="auditRecord"><xs:sequence><xs:element default="auto-generated" minOccurs="0" name="id" type="xs:string"/><xs:element minOccurs="0" name="userName" type="xs:string"/><xs:element minOccurs="0" name="appName" type="xs:string"/><xs:element name="action" type="xs:string"/><xs:element minOccurs="0" name="description" type="xs:string"/><xs:element default="received time" minOccurs="0" name="generatedAt" type="xs:dateTime"/><xs:element default="auto-generated" minOccurs="0" name="workflow" type="tns:auditWorkflow"/></xs:sequence></xs:complexType>
<xs:complexType name="auditWorkflow"><xs:sequence><xs:element minOccurs="0" name="state" type="tns:AuditState"/><xs:element minOccurs="0" name="receivedAt" type="xs:dateTime"/><xs:element minOccurs="0" name="observedBy" type="xs:string"/><xs:element minOccurs="0" name="observedAt" type="xs:dateTime"/><xs:element minOccurs="0" name="resolvedBy" type="xs:string"/><xs:element minOccurs="0" name="resolvedAt" type="xs:dateTime"/><xs:element minOccurs="0" name="comments"><xs:complexType><xs:sequence><xs:element maxOccurs="unbounded" minOccurs="0" name="comment" type="tns:auditComment"/></xs:sequence></xs:complexType></xs:element></xs:sequence></xs:complexType>
<xs:complexType name="auditComment"><xs:sequence><xs:element minOccurs="0" name="comment" type="xs:string"/><xs:element minOccurs="0" name="userName" type="xs:string"/><xs:element default="received time" minOccurs="0" name="createdDts" type="xs:dateTime"/><xs:element default="auto-generated" name="commentId" type="xs:long"/></xs:sequence></xs:complexType>
<xs:complexType name="auditWorkflowAction"><xs:sequence><xs:element name="action" type="tns:action"/><xs:element minOccurs="0" name="comment" type="xs:string"/><xs:element minOccurs="0" name="userName" type="xs:string"/></xs:sequence></xs:complexType>
<xs:complexType name="auditTrail"><xs:sequence><xs:element name="totalCount" type="xs:int"/><xs:element minOccurs="0" name="records"><xs:complexType><xs:sequence><xs:element maxOccurs="unbounded" minOccurs="0" name="record" type="tns:auditRecord"/></xs:sequence></xs:complexType></xs:element><xs:element name="listIncomplete" type="xs:boolean"/></xs:sequence></xs:complexType>
<xs:simpleType name="AuditState"><xs:restriction base="xs:string"><xs:enumeration value="UNOBSERVED"/><xs:enumeration value="OBSERVED"/><xs:enumeration value="RESOLVED"/></xs:restriction></xs:simpleType>
<xs:simpleType name="action"><xs:restriction base="xs:string"><xs:enumeration value="OBSERVE"/><xs:enumeration value="RESOLVE"/><xs:enumeration value="UNRESOLVE"/><xs:enumeration value="UNOBSERVE"/></xs:restriction></xs:simpleType>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="getAuditTrailResponseMessage">
    <wsdl:part name="getAuditTrailResponse" element="nms1:AuditTrail">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="performWorkflowActionRequestMessage">
    <wsdl:part name="id" type="xs:string">
    </wsdl:part>
    <wsdl:part name="parameter0" element="nms1:AuditWorkflowAction">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="addAuditTrailResponseMessage">
    <wsdl:part name="addAuditTrailResponse" element="nms1:AuditRecord">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="performWorkflowActionResponseMessage">
    <wsdl:part name="performWorkflowActionResponse" element="nms1:AuditWorkflow">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getAuditTrailRequestMessage">
    <wsdl:part name="user" type="xs:string">
    </wsdl:part>
    <wsdl:part name="action" type="xs:string">
    </wsdl:part>
    <wsdl:part name="from" type="xs:string">
    </wsdl:part>
    <wsdl:part name="to" type="xs:string">
    </wsdl:part>
    <wsdl:part name="state" type="xs:string">
    </wsdl:part>
    <wsdl:part name="actor" type="xs:string">
    </wsdl:part>
    <wsdl:part name="start" type="xs:integer">
    </wsdl:part>
    <wsdl:part name="count" type="xs:integer">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="addAuditTrailRequestMessage">
    <wsdl:part name="parameter0" element="nms1:AuditRecord">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="AuditTrailServicePortType">
    <wsdl:operation name="getAuditTrail">
      <wsdl:input message="tns:getAuditTrailRequestMessage">
    </wsdl:input>
      <wsdl:output message="tns:getAuditTrailResponseMessage">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addAuditTrail">
      <wsdl:input message="tns:addAuditTrailRequestMessage">
    </wsdl:input>
      <wsdl:output message="tns:addAuditTrailResponseMessage">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="performWorkflowAction">
      <wsdl:input message="tns:performWorkflowActionRequestMessage">
    </wsdl:input>
      <wsdl:output message="tns:performWorkflowActionResponseMessage">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="AuditTrailServiceBinding" type="tns:AuditTrailServicePortType">
    <shttp:binding/>
    <wsdl:operation name="getAuditTrail">
<wsdl:documentation><sdoc:displayName xmlns:sdoc="http://soa.com/wsdl/doc">GET /audittrail</sdoc:displayName><sdoc:summary xmlns:sdoc="http://soa.com/wsdl/doc"><![CDATA[Get Audit Trail]]></sdoc:summary><sdoc:description xmlns:sdoc="http://soa.com/wsdl/doc"><![CDATA[<p>Retrieves the audit records meeting the given criteria. The following usage example
illustrates a query for all OBSERVED or RESOLVED records operated on by jdoe between
2015-05-01T16:21:17 and now. It also illustrates paging by asking for records starting
from position 50 and to only return 50 records.</p>
<h4>Sample Request</h4>
<pre><code>GET /rest/audittrail?state=OBSERVED&amp;state=RESOLVED&amp;actor=jdoe&amp;from=2015-05-01T16:21:17&amp;start=50&amp;count=50 HTTP/1.1
Accept: application/json
</code></pre>
<h4>Sample Response</h4>
<pre><code>HTTP/1.1 200 OK
Content-Type: application/json

{
    "totalCount" : "50",
    "records" : [
        {
            "id" : "10001",
            "userName" : "jdoe",
            "appName" : "console-1",
            "action" : "Add Policy",
            "description" : "Policy [P1] added.",
            "generatedAt" : "2015-05-01T16:21:17
            "workflow" : {
                "state" : "RESOLVED",
                "receivedAt" : "2015-05-01T16:21:18",
                "observedBy" : "jdoe",
                "observedAt" : "2015-05-01T17:20:10",
                "resolvedBy" : "jdoe",
                "resolvedAt" : "2015-05-01T18:32:40",
                "comments" : [
                    {
                        "commentId" : "1", 
                        "comment" : "Will investigate.",
                        "userName" : "jdoe",
                        "createdAt" : "2015-05-01T17:20:10"
                    },
                    {
                        "commentId" : "2", 
                        "comment" : "Figured it out.",
                        "userName" : "jdoe",
                        "createdAt" : "2015-05-01T18:32:40"
                    }
                ]
            }
        },
        ... not shown for brevity ...
    ],  
    "listIncomplete" : "true"
}

The *listIncomplete* field in the response indicates there are more records 
beyond the 50 that match the given criteria.
</code></pre>]]></sdoc:description></wsdl:documentation>
    <shttp:operation location="/audittrail" method="GET" outputSerialization="application/json,application/xml,text/xml"/>
      <wsdl:input>
    <shttp:input name="user" part="user" type="query"><wsdl:documentation><sdoc:description xmlns:sdoc="http://soa.com/wsdl/doc"><![CDATA[Name of the user who's action was audited to filter on.]]></sdoc:description><sdoc:required xmlns:sdoc="http://soa.com/wsdl/doc">false</sdoc:required><sdoc:multiple xmlns:sdoc="http://soa.com/wsdl/doc">false</sdoc:multiple></wsdl:documentation></shttp:input>
    <shttp:input name="action" part="action" type="query"><wsdl:documentation><sdoc:description xmlns:sdoc="http://soa.com/wsdl/doc"><![CDATA[Action audited to filter on.]]></sdoc:description><sdoc:required xmlns:sdoc="http://soa.com/wsdl/doc">true</sdoc:required><sdoc:multiple xmlns:sdoc="http://soa.com/wsdl/doc">false</sdoc:multiple></wsdl:documentation></shttp:input>
    <shttp:input name="from" part="from" type="query"><wsdl:documentation><sdoc:description xmlns:sdoc="http://soa.com/wsdl/doc"><![CDATA[Date at which only audit records reported after will be returned.]]></sdoc:description><sdoc:required xmlns:sdoc="http://soa.com/wsdl/doc">false</sdoc:required><sdoc:multiple xmlns:sdoc="http://soa.com/wsdl/doc">false</sdoc:multiple></wsdl:documentation></shttp:input>
    <shttp:input name="to" part="to" type="query"><wsdl:documentation><sdoc:description xmlns:sdoc="http://soa.com/wsdl/doc"><![CDATA[Date at which only audit records reported before will be returned.]]></sdoc:description><sdoc:required xmlns:sdoc="http://soa.com/wsdl/doc">false</sdoc:required><sdoc:multiple xmlns:sdoc="http://soa.com/wsdl/doc">false</sdoc:multiple></wsdl:documentation></shttp:input>
    <shttp:input name="state" part="state" type="query"><wsdl:documentation><sdoc:description xmlns:sdoc="http://soa.com/wsdl/doc"><![CDATA[States of the audit records to filter on.]]></sdoc:description><sdoc:required xmlns:sdoc="http://soa.com/wsdl/doc">false</sdoc:required><sdoc:multiple xmlns:sdoc="http://soa.com/wsdl/doc">false</sdoc:multiple></wsdl:documentation></shttp:input>
    <shttp:input name="actor" part="actor" type="query"><wsdl:documentation><sdoc:description xmlns:sdoc="http://soa.com/wsdl/doc"><![CDATA[Indicates only audit records that the user with the given username performed a workflow action on should be returned.]]></sdoc:description><sdoc:required xmlns:sdoc="http://soa.com/wsdl/doc">false</sdoc:required><sdoc:multiple xmlns:sdoc="http://soa.com/wsdl/doc">false</sdoc:multiple></wsdl:documentation></shttp:input>
    <shttp:input name="start" part="start" type="query"><wsdl:documentation><sdoc:description xmlns:sdoc="http://soa.com/wsdl/doc"><![CDATA[To page the results this integer indicates the first audit record from the full result set to return as the first item of the page.]]></sdoc:description><sdoc:required xmlns:sdoc="http://soa.com/wsdl/doc">false</sdoc:required><sdoc:multiple xmlns:sdoc="http://soa.com/wsdl/doc">false</sdoc:multiple></wsdl:documentation></shttp:input>
    <shttp:input name="count" part="count" type="query"><wsdl:documentation><sdoc:description xmlns:sdoc="http://soa.com/wsdl/doc"><![CDATA[To page the results this integer indicates the number of items thatshould be returned in the page.]]></sdoc:description><sdoc:required xmlns:sdoc="http://soa.com/wsdl/doc">false</sdoc:required><sdoc:multiple xmlns:sdoc="http://soa.com/wsdl/doc">false</sdoc:multiple></wsdl:documentation></shttp:input>
      </wsdl:input>
      <wsdl:output>
    <shttp:output name="getAuditTrailResponse" part="getAuditTrailResponse" type="entity"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addAuditTrail">
<wsdl:documentation><sdoc:displayName xmlns:sdoc="http://soa.com/wsdl/doc">POST /audittrail</sdoc:displayName><sdoc:summary xmlns:sdoc="http://soa.com/wsdl/doc"><![CDATA[Add Audit Record]]></sdoc:summary><sdoc:description xmlns:sdoc="http://soa.com/wsdl/doc"><![CDATA[<p>Adds an audit trail record.</p>
<h4>Sample Request</h4>
<pre><code>POST /rest/audittrail HTTP/1.1
Content-Type: application/json

{
    "userName" : "jdoe",
    "appName" : "console-1",
    "action" : "Add Policy",
    "description" : "Policy [P1] added.",
    "generatedAt" : "2015-05-01T16:21:17
}
</code></pre>
<h4>Sample Response</h4>
<pre><code>HTTP/1.1 200 OK
Content-Type: application/json

{
    "id" : "10001",
    "userName" : "jdoe",
    "appName" : "console-1",
    "action" : "Add Policy",
    "description" : "Policy [P1] added.",
    "generatedAt" : "2015-05-01T16:21:17
    "workflow" : {
      "state" : "UNOBSERVED
      "receivedAt" : "2015-05-01T16:21:18",
    }
}
</code></pre>
<p>Note the <em>id</em> property is not provided in the request but is provided in the
response message. The <em>id</em> can then be used when performing workflow actions.
The workflow is also auto-generated and provided in the response where it indicates
the initial state and when the system received the record.</p>]]></sdoc:description></wsdl:documentation>
    <shttp:operation inputSerialization="application/json,application/xml,text/xml" location="/audittrail" method="POST"/>
      <wsdl:input>
    <shttp:input name="parameter0" part="parameter0" type="entity"><wsdl:documentation><sdoc:description xmlns:sdoc="http://soa.com/wsdl/doc"><![CDATA[The audit trail record to add.]]></sdoc:description><sdoc:required xmlns:sdoc="http://soa.com/wsdl/doc">true</sdoc:required><sdoc:multiple xmlns:sdoc="http://soa.com/wsdl/doc">false</sdoc:multiple></wsdl:documentation></shttp:input>
      </wsdl:input>
      <wsdl:output>
    <shttp:output name="addAuditTrailResponse" part="addAuditTrailResponse" type="entity"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="performWorkflowAction">
<wsdl:documentation><sdoc:displayName xmlns:sdoc="http://soa.com/wsdl/doc">PUT /audittrail/{id}/workflow</sdoc:displayName><sdoc:summary xmlns:sdoc="http://soa.com/wsdl/doc"><![CDATA[Perform Workflow Action]]></sdoc:summary><sdoc:description xmlns:sdoc="http://soa.com/wsdl/doc"><![CDATA[<p>Performs a workflow action on the audit record with the given ID. A usage example is as follows:</p>
<h4>Sample Request</h4>
<pre><code>PUT /rest/audittrail/10001/workflow HTTP/1.1
{
    "action" : "OBSERVE",
    "comment" : "Observed record, no action taken",
    "userName" : "jdoe"
}
</code></pre>
<h4>Sample Response</h4>
<pre><code>HTTP/1.1 200 OK
</code></pre>]]></sdoc:description></wsdl:documentation>
    <shttp:operation inputSerialization="application/json,application/xml,text/xml" location="/audittrail/{id}/workflow" method="PUT"/>
      <wsdl:input>
    <shttp:input name="id" part="id" type="path"><wsdl:documentation><sdoc:description xmlns:sdoc="http://soa.com/wsdl/doc"><![CDATA[ID of the audit record to perform the action on.]]></sdoc:description><sdoc:required xmlns:sdoc="http://soa.com/wsdl/doc">true</sdoc:required><sdoc:multiple xmlns:sdoc="http://soa.com/wsdl/doc">false</sdoc:multiple></wsdl:documentation></shttp:input>
    <shttp:input name="parameter0" part="parameter0" type="entity"><wsdl:documentation><sdoc:description xmlns:sdoc="http://soa.com/wsdl/doc"><![CDATA[The action to perform.]]></sdoc:description><sdoc:required xmlns:sdoc="http://soa.com/wsdl/doc">true</sdoc:required><sdoc:multiple xmlns:sdoc="http://soa.com/wsdl/doc">false</sdoc:multiple></wsdl:documentation></shttp:input>
      </wsdl:input>
      <wsdl:output>
    <shttp:output name="performWorkflowActionResponse" part="performWorkflowActionResponse" type="entity"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AuditTrailService">
<wsdl:documentation><sdoc:description xmlns:sdoc="http://soa.com/wsdl/doc"><![CDATA[The API used to report and manage audit trails.]]></sdoc:description><sdoc:title xmlns:sdoc="http://soa.com/wsdl/doc">Audit Trail Management API</sdoc:title><sdoc:version xmlns:sdoc="http://soa.com/wsdl/doc">8.0.0</sdoc:version><sdoc:vendor xmlns:sdoc="http://soa.com/wsdl/doc">SOA Software</sdoc:vendor></wsdl:documentation>
    <wsdl:port name="AuditTrailService_rest_port_https" binding="tns:AuditTrailServiceBinding">
    <shttp:address location="https://0.0.0.0/rest"/>
    </wsdl:port>
    <wsdl:port name="AuditTrailService_rest_port_http" binding="tns:AuditTrailServiceBinding">
    <shttp:address location="http://0.0.0.0/rest"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
