ag/assets/restApiDocs_api-platform_84/api-urn_com.soa.rest.services-RESTServiceInfoProvider.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="urn:com.soa.rest.services" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="urn:com.soa.rest.services" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:nms1="http://soa.com/uri/products/restapi/xsd/1.0" xmlns:shttp="http://soa.com/wsdl/http">
  <wsdl:types>
    <xs:schema elementFormDefault="qualified" targetNamespace="http://www.w3.org/2005/Atom" version="1.0" xmlns:tns="http://www.w3.org/2005/Atom" xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:import namespace="http://www.w3.org/XML/1998/namespace"/>
<xs:complexType name="atomLink"><xs:complexContent><xs:extension base="tns:atomCommonAttributes"><xs:sequence/><xs:attribute name="length" type="xs:string"/><xs:attribute name="title" type="xs:string"/><xs:attribute name="hreflang" type="xs:string"/><xs:attribute name="rel" type="xs:string"/><xs:attribute name="type" type="xs:string"/><xs:attribute name="href" type="xs:anyURI" use="required"/><xs:anyAttribute namespace="##other" processContents="skip"/></xs:extension></xs:complexContent></xs:complexType>
<xs:complexType name="atomCommonAttributes"><xs:sequence/><xs:attribute ref="xml:base"/><xs:attribute ref="xml:lang"/><xs:anyAttribute namespace="##other" processContents="skip"/></xs:complexType>
</xs:schema>
    <xs:schema targetNamespace="http://www.w3.org/XML/1998/namespace" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:attribute name="base" type="xs:anyURI"/>
<xs:attribute name="lang" type="xs:string"/>
</xs:schema>
    <xs:schema elementFormDefault="qualified" targetNamespace="http://soa.com/uri/products/restapi/xsd/1.0" version="1.0" xmlns:ns1="http://www.w3.org/2005/Atom" xmlns:tns="http://soa.com/uri/products/restapi/xsd/1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:import namespace="http://www.w3.org/2005/Atom"/>
<xs:element name="HostedService" type="tns:hostedService"/>
<xs:element name="HostedServices" type="tns:hostedServices"/>
<xs:element name="NameValuePair" type="tns:nameValuePair"/>
<xs:complexType name="hostedServices"><xs:sequence><xs:element maxOccurs="unbounded" minOccurs="0" name="Service" type="tns:hostedService"/></xs:sequence></xs:complexType>
<xs:complexType name="hostedService"><xs:sequence><xs:element minOccurs="0" name="name" type="xs:string"/><xs:element minOccurs="0" name="description" type="xs:string"/><xs:element minOccurs="0" name="key" type="xs:string"/><xs:element minOccurs="0" name="qname" type="xs:string"/><xs:element minOccurs="0" name="organization" type="xs:string"/><xs:element minOccurs="0" name="Properties"><xs:complexType><xs:sequence><xs:element maxOccurs="unbounded" minOccurs="0" name="Property" type="tns:nameValuePair"/></xs:sequence></xs:complexType></xs:element><xs:element minOccurs="0" name="Links"><xs:complexType><xs:sequence><xs:element maxOccurs="unbounded" minOccurs="0" name="Link" type="ns1:atomLink"/></xs:sequence></xs:complexType></xs:element></xs:sequence></xs:complexType>
<xs:complexType name="nameValuePair"><xs:sequence><xs:element name="name" type="xs:string"/><xs:element minOccurs="0" name="value" type="xs:string"/></xs:sequence></xs:complexType>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="getServicesRequestMessage">
  </wsdl:message>
  <wsdl:message name="getServicesResponseMessage">
    <wsdl:part name="getServicesResponse" element="nms1:HostedServices">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="RESTServiceInfoProviderPortType">
    <wsdl:operation name="getServices">
      <wsdl:input message="tns:getServicesRequestMessage">
    </wsdl:input>
      <wsdl:output message="tns:getServicesResponseMessage">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="RESTServiceInfoProviderBinding" type="tns:RESTServiceInfoProviderPortType">
    <shttp:binding/>
    <wsdl:operation name="getServices">
<wsdl:documentation><sdoc:displayName xmlns:sdoc="http://soa.com/wsdl/doc">GET /services</sdoc:displayName><sdoc:summary xmlns:sdoc="http://soa.com/wsdl/doc"><![CDATA[Get all hosted REST services.]]></sdoc:summary><sdoc:description xmlns:sdoc="http://soa.com/wsdl/doc"><![CDATA[<p>Returns the set of all hosted REST services for this container.</p>
<h4>Request:</h4>
<pre><code>GET /rest/services HTTP/1.1
Accept: application/json
</code></pre>
<h4>Response:</h4>
<pre><code>HTTP/1.1 200 OK

{
  "Service" : [ 
    {" 
        "name" : "Alert Export Management Service",
        "description" : "Alert Export Management Service",
        "key" : "uddi:soa.com:remote-export-alerts-servicekey",
        "qname" : "{http://soa.com/uri/products/export-alerts-service/wsdl/1.0}ExportAlertsService",
        "organization" : "uddi:soa.com:managementconfigurationbusinesskey",
        "Links" : [
            {
                "rel" : "wsdl",
                "href" : "http://localhost:9900/rest/services/uddi:soa.com:remote-export-alerts-servicekey/wsdl"
            },{
                "rel" : "self",
                "href" : "http://localhost:9900/rest/services/uddi:soa.com:remote-export-alerts-servicekey"
            }
        ]
    }
    ... not shown for brevity ...
  ]
}
</code></pre>]]></sdoc:description></wsdl:documentation>
    <shttp:operation location="/services" method="GET" outputSerialization="application/json,application/xml"/>
      <wsdl:output>
    <shttp:output name="getServicesResponse" part="getServicesResponse" type="entity"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="RESTServiceInfoProvider">
<wsdl:documentation><sdoc:description xmlns:sdoc="http://soa.com/wsdl/doc"><![CDATA[This API is used to get information about REST services]]></sdoc:description><sdoc:title xmlns:sdoc="http://soa.com/wsdl/doc">REST Service Information API</sdoc:title><sdoc:version xmlns:sdoc="http://soa.com/wsdl/doc">7.0.0</sdoc:version><sdoc:vendor xmlns:sdoc="http://soa.com/wsdl/doc">SOA Software</sdoc:vendor></wsdl:documentation>
    <wsdl:port name="RESTServiceInfoProvider_rest_port_https" binding="tns:RESTServiceInfoProviderBinding">
    <shttp:address location="https://0.0.0.0/rest"/>
    </wsdl:port>
    <wsdl:port name="RESTServiceInfoProvider_rest_port_http" binding="tns:RESTServiceInfoProviderBinding">
    <shttp:address location="http://0.0.0.0/rest"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
