ag/assets/restApiDocs_api-platform_84/api-urn_com.soa.laasaddon.api-AssetTransformerService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="urn:com.soa.laasaddon.api" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="urn:com.soa.laasaddon.api" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:shttp="http://soa.com/wsdl/http">
  <wsdl:message name="getAssetDescriptorResponseMessage">
    <wsdl:part name="getAssetDescriptorResponse" type="tns:StreamingOutput">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getAssetDescriptorByTypeResponseMessage">
    <wsdl:part name="getAssetDescriptorByTypeResponse" type="tns:StreamingOutput">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getAssetDescriptorByTypeRequestMessage">
    <wsdl:part name="assetType" type="xs:string">
    </wsdl:part>
    <wsdl:part name="format" type="xs:string">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getAssetDescriptorRequestMessage">
    <wsdl:part name="assetId" type="xs:string">
    </wsdl:part>
    <wsdl:part name="format" type="xs:string">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="AssetTransformerAPIPortType">
    <wsdl:operation name="getAssetDescriptorByType">
      <wsdl:input message="tns:getAssetDescriptorByTypeRequestMessage">
    </wsdl:input>
      <wsdl:output message="tns:getAssetDescriptorByTypeResponseMessage">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAssetDescriptor">
      <wsdl:input message="tns:getAssetDescriptorRequestMessage">
    </wsdl:input>
      <wsdl:output message="tns:getAssetDescriptorResponseMessage">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="AssetTransformerAPIBinding" type="tns:AssetTransformerAPIPortType">
    <shttp:binding/>
    <wsdl:operation name="getAssetDescriptorByType">
<wsdl:documentation><sdoc:displayName xmlns:sdoc="http://soa.com/wsdl/doc">GET /assets/types/{assetType}/transform</sdoc:displayName></wsdl:documentation>
    <shttp:operation location="/assets/types/{assetType}/transform" method="GET" outputSerialization="application/json"/>
      <wsdl:input>
    <shttp:input name="assetType" part="assetType" type="path"/>
    <shttp:input name="format" part="format" type="query"/>
      </wsdl:input>
      <wsdl:output>
    <shttp:output name="getAssetDescriptorByTypeResponse" part="getAssetDescriptorByTypeResponse" type="entity"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAssetDescriptor">
<wsdl:documentation><sdoc:displayName xmlns:sdoc="http://soa.com/wsdl/doc">GET /assets/instances/{assetId}/transform</sdoc:displayName></wsdl:documentation>
    <shttp:operation location="/assets/instances/{assetId}/transform" method="GET" outputSerialization="application/json"/>
      <wsdl:input>
    <shttp:input name="assetId" part="assetId" type="path"/>
    <shttp:input name="format" part="format" type="query"/>
      </wsdl:input>
      <wsdl:output>
    <shttp:output name="getAssetDescriptorResponse" part="getAssetDescriptorResponse" type="entity"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AssetTransformerService">
<wsdl:documentation><sdoc:description xmlns:sdoc="http://soa.com/wsdl/doc"><![CDATA[Asset transformation API]]></sdoc:description><sdoc:title xmlns:sdoc="http://soa.com/wsdl/doc">Asset Transformation API</sdoc:title><sdoc:vendor xmlns:sdoc="http://soa.com/wsdl/doc">Akana</sdoc:vendor></wsdl:documentation>
    <wsdl:port name="AssetTransformerService_rest_port_https" binding="tns:AssetTransformerAPIBinding">
    <shttp:address location="https://0.0.0.0/api/laas"/>
    </wsdl:port>
    <wsdl:port name="AssetTransformerService_rest_port_http" binding="tns:AssetTransformerAPIBinding">
    <shttp:address location="http://0.0.0.0/api/laas"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
