ag/assets/20191_api_plat/rest/api-platform/api-urn_com.soa.passwordmanagement.service.impl-PasswordManagementAPI.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="urn:com.soa.passwordmanagement.service.impl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="urn:com.soa.passwordmanagement.service.impl" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:nms1="http://soa.com/xsd/user/1.0" xmlns:shttp="http://soa.com/wsdl/http">
  <wsdl:types>
    <xs:schema elementFormDefault="qualified" targetNamespace="http://soa.com/xsd/user/1.0" version="1.0" xmlns:tns="http://soa.com/xsd/user/1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:element name="PasswordResetRequest"><xs:complexType><xs:sequence><xs:element name="Email" type="xs:string"/><xs:element minOccurs="0" name="NewPassword" type="xs:string"/><xs:element name="PasswordResetCode" type="xs:string"/><xs:element minOccurs="0" ref="tns:UserIdentificationChallenge"/></xs:sequence></xs:complexType></xs:element>
<xs:element name="PasswordResetResponse"><xs:complexType><xs:sequence><xs:element name="emailAddress" type="xs:string"/><xs:element name="userName" type="xs:string"/><xs:element name="ResetStatus" type="xs:string"/><xs:element minOccurs="0" ref="tns:UserIdentificationChallenge"/></xs:sequence></xs:complexType></xs:element>
<xs:element name="UserIdentificationChallenge"><xs:complexType><xs:sequence><xs:element minOccurs="0" name="UserID" type="xs:string"/><xs:element name="ChallengeCode" type="xs:string"/><xs:element minOccurs="0" name="ChallengeQuestion" type="xs:string"/><xs:element minOccurs="0" name="Answer" type="xs:string"/></xs:sequence></xs:complexType></xs:element>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="validatePasswordResetCodeRequestMessage">
    <wsdl:part name="emailAddress" type="xs:string">
    </wsdl:part>
    <wsdl:part name="passwordResetCode" type="xs:string">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="validateCodeRequestRequestMessage">
    <wsdl:part name="parameter0" element="nms1:PasswordResetRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="validatePasswordResetCodeResponseMessage">
    <wsdl:part name="validatePasswordResetCodeResponse" element="nms1:PasswordResetResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="sendPasswordResetCodeResponseMessage">
    <wsdl:part element="xs:any">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="sendPasswordResetCodeRequestMessage">
    <wsdl:part name="emailAddress" type="xs:string">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="validateCodeRequestResponseMessage">
    <wsdl:part name="validateCodeRequestResponse" element="nms1:PasswordResetResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="PasswordManagementAPIPortType">
    <wsdl:operation name="sendPasswordResetCode">
      <wsdl:input message="tns:sendPasswordResetCodeRequestMessage">
    </wsdl:input>
      <wsdl:output message="tns:sendPasswordResetCodeResponseMessage">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="validateCodeRequest">
      <wsdl:input message="tns:validateCodeRequestRequestMessage">
    </wsdl:input>
      <wsdl:output message="tns:validateCodeRequestResponseMessage">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="validatePasswordResetCode">
      <wsdl:input message="tns:validatePasswordResetCodeRequestMessage">
    </wsdl:input>
      <wsdl:output message="tns:validatePasswordResetCodeResponseMessage">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="PasswordManagementAPIBinding" type="tns:PasswordManagementAPIPortType">
    <shttp:binding/>
    <wsdl:operation name="sendPasswordResetCode">
<wsdl:documentation><sdoc:displayName xmlns:sdoc="http://soa.com/wsdl/doc">POST /passwordmanagement/sendPasswordResetCode</sdoc:displayName></wsdl:documentation>
    <shttp:operation inputSerialization="application/x-www-form-urlencoded" location="/passwordmanagement/sendPasswordResetCode" method="POST" outputSerialization="application/json,application/vnd.soa.v71+json,application/vnd.soa.v72+json,application/vnd.soa.v80+json,application/vnd.soa.v81+json"/>
      <wsdl:input>
    <shttp:input name="emailAddress" part="emailAddress" type="form"/>
      </wsdl:input>
      <wsdl:output>
    <shttp:output name="" part="" type="entity"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="validateCodeRequest">
<wsdl:documentation><sdoc:displayName xmlns:sdoc="http://soa.com/wsdl/doc">POST /passwordmanagement/validatePasswordResetCode</sdoc:displayName></wsdl:documentation>
    <shttp:operation inputSerialization="application/json,application/vnd.soa.v72+json,application/vnd.soa.v80+json,application/vnd.soa.v81+json" location="/passwordmanagement/validatePasswordResetCode" method="POST" outputSerialization="application/json,application/vnd.soa.v72+json,application/vnd.soa.v80+json,application/vnd.soa.v81+json"/>
      <wsdl:input>
    <shttp:input name="parameter0" part="parameter0" type="entity"/>
      </wsdl:input>
      <wsdl:output>
    <shttp:output name="validateCodeRequestResponse" part="validateCodeRequestResponse" type="entity"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="validatePasswordResetCode">
<wsdl:documentation><sdoc:displayName xmlns:sdoc="http://soa.com/wsdl/doc">POST /passwordmanagement/validatePasswordResetCode</sdoc:displayName></wsdl:documentation>
    <shttp:operation inputSerialization="application/x-www-form-urlencoded" location="/passwordmanagement/validatePasswordResetCode" method="POST" outputSerialization="application/json,application/vnd.soa.v71+json,application/vnd.soa.v72+json,application/vnd.soa.v80+json,application/vnd.soa.v81+json"/>
      <wsdl:input>
    <shttp:input name="emailAddress" part="emailAddress" type="form"/>
    <shttp:input name="passwordResetCode" part="passwordResetCode" type="form"/>
      </wsdl:input>
      <wsdl:output>
    <shttp:output name="validatePasswordResetCodeResponse" part="validatePasswordResetCodeResponse" type="entity"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PasswordManagementAPI">
<wsdl:documentation><sdoc:description xmlns:sdoc="http://soa.com/wsdl/doc"><![CDATA[<p>The operations in the Password Management service, along with the POST /api/login/authenticateWithPasswordResetCode operation in the Login service, support resetting the user password.</p>]]></sdoc:description></wsdl:documentation>
    <wsdl:port name="PasswordManagementAPI_rest_port_http" binding="tns:PasswordManagementAPIBinding">
    <shttp:address location="http://0.0.0.0/api"/>
    </wsdl:port>
    <wsdl:port name="PasswordManagementAPI_rest_port_https" binding="tns:PasswordManagementAPIBinding">
    <shttp:address location="https://0.0.0.0/api"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
