ag/assets/2018_api_plat/rest/api-platform/api-urn_com.soa.userportal.api-PortalSettingsAPI.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="urn:com.soa.userportal.api" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="urn:com.soa.userportal.api" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:nms1="http://soa.com/xsd/userportal/1.0" xmlns:shttp="http://soa.com/wsdl/http">
  <wsdl:types>
    <xs:schema elementFormDefault="qualified" targetNamespace="http://soa.com/xsd/userportal/1.0" version="1.0" xmlns:tns="http://soa.com/xsd/userportal/1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:element name="PortalSetting"><xs:complexType><xs:sequence><xs:element name="Application" type="xs:string"/><xs:element name="Context" type="xs:string"/><xs:element minOccurs="0" name="TargetUserGroupingID" type="xs:string"/><xs:element minOccurs="0" name="TargetUserGroupingType" type="xs:string"/><xs:element name="Name" type="xs:string"/><xs:element minOccurs="0" name="Value" type="xs:string"/></xs:sequence></xs:complexType></xs:element>
<xs:element name="PortalSettings"><xs:complexType><xs:sequence><xs:element maxOccurs="unbounded" minOccurs="0" ref="tns:PortalSetting"/></xs:sequence></xs:complexType></xs:element>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="savePortalSettingRequestMessage">
    <wsdl:part name="parameter0" element="nms1:PortalSettings">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getPortalSettingsResponseMessage">
    <wsdl:part name="getPortalSettingsResponse" element="nms1:PortalSettings">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="savePortalSettingResponseMessage">
    <wsdl:part element="xs:any">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getPortalSettingsRequestMessage">
    <wsdl:part name="Application" type="xs:string">
    </wsdl:part>
    <wsdl:part name="Context" type="xs:string">
    </wsdl:part>
    <wsdl:part name="TargetUserGroupingID" type="xs:string">
    </wsdl:part>
    <wsdl:part name="TargetUserGroupingType" type="xs:string">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="PortalSettingsAPIPortType">
    <wsdl:operation name="savePortalSetting">
      <wsdl:input message="tns:savePortalSettingRequestMessage">
    </wsdl:input>
      <wsdl:output message="tns:savePortalSettingResponseMessage">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getPortalSettings">
      <wsdl:input message="tns:getPortalSettingsRequestMessage">
    </wsdl:input>
      <wsdl:output message="tns:getPortalSettingsResponseMessage">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="PortalSettingsAPIBinding" type="tns:PortalSettingsAPIPortType">
    <shttp:binding/>
    <wsdl:operation name="savePortalSetting">
<wsdl:documentation><sdoc:displayName xmlns:sdoc="http://soa.com/wsdl/doc">POST /portal/settings</sdoc:displayName></wsdl:documentation>
    <shttp:operation inputSerialization="application/xml,application/json,application/vnd.soa.v71+json,application/vnd.soa.v72+json,application/vnd.soa.v80+json,application/vnd.soa.v71+xml,application/vnd.soa.v72+xml,application/vnd.soa.v80+xml" location="/portal/settings" method="POST"/>
      <wsdl:input>
    <shttp:input name="parameter0" part="parameter0" type="entity"/>
      </wsdl:input>
      <wsdl:output>
    <shttp:output name="" part="" type="entity"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getPortalSettings">
<wsdl:documentation><sdoc:displayName xmlns:sdoc="http://soa.com/wsdl/doc">GET /portal/settings</sdoc:displayName></wsdl:documentation>
    <shttp:operation location="/portal/settings" method="GET" outputSerialization="application/xml,application/json,application/vnd.soa.v71+json,application/vnd.soa.v72+json,application/vnd.soa.v80+json,application/vnd.soa.v71+xml,application/vnd.soa.v72+xml,application/vnd.soa.v80+xml"/>
      <wsdl:input>
    <shttp:input name="Application" part="Application" type="query"/>
    <shttp:input name="Context" part="Context" type="query"/>
    <shttp:input name="TargetUserGroupingID" part="TargetUserGroupingID" type="query"/>
    <shttp:input name="TargetUserGroupingType" part="TargetUserGroupingType" type="query"/>
      </wsdl:input>
      <wsdl:output>
    <shttp:output name="getPortalSettingsResponse" part="getPortalSettingsResponse" type="entity"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PortalSettingsAPI">
<wsdl:documentation><sdoc:description xmlns:sdoc="http://soa.com/wsdl/doc"><![CDATA[<p>This service allows portal settings to be examined and modified.</p>]]></sdoc:description></wsdl:documentation>
    <wsdl:port name="PortalSettingsAPI_rest_port_http" binding="tns:PortalSettingsAPIBinding">
    <shttp:address location="http://0.0.0.0/api"/>
    </wsdl:port>
    <wsdl:port name="PortalSettingsAPI_rest_port_https" binding="tns:PortalSettingsAPIBinding">
    <shttp:address location="https://0.0.0.0/api"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
