ag/assets/2018_api_plat/rest/api-platform/api-urn_com.soa.rest.services.process-ProcessAPI.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="urn:com.soa.rest.services.process" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="urn:com.soa.rest.services.process" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:nms1="http://www.soa.com/uri/products/Process/xsd/1.0" xmlns:shttp="http://soa.com/wsdl/http">
  <wsdl:types>
    <xs:schema elementFormDefault="qualified" targetNamespace="http://www.soa.com/uri/products/Process/xsd/1.0" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:element name="Process"><xs:complexType><xs:sequence><xs:element minOccurs="0" name="BpelProcessKey" type="xs:string"/><xs:element minOccurs="0" name="Name" type="xs:string"/><xs:element minOccurs="0" name="Description" type="xs:string"/><xs:element minOccurs="0" name="OrganizationKey" type="xs:string"/><xs:element minOccurs="0" name="OperationKey" type="xs:string"/><xs:element minOccurs="0" name="ResourceScope" type="xs:string"/><xs:any namespace="##other" processContents="lax"/></xs:sequence></xs:complexType></xs:element>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="getProcessesResponseMessage">
    <wsdl:part name="getProcessesResponse" type="tns:List">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getProcessResponseMessage">
    <wsdl:part name="getProcessResponse" element="nms1:Process">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="deleteProcessResponseMessage">
    <wsdl:part name="deleteProcessResponse" type="xs:string">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="updateProcessResponseMessage">
    <wsdl:part name="updateProcessResponse" element="nms1:Process">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getProcessRequestMessage">
    <wsdl:part name="processKey" type="xs:string">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="addProcessRequestMessage">
    <wsdl:part name="parameter0" element="nms1:Process">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="updateProcessRequestMessage">
    <wsdl:part name="processKey" type="xs:string">
    </wsdl:part>
    <wsdl:part name="parameter0" element="nms1:Process">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="addProcessResponseMessage">
    <wsdl:part name="addProcessResponse" element="nms1:Process">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="deleteProcessRequestMessage">
    <wsdl:part name="processKey" type="xs:string">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getProcessesRequestMessage">
    <wsdl:part name="organizationKey" type="xs:string">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="ProcessAPIPortType">
    <wsdl:operation name="deleteProcess">
      <wsdl:input message="tns:deleteProcessRequestMessage">
    </wsdl:input>
      <wsdl:output message="tns:deleteProcessResponseMessage">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateProcess">
      <wsdl:input message="tns:updateProcessRequestMessage">
    </wsdl:input>
      <wsdl:output message="tns:updateProcessResponseMessage">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addProcess">
      <wsdl:input message="tns:addProcessRequestMessage">
    </wsdl:input>
      <wsdl:output message="tns:addProcessResponseMessage">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getProcess">
      <wsdl:input message="tns:getProcessRequestMessage">
    </wsdl:input>
      <wsdl:output message="tns:getProcessResponseMessage">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getProcesses">
      <wsdl:input message="tns:getProcessesRequestMessage">
    </wsdl:input>
      <wsdl:output message="tns:getProcessesResponseMessage">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ProcessAPIBinding" type="tns:ProcessAPIPortType">
    <shttp:binding/>
    <wsdl:operation name="deleteProcess">
<wsdl:documentation><sdoc:displayName xmlns:sdoc="http://soa.com/wsdl/doc">DELETE /processes/{processKey}</sdoc:displayName><sdoc:description xmlns:sdoc="http://soa.com/wsdl/doc"><![CDATA[<p>Returns the process key.</p>
<h4>Request:</h4>
<pre><code>DELETE /rest/processes/bpel:f6cd66d1-f56f-11e6-9e62-b6cb536b3f52 HTTP/1.1
Accept: application/json
</code></pre>
<h4>Response:</h4>
<pre><code>HTTP/1.1 200 OK
bpel:f6cd66d1-f56f-11e6-9e62-b6cb536b3f52
</code></pre>]]></sdoc:description></wsdl:documentation>
    <shttp:operation location="/processes/{processKey}" method="DELETE" outputSerialization="text/plain"/>
      <wsdl:input>
    <shttp:input name="processKey" part="processKey" type="path"><wsdl:documentation><sdoc:description xmlns:sdoc="http://soa.com/wsdl/doc"><![CDATA[The process key]]></sdoc:description><sdoc:required xmlns:sdoc="http://soa.com/wsdl/doc">true</sdoc:required><sdoc:multiple xmlns:sdoc="http://soa.com/wsdl/doc">false</sdoc:multiple></wsdl:documentation></shttp:input>
      </wsdl:input>
      <wsdl:output>
    <shttp:output name="deleteProcessResponse" part="deleteProcessResponse" type="entity"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateProcess">
<wsdl:documentation><sdoc:displayName xmlns:sdoc="http://soa.com/wsdl/doc">PUT /processes/{processKey}</sdoc:displayName><sdoc:summary xmlns:sdoc="http://soa.com/wsdl/doc"><![CDATA[Updates a process]]></sdoc:summary><sdoc:description xmlns:sdoc="http://soa.com/wsdl/doc"><![CDATA[<p>Updates the given process.</p>
<h4>Request:</h4>
<pre><code>PUT /rest/processes/bpel:f6cd66d1-f56f-11e6-9e62-b6cb536b3f52 HTTP/1.1
Content-Type: application/json
Accept: application/json

{
"Name": "Aren Process updated",
"Description": "dddd",
"OrganizationKey": "uddi:e3d4ea51-f4ad-11e6-880d-9b52c44f1958",
"BpelProcessKey" : "bpel:f6cd66d1-f56f-11e6-9e62-b6cb536b3f52"
}
</code></pre>
<h4>Response:</h4>
<pre><code>HTTP/1.1 200 OK

{
"Name": "Aren Process updated",
"Description": "dddd",
"OrganizationKey": "uddi:e3d4ea51-f4ad-11e6-880d-9b52c44f1958",
"BpelProcessKey" : "bpel:f6cd66d1-f56f-11e6-9e62-b6cb536b3f52"
}
</code></pre>]]></sdoc:description></wsdl:documentation>
    <shttp:operation inputSerialization="application/json,application/xml,text/xml" location="/processes/{processKey}" method="PUT" outputSerialization="application/json,application/xml,text/xml"/>
      <wsdl:input>
    <shttp:input name="processKey" part="processKey" type="path"><wsdl:documentation><sdoc:description xmlns:sdoc="http://soa.com/wsdl/doc"><![CDATA[The process key]]></sdoc:description><sdoc:required xmlns:sdoc="http://soa.com/wsdl/doc">true</sdoc:required><sdoc:multiple xmlns:sdoc="http://soa.com/wsdl/doc">false</sdoc:multiple></wsdl:documentation></shttp:input>
    <shttp:input name="parameter0" part="parameter0" type="entity"><wsdl:documentation><sdoc:description xmlns:sdoc="http://soa.com/wsdl/doc"><![CDATA[The process]]></sdoc:description><sdoc:required xmlns:sdoc="http://soa.com/wsdl/doc">true</sdoc:required><sdoc:multiple xmlns:sdoc="http://soa.com/wsdl/doc">false</sdoc:multiple></wsdl:documentation></shttp:input>
      </wsdl:input>
      <wsdl:output>
    <shttp:output name="updateProcessResponse" part="updateProcessResponse" type="entity"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addProcess">
<wsdl:documentation><sdoc:displayName xmlns:sdoc="http://soa.com/wsdl/doc">POST /processes</sdoc:displayName><sdoc:summary xmlns:sdoc="http://soa.com/wsdl/doc"><![CDATA[Creates a process]]></sdoc:summary><sdoc:description xmlns:sdoc="http://soa.com/wsdl/doc"><![CDATA[<p>Adds the given process.</p>
<h4>Request:</h4>
<pre><code>POST /rest/processes HTTP/1.1
Content-Type: application/json
Accept: application/json

{
"Name": "Aren Process",
"Description": "dddd",
"OrganizationKey": "uddi:e3d4ea51-f4ad-11e6-880d-9b52c44f1958"
}
</code></pre>
<h4>Response:</h4>
<pre><code>HTTP/1.1 200 OK

{
"Name": "Aren Process",
"Description": "dddd",
"OrganizationKey": "uddi:e3d4ea51-f4ad-11e6-880d-9b52c44f1958",
"BpelProcessKey": "bpel:53f05434-0067-11e7-a7ce-d5bbd0b935f2"
}
</code></pre>]]></sdoc:description></wsdl:documentation>
    <shttp:operation inputSerialization="application/json,application/xml,text/xml" location="/processes" method="POST" outputSerialization="application/json,application/xml,text/xml"/>
      <wsdl:input>
    <shttp:input name="parameter0" part="parameter0" type="entity"><wsdl:documentation><sdoc:description xmlns:sdoc="http://soa.com/wsdl/doc"><![CDATA[The process]]></sdoc:description><sdoc:required xmlns:sdoc="http://soa.com/wsdl/doc">true</sdoc:required><sdoc:multiple xmlns:sdoc="http://soa.com/wsdl/doc">false</sdoc:multiple></wsdl:documentation></shttp:input>
      </wsdl:input>
      <wsdl:output>
    <shttp:output name="addProcessResponse" part="addProcessResponse" type="entity"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getProcess">
<wsdl:documentation><sdoc:displayName xmlns:sdoc="http://soa.com/wsdl/doc">GET /processes/{processKey}</sdoc:displayName><sdoc:description xmlns:sdoc="http://soa.com/wsdl/doc"><![CDATA[<p>Returns the process.</p>
<h4>Request:</h4>
<pre><code>GET /rest/processes/bpel:f6cd66d1-f56f-11e6-9e62-b6cb536b3f52 HTTP/1.1
Accept: application/json
</code></pre>
<h4>Response:</h4>
<pre><code>HTTP/1.1 200 OK

{
  "any" : {
    "process" : {
      "partnerLinks" : {
        "partnerLink" : [ {
          "otherAttributes" : {
          },
          "name" : "initial",
          "partnerLinkType" : "{http://demo.soa.com}borrowerProvider",
          "myRole" : "Provider"
        }, {
          "otherAttributes" : {
          },
          "name" : "nextHop",
          "partnerLinkType" : "{http://demo.soa.com}borrowerConsumer",
          "myRole" : "Consumer"
        } ],
        "otherAttributes" : {
        }
      },
      "variables" : {
        "variable" : [ {
          "name" : "message",
          "messageType" : "{http://soa.com/process/activity}ActivityMessage",
          "otherAttributes" : {
          }
        }, {
          "name" : "fault",
          "messageType" : "{http://soa.com/process/activity}ActivityMessage",
          "otherAttributes" : {
          }
        } ],
        "otherAttributes" : {
        }
      },
      "faultHandlers" : {
        "catchAll" : {
          "sequence" : {
            "activity" : [ {
              "reply" : {
                "otherAttributes" : {
                },
                "name" : "FaultReply",
                "partnerLink" : "initial",
                "portType" : "{http://demo.soa.com}borrower",
                "operation" : "listBorrowers",
                "variable" : "fault",
                "faultName" : "{http://soa.com/bpel/ext}ExistingFault"
              }
            } ],
            "otherAttributes" : {
            }
          },
          "otherAttributes" : {
          }
        },
        "otherAttributes" : {
        }
      },
      "sequence" : {
        "activity" : [ {
          "receive" : {
            "otherAttributes" : {
            },
            "name" : "Receive",
            "partnerLink" : "initial",
            "portType" : "{http://demo.soa.com}borrower",
            "operation" : "listBorrowers",
            "variable" : "message",
            "createInstance" : "yes"
          }
        }, {
          "invoke" : {
            "InvocationExt" : {
              "service" : "{http://demo.soa.com}RESTBorrower",
              "otherAttributes" : {
              }
            },
            "otherAttributes" : {
            },
            "name" : "Invoke",
            "partnerLink" : "nextHop",
            "portType" : "{http://demo.soa.com}borrower",
            "operation" : "listBorrowers",
            "inputVariable" : "message",
            "outputVariable" : "message"
          }
        }, {
          "reply" : {
            "otherAttributes" : {
            },
            "name" : "Reply",
            "partnerLink" : "initial",
            "portType" : "{http://demo.soa.com}borrower",
            "operation" : "listBorrowers",
            "variable" : "message"
          }
        } ],
        "otherAttributes" : {
        }
      },
      "partnerLinkType" : [ {
        "role" : [ {
          "portType" : {
            "name" : "{http://demo.soa.com}borrower"
          },
          "name" : "Provider"
        } ],
        "name" : "borrowerProvider"
      }, {
        "role" : [ {
          "portType" : {
            "name" : "{http://demo.soa.com}borrower"
          },
          "name" : "Consumer"
        } ],
        "name" : "borrowerConsumer"
      } ],
      "otherAttributes" : {
        "{http://soa.com/bpel/ext}processKey" : "bpel:f6cd66d1-f56f-11e6-9e62-b6cb536b3f52"
      },
      "name" : "listBorrowers",
      "targetNamespace" : "http://demo.soa.com"
    }
  },
  "BpelProcessKey" : "bpel:f6cd66d1-f56f-11e6-9e62-b6cb536b3f52"
}
</code></pre>]]></sdoc:description></wsdl:documentation>
    <shttp:operation location="/processes/{processKey}" method="GET" outputSerialization="application/json,application/xml,text/xml"/>
      <wsdl:input>
    <shttp:input name="processKey" part="processKey" type="path"><wsdl:documentation><sdoc:description xmlns:sdoc="http://soa.com/wsdl/doc"><![CDATA[The process key]]></sdoc:description><sdoc:required xmlns:sdoc="http://soa.com/wsdl/doc">true</sdoc:required><sdoc:multiple xmlns:sdoc="http://soa.com/wsdl/doc">false</sdoc:multiple></wsdl:documentation></shttp:input>
      </wsdl:input>
      <wsdl:output>
    <shttp:output name="getProcessResponse" part="getProcessResponse" type="entity"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getProcesses">
<wsdl:documentation><sdoc:displayName xmlns:sdoc="http://soa.com/wsdl/doc">GET /processes</sdoc:displayName><sdoc:description xmlns:sdoc="http://soa.com/wsdl/doc"><![CDATA[<p>Returns the processes for the given organization key.</p>
<h4>Request:</h4>
<pre><code>GET /rest/processes?organizationKey=uddi:e3d4ea51-f4ad-11e6-880d-9b52c44f1958 HTTP/1.1
Accept: application/json
</code></pre>
<h4>Response:</h4>
<pre><code>HTTP/1.1 200 OK

[ {
  "any" : {
    "process" : {
      "partnerLinks" : {
        "partnerLink" : [ {
          "otherAttributes" : {
          },
          "name" : "borrowerPartnerLink",
          "partnerLinkType" : "{http://soa.com/processs}borrowerConsumer",
          "myRole" : "Consumer"
        } ],
        "otherAttributes" : {
        }
      },
      "variables" : {
        "variable" : [ {
          "name" : "message",
          "messageType" : "{http://soa.com/process/activity}ActivityMessage",
          "otherAttributes" : {
          }
        }, {
          "name" : "fault",
          "messageType" : "{http://soa.com/process/activity}ActivityMessage",
          "otherAttributes" : {
          }
        } ],
        "otherAttributes" : {
        }
      },
      "faults" : {
        "otherAttributes" : {
        }
      },
      "sequence" : {
        "activity" : [ {
          "invoke" : {
            "InvocationExt" : {
              "IdentitySpec" : {
                "UseInboundIdentities" : true,
                "UseServiceIdentityForHTTPS" : false
              },
              "ParameterAssignments" : {
              },
              "service" : "{http://demo.soa.com}RESTBorrower",
              "otherAttributes" : {
              }
            },
            "otherAttributes" : {
            },
            "name" : "Invoke1",
            "partnerLink" : "borrowerPartnerLink",
            "portType" : "{http://demo.soa.com}borrower",
            "operation" : "listBorrowers",
            "inputVariable" : "message",
            "outputVariable" : "message"
          }
        }, {
          "reply" : {
            "otherAttributes" : {
            },
            "name" : "Reply1",
            "variable" : "message"
          }
        } ],
        "otherAttributes" : {
        }
      },
      "partnerLinkType" : {
        "role" : [ {
          "portType" : {
            "name" : "{http://demo.soa.com}borrower"
          },
          "name" : "Consumer"
        } ],
        "name" : "borrowerConsumer"
      },
      "otherAttributes" : {
        "{http://soa.com/bpel/ext}processKey" : "bpel:4c7eae8f-f578-11e6-a4d1-927c4aaab2be"
      },
      "name" : "p1",
      "targetNamespace" : "http://soa.com/processs"
    }
  },
  "BpelProcessKey" : "bpel:4c7eae8f-f578-11e6-a4d1-927c4aaab2be"
} ]
</code></pre>]]></sdoc:description></wsdl:documentation>
    <shttp:operation location="/processes" method="GET" outputSerialization="application/json,application/xml,text/xml"/>
      <wsdl:input>
    <shttp:input name="organizationKey" part="organizationKey" type="query"><wsdl:documentation><sdoc:description xmlns:sdoc="http://soa.com/wsdl/doc"><![CDATA[The organizationKey.]]></sdoc:description><sdoc:required xmlns:sdoc="http://soa.com/wsdl/doc">true</sdoc:required><sdoc:multiple xmlns:sdoc="http://soa.com/wsdl/doc">false</sdoc:multiple></wsdl:documentation></shttp:input>
      </wsdl:input>
      <wsdl:output>
    <shttp:output name="getProcessesResponse" part="getProcessesResponse" type="entity"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ProcessAPI">
<wsdl:documentation><sdoc:title xmlns:sdoc="http://soa.com/wsdl/doc">Process API</sdoc:title><sdoc:version xmlns:sdoc="http://soa.com/wsdl/doc">8.4.0</sdoc:version><sdoc:vendor xmlns:sdoc="http://soa.com/wsdl/doc">Rogue Wave Software</sdoc:vendor><sdoc:description xmlns:sdoc="http://soa.com/wsdl/doc"><![CDATA[<p>The API used to manage PM processes.</p>]]></sdoc:description></wsdl:documentation>
    <wsdl:port name="ProcessAPI_rest_port_https" binding="tns:ProcessAPIBinding">
    <shttp:address location="https://0.0.0.0/rest"/>
    </wsdl:port>
    <wsdl:port name="ProcessAPI_rest_port_http" binding="tns:ProcessAPIBinding">
    <shttp:address location="http://0.0.0.0/rest"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
