ag/assets/latest_api_plat/rest/api-platform/api-urn_com.soa.dropbox.api-DropboxApi.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="urn:com.soa.dropbox.api" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="urn:com.soa.dropbox.api" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:nms1="http://soa.com/xsd/dropbox/1.0" xmlns:shttp="http://soa.com/wsdl/http">
  <wsdl:types>
    <xs:schema elementFormDefault="qualified" targetNamespace="http://soa.com/xsd/dropbox/1.0" version="1.0" xmlns:tns="http://soa.com/xsd/dropbox/1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:element name="DropboxFileDetails"><xs:complexType><xs:sequence><xs:element minOccurs="0" name="FileName" type="xs:string"/><xs:element minOccurs="0" name="FileType" type="xs:string"/><xs:element minOccurs="0" name="DropboxFileId" type="xs:long"/><xs:element maxOccurs="unbounded" minOccurs="0" ref="tns:ServiceDescriptorDocument"/><xs:element maxOccurs="unbounded" minOccurs="0" name="ZipFileEntry" type="xs:string"/></xs:sequence></xs:complexType></xs:element>
<xs:element name="ServiceDescriptorDocument"><xs:complexType><xs:sequence><xs:element name="FileName" type="xs:string"/><xs:element name="DescriptorType" type="xs:string"/><xs:element maxOccurs="unbounded" minOccurs="0" name="ServiceName" type="xs:string"/></xs:sequence></xs:complexType></xs:element>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="readFileDetailsResponseMessage">
    <wsdl:part name="readFileDetailsResponse" element="nms1:DropboxFileDetails">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="cropPictureRequestMessage">
    <wsdl:part name="pictureId" type="xs:long">
    </wsdl:part>
    <wsdl:part name="x" type="xs:long">
    </wsdl:part>
    <wsdl:part name="y" type="xs:long">
    </wsdl:part>
    <wsdl:part name="w" type="xs:long">
    </wsdl:part>
    <wsdl:part name="h" type="xs:long">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="addPictureRequestMessage">
    <wsdl:part name="parameter0" type="tns:BufferedInMultiPart">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getPictureRequestMessage">
    <wsdl:part name="pictureId" type="xs:long">
    </wsdl:part>
    <wsdl:part name="size" type="xs:integer">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="addPictureResponseMessage">
    <wsdl:part name="addPictureResponse" type="xs:string">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="readUrlRequestMessage">
    <wsdl:part name="FileUrl" type="xs:string">
    </wsdl:part>
    <wsdl:part name="userName" type="xs:string">
    </wsdl:part>
    <wsdl:part name="password" type="xs:string">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="readZipFileDetailsRequestMessage">
    <wsdl:part name="dropboxFileId" type="xs:long">
    </wsdl:part>
    <wsdl:part name="zipFileEntry" type="xs:string">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="readWsdlResponseMessage">
    <wsdl:part element="xs:any">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="readWsdlZipRequestMessage">
    <wsdl:part name="parameter0" type="tns:BufferedInMultiPart">
    </wsdl:part>
    <wsdl:part name="FileName" type="xs:string">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="readFileDetailsRequestMessage">
    <wsdl:part name="parameter0" type="tns:BufferedInMultiPart">
    </wsdl:part>
    <wsdl:part name="FileName" type="xs:string">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="cropPictureResponseMessage">
    <wsdl:part element="xs:any">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="readWsdlRequestMessage">
    <wsdl:part name="wsdlUrl" type="xs:string">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getPictureResponseMessage">
    <wsdl:part element="xs:any">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="readUrlResponseMessage">
    <wsdl:part name="readUrlResponse" element="nms1:DropboxFileDetails">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="readWsdlZipResponseMessage">
    <wsdl:part element="xs:any">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="readZipFileDetailsResponseMessage">
    <wsdl:part name="readZipFileDetailsResponse" element="nms1:DropboxFileDetails">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="DropboxApiPortType">
    <wsdl:operation name="getPicture">
      <wsdl:input message="tns:getPictureRequestMessage">
    </wsdl:input>
      <wsdl:output message="tns:getPictureResponseMessage">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addPicture">
      <wsdl:input message="tns:addPictureRequestMessage">
    </wsdl:input>
      <wsdl:output message="tns:addPictureResponseMessage">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="readWsdlZip">
      <wsdl:input message="tns:readWsdlZipRequestMessage">
    </wsdl:input>
      <wsdl:output message="tns:readWsdlZipResponseMessage">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="readFileDetails">
      <wsdl:input message="tns:readFileDetailsRequestMessage">
    </wsdl:input>
      <wsdl:output message="tns:readFileDetailsResponseMessage">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="cropPicture">
      <wsdl:input message="tns:cropPictureRequestMessage">
    </wsdl:input>
      <wsdl:output message="tns:cropPictureResponseMessage">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="readZipFileDetails">
      <wsdl:input message="tns:readZipFileDetailsRequestMessage">
    </wsdl:input>
      <wsdl:output message="tns:readZipFileDetailsResponseMessage">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="readWsdl">
      <wsdl:input message="tns:readWsdlRequestMessage">
    </wsdl:input>
      <wsdl:output message="tns:readWsdlResponseMessage">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="readUrl">
      <wsdl:input message="tns:readUrlRequestMessage">
    </wsdl:input>
      <wsdl:output message="tns:readUrlResponseMessage">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="DropboxApiBinding" type="tns:DropboxApiPortType">
    <shttp:binding/>
    <wsdl:operation name="getPicture">
<wsdl:documentation><sdoc:displayName xmlns:sdoc="http://soa.com/wsdl/doc">GET /dropbox/pictures/{pictureId}</sdoc:displayName></wsdl:documentation>
    <shttp:operation inputSerialization="*/*" location="/dropbox/pictures/{pictureId}" method="GET" outputSerialization="image/jpeg"/>
      <wsdl:input>
    <shttp:input name="pictureId" part="pictureId" type="path"/>
    <shttp:input name="size" part="size" type="query"/>
      </wsdl:input>
      <wsdl:output>
    <shttp:output name="" part="" type="entity"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addPicture">
<wsdl:documentation><sdoc:displayName xmlns:sdoc="http://soa.com/wsdl/doc">POST /dropbox/pictures</sdoc:displayName></wsdl:documentation>
    <shttp:operation inputSerialization="multipart/form-data" location="/dropbox/pictures" method="POST" outputSerialization="text/plain"/>
      <wsdl:input>
    <shttp:input name="parameter0" part="parameter0" type="entity"/>
      </wsdl:input>
      <wsdl:output>
    <shttp:output name="addPictureResponse" part="addPictureResponse" type="entity"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="readWsdlZip">
<wsdl:documentation><sdoc:displayName xmlns:sdoc="http://soa.com/wsdl/doc">POST /dropbox/wsdls</sdoc:displayName></wsdl:documentation>
    <shttp:operation inputSerialization="multipart/form-data" location="/dropbox/wsdls" method="POST" outputSerialization="text/plain"/>
      <wsdl:input>
    <shttp:input name="parameter0" part="parameter0" type="entity"/>
    <shttp:input name="FileName" part="FileName" type="form"/>
      </wsdl:input>
      <wsdl:output>
    <shttp:output name="" part="" type="entity"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="readFileDetails">
<wsdl:documentation><sdoc:displayName xmlns:sdoc="http://soa.com/wsdl/doc">POST /dropbox/readfiledetails</sdoc:displayName></wsdl:documentation>
    <shttp:operation inputSerialization="multipart/form-data" location="/dropbox/readfiledetails" method="POST" outputSerialization="application/json,application/vnd.soa.v81+json"/>
      <wsdl:input>
    <shttp:input name="parameter0" part="parameter0" type="entity"/>
    <shttp:input name="FileName" part="FileName" type="form"/>
      </wsdl:input>
      <wsdl:output>
    <shttp:output name="readFileDetailsResponse" part="readFileDetailsResponse" type="entity"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="cropPicture">
<wsdl:documentation><sdoc:displayName xmlns:sdoc="http://soa.com/wsdl/doc">PUT /dropbox/pictures/{pictureId}</sdoc:displayName></wsdl:documentation>
    <shttp:operation inputSerialization="application/x-www-form-urlencoded" location="/dropbox/pictures/{pictureId}" method="PUT" outputSerialization="application/json,application/vnd.soa.v71+json,application/vnd.soa.v72+json,application/vnd.soa.v80+json,application/vnd.soa.v81+json"/>
      <wsdl:input>
    <shttp:input name="pictureId" part="pictureId" type="path"/>
    <shttp:input name="x" part="x" type="form"/>
    <shttp:input name="y" part="y" type="form"/>
    <shttp:input name="w" part="w" type="form"/>
    <shttp:input name="h" part="h" type="form"/>
      </wsdl:input>
      <wsdl:output>
    <shttp:output name="" part="" type="entity"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="readZipFileDetails">
<wsdl:documentation><sdoc:displayName xmlns:sdoc="http://soa.com/wsdl/doc">GET /dropbox/readfiledetails</sdoc:displayName></wsdl:documentation>
    <shttp:operation inputSerialization="*/*" location="/dropbox/readfiledetails" method="GET" outputSerialization="application/json,application/vnd.soa.v81+json"/>
      <wsdl:input>
    <shttp:input name="dropboxFileId" part="dropboxFileId" type="query"/>
    <shttp:input name="zipFileEntry" part="zipFileEntry" type="query"/>
      </wsdl:input>
      <wsdl:output>
    <shttp:output name="readZipFileDetailsResponse" part="readZipFileDetailsResponse" type="entity"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="readWsdl">
<wsdl:documentation><sdoc:displayName xmlns:sdoc="http://soa.com/wsdl/doc">GET /dropbox/wsdls</sdoc:displayName></wsdl:documentation>
    <shttp:operation inputSerialization="*/*" location="/dropbox/wsdls" method="GET" outputSerialization="text/plain"/>
      <wsdl:input>
    <shttp:input name="wsdlUrl" part="wsdlUrl" type="query"/>
      </wsdl:input>
      <wsdl:output>
    <shttp:output name="" part="" type="entity"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="readUrl">
<wsdl:documentation><sdoc:displayName xmlns:sdoc="http://soa.com/wsdl/doc">POST /dropbox/readurl</sdoc:displayName></wsdl:documentation>
    <shttp:operation inputSerialization="application/x-www-form-urlencoded" location="/dropbox/readurl" method="POST" outputSerialization="application/json,application/vnd.soa.v81+json"/>
      <wsdl:input>
    <shttp:input name="FileUrl" part="FileUrl" type="form"/>
    <shttp:input name="userName" part="userName" type="form"/>
    <shttp:input name="password" part="password" type="form"/>
      </wsdl:input>
      <wsdl:output>
    <shttp:output name="readUrlResponse" part="readUrlResponse" type="entity"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DropboxApi">
<wsdl:documentation><sdoc:title xmlns:sdoc="http://soa.com/wsdl/doc">Dropbox API</sdoc:title><sdoc:description xmlns:sdoc="http://soa.com/wsdl/doc"><![CDATA[<p>The Dropbox service provides operations for uploading images to the Akana API Platform, to support operations that create or modify resources that might include an image, such as user profiles.</p>]]></sdoc:description></wsdl:documentation>
    <wsdl:port name="DropboxApi_rest_port_http" binding="tns:DropboxApiBinding">
    <shttp:address location="http://0.0.0.0/api"/>
    </wsdl:port>
    <wsdl:port name="DropboxApi_rest_port_https" binding="tns:DropboxApiBinding">
    <shttp:address location="https://0.0.0.0/api"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
