ag/assets/latest_api_plat/rest/api-platform/api-urn_com.soa.tags.impl-TagsAPI.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="urn:com.soa.tags.impl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="urn:com.soa.tags.impl" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:nms1="http://soa.com/xsd/tag/1.0" xmlns:shttp="http://soa.com/wsdl/http">
  <wsdl:types>
    <xs:schema elementFormDefault="qualified" targetNamespace="http://soa.com/xsd/tag/1.0" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:element name="Tags"><xs:complexType><xs:sequence><xs:element maxOccurs="unbounded" minOccurs="0" name="Tag" type="xs:string"/></xs:sequence></xs:complexType></xs:element>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="searchTagsRequestMessage">
    <wsdl:part name="q" type="xs:string">
    </wsdl:part>
    <wsdl:part name="count" type="xs:integer">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="searchTagsResponseMessage">
    <wsdl:part name="searchTagsResponse" element="nms1:Tags">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="TagsAPIPortType">
    <wsdl:operation name="searchTags">
      <wsdl:input message="tns:searchTagsRequestMessage">
    </wsdl:input>
      <wsdl:output message="tns:searchTagsResponseMessage">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="TagsAPIBinding" type="tns:TagsAPIPortType">
    <shttp:binding/>
    <wsdl:operation name="searchTags">
<wsdl:documentation><sdoc:displayName xmlns:sdoc="http://soa.com/wsdl/doc">GET /tags</sdoc:displayName></wsdl:documentation>
    <shttp:operation location="/tags" method="GET" outputSerialization="application/json,application/vnd.soa.v71+json,application/vnd.soa.v72+json,application/vnd.soa.v80+json,application/vnd.soa.v81+json"/>
      <wsdl:input>
    <shttp:input name="q" part="q" type="query"/>
    <shttp:input name="count" part="count" type="query"/>
      </wsdl:input>
      <wsdl:output>
    <shttp:output name="searchTagsResponse" part="searchTagsResponse" type="entity"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="TagsAPI">
<wsdl:documentation><sdoc:title xmlns:sdoc="http://soa.com/wsdl/doc">Tags API</sdoc:title><sdoc:description xmlns:sdoc="http://soa.com/wsdl/doc"><![CDATA[<p>The Tags service includes operations that can be used to provide autocomplete help to users typing in the user interface.</p>]]></sdoc:description></wsdl:documentation>
    <wsdl:port name="TagsAPI_rest_port_http" binding="tns:TagsAPIBinding">
    <shttp:address location="http://0.0.0.0/api"/>
    </wsdl:port>
    <wsdl:port name="TagsAPI_rest_port_https" binding="tns:TagsAPIBinding">
    <shttp:address location="https://0.0.0.0/api"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
