ag/assets/latest_api_plat/rest/api-platform/api-urn_com.soa.securitydomain.api-SecurityDomainAPI.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="urn:com.soa.securitydomain.api" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="urn:com.soa.securitydomain.api" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:nms2="http://soa.com/xsd/securitydomain/1.0" xmlns:nms1="urn:org.apache.wink.common.model.rss" xmlns:shttp="http://soa.com/wsdl/http">
  <wsdl:types>
    <xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:element name="category" nillable="true" type="rssCategory"/>
<xs:element name="channel" nillable="true" type="rssChannel"/>
<xs:element name="cloud" nillable="true" type="rssCloud"/>
<xs:element name="enclosure" nillable="true" type="rssEnclosure"/>
<xs:element name="guid" nillable="true" type="rssGuid"/>
<xs:element name="image" nillable="true" type="rssImage"/>
<xs:element name="item" nillable="true" type="rssItem"/>
<xs:element name="rss"><xs:complexType><xs:sequence><xs:element name="channel" type="rssChannel"/></xs:sequence><xs:attribute name="version" type="xs:string" use="required"/></xs:complexType></xs:element>
<xs:element name="skipDays" nillable="true" type="rssSkipDays"/>
<xs:element name="skipHours" nillable="true" type="rssSkipHours"/>
<xs:element name="source" nillable="true" type="rssSource"/>
<xs:element name="textInput" nillable="true" type="rssTextInput"/>
<xs:complexType name="rssImage"><xs:all><xs:element name="url" type="xs:string"/><xs:element name="title" type="xs:string"/><xs:element name="link" type="xs:anyURI"/><xs:element default="88" minOccurs="0" name="width" type="xs:int"/><xs:element default="31" minOccurs="0" name="height" type="xs:int"/><xs:element minOccurs="0" name="description" type="xs:string"/></xs:all></xs:complexType>
<xs:complexType name="rssSkipDays"><xs:sequence><xs:element maxOccurs="unbounded" minOccurs="0" name="day" nillable="true" type="xs:string"/></xs:sequence></xs:complexType>
<xs:complexType name="rssChannel"><xs:all><xs:element name="title" type="xs:string"/><xs:element name="link" type="xs:anyURI"/><xs:element name="description" type="xs:string"/><xs:element minOccurs="0" name="language" type="xs:string"/><xs:element minOccurs="0" name="copyright" type="xs:string"/><xs:element minOccurs="0" name="managingEditor" type="xs:string"/><xs:element minOccurs="0" name="webMaster" type="xs:string"/><xs:element minOccurs="0" name="pubDate" type="xs:string"/><xs:element minOccurs="0" name="lastBuildDate" type="xs:string"/><xs:element maxOccurs="unbounded" minOccurs="0" name="category" nillable="true" type="rssCategory"/><xs:element minOccurs="0" name="generator" type="xs:string"/><xs:element minOccurs="0" name="docs" type="xs:anyURI"/><xs:element minOccurs="0" name="cloud" type="rssCloud"/><xs:element minOccurs="0" name="ttl" type="xs:int"/><xs:element minOccurs="0" name="image" type="rssImage"/><xs:element minOccurs="0" name="rating" type="xs:string"/><xs:element minOccurs="0" name="textInput" type="rssTextInput"/><xs:element minOccurs="0" name="skipHours" type="rssSkipHours"/><xs:element minOccurs="0" name="skipDays" type="rssSkipDays"/><xs:any maxOccurs="unbounded" minOccurs="0" namespace="##other" processContents="lax"/><xs:element maxOccurs="unbounded" minOccurs="0" name="item" nillable="true" type="rssItem"/></xs:all></xs:complexType>
<xs:complexType name="rssCategory"><xs:simpleContent><xs:extension base="xs:string"><xs:attribute name="domain" type="xs:string"/></xs:extension></xs:simpleContent></xs:complexType>
<xs:complexType name="rssCloud"><xs:sequence/><xs:attribute name="domain" type="xs:string" use="required"/><xs:attribute name="port" type="xs:int" use="required"/><xs:attribute name="path" type="xs:string" use="required"/><xs:attribute name="registerProcedure" type="xs:string" use="required"/><xs:attribute name="protocol" type="xs:string" use="required"/></xs:complexType>
<xs:complexType name="rssTextInput"><xs:all><xs:element name="title" type="xs:string"/><xs:element name="description" type="xs:string"/><xs:element name="name" type="xs:string"/><xs:element name="link" type="xs:anyURI"/></xs:all></xs:complexType>
<xs:complexType name="rssSkipHours"><xs:sequence><xs:element maxOccurs="unbounded" minOccurs="0" name="hour" nillable="true" type="xs:string"/></xs:sequence></xs:complexType>
<xs:complexType name="rssSource"><xs:simpleContent><xs:extension base="xs:string"><xs:attribute name="url" type="xs:string" use="required"/></xs:extension></xs:simpleContent></xs:complexType>
<xs:complexType name="rssEnclosure"><xs:sequence/><xs:attribute name="url" type="xs:string" use="required"/><xs:attribute name="length" type="xs:string" use="required"/><xs:attribute name="type" type="xs:string" use="required"/></xs:complexType>
<xs:complexType name="rssGuid"><xs:simpleContent><xs:extension base="xs:string"><xs:attribute name="isPermaLink" type="xs:boolean"/></xs:extension></xs:simpleContent></xs:complexType>
<xs:complexType name="rssItem"><xs:all><xs:element minOccurs="0" name="title" type="xs:string"/><xs:element minOccurs="0" name="link" type="xs:anyURI"/><xs:element minOccurs="0" name="description" type="xs:string"/><xs:element minOccurs="0" name="author" type="xs:string"/><xs:element maxOccurs="unbounded" minOccurs="0" name="category" nillable="true" type="rssCategory"/><xs:element minOccurs="0" name="comments" type="xs:anyURI"/><xs:element minOccurs="0" name="enclosure" type="rssEnclosure"/><xs:element minOccurs="0" name="guid" type="rssGuid"/><xs:element name="pubDate" type="xs:string"/><xs:element minOccurs="0" name="source" type="rssSource"/><xs:any maxOccurs="unbounded" minOccurs="0" namespace="##other" processContents="lax"/></xs:all></xs:complexType>
</xs:schema>
    <xs:schema elementFormDefault="qualified" targetNamespace="http://soa.com/xsd/securitydomain/1.0" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:complexType name="SecurityDomain"><xs:sequence><xs:element name="Name" type="xs:string"/><xs:element minOccurs="0" name="Description" type="xs:string"/><xs:element name="IdentitySystemType" type="xs:string"/><xs:element name="DomainConfiguration" type="xs:string"/></xs:sequence></xs:complexType>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="getSecurityDomainRequestMessage">
    <wsdl:part name="DomainID" type="xs:string">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="updateSecurityDomainResponseMessage">
    <wsdl:part name="updateSecurityDomainResponse" type="xs:string">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getSecurityDomainOAuthProviderConfigRequestMessage">
    <wsdl:part name="DomainID" type="xs:string">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="deleteSecurityDomainResponseMessage">
    <wsdl:part name="deleteSecurityDomainResponse" type="xs:string">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="addSecurityDomainRequestMessage">
    <wsdl:part name="parameter0" type="nms2:SecurityDomain">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getDomainResourceRequestMessage">
    <wsdl:part name="DomainID" type="xs:string">
    </wsdl:part>
    <wsdl:part name="Resource" type="xs:string">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="deleteSecurityDomainRequestMessage">
    <wsdl:part name="DomainID" type="xs:string">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getSecurityDomainOAuthProviderConfigResponseMessage">
    <wsdl:part element="xs:any">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="saveDomainResourceResponseMessage">
    <wsdl:part name="saveDomainResourceResponse" type="xs:string">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="addSecurityDomainResponseMessage">
    <wsdl:part name="addSecurityDomainResponse" type="xs:string">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="saveDomainResourceRequestMessage">
    <wsdl:part name="DomainID" type="xs:string">
    </wsdl:part>
    <wsdl:part name="Resource" type="xs:string">
    </wsdl:part>
    <wsdl:part name="DropBoxEntryID" type="xs:long">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getSecurityDomainResponseMessage">
    <wsdl:part element="xs:any">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getSecurityDomainsResponseMessage">
    <wsdl:part name="getSecurityDomainsResponse" element="tns:rss">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getSecurityDomainsRequestMessage">
    <wsdl:part name="DomainType" type="xs:string">
    </wsdl:part>
    <wsdl:part name="SupportsLoginProcess" type="xs:string">
    </wsdl:part>
    <wsdl:part name="SupportsInteractiveAuth" type="xs:string">
    </wsdl:part>
    <wsdl:part name="SupportsAuth" type="xs:string">
    </wsdl:part>
    <wsdl:part name="SupportsAuthorization" type="xs:string">
    </wsdl:part>
    <wsdl:part name="SupportsIdBrowse" type="xs:string">
    </wsdl:part>
    <wsdl:part name="IncludeRegistryDomains" type="xs:boolean">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getDomainResourceResponseMessage">
  </wsdl:message>
  <wsdl:message name="updateSecurityDomainRequestMessage">
    <wsdl:part name="DomainID" type="xs:string">
    </wsdl:part>
    <wsdl:part name="parameter0" type="nms2:SecurityDomain">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="SecurityDomainAPIPortType">
    <wsdl:operation name="getSecurityDomains">
      <wsdl:input message="tns:getSecurityDomainsRequestMessage">
    </wsdl:input>
      <wsdl:output message="tns:getSecurityDomainsResponseMessage">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addSecurityDomain">
      <wsdl:input message="tns:addSecurityDomainRequestMessage">
    </wsdl:input>
      <wsdl:output message="tns:addSecurityDomainResponseMessage">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getSecurityDomain">
      <wsdl:input message="tns:getSecurityDomainRequestMessage">
    </wsdl:input>
      <wsdl:output message="tns:getSecurityDomainResponseMessage">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getSecurityDomainOAuthProviderConfig">
      <wsdl:input message="tns:getSecurityDomainOAuthProviderConfigRequestMessage">
    </wsdl:input>
      <wsdl:output message="tns:getSecurityDomainOAuthProviderConfigResponseMessage">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateSecurityDomain">
      <wsdl:input message="tns:updateSecurityDomainRequestMessage">
    </wsdl:input>
      <wsdl:output message="tns:updateSecurityDomainResponseMessage">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="saveDomainResource">
      <wsdl:input message="tns:saveDomainResourceRequestMessage">
    </wsdl:input>
      <wsdl:output message="tns:saveDomainResourceResponseMessage">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getDomainResource">
      <wsdl:input message="tns:getDomainResourceRequestMessage">
    </wsdl:input>
      <wsdl:output message="tns:getDomainResourceResponseMessage">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteSecurityDomain">
      <wsdl:input message="tns:deleteSecurityDomainRequestMessage">
    </wsdl:input>
      <wsdl:output message="tns:deleteSecurityDomainResponseMessage">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SecurityDomainAPIBinding" type="tns:SecurityDomainAPIPortType">
    <shttp:binding/>
    <wsdl:operation name="getSecurityDomains">
<wsdl:documentation><sdoc:displayName xmlns:sdoc="http://soa.com/wsdl/doc">GET /securitydomains</sdoc:displayName></wsdl:documentation>
    <shttp:operation location="/securitydomains" method="GET" outputSerialization="text/xml,application/json,application/vnd.soa.v71+json,application/vnd.soa.v72+json,application/vnd.soa.v80+json,application/vnd.soa.v71+xml,application/vnd.soa.v72+xml,application/vnd.soa.v80+xml,application/vnd.soa.v81+json,application/vnd.soa.v81+xml"/>
      <wsdl:input>
    <shttp:input name="DomainType" part="DomainType" type="query"/>
    <shttp:input name="SupportsLoginProcess" part="SupportsLoginProcess" type="query"/>
    <shttp:input name="SupportsInteractiveAuth" part="SupportsInteractiveAuth" type="query"/>
    <shttp:input name="SupportsAuth" part="SupportsAuth" type="query"/>
    <shttp:input name="SupportsAuthorization" part="SupportsAuthorization" type="query"/>
    <shttp:input name="SupportsIdBrowse" part="SupportsIdBrowse" type="query"/>
    <shttp:input name="IncludeRegistryDomains" part="IncludeRegistryDomains" type="query"/>
      </wsdl:input>
      <wsdl:output>
    <shttp:output name="getSecurityDomainsResponse" part="getSecurityDomainsResponse" type="entity"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addSecurityDomain">
<wsdl:documentation><sdoc:displayName xmlns:sdoc="http://soa.com/wsdl/doc">POST /securitydomains</sdoc:displayName></wsdl:documentation>
    <shttp:operation inputSerialization="application/json,application/vnd.soa.v71+json,application/vnd.soa.v72+json,application/vnd.soa.v80+json,application/vnd.soa.v81+json" location="/securitydomains" method="POST" outputSerialization="text/plain"/>
      <wsdl:input>
    <shttp:input name="parameter0" part="parameter0" type="entity"/>
      </wsdl:input>
      <wsdl:output>
    <shttp:output name="addSecurityDomainResponse" part="addSecurityDomainResponse" type="entity"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getSecurityDomain">
<wsdl:documentation><sdoc:displayName xmlns:sdoc="http://soa.com/wsdl/doc">GET /securitydomains/{DomainID}</sdoc:displayName></wsdl:documentation>
    <shttp:operation location="/securitydomains/{DomainID}" method="GET" outputSerialization="application/json,application/vnd.soa.v71+json,application/vnd.soa.v72+json,application/vnd.soa.v80+json,application/vnd.soa.v81+json"/>
      <wsdl:input>
    <shttp:input name="DomainID" part="DomainID" type="path"/>
      </wsdl:input>
      <wsdl:output>
    <shttp:output name="" part="" type="entity"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getSecurityDomainOAuthProviderConfig">
<wsdl:documentation><sdoc:displayName xmlns:sdoc="http://soa.com/wsdl/doc">GET /securitydomains/{DomainID}/oauthproviderconfig</sdoc:displayName></wsdl:documentation>
    <shttp:operation location="/securitydomains/{DomainID}/oauthproviderconfig" method="GET" outputSerialization="application/json,application/vnd.soa.v71+json,application/vnd.soa.v72+json,application/vnd.soa.v80+json,application/vnd.soa.v81+json"/>
      <wsdl:input>
    <shttp:input name="DomainID" part="DomainID" type="path"/>
      </wsdl:input>
      <wsdl:output>
    <shttp:output name="" part="" type="entity"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateSecurityDomain">
<wsdl:documentation><sdoc:displayName xmlns:sdoc="http://soa.com/wsdl/doc">PUT /securitydomains/{DomainID}</sdoc:displayName></wsdl:documentation>
    <shttp:operation inputSerialization="application/json,application/vnd.soa.v71+json,application/vnd.soa.v72+json,application/vnd.soa.v80+json,application/vnd.soa.v81+json" location="/securitydomains/{DomainID}" method="PUT" outputSerialization="text/plain"/>
      <wsdl:input>
    <shttp:input name="DomainID" part="DomainID" type="path"/>
    <shttp:input name="parameter0" part="parameter0" type="entity"/>
      </wsdl:input>
      <wsdl:output>
    <shttp:output name="updateSecurityDomainResponse" part="updateSecurityDomainResponse" type="entity"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="saveDomainResource">
<wsdl:documentation><sdoc:displayName xmlns:sdoc="http://soa.com/wsdl/doc">PUT /securitydomains/{DomainID}/resources/{Resource}</sdoc:displayName></wsdl:documentation>
    <shttp:operation inputSerialization="application/x-www-form-urlencoded" location="/securitydomains/{DomainID}/resources/{Resource}" method="PUT"/>
      <wsdl:input>
    <shttp:input name="DomainID" part="DomainID" type="path"/>
    <shttp:input name="Resource" part="Resource" type="path"/>
    <shttp:input name="DropBoxEntryID" part="DropBoxEntryID" type="form"/>
      </wsdl:input>
      <wsdl:output>
    <shttp:output name="saveDomainResourceResponse" part="saveDomainResourceResponse" type="entity"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getDomainResource">
<wsdl:documentation><sdoc:displayName xmlns:sdoc="http://soa.com/wsdl/doc">GET /securitydomains/{DomainID}/resources/{Resource}</sdoc:displayName></wsdl:documentation>
    <shttp:operation location="/securitydomains/{DomainID}/resources/{Resource}" method="GET" outputSerialization="image/jpeg"/>
      <wsdl:input>
    <shttp:input name="DomainID" part="DomainID" type="path"/>
    <shttp:input name="Resource" part="Resource" type="path"/>
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="deleteSecurityDomain">
<wsdl:documentation><sdoc:displayName xmlns:sdoc="http://soa.com/wsdl/doc">DELETE /securitydomains/{DomainID}</sdoc:displayName></wsdl:documentation>
    <shttp:operation location="/securitydomains/{DomainID}" method="DELETE" outputSerialization="text/plain"/>
      <wsdl:input>
    <shttp:input name="DomainID" part="DomainID" type="path"/>
      </wsdl:input>
      <wsdl:output>
    <shttp:output name="deleteSecurityDomainResponse" part="deleteSecurityDomainResponse" type="entity"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SecurityDomainAPI">
<wsdl:documentation><sdoc:title xmlns:sdoc="http://soa.com/wsdl/doc">Security Domain API</sdoc:title><sdoc:description xmlns:sdoc="http://soa.com/wsdl/doc"><![CDATA[<p>This API allows security domains to be queried and manipulated.</p>]]></sdoc:description></wsdl:documentation>
    <wsdl:port name="SecurityDomainAPI_rest_port_https" binding="tns:SecurityDomainAPIBinding">
    <shttp:address location="https://0.0.0.0/api"/>
    </wsdl:port>
    <wsdl:port name="SecurityDomainAPI_rest_port_http" binding="tns:SecurityDomainAPIBinding">
    <shttp:address location="http://0.0.0.0/api"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
