ag/assets/latest_api_plat/rest/api-platform/api-http___soa.com_uri_products_metadataservice_wsdl_1.0-GetMetadataService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://soa.com/uri/products/metadataservice/wsdl/1.0" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://soa.com/uri/products/metadataservice/wsdl/1.0" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:shttp="http://soa.com/wsdl/http">
  <wsdl:message name="getSchemaRequestMessage">
    <wsdl:part name="resourceId" type="xs:string">
    </wsdl:part>
    <wsdl:part name="key" type="xs:string">
    </wsdl:part>
    <wsdl:part name="name" type="xs:string">
    </wsdl:part>
    <wsdl:part name="search" type="xs:string">
    </wsdl:part>
    <wsdl:part name="tag" type="xs:string">
    </wsdl:part>
    <wsdl:part name="type" type="xs:string">
    </wsdl:part>
    <wsdl:part name="version" type="xs:string">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getScriptResponseMessage">
    <wsdl:part element="xs:any">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getBPELRequestMessage">
    <wsdl:part name="resourceId" type="xs:string">
    </wsdl:part>
    <wsdl:part name="key" type="xs:string">
    </wsdl:part>
    <wsdl:part name="name" type="xs:string">
    </wsdl:part>
    <wsdl:part name="search" type="xs:string">
    </wsdl:part>
    <wsdl:part name="tag" type="xs:string">
    </wsdl:part>
    <wsdl:part name="type" type="xs:string">
    </wsdl:part>
    <wsdl:part name="version" type="xs:string">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getSchemaResponseMessage">
    <wsdl:part element="xs:any">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getScriptRequestMessage">
    <wsdl:part name="resourceId" type="xs:string">
    </wsdl:part>
    <wsdl:part name="key" type="xs:string">
    </wsdl:part>
    <wsdl:part name="name" type="xs:string">
    </wsdl:part>
    <wsdl:part name="search" type="xs:string">
    </wsdl:part>
    <wsdl:part name="tag" type="xs:string">
    </wsdl:part>
    <wsdl:part name="type" type="xs:string">
    </wsdl:part>
    <wsdl:part name="version" type="xs:string">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getBPELResponseMessage">
    <wsdl:part element="xs:any">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="MetadataServicePortType">
    <wsdl:operation name="getBPEL">
      <wsdl:input message="tns:getBPELRequestMessage">
    </wsdl:input>
      <wsdl:output message="tns:getBPELResponseMessage">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getSchema">
      <wsdl:input message="tns:getSchemaRequestMessage">
    </wsdl:input>
      <wsdl:output message="tns:getSchemaResponseMessage">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getScript">
      <wsdl:input message="tns:getScriptRequestMessage">
    </wsdl:input>
      <wsdl:output message="tns:getScriptResponseMessage">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="MetadataServiceBinding" type="tns:MetadataServicePortType">
    <shttp:binding/>
    <wsdl:operation name="getBPEL">
<wsdl:documentation><sdoc:displayName xmlns:sdoc="http://soa.com/wsdl/doc">GET /bpels/{resourceId:.+}</sdoc:displayName></wsdl:documentation>
    <shttp:operation location="/bpels/{resourceId:.+}" method="GET" outputSerialization="application/xml"/>
      <wsdl:input>
    <shttp:input name="resourceId" part="resourceId" type="path"/>
    <shttp:input name="key" part="key" type="query"/>
    <shttp:input name="name" part="name" type="query"/>
    <shttp:input name="search" part="search" type="query"/>
    <shttp:input name="tag" part="tag" type="query"/>
    <shttp:input name="type" part="type" type="query"/>
    <shttp:input name="version" part="version" type="query"/>
      </wsdl:input>
      <wsdl:output>
    <shttp:output name="" part="" type="entity"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getSchema">
<wsdl:documentation><sdoc:displayName xmlns:sdoc="http://soa.com/wsdl/doc">GET /schemas/{resourceId:.+}</sdoc:displayName></wsdl:documentation>
    <shttp:operation location="/schemas/{resourceId:.+}" method="GET" outputSerialization="application/xml"/>
      <wsdl:input>
    <shttp:input name="resourceId" part="resourceId" type="path"/>
    <shttp:input name="key" part="key" type="query"/>
    <shttp:input name="name" part="name" type="query"/>
    <shttp:input name="search" part="search" type="query"/>
    <shttp:input name="tag" part="tag" type="query"/>
    <shttp:input name="type" part="type" type="query"/>
    <shttp:input name="version" part="version" type="query"/>
      </wsdl:input>
      <wsdl:output>
    <shttp:output name="" part="" type="entity"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getScript">
<wsdl:documentation><sdoc:displayName xmlns:sdoc="http://soa.com/wsdl/doc">GET /scripts/{resourceId:.+}</sdoc:displayName></wsdl:documentation>
    <shttp:operation location="/scripts/{resourceId:.+}" method="GET" outputSerialization="application/xml"/>
      <wsdl:input>
    <shttp:input name="resourceId" part="resourceId" type="path"/>
    <shttp:input name="key" part="key" type="query"/>
    <shttp:input name="name" part="name" type="query"/>
    <shttp:input name="search" part="search" type="query"/>
    <shttp:input name="tag" part="tag" type="query"/>
    <shttp:input name="type" part="type" type="query"/>
    <shttp:input name="version" part="version" type="query"/>
      </wsdl:input>
      <wsdl:output>
    <shttp:output name="" part="" type="entity"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="GetMetadataService">
    <wsdl:port name="GetMetadataService_rest_port_http" binding="tns:MetadataServiceBinding">
    <shttp:address location="http://0.0.0.0/rest"/>
    </wsdl:port>
    <wsdl:port name="GetMetadataService_rest_port_https" binding="tns:MetadataServiceBinding">
    <shttp:address location="https://0.0.0.0/rest"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
