ag/assets/latest_api_plat/rest/api-platform/api-http___soa.com_wsdl_content_1.0-ContentAPI.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://soa.com/wsdl/content/1.0" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://soa.com/wsdl/content/1.0" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:shttp="http://soa.com/wsdl/http">
  <wsdl:message name="deleteResponseMessage">
    <wsdl:part element="xs:any">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="addRequestMessage">
    <wsdl:part name="body" type="xs:string">
    </wsdl:part>
    <wsdl:part name="type" type="xs:string">
    </wsdl:part>
    <wsdl:part name="path" type="xs:string">
    </wsdl:part>
    <wsdl:part name="folder" type="xs:boolean">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getRootRequestMessage">
    <wsdl:part name="version" type="xs:integer">
    </wsdl:part>
    <wsdl:part name="if-modified-since" type="xs:string">
    </wsdl:part>
    <wsdl:part name="locale" type="xs:string">
    </wsdl:part>
    <wsdl:part name="listVersions" type="xs:boolean">
    </wsdl:part>
    <wsdl:part name="Zip" type="xs:boolean">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="uploadRequestMessage">
    <wsdl:part name="parameter0" type="tns:BufferedInMultiPart">
    </wsdl:part>
    <wsdl:part name="path" type="xs:string">
    </wsdl:part>
    <wsdl:part name="unpack" type="xs:boolean">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="renameRequestMessage">
    <wsdl:part name="nameTo" type="xs:string">
    </wsdl:part>
    <wsdl:part name="path" type="xs:string">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="renameResponseMessage">
    <wsdl:part element="xs:any">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="searchResponseMessage">
    <wsdl:part element="xs:any">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="addResponseMessage">
    <wsdl:part element="xs:any">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getResponseMessage">
    <wsdl:part element="xs:any">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getRequestMessage">
    <wsdl:part name="version" type="xs:integer">
    </wsdl:part>
    <wsdl:part name="path" type="xs:string">
    </wsdl:part>
    <wsdl:part name="if-modified-since" type="xs:string">
    </wsdl:part>
    <wsdl:part name="locale" type="xs:string">
    </wsdl:part>
    <wsdl:part name="download" type="xs:boolean">
    </wsdl:part>
    <wsdl:part name="listVersions" type="xs:boolean">
    </wsdl:part>
    <wsdl:part name="Zip" type="xs:boolean">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getRootResponseMessage">
    <wsdl:part element="xs:any">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="searchRequestMessage">
    <wsdl:part name="tag" type="xs:string">
    </wsdl:part>
    <wsdl:part name="key" type="xs:string">
    </wsdl:part>
    <wsdl:part name="type" type="xs:string">
    </wsdl:part>
    <wsdl:part name="path" type="xs:string">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="uploadRootRequestMessage">
    <wsdl:part name="parameter0" type="tns:BufferedInMultiPart">
    </wsdl:part>
    <wsdl:part name="unpack" type="xs:boolean">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="uploadResponseMessage">
    <wsdl:part element="xs:any">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="uploadRootResponseMessage">
    <wsdl:part element="xs:any">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="deleteRequestMessage">
    <wsdl:part name="path" type="xs:string">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="ContentAPIPortType">
    <wsdl:operation name="uploadRoot">
      <wsdl:input message="tns:uploadRootRequestMessage">
    </wsdl:input>
      <wsdl:output message="tns:uploadRootResponseMessage">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="upload">
      <wsdl:input message="tns:uploadRequestMessage">
    </wsdl:input>
      <wsdl:output message="tns:uploadResponseMessage">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="add">
      <wsdl:input message="tns:addRequestMessage">
    </wsdl:input>
      <wsdl:output message="tns:addResponseMessage">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="get">
      <wsdl:input message="tns:getRequestMessage">
    </wsdl:input>
      <wsdl:output message="tns:getResponseMessage">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="delete">
      <wsdl:input message="tns:deleteRequestMessage">
    </wsdl:input>
      <wsdl:output message="tns:deleteResponseMessage">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getRoot">
      <wsdl:input message="tns:getRootRequestMessage">
    </wsdl:input>
      <wsdl:output message="tns:getRootResponseMessage">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="rename">
      <wsdl:input message="tns:renameRequestMessage">
    </wsdl:input>
      <wsdl:output message="tns:renameResponseMessage">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="search">
      <wsdl:input message="tns:searchRequestMessage">
    </wsdl:input>
      <wsdl:output message="tns:searchResponseMessage">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ContentAPIBinding" type="tns:ContentAPIPortType">
    <shttp:binding/>
    <wsdl:operation name="uploadRoot">
<wsdl:documentation><sdoc:displayName xmlns:sdoc="http://soa.com/wsdl/doc">POST </sdoc:displayName></wsdl:documentation>
    <shttp:operation inputSerialization="multipart/form-data" location="" method="POST"/>
      <wsdl:input>
    <shttp:input name="parameter0" part="parameter0" type="entity"/>
    <shttp:input name="unpack" part="unpack" type="query"/>
      </wsdl:input>
      <wsdl:output>
    <shttp:output name="" part="" type="entity"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="upload">
<wsdl:documentation><sdoc:displayName xmlns:sdoc="http://soa.com/wsdl/doc">POST /{path:.*}</sdoc:displayName></wsdl:documentation>
    <shttp:operation inputSerialization="multipart/form-data" location="/{path:.*}" method="POST"/>
      <wsdl:input>
    <shttp:input name="parameter0" part="parameter0" type="entity"/>
    <shttp:input name="path" part="path" type="path"/>
    <shttp:input name="unpack" part="unpack" type="query"/>
      </wsdl:input>
      <wsdl:output>
    <shttp:output name="" part="" type="entity"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="add">
<wsdl:documentation><sdoc:displayName xmlns:sdoc="http://soa.com/wsdl/doc">POST /{path:.*}</sdoc:displayName></wsdl:documentation>
    <shttp:operation inputSerialization="application/x-www-form-urlencoded" location="/{path:.*}" method="POST"/>
      <wsdl:input>
    <shttp:input name="body" part="body" type="form"/>
    <shttp:input name="type" part="type" type="form"/>
    <shttp:input name="path" part="path" type="path"/>
    <shttp:input name="folder" part="folder" type="form"/>
      </wsdl:input>
      <wsdl:output>
    <shttp:output name="" part="" type="entity"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="get">
<wsdl:documentation><sdoc:displayName xmlns:sdoc="http://soa.com/wsdl/doc">GET /{path:.*}</sdoc:displayName></wsdl:documentation>
    <shttp:operation location="/{path:.*}" method="GET"/>
      <wsdl:input>
    <shttp:input name="version" part="version" type="query"/>
    <shttp:input name="path" part="path" type="path"/>
    <shttp:input name="If-Modified-Since" part="If-Modified-Since" type="header"/>
    <shttp:input name="locale" part="locale" type="query"/>
    <shttp:input name="download" part="download" type="query"/>
    <shttp:input name="listVersions" part="listVersions" type="query"/>
    <shttp:input name="Zip" part="Zip" type="query"/>
      </wsdl:input>
      <wsdl:output>
    <shttp:output name="" part="" type="entity"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="delete">
<wsdl:documentation><sdoc:displayName xmlns:sdoc="http://soa.com/wsdl/doc">DELETE /{path:.*}</sdoc:displayName></wsdl:documentation>
    <shttp:operation location="/{path:.*}" method="DELETE"/>
      <wsdl:input>
    <shttp:input name="path" part="path" type="path"/>
      </wsdl:input>
      <wsdl:output>
    <shttp:output name="" part="" type="entity"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getRoot">
<wsdl:documentation><sdoc:displayName xmlns:sdoc="http://soa.com/wsdl/doc">GET </sdoc:displayName></wsdl:documentation>
    <shttp:operation location="" method="GET"/>
      <wsdl:input>
    <shttp:input name="version" part="version" type="query"/>
    <shttp:input name="If-Modified-Since" part="If-Modified-Since" type="header"/>
    <shttp:input name="locale" part="locale" type="query"/>
    <shttp:input name="listVersions" part="listVersions" type="query"/>
    <shttp:input name="Zip" part="Zip" type="query"/>
      </wsdl:input>
      <wsdl:output>
    <shttp:output name="" part="" type="entity"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="rename">
<wsdl:documentation><sdoc:displayName xmlns:sdoc="http://soa.com/wsdl/doc">PUT /{path:.*}</sdoc:displayName></wsdl:documentation>
    <shttp:operation inputSerialization="application/x-www-form-urlencoded" location="/{path:.*}" method="PUT"/>
      <wsdl:input>
    <shttp:input name="nameTo" part="nameTo" type="form"/>
    <shttp:input name="path" part="path" type="path"/>
      </wsdl:input>
      <wsdl:output>
    <shttp:output name="" part="" type="entity"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="search">
<wsdl:documentation><sdoc:displayName xmlns:sdoc="http://soa.com/wsdl/doc">GET /{path:.*}/search</sdoc:displayName></wsdl:documentation>
    <shttp:operation location="/{path:.*}/search" method="GET" outputSerialization="application/json,application/vnd.soa.v71+json,application/vnd.soa.v72+json,application/vnd.soa.v80+json,application/vnd.soa.v81+json"/>
      <wsdl:input>
    <shttp:input name="tag" part="tag" type="query"/>
    <shttp:input name="key" part="key" type="query"/>
    <shttp:input name="type" part="type" type="query"/>
    <shttp:input name="path" part="path" type="path"/>
      </wsdl:input>
      <wsdl:output>
    <shttp:output name="" part="" type="entity"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ContentAPI">
<wsdl:documentation><sdoc:title xmlns:sdoc="http://soa.com/wsdl/doc">Content API</sdoc:title><sdoc:description xmlns:sdoc="http://soa.com/wsdl/doc"><![CDATA[<p>The Content service provides operations for managing content associated with the platform, including adding, modifying, deleting, and retrieving. Content  can include API documentation, legal agreements, artifacts for the API Downloads page, and site documentation.</p>]]></sdoc:description></wsdl:documentation>
    <wsdl:port name="ContentAPI_rest_port_http" binding="tns:ContentAPIBinding">
    <shttp:address location="http://0.0.0.0/content"/>
    </wsdl:port>
    <wsdl:port name="ContentAPI_rest_port_https" binding="tns:ContentAPIBinding">
    <shttp:address location="https://0.0.0.0/content"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
