ag/assets/latest_api_plat/rest/api-platform/api-urn_com.soa.role.api-RoleAPI.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="urn:com.soa.role.api" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="urn:com.soa.role.api" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:nms2="http://www.w3.org/2005/Atom" xmlns:nms1="http://akana.com/xsd/role/1.0" xmlns:shttp="http://soa.com/wsdl/http">
  <wsdl:types>
    <xs:schema targetNamespace="http://www.w3.org/XML/1998/namespace" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:attribute name="base" type="xs:anyURI"/>
<xs:attribute name="lang" type="xs:string"/>
</xs:schema>
    <xs:schema elementFormDefault="qualified" targetNamespace="http://www.w3.org/2005/Atom" version="1.0" xmlns:tns="http://www.w3.org/2005/Atom" xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:import namespace="http://www.w3.org/XML/1998/namespace"/>
<xs:complexType name="atomLink"><xs:complexContent><xs:extension base="tns:atomCommonAttributes"><xs:sequence/><xs:attribute name="length" type="xs:string"/><xs:attribute name="title" type="xs:string"/><xs:attribute name="hreflang" type="xs:string"/><xs:attribute name="rel" type="xs:string"/><xs:attribute name="type" type="xs:string"/><xs:attribute name="href" type="xs:anyURI" use="required"/><xs:anyAttribute namespace="##other" processContents="skip"/></xs:extension></xs:complexContent></xs:complexType>
<xs:complexType name="atomCommonAttributes"><xs:sequence/><xs:attribute ref="xml:base"/><xs:attribute ref="xml:lang"/><xs:anyAttribute namespace="##other" processContents="skip"/></xs:complexType>
</xs:schema>
    <xs:schema elementFormDefault="qualified" targetNamespace="http://akana.com/xsd/role/1.0" version="1.0" xmlns:ns1="http://www.w3.org/2005/Atom" xmlns:tns="http://akana.com/xsd/role/1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:import namespace="http://www.w3.org/2005/Atom"/>
<xs:element name="AddRole" type="tns:addRole"/>
<xs:element name="Role" type="tns:role"/>
<xs:element name="RolePrivilege" type="tns:rolePrivilege"/>
<xs:element name="RoleUsers" type="tns:roleUsers"/>
<xs:element name="User"><xs:complexType><xs:sequence><xs:element minOccurs="0" name="userID" type="xs:string"/><xs:element minOccurs="0" name="domainName" type="xs:string"/><xs:element minOccurs="0" name="fullName" type="xs:string"/></xs:sequence></xs:complexType></xs:element>
<xs:complexType name="role"><xs:sequence><xs:element minOccurs="0" name="roleName" type="xs:string"/><xs:element minOccurs="0" name="resourceID" type="xs:string"/><xs:element minOccurs="0" name="users"><xs:complexType><xs:sequence><xs:element maxOccurs="unbounded" minOccurs="0" name="user"><xs:complexType><xs:sequence><xs:element minOccurs="0" name="userID" type="xs:string"/><xs:element minOccurs="0" name="domainName" type="xs:string"/><xs:element minOccurs="0" name="fullName" type="xs:string"/></xs:sequence></xs:complexType></xs:element></xs:sequence></xs:complexType></xs:element><xs:element minOccurs="0" name="Link" type="ns1:atomLink"/></xs:sequence></xs:complexType>
<xs:complexType name="addRole"><xs:sequence><xs:element minOccurs="0" name="roleName" type="xs:string"/><xs:element minOccurs="0" name="rolePrivileges"><xs:complexType><xs:sequence><xs:element maxOccurs="unbounded" minOccurs="0" name="rolePrivilege" type="tns:rolePrivilege"/></xs:sequence></xs:complexType></xs:element></xs:sequence></xs:complexType>
<xs:complexType name="rolePrivilege"><xs:sequence><xs:element minOccurs="0" name="type" type="xs:string"/><xs:element name="deny" type="xs:boolean"/><xs:element minOccurs="0" name="actions"><xs:complexType><xs:sequence><xs:element maxOccurs="unbounded" minOccurs="0" name="action" type="xs:string"/></xs:sequence></xs:complexType></xs:element></xs:sequence></xs:complexType>
<xs:complexType name="roleUsers"><xs:sequence><xs:element minOccurs="0" name="users"><xs:complexType><xs:sequence><xs:element maxOccurs="unbounded" minOccurs="0" name="user"><xs:complexType><xs:sequence><xs:element minOccurs="0" name="userID" type="xs:string"/><xs:element minOccurs="0" name="domainName" type="xs:string"/><xs:element minOccurs="0" name="fullName" type="xs:string"/></xs:sequence></xs:complexType></xs:element></xs:sequence></xs:complexType></xs:element><xs:element maxOccurs="unbounded" minOccurs="0" name="users" nillable="true"><xs:complexType><xs:sequence><xs:element minOccurs="0" name="userID" type="xs:string"/><xs:element minOccurs="0" name="domainName" type="xs:string"/><xs:element minOccurs="0" name="fullName" type="xs:string"/></xs:sequence></xs:complexType></xs:element></xs:sequence></xs:complexType>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="addRoleRequestMessage">
    <wsdl:part name="parameter0" element="nms1:AddRole">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getRoleResponseMessage">
    <wsdl:part name="getRoleResponse" element="nms1:Role">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getRolesRequestMessage">
    <wsdl:part name="resourceID" type="xs:string">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="updateUsersAssignedToRoleResponseMessage">
    <wsdl:part name="updateUsersAssignedToRoleResponse" element="nms1:Role">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="updateUsersAssignedToRoleRequestMessage">
    <wsdl:part name="resourceID" type="xs:string">
    </wsdl:part>
    <wsdl:part name="roleName" type="xs:string">
    </wsdl:part>
    <wsdl:part name="parameter0" element="nms1:RoleUsers">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="deleteRoleResponseMessage">
    <wsdl:part name="deleteRoleResponse" type="xs:string">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getRolesResponseMessage">
    <wsdl:part name="getRolesResponse" type="tns:List">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getRoleRequestMessage">
    <wsdl:part name="resourceID" type="xs:string">
    </wsdl:part>
    <wsdl:part name="roleName" type="xs:string">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="deleteRoleRequestMessage">
    <wsdl:part name="roleName" type="xs:string">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="addRoleResponseMessage">
    <wsdl:part name="addRoleResponse" element="nms1:Role">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="RoleAPIPortType">
    <wsdl:operation name="addRole">
      <wsdl:input message="tns:addRoleRequestMessage">
    </wsdl:input>
      <wsdl:output message="tns:addRoleResponseMessage">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteRole">
      <wsdl:input message="tns:deleteRoleRequestMessage">
    </wsdl:input>
      <wsdl:output message="tns:deleteRoleResponseMessage">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateUsersAssignedToRole">
      <wsdl:input message="tns:updateUsersAssignedToRoleRequestMessage">
    </wsdl:input>
      <wsdl:output message="tns:updateUsersAssignedToRoleResponseMessage">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getRole">
      <wsdl:input message="tns:getRoleRequestMessage">
    </wsdl:input>
      <wsdl:output message="tns:getRoleResponseMessage">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getRoles">
      <wsdl:input message="tns:getRolesRequestMessage">
    </wsdl:input>
      <wsdl:output message="tns:getRolesResponseMessage">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="RoleAPIBinding" type="tns:RoleAPIPortType">
    <shttp:binding/>
    <wsdl:operation name="addRole">
<wsdl:documentation><sdoc:displayName xmlns:sdoc="http://soa.com/wsdl/doc">POST /roles</sdoc:displayName><sdoc:description xmlns:sdoc="http://soa.com/wsdl/doc"><![CDATA[<p>Creates a new Role</p>
<h4>Request:</h4>
<pre><code>POST /api/roles HTTP/1.1
Content-Type: application/json or application/vnd.soa.v83+json
Accept: application/json or application/vnd.soa.v83+json
</code></pre>
<p><strong>Sample Request Body (application/json):</strong></p>
<pre><code>{
   "roleName" : "TestRole",
   "rolePrivileges":[
        {
            "type": "api",
            "deny": "false",
            "actions" : ["FullControl"]
        },
        {
            "type": "group",
            "deny": "false",
            "actions": ["Read", "Add", "Modify", "Delete"]
        }
    ]
}
</code></pre>
<h4>Response:</h4>
<pre><code>HTTP/1.1 200 OK

{
  "roleName" : "TestRole",
}
</code></pre>]]></sdoc:description></wsdl:documentation>
    <shttp:operation inputSerialization="application/json,application/vnd.soa.v81+json,application/xml,application/vnd.soa.v81+xml,application/vnd.soa.v83+json,application/vnd.soa.v83+xml" location="/roles" method="POST" outputSerialization="application/json,application/vnd.soa.v81+json,application/xml,application/vnd.soa.v81+xml,application/vnd.soa.v83+json,application/vnd.soa.v83+xml"/>
      <wsdl:input>
    <shttp:input name="parameter0" part="parameter0" type="entity"/>
      </wsdl:input>
      <wsdl:output>
    <shttp:output name="addRoleResponse" part="addRoleResponse" type="entity"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteRole">
<wsdl:documentation><sdoc:displayName xmlns:sdoc="http://soa.com/wsdl/doc">DELETE /roles/{roleName}</sdoc:displayName><sdoc:description xmlns:sdoc="http://soa.com/wsdl/doc"><![CDATA[<p>Deletes a role</p>
<h4>Request:</h4>
<pre><code>DELETE /api/roles/{roleName} HTTP/1.1
Content-Type: */*
Accept: text/plain
</code></pre>
<h4>Response:</h4>
<pre><code>HTTP/1.1 200 OK

TestRole
</code></pre>]]></sdoc:description></wsdl:documentation>
    <shttp:operation inputSerialization="*/*" location="/roles/{roleName}" method="DELETE" outputSerialization="text/plain"/>
      <wsdl:input>
    <shttp:input name="roleName" part="roleName" type="path"><wsdl:documentation><sdoc:description xmlns:sdoc="http://soa.com/wsdl/doc"><![CDATA[Role Name]]></sdoc:description><sdoc:required xmlns:sdoc="http://soa.com/wsdl/doc">false</sdoc:required><sdoc:multiple xmlns:sdoc="http://soa.com/wsdl/doc">false</sdoc:multiple></wsdl:documentation></shttp:input>
      </wsdl:input>
      <wsdl:output>
    <shttp:output name="deleteRoleResponse" part="deleteRoleResponse" type="entity"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateUsersAssignedToRole">
<wsdl:documentation><sdoc:displayName xmlns:sdoc="http://soa.com/wsdl/doc">PUT /roles/{resourceID}/{roleName}</sdoc:displayName><sdoc:description xmlns:sdoc="http://soa.com/wsdl/doc"><![CDATA[<p>Replaces users assigned to a role.</p>
<h4>Request:</h4>
<pre><code>PUT /api/roles/{ResourceDN}/{roleName} HTTP/1.1
Content-Type: application/json or application/vnd.soa.v83+json
Accept: application/json or application/vnd.soa.v83+json
</code></pre>
<p><strong>Sample Request Body (application/json):</strong></p>
<pre><code>{
   "users":[
        {
            "userID": "d3f5e5b3-8f63-41ad-a990-be6aaa1cb07d.eap"
        },
        {
            "userID": "be327b61-789e-4fae-a165-a34010635fab.eap"
        }
    ]
}
</code></pre>
<h4>Response:</h4>
<pre><code>HTTP/1.1 200 OK

{
  "roleName" : "Guest",
  "resourceID" : "tenantbusiness.eap",
  "users" : [ {
    "userID" : "d3f5e5b3-8f63-41ad-a990-be6aaa1cb07d.eap",
    "fullName" : "admin eap"
  }, {
    "userID" : "be327b61-789e-4fae-a165-a34010635fab.eap",
    "fullName" : "Stephan Poachman"
  } ],
  "Link" : {
    "rel" : "self",
    "href" : "http://localhost:9900/api/roles/tenantbusiness.eap/Guest"
  }
}
</code></pre>]]></sdoc:description></wsdl:documentation>
    <shttp:operation inputSerialization="application/json,application/vnd.soa.v81+json,application/xml,application/vnd.soa.v81+xml,application/vnd.soa.v83+json,application/vnd.soa.v83+xml" location="/roles/{resourceID}/{roleName}" method="PUT" outputSerialization="application/json,application/vnd.soa.v81+json,application/xml,application/vnd.soa.v81+xml,application/vnd.soa.v83+json,application/vnd.soa.v83+xml"/>
      <wsdl:input>
    <shttp:input name="resourceID" part="resourceID" type="path"><wsdl:documentation><sdoc:description xmlns:sdoc="http://soa.com/wsdl/doc"><![CDATA[Parameter for DN of Business or API or App]]></sdoc:description><sdoc:required xmlns:sdoc="http://soa.com/wsdl/doc">false</sdoc:required><sdoc:multiple xmlns:sdoc="http://soa.com/wsdl/doc">false</sdoc:multiple></wsdl:documentation></shttp:input>
    <shttp:input name="roleName" part="roleName" type="path"><wsdl:documentation><sdoc:description xmlns:sdoc="http://soa.com/wsdl/doc"><![CDATA[Role Name]]></sdoc:description><sdoc:required xmlns:sdoc="http://soa.com/wsdl/doc">false</sdoc:required><sdoc:multiple xmlns:sdoc="http://soa.com/wsdl/doc">false</sdoc:multiple></wsdl:documentation></shttp:input>
    <shttp:input name="parameter0" part="parameter0" type="entity"/>
      </wsdl:input>
      <wsdl:output>
    <shttp:output name="updateUsersAssignedToRoleResponse" part="updateUsersAssignedToRoleResponse" type="entity"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getRole">
<wsdl:documentation><sdoc:displayName xmlns:sdoc="http://soa.com/wsdl/doc">GET /roles/{resourceID}/{roleName}</sdoc:displayName><sdoc:description xmlns:sdoc="http://soa.com/wsdl/doc"><![CDATA[<p>Returns the information about a given business type including its avatar.</p>
<h4>Request:</h4>
<pre><code>GET /api/roles/{ResourceDN}/{roleName} HTTP/1.1
Content-Type: application/json or application/vnd.soa.v83+json
Accept: application/json or application/vnd.soa.v83+json
</code></pre>
<h4>Response:</h4>
<pre><code>HTTP/1.1 200 OK

{
  "roleName" : "{RoleName}",
  "resourceID" : "{ResourceDN}",
  "users" : [ {
    "userID" : "d3f5e5b3-8f63-41ad-a990-be6aaa1cb07d.eap",
    "fullName" : "admin eap"
  }, {
    "userID" : "be327b61-789e-4fae-a165-a34010635fab.eap",
    "fullName" : "Stephan Poachman"
  } ],
  "Link" : {
    "rel" : "self",
    "href" : "http://{hostName}/api/roles/{ResourceDN}/{RoleName}"
  }
}
</code></pre>]]></sdoc:description></wsdl:documentation>
    <shttp:operation location="/roles/{resourceID}/{roleName}" method="GET" outputSerialization="application/json,application/vnd.soa.v81+json,application/xml,application/vnd.soa.v81+xml,application/vnd.soa.v83+json,application/vnd.soa.v83+xml"/>
      <wsdl:input>
    <shttp:input name="resourceID" part="resourceID" type="path"><wsdl:documentation><sdoc:description xmlns:sdoc="http://soa.com/wsdl/doc"><![CDATA[Parameter for DN of Business or API or App]]></sdoc:description><sdoc:required xmlns:sdoc="http://soa.com/wsdl/doc">false</sdoc:required><sdoc:multiple xmlns:sdoc="http://soa.com/wsdl/doc">false</sdoc:multiple></wsdl:documentation></shttp:input>
    <shttp:input name="roleName" part="roleName" type="path"><wsdl:documentation><sdoc:description xmlns:sdoc="http://soa.com/wsdl/doc"><![CDATA[Role name]]></sdoc:description><sdoc:required xmlns:sdoc="http://soa.com/wsdl/doc">false</sdoc:required><sdoc:multiple xmlns:sdoc="http://soa.com/wsdl/doc">false</sdoc:multiple></wsdl:documentation></shttp:input>
      </wsdl:input>
      <wsdl:output>
    <shttp:output name="getRoleResponse" part="getRoleResponse" type="entity"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getRoles">
<wsdl:documentation><sdoc:displayName xmlns:sdoc="http://soa.com/wsdl/doc">GET /roles/{resourceID}</sdoc:displayName><sdoc:description xmlns:sdoc="http://soa.com/wsdl/doc"><![CDATA[<p>Returns the roles available in the system.</p>
<h4>Request:</h4>
<pre><code>GET /api/roles/{ResourceDN} HTTP/1.1
Content-Type: application/json or application/vnd.soa.v83+json
Accept: application/json or application/vnd.soa.v83+json
</code></pre>
<h4>Response:</h4>
<pre><code>HTTP/1.1 200 OK

[{
  "roleName" : "2FA-exempt users",
  "resourceID" : "tenantbusiness.eap",
  "Link" : {
    "rel" : "self",
    "href" : "http://{hostname}/api/roles/{ResourceDN}/2FA-exempt%20users"
  }
}, {
  "roleName" : "API Administrator",
  "resourceID" : "tenantbusiness.eap",
  "Link" : {
    "rel" : "self",
    "href" : "http://{hostname}/api/roles/{ResourceDN}/API%20Administrator"
  }
}, {
  "roleName" : "API Developer",
  "resourceID" : "tenantbusiness.eap",
  "Link" : {
    "rel" : "self",
   "href" : "http://{hostname}/api/roles/{ResourceDN}/API%20Developer"
  }
},
 {
  "roleName" : "Tenant Manager",
  "resourceID" : "tenantbusiness.eap",
  "Link" : {
    "rel" : "self",
    "href" : http://{hostname}/api/roles/{ResourceDN}/Tenant%20Manager"
  }
} ]
</code></pre>]]></sdoc:description></wsdl:documentation>
    <shttp:operation location="/roles/{resourceID}" method="GET" outputSerialization="application/json,application/vnd.soa.v81+json,application/xml,application/vnd.soa.v81+xml,application/vnd.soa.v83+json,application/vnd.soa.v83+xml"/>
      <wsdl:input>
    <shttp:input name="resourceID" part="resourceID" type="path"><wsdl:documentation><sdoc:description xmlns:sdoc="http://soa.com/wsdl/doc"><![CDATA[Parameter for DN of Business or API or App]]></sdoc:description><sdoc:required xmlns:sdoc="http://soa.com/wsdl/doc">false</sdoc:required><sdoc:multiple xmlns:sdoc="http://soa.com/wsdl/doc">false</sdoc:multiple></wsdl:documentation></shttp:input>
      </wsdl:input>
      <wsdl:output>
    <shttp:output name="getRolesResponse" part="getRolesResponse" type="entity"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="RoleAPI">
<wsdl:documentation><sdoc:title xmlns:sdoc="http://soa.com/wsdl/doc">Role API</sdoc:title><sdoc:version xmlns:sdoc="http://soa.com/wsdl/doc">8.3.0</sdoc:version><sdoc:vendor xmlns:sdoc="http://soa.com/wsdl/doc">Akana</sdoc:vendor><sdoc:description xmlns:sdoc="http://soa.com/wsdl/doc"><![CDATA[<p>The Roles API service provides operations for managing users in roles in a scope of a Resource(Business).  <em>Note: All of these operations take the Resouce ID as a parameter. For example Business ID. To find out what the Business ID is for your installation, you can run the GET /api/properties operation (TenantBusinessID parameter in the response).</em></p>]]></sdoc:description></wsdl:documentation>
    <wsdl:port name="RoleAPI_rest_port_https" binding="tns:RoleAPIBinding">
    <shttp:address location="https://0.0.0.0/api"/>
    </wsdl:port>
    <wsdl:port name="RoleAPI_rest_port_http" binding="tns:RoleAPIBinding">
    <shttp:address location="http://0.0.0.0/api"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
