ag/assets/latest_api_plat/rest/api-platform/api-urn_com.soa.atmosphere.search.api-IndexAdministrationAPI.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="urn:com.soa.atmosphere.search.api" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="urn:com.soa.atmosphere.search.api" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:nms1="urn:com.soa.search" xmlns:shttp="http://soa.com/wsdl/http">
  <wsdl:types>
    <xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:element name="esGlobalConfig" type="esGlobalConfig"/>
<xs:complexType name="esGlobalConfig"><xs:sequence><xs:element minOccurs="0" name="clientUrl" type="xs:string"/><xs:element minOccurs="0" name="clusterName" type="xs:string"/><xs:element minOccurs="0" name="deploymentMode" type="xs:string"/></xs:sequence></xs:complexType>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="updateESGlobalConfigurationRequestMessage">
    <wsdl:part name="parameter0" element="tns:ESGlobalConfig">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="updateESGlobalConfigurationResponseMessage">
    <wsdl:part name="updateESGlobalConfigurationResponse" element="tns:ESGlobalConfig">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getESGlobalConfigurationRequestMessage">
  </wsdl:message>
  <wsdl:message name="getClusterHealthResponseMessage">
    <wsdl:part name="getClusterHealthResponse" type="tns:Map">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getClusterHealthRequestMessage">
  </wsdl:message>
  <wsdl:message name="getESGlobalConfigurationResponseMessage">
    <wsdl:part name="getESGlobalConfigurationResponse" element="tns:ESGlobalConfig">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="IndexAdministrationAPIPortType">
    <wsdl:operation name="getESGlobalConfiguration">
      <wsdl:input message="tns:getESGlobalConfigurationRequestMessage">
    </wsdl:input>
      <wsdl:output message="tns:getESGlobalConfigurationResponseMessage">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getClusterHealth">
      <wsdl:input message="tns:getClusterHealthRequestMessage">
    </wsdl:input>
      <wsdl:output message="tns:getClusterHealthResponseMessage">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateESGlobalConfiguration">
      <wsdl:input message="tns:updateESGlobalConfigurationRequestMessage">
    </wsdl:input>
      <wsdl:output message="tns:updateESGlobalConfigurationResponseMessage">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="IndexAdministrationAPIBinding" type="tns:IndexAdministrationAPIPortType">
    <shttp:binding/>
    <wsdl:operation name="getESGlobalConfiguration">
<wsdl:documentation><sdoc:displayName xmlns:sdoc="http://soa.com/wsdl/doc">GET /indexadmin/config</sdoc:displayName></wsdl:documentation>
    <shttp:operation location="/indexadmin/config" method="GET" outputSerialization="application/json,application/vnd.soa.v85+json"/>
      <wsdl:output>
    <shttp:output name="getESGlobalConfigurationResponse" part="getESGlobalConfigurationResponse" type="entity"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getClusterHealth">
<wsdl:documentation><sdoc:displayName xmlns:sdoc="http://soa.com/wsdl/doc">GET /indexadmin/cluster/health</sdoc:displayName></wsdl:documentation>
    <shttp:operation location="/indexadmin/cluster/health" method="GET" outputSerialization="application/xml,application/json,application/vnd.soa.v81+xml,application/vnd.soa.v81+json"/>
      <wsdl:output>
    <shttp:output name="getClusterHealthResponse" part="getClusterHealthResponse" type="entity"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateESGlobalConfiguration">
<wsdl:documentation><sdoc:displayName xmlns:sdoc="http://soa.com/wsdl/doc">PUT /indexadmin/config</sdoc:displayName></wsdl:documentation>
    <shttp:operation inputSerialization="application/json,application/vnd.soa.v85+json" location="/indexadmin/config" method="PUT" outputSerialization="application/json,application/vnd.soa.v85+json"/>
      <wsdl:input>
    <shttp:input name="parameter0" part="parameter0" type="entity"/>
      </wsdl:input>
      <wsdl:output>
    <shttp:output name="updateESGlobalConfigurationResponse" part="updateESGlobalConfigurationResponse" type="entity"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="IndexAdministrationAPI">
<wsdl:documentation><sdoc:title xmlns:sdoc="http://soa.com/wsdl/doc">Index Administration API</sdoc:title></wsdl:documentation>
    <wsdl:port name="IndexAdministrationAPI_rest_port_http" binding="tns:IndexAdministrationAPIBinding">
    <shttp:address location="http://0.0.0.0/api"/>
    </wsdl:port>
    <wsdl:port name="IndexAdministrationAPI_rest_port_https" binding="tns:IndexAdministrationAPIBinding">
    <shttp:address location="https://0.0.0.0/api"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
