ag/assets/latest_api_plat/rest/api-platform/api-http___soa.com_wsdl_forwardproxy_1.0-ForwardProxyApi.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://soa.com/wsdl/forwardproxy/1.0" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://soa.com/wsdl/forwardproxy/1.0" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:shttp="http://soa.com/wsdl/http">
  <wsdl:message name="patchResponseMessage">
    <wsdl:part element="xs:any">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="deleteRequestMessage">
    <wsdl:part name="path" type="xs:string">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getResponseMessage">
    <wsdl:part element="xs:any">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="putResponseMessage">
    <wsdl:part element="xs:any">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getRequestMessage">
    <wsdl:part name="path" type="xs:string">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="putRequestMessage">
    <wsdl:part name="path" type="xs:string">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="deleteResponseMessage">
    <wsdl:part element="xs:any">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="patchRequestMessage">
    <wsdl:part name="path" type="xs:string">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="postRequestMessage">
    <wsdl:part name="path" type="xs:string">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="postResponseMessage">
    <wsdl:part element="xs:any">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="ForwardProxyApiPortType">
    <wsdl:operation name="patch">
      <wsdl:input message="tns:patchRequestMessage">
    </wsdl:input>
      <wsdl:output message="tns:patchResponseMessage">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="post">
      <wsdl:input message="tns:postRequestMessage">
    </wsdl:input>
      <wsdl:output message="tns:postResponseMessage">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="get">
      <wsdl:input message="tns:getRequestMessage">
    </wsdl:input>
      <wsdl:output message="tns:getResponseMessage">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="put">
      <wsdl:input message="tns:putRequestMessage">
    </wsdl:input>
      <wsdl:output message="tns:putResponseMessage">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="delete">
      <wsdl:input message="tns:deleteRequestMessage">
    </wsdl:input>
      <wsdl:output message="tns:deleteResponseMessage">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ForwardProxyApiBinding" type="tns:ForwardProxyApiPortType">
    <shttp:binding/>
    <wsdl:operation name="patch">
<wsdl:documentation><sdoc:displayName xmlns:sdoc="http://soa.com/wsdl/doc">PATCH /{path:.+|}</sdoc:displayName></wsdl:documentation>
    <shttp:operation inputSerialization="*/*" location="/{path:.+|}" method="PATCH" outputSerialization="*/*"/>
      <wsdl:input>
    <shttp:input name="path" part="path" type="path"/>
      </wsdl:input>
      <wsdl:output>
    <shttp:output name="" part="" type="entity"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="post">
<wsdl:documentation><sdoc:displayName xmlns:sdoc="http://soa.com/wsdl/doc">POST /{path:.+|}</sdoc:displayName></wsdl:documentation>
    <shttp:operation inputSerialization="*/*" location="/{path:.+|}" method="POST" outputSerialization="*/*"/>
      <wsdl:input>
    <shttp:input name="path" part="path" type="path"/>
      </wsdl:input>
      <wsdl:output>
    <shttp:output name="" part="" type="entity"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="get">
<wsdl:documentation><sdoc:displayName xmlns:sdoc="http://soa.com/wsdl/doc">GET /{path:.+|}</sdoc:displayName></wsdl:documentation>
    <shttp:operation inputSerialization="*/*" location="/{path:.+|}" method="GET" outputSerialization="*/*"/>
      <wsdl:input>
    <shttp:input name="path" part="path" type="path"/>
      </wsdl:input>
      <wsdl:output>
    <shttp:output name="" part="" type="entity"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="put">
<wsdl:documentation><sdoc:displayName xmlns:sdoc="http://soa.com/wsdl/doc">PUT /{path:.+|}</sdoc:displayName></wsdl:documentation>
    <shttp:operation inputSerialization="*/*" location="/{path:.+|}" method="PUT" outputSerialization="*/*"/>
      <wsdl:input>
    <shttp:input name="path" part="path" type="path"/>
      </wsdl:input>
      <wsdl:output>
    <shttp:output name="" part="" type="entity"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="delete">
<wsdl:documentation><sdoc:displayName xmlns:sdoc="http://soa.com/wsdl/doc">DELETE /{path:.+|}</sdoc:displayName></wsdl:documentation>
    <shttp:operation inputSerialization="*/*" location="/{path:.+|}" method="DELETE" outputSerialization="*/*"/>
      <wsdl:input>
    <shttp:input name="path" part="path" type="path"/>
      </wsdl:input>
      <wsdl:output>
    <shttp:output name="" part="" type="entity"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ForwardProxyApi">
    <wsdl:port name="ForwardProxyApi_rest_port_http" binding="tns:ForwardProxyApiBinding">
    <shttp:address location="http://0.0.0.0/forwardproxy"/>
    </wsdl:port>
    <wsdl:port name="ForwardProxyApi_rest_port_https" binding="tns:ForwardProxyApiBinding">
    <shttp:address location="https://0.0.0.0/forwardproxy"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
