ag/assets/latest_api_plat/rest/api-platform/api-urn_com.soa.apialert.service.impl-AlertAPI.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="urn:com.soa.apialert.service.impl" xmlns:nms5="urn:org.apache.wink.common.model.rss" xmlns:nms4="http://soa.com/xsd/comment/1.0" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="urn:com.soa.apialert.service.impl" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:nms3="http://soa.com/xsd/board/1.0" xmlns:nms2="http://soa.com/xsd/dnmodel/1.0" xmlns:nms1="http://soa.com/xsd/alert/1.0" xmlns:shttp="http://soa.com/wsdl/http">
  <wsdl:types>
    <xs:schema targetNamespace="http://soa.com/xsd/user/1.0" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:element name="AvatarURL" type="xs:string"/>
<xs:element name="UserID" type="xs:string"/>
<xs:element name="UserName" type="xs:string"/>
</xs:schema>
    <xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:element name="category" nillable="true" type="rssCategory"/>
<xs:element name="channel" nillable="true" type="rssChannel"/>
<xs:element name="cloud" nillable="true" type="rssCloud"/>
<xs:element name="enclosure" nillable="true" type="rssEnclosure"/>
<xs:element name="guid" nillable="true" type="rssGuid"/>
<xs:element name="image" nillable="true" type="rssImage"/>
<xs:element name="item" nillable="true" type="rssItem"/>
<xs:element name="rss"><xs:complexType><xs:sequence><xs:element name="channel" type="rssChannel"/></xs:sequence><xs:attribute name="version" type="xs:string" use="required"/></xs:complexType></xs:element>
<xs:element name="skipDays" nillable="true" type="rssSkipDays"/>
<xs:element name="skipHours" nillable="true" type="rssSkipHours"/>
<xs:element name="source" nillable="true" type="rssSource"/>
<xs:element name="textInput" nillable="true" type="rssTextInput"/>
<xs:complexType name="rssImage"><xs:all><xs:element name="url" type="xs:string"/><xs:element name="title" type="xs:string"/><xs:element name="link" type="xs:anyURI"/><xs:element default="88" minOccurs="0" name="width" type="xs:int"/><xs:element default="31" minOccurs="0" name="height" type="xs:int"/><xs:element minOccurs="0" name="description" type="xs:string"/></xs:all></xs:complexType>
<xs:complexType name="rssSkipDays"><xs:sequence><xs:element maxOccurs="unbounded" minOccurs="0" name="day" nillable="true" type="xs:string"/></xs:sequence></xs:complexType>
<xs:complexType name="rssChannel"><xs:all><xs:element name="title" type="xs:string"/><xs:element name="link" type="xs:anyURI"/><xs:element name="description" type="xs:string"/><xs:element minOccurs="0" name="language" type="xs:string"/><xs:element minOccurs="0" name="copyright" type="xs:string"/><xs:element minOccurs="0" name="managingEditor" type="xs:string"/><xs:element minOccurs="0" name="webMaster" type="xs:string"/><xs:element minOccurs="0" name="pubDate" type="xs:string"/><xs:element minOccurs="0" name="lastBuildDate" type="xs:string"/><xs:element maxOccurs="unbounded" minOccurs="0" name="category" nillable="true" type="rssCategory"/><xs:element minOccurs="0" name="generator" type="xs:string"/><xs:element minOccurs="0" name="docs" type="xs:anyURI"/><xs:element minOccurs="0" name="cloud" type="rssCloud"/><xs:element minOccurs="0" name="ttl" type="xs:int"/><xs:element minOccurs="0" name="image" type="rssImage"/><xs:element minOccurs="0" name="rating" type="xs:string"/><xs:element minOccurs="0" name="textInput" type="rssTextInput"/><xs:element minOccurs="0" name="skipHours" type="rssSkipHours"/><xs:element minOccurs="0" name="skipDays" type="rssSkipDays"/><xs:any maxOccurs="unbounded" minOccurs="0" namespace="##other" processContents="lax"/><xs:element maxOccurs="unbounded" minOccurs="0" name="item" nillable="true" type="rssItem"/></xs:all></xs:complexType>
<xs:complexType name="rssCategory"><xs:simpleContent><xs:extension base="xs:string"><xs:attribute name="domain" type="xs:string"/></xs:extension></xs:simpleContent></xs:complexType>
<xs:complexType name="rssCloud"><xs:sequence/><xs:attribute name="domain" type="xs:string" use="required"/><xs:attribute name="port" type="xs:int" use="required"/><xs:attribute name="path" type="xs:string" use="required"/><xs:attribute name="registerProcedure" type="xs:string" use="required"/><xs:attribute name="protocol" type="xs:string" use="required"/></xs:complexType>
<xs:complexType name="rssTextInput"><xs:all><xs:element name="title" type="xs:string"/><xs:element name="description" type="xs:string"/><xs:element name="name" type="xs:string"/><xs:element name="link" type="xs:anyURI"/></xs:all></xs:complexType>
<xs:complexType name="rssSkipHours"><xs:sequence><xs:element maxOccurs="unbounded" minOccurs="0" name="hour" nillable="true" type="xs:string"/></xs:sequence></xs:complexType>
<xs:complexType name="rssSource"><xs:simpleContent><xs:extension base="xs:string"><xs:attribute name="url" type="xs:string" use="required"/></xs:extension></xs:simpleContent></xs:complexType>
<xs:complexType name="rssEnclosure"><xs:sequence/><xs:attribute name="url" type="xs:string" use="required"/><xs:attribute name="length" type="xs:string" use="required"/><xs:attribute name="type" type="xs:string" use="required"/></xs:complexType>
<xs:complexType name="rssGuid"><xs:simpleContent><xs:extension base="xs:string"><xs:attribute name="isPermaLink" type="xs:boolean"/></xs:extension></xs:simpleContent></xs:complexType>
<xs:complexType name="rssItem"><xs:all><xs:element minOccurs="0" name="title" type="xs:string"/><xs:element minOccurs="0" name="link" type="xs:anyURI"/><xs:element minOccurs="0" name="description" type="xs:string"/><xs:element minOccurs="0" name="author" type="xs:string"/><xs:element maxOccurs="unbounded" minOccurs="0" name="category" nillable="true" type="rssCategory"/><xs:element minOccurs="0" name="comments" type="xs:anyURI"/><xs:element minOccurs="0" name="enclosure" type="rssEnclosure"/><xs:element minOccurs="0" name="guid" type="rssGuid"/><xs:element name="pubDate" type="xs:string"/><xs:element minOccurs="0" name="source" type="rssSource"/><xs:any maxOccurs="unbounded" minOccurs="0" namespace="##other" processContents="lax"/></xs:all></xs:complexType>
</xs:schema>
    <xs:schema elementFormDefault="qualified" targetNamespace="http://soa.com/xsd/dnmodel/1.0" version="1.0" xmlns:tns="http://soa.com/xsd/dnmodel/1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:element name="Action"><xs:complexType><xs:simpleContent><xs:extension base="xs:string"><xs:attribute name="label" type="xs:string" use="required"/></xs:extension></xs:simpleContent></xs:complexType></xs:element>
<xs:element name="AuthoringUser"><xs:complexType><xs:sequence><xs:element name="UserID" type="xs:string"/><xs:element minOccurs="0" name="Name" type="xs:string"/><xs:element minOccurs="0" ref="tns:Image"/></xs:sequence></xs:complexType></xs:element>
<xs:element name="Image"><xs:complexType><xs:all><xs:element name="Url" type="xs:anyURI"/><xs:element name="Title" type="xs:string"/><xs:element name="Link" type="xs:anyURI"/><xs:element minOccurs="0" name="Description" type="xs:string"/></xs:all></xs:complexType></xs:element>
</xs:schema>
    <xs:schema targetNamespace="http://soa.com/xsd/api/1.0" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:element name="APIID" type="xs:string"/>
</xs:schema>
    <xs:schema targetNamespace="http://a9.com/-/spec/opensearch/1.1/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:element name="startIndex" type="xs:long"/>
<xs:element name="totalResults" type="xs:long"/>
</xs:schema>
    <xs:schema elementFormDefault="qualified" targetNamespace="http://soa.com/xsd/board/1.0" version="1.0" xmlns:tns="http://soa.com/xsd/board/1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:element name="BoardItemArtifact"><xs:complexType><xs:sequence><xs:element minOccurs="0" name="ContextID" type="xs:string"/><xs:element name="FileName" type="xs:string"/><xs:element minOccurs="0" name="BaseUri" type="xs:string"/><xs:element minOccurs="0" name="UriPath" type="xs:string"/></xs:sequence></xs:complexType></xs:element>
<xs:element name="BoardItemArtifacts"><xs:complexType><xs:sequence><xs:element maxOccurs="unbounded" minOccurs="0" ref="tns:BoardItemArtifact"/></xs:sequence></xs:complexType></xs:element>
<xs:element name="DescriptionMediaType" type="xs:string"/>
</xs:schema>
    <xs:schema targetNamespace="http://soa.com/xsd/contract/1.0" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:element name="ContractID" type="xs:string"/>
</xs:schema>
    <xs:schema elementFormDefault="qualified" targetNamespace="http://soa.com/xsd/alert/1.0" version="1.0" xmlns:ns1="http://soa.com/xsd/api/1.0" xmlns:ns2="http://soa.com/xsd/contract/1.0" xmlns:ns3="http://soa.com/xsd/user/1.0" xmlns:ns4="http://soa.com/xsd/dnmodel/1.0" xmlns:ns5="http://soa.com/xsd/board/1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:import namespace="http://soa.com/xsd/api/1.0"/>
<xs:import namespace="http://soa.com/xsd/contract/1.0"/>
<xs:import namespace="http://soa.com/xsd/user/1.0"/>
<xs:import namespace="http://soa.com/xsd/dnmodel/1.0"/>
<xs:import namespace="http://soa.com/xsd/board/1.0"/>
<xs:element name="Alert"><xs:complexType><xs:sequence><xs:element minOccurs="0" name="AlertID" type="xs:string"/><xs:element minOccurs="0" ref="ns1:APIID"/><xs:element minOccurs="0" ref="ns2:ContractID"/><xs:element minOccurs="0" name="Title" type="xs:string"/><xs:element minOccurs="0" name="Description" type="xs:string"/><xs:element minOccurs="0" name="Type" type="xs:string"/><xs:element minOccurs="0" name="Priority" type="xs:string"/><xs:element minOccurs="0" name="Environment" type="xs:string"/><xs:element minOccurs="0" ref="ns3:UserID"/><xs:element minOccurs="0" ref="ns3:UserName"/><xs:element minOccurs="0" name="Created" type="xs:dateTime"/><xs:element minOccurs="0" name="Marks" type="xs:int"/><xs:element minOccurs="0" name="IsMarked" type="xs:boolean"/><xs:element minOccurs="0" name="Visibility" type="xs:string"/><xs:element minOccurs="0" name="Comments" type="xs:int"/><xs:element maxOccurs="unbounded" minOccurs="0" name="Tag" type="xs:string"/><xs:element minOccurs="0" name="PubDate" type="xs:dateTime"/><xs:element maxOccurs="unbounded" minOccurs="0" name="ResourceID" type="xs:string"/><xs:element minOccurs="0" ref="ns4:Image"/><xs:element minOccurs="0" name="Link" type="xs:string"/><xs:element minOccurs="0" ref="ns4:AuthoringUser"/><xs:element minOccurs="0" name="Published" type="xs:boolean"/><xs:element minOccurs="0" ref="ns5:DescriptionMediaType"/><xs:element minOccurs="0" ref="ns5:BoardItemArtifacts"/></xs:sequence></xs:complexType></xs:element>
</xs:schema>
    <xs:schema elementFormDefault="qualified" targetNamespace="http://soa.com/xsd/comment/1.0" version="1.0" xmlns:ns1="http://soa.com/xsd/user/1.0" xmlns:ns2="http://soa.com/xsd/board/1.0" xmlns:ns3="http://soa.com/xsd/dnmodel/1.0" xmlns:ns4="http://a9.com/-/spec/opensearch/1.1/" xmlns:tns="http://soa.com/xsd/comment/1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:import namespace="http://soa.com/xsd/user/1.0"/>
<xs:import namespace="http://soa.com/xsd/board/1.0"/>
<xs:import namespace="http://soa.com/xsd/dnmodel/1.0"/>
<xs:import namespace="http://a9.com/-/spec/opensearch/1.1/"/>
<xs:element name="Comment"><xs:complexType><xs:sequence><xs:element minOccurs="0" name="CommentID" type="xs:string"/><xs:element minOccurs="0" name="CommentSubjectID" type="xs:string"/><xs:element minOccurs="0" name="Content" type="xs:string"/><xs:element minOccurs="0" name="Created" type="xs:dateTime"/><xs:element minOccurs="0" name="Marks" type="xs:int"/><xs:element minOccurs="0" name="IsMarked" type="xs:boolean"/><xs:element ref="ns1:UserID"/><xs:element minOccurs="0" ref="ns1:UserName"/><xs:element minOccurs="0" ref="ns1:AvatarURL"/><xs:element default="true" minOccurs="0" name="Published" type="xs:boolean"/><xs:element minOccurs="0" name="WorkflowState" type="xs:string"/><xs:element minOccurs="0" name="MediaType" type="xs:string"/><xs:element minOccurs="0" ref="ns2:BoardItemArtifacts"/><xs:element minOccurs="0" name="Updated" type="xs:dateTime"/><xs:element maxOccurs="unbounded" minOccurs="0" ref="ns3:Action"/></xs:sequence></xs:complexType></xs:element>
<xs:element name="Comments"><xs:complexType><xs:sequence><xs:element minOccurs="0" ref="ns4:totalResults"/><xs:element minOccurs="0" ref="ns4:startIndex"/><xs:element maxOccurs="unbounded" minOccurs="0" ref="tns:Comment"/></xs:sequence></xs:complexType></xs:element>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="getAlertRequestMessage">
    <wsdl:part name="AlertID" type="xs:string">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="createAlertRequestMessage">
    <wsdl:part name="parameter0" element="nms1:Alert">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getAlertResponseMessage">
    <wsdl:part name="getAlertResponse" element="nms1:Alert">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getAlertCommentsResponseMessage">
    <wsdl:part name="getAlertCommentsResponse" element="nms4:Comments">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getAlertsResponseMessage">
    <wsdl:part name="getAlertsResponse" element="tns:rss">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="deleteAlertResponseMessage">
    <wsdl:part element="xs:any">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getAlertCommentsRequestMessage">
    <wsdl:part name="AlertID" type="xs:string">
    </wsdl:part>
    <wsdl:part name="start" type="xs:integer">
    </wsdl:part>
    <wsdl:part name="count" type="xs:integer">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="deleteAlertRequestMessage">
    <wsdl:part name="AlertID" type="xs:string">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getAlertsRequestMessage">
    <wsdl:part name="APIID" type="xs:string">
    </wsdl:part>
    <wsdl:part name="ItemID" type="xs:string">
    </wsdl:part>
    <wsdl:part name="Tag" type="xs:string">
    </wsdl:part>
    <wsdl:part name="SortBy" type="xs:string">
    </wsdl:part>
    <wsdl:part name="IncludeComments" type="xs:boolean">
    </wsdl:part>
    <wsdl:part name="NumberOfComments" type="xs:integer">
    </wsdl:part>
    <wsdl:part name="start" type="xs:integer">
    </wsdl:part>
    <wsdl:part name="count" type="xs:integer">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="commentOnAlertResponseMessage">
    <wsdl:part name="commentOnAlertResponse" type="xs:string">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="createAlertResponseMessage">
    <wsdl:part name="createAlertResponse" type="xs:string">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="commentOnAlertRequestMessage">
    <wsdl:part name="AlertID" type="xs:string">
    </wsdl:part>
    <wsdl:part name="parameter0" element="nms4:Comment">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="AlertAPIPortType">
    <wsdl:operation name="getAlert">
      <wsdl:input message="tns:getAlertRequestMessage">
    </wsdl:input>
      <wsdl:output message="tns:getAlertResponseMessage">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="commentOnAlert">
      <wsdl:input message="tns:commentOnAlertRequestMessage">
    </wsdl:input>
      <wsdl:output message="tns:commentOnAlertResponseMessage">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAlertComments">
      <wsdl:input message="tns:getAlertCommentsRequestMessage">
    </wsdl:input>
      <wsdl:output message="tns:getAlertCommentsResponseMessage">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteAlert">
      <wsdl:input message="tns:deleteAlertRequestMessage">
    </wsdl:input>
      <wsdl:output message="tns:deleteAlertResponseMessage">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAlerts">
      <wsdl:input message="tns:getAlertsRequestMessage">
    </wsdl:input>
      <wsdl:output message="tns:getAlertsResponseMessage">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="createAlert">
      <wsdl:input message="tns:createAlertRequestMessage">
    </wsdl:input>
      <wsdl:output message="tns:createAlertResponseMessage">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="AlertAPIBinding" type="tns:AlertAPIPortType">
    <shttp:binding/>
    <wsdl:operation name="getAlert">
<wsdl:documentation><sdoc:displayName xmlns:sdoc="http://soa.com/wsdl/doc">GET /alerts/{AlertID}</sdoc:displayName></wsdl:documentation>
    <shttp:operation inputSerialization="*/*" location="/alerts/{AlertID}" method="GET" outputSerialization="application/json,application/vnd.soa.v71+json,application/vnd.soa.v72+json,application/vnd.soa.v80+json,application/vnd.soa.v81+json"/>
      <wsdl:input>
    <shttp:input name="AlertID" part="AlertID" type="path"/>
      </wsdl:input>
      <wsdl:output>
    <shttp:output name="getAlertResponse" part="getAlertResponse" type="entity"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="commentOnAlert">
<wsdl:documentation><sdoc:displayName xmlns:sdoc="http://soa.com/wsdl/doc">POST /alerts/{AlertID}/comments</sdoc:displayName></wsdl:documentation>
    <shttp:operation inputSerialization="application/json,application/vnd.soa.v71+json,application/vnd.soa.v72+json,application/vnd.soa.v80+json,application/vnd.soa.v81+json" location="/alerts/{AlertID}/comments" method="POST" outputSerialization="text/plain"/>
      <wsdl:input>
    <shttp:input name="AlertID" part="AlertID" type="path"/>
    <shttp:input name="parameter0" part="parameter0" type="entity"/>
      </wsdl:input>
      <wsdl:output>
    <shttp:output name="commentOnAlertResponse" part="commentOnAlertResponse" type="entity"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAlertComments">
<wsdl:documentation><sdoc:displayName xmlns:sdoc="http://soa.com/wsdl/doc">GET /alerts/{AlertID}/comments</sdoc:displayName></wsdl:documentation>
    <shttp:operation inputSerialization="*/*" location="/alerts/{AlertID}/comments" method="GET" outputSerialization="application/json,application/vnd.soa.v71+json,application/vnd.soa.v72+json,application/vnd.soa.v80+json,application/vnd.soa.v81+json"/>
      <wsdl:input>
    <shttp:input name="AlertID" part="AlertID" type="path"/>
    <shttp:input name="start" part="start" type="query"/>
    <shttp:input name="count" part="count" type="query"/>
      </wsdl:input>
      <wsdl:output>
    <shttp:output name="getAlertCommentsResponse" part="getAlertCommentsResponse" type="entity"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteAlert">
<wsdl:documentation><sdoc:displayName xmlns:sdoc="http://soa.com/wsdl/doc">DELETE /alerts/{AlertID}</sdoc:displayName></wsdl:documentation>
    <shttp:operation inputSerialization="*/*" location="/alerts/{AlertID}" method="DELETE" outputSerialization="text/plain"/>
      <wsdl:input>
    <shttp:input name="AlertID" part="AlertID" type="path"/>
      </wsdl:input>
      <wsdl:output>
    <shttp:output name="" part="" type="entity"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAlerts">
<wsdl:documentation><sdoc:displayName xmlns:sdoc="http://soa.com/wsdl/doc">GET /alerts</sdoc:displayName></wsdl:documentation>
    <shttp:operation inputSerialization="*/*" location="/alerts" method="GET" outputSerialization="text/xml,application/rss+xml,application/json,application/vnd.soa.v71+json,application/vnd.soa.v72+json,application/vnd.soa.v80+json,application/vnd.soa.v81+json,application/vnd.soa.v71+xml,application/vnd.soa.v72+xml,application/vnd.soa.v80+xml,application/vnd.soa.v81+xml"/>
      <wsdl:input>
    <shttp:input name="APIID" part="APIID" type="query"/>
    <shttp:input name="ItemID" part="ItemID" type="query"/>
    <shttp:input name="Tag" part="Tag" type="query"/>
    <shttp:input name="SortBy" part="SortBy" type="query"/>
    <shttp:input name="IncludeComments" part="IncludeComments" type="query"/>
    <shttp:input name="NumberOfComments" part="NumberOfComments" type="query"/>
    <shttp:input name="start" part="start" type="query"/>
    <shttp:input name="count" part="count" type="query"/>
      </wsdl:input>
      <wsdl:output>
    <shttp:output name="getAlertsResponse" part="getAlertsResponse" type="entity"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="createAlert">
<wsdl:documentation><sdoc:displayName xmlns:sdoc="http://soa.com/wsdl/doc">POST /alerts</sdoc:displayName></wsdl:documentation>
    <shttp:operation inputSerialization="application/json,application/vnd.soa.v71+json,application/vnd.soa.v72+json,application/vnd.soa.v80+json,application/vnd.soa.v81+json" location="/alerts" method="POST" outputSerialization="text/plain"/>
      <wsdl:input>
    <shttp:input name="parameter0" part="parameter0" type="entity"/>
      </wsdl:input>
      <wsdl:output>
    <shttp:output name="createAlertResponse" part="createAlertResponse" type="entity"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AlertAPI">
<wsdl:documentation><sdoc:description xmlns:sdoc="http://soa.com/wsdl/doc"><![CDATA[<p>The Alerts service provides operations that allow you to manage alerts on APIs, including adding, retrieving, and deleting alerts, commenting  on an alert, and retrieving comments.</p>]]></sdoc:description></wsdl:documentation>
    <wsdl:port name="AlertAPI_rest_port_https" binding="tns:AlertAPIBinding">
    <shttp:address location="https://0.0.0.0/api"/>
    </wsdl:port>
    <wsdl:port name="AlertAPI_rest_port_http" binding="tns:AlertAPIBinding">
    <shttp:address location="http://0.0.0.0/api"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
