ag/assets/latest_api_plat/rest/api-platform/api-http___soa.com_wsdl_ticket_1.0-TicketAPI.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://soa.com/wsdl/ticket/1.0" xmlns:nms5="http://soa.com/xsd/workflow/1.0" xmlns:nms4="http://soa.com/xsd/board/1.0" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://soa.com/wsdl/ticket/1.0" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:nms3="http://soa.com/xsd/comment/1.0" xmlns:nms2="http://soa.com/xsd/dnmodel/1.0" xmlns:nms1="http://soa.com/xsd/ticket/1.0" xmlns:shttp="http://soa.com/wsdl/http">
  <wsdl:types>
    <xs:schema targetNamespace="http://soa.com/xsd/user/1.0" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:element name="AvatarURL" type="xs:string"/>
<xs:element name="UserID" type="xs:string"/>
<xs:element name="UserName" type="xs:string"/>
</xs:schema>
    <xs:schema elementFormDefault="qualified" targetNamespace="http://soa.com/xsd/dnmodel/1.0" version="1.0" xmlns:tns="http://soa.com/xsd/dnmodel/1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:element name="Action"><xs:complexType><xs:simpleContent><xs:extension base="xs:string"><xs:attribute name="label" type="xs:string" use="required"/></xs:extension></xs:simpleContent></xs:complexType></xs:element>
<xs:element name="AuthoringUser"><xs:complexType><xs:sequence><xs:element name="UserID" type="xs:string"/><xs:element minOccurs="0" name="Name" type="xs:string"/><xs:element minOccurs="0" ref="tns:Image"/></xs:sequence></xs:complexType></xs:element>
<xs:element name="Image"><xs:complexType><xs:all><xs:element name="Url" type="xs:anyURI"/><xs:element name="Title" type="xs:string"/><xs:element name="Link" type="xs:anyURI"/><xs:element minOccurs="0" name="Description" type="xs:string"/></xs:all></xs:complexType></xs:element>
<xs:element name="TargetResource"><xs:complexType><xs:sequence><xs:element minOccurs="0" name="Name" type="xs:string"/><xs:element minOccurs="0" name="ID" type="xs:string"/><xs:element minOccurs="0" name="Type" type="xs:string"/><xs:element minOccurs="0" name="Avatar" type="xs:string"/><xs:element minOccurs="0" ref="tns:Image"/><xs:element minOccurs="0" name="Visibility" type="xs:string"/><xs:element default="false" minOccurs="0" name="IsResourceLevelPermissionSupported" type="xs:boolean"/></xs:sequence></xs:complexType></xs:element>
<xs:element name="TargetResources"><xs:complexType><xs:sequence><xs:element maxOccurs="unbounded" minOccurs="0" ref="tns:TargetResource"/></xs:sequence></xs:complexType></xs:element>
</xs:schema>
    <xs:schema elementFormDefault="qualified" targetNamespace="http://soa.com/xsd/board/1.0" version="1.0" xmlns:tns="http://soa.com/xsd/board/1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:element name="BoardItemArtifact"><xs:complexType><xs:sequence><xs:element minOccurs="0" name="ContextID" type="xs:string"/><xs:element name="FileName" type="xs:string"/><xs:element minOccurs="0" name="BaseUri" type="xs:string"/><xs:element minOccurs="0" name="UriPath" type="xs:string"/></xs:sequence></xs:complexType></xs:element>
<xs:element name="BoardItemArtifacts"><xs:complexType><xs:sequence><xs:element maxOccurs="unbounded" minOccurs="0" ref="tns:BoardItemArtifact"/></xs:sequence></xs:complexType></xs:element>
<xs:element name="DescriptionMediaType" type="xs:string"/>
</xs:schema>
    <xs:schema targetNamespace="http://soa.com/xsd/api/1.0" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:element name="APIID" type="xs:string"/>
</xs:schema>
    <xs:schema targetNamespace="http://soa.com/xsd/app/1.0" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:element name="AppID" type="xs:string"/>
</xs:schema>
    <xs:schema targetNamespace="http://a9.com/-/spec/opensearch/1.1/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:element name="startIndex" type="xs:long"/>
<xs:element name="totalResults" type="xs:long"/>
</xs:schema>
    <xs:schema elementFormDefault="qualified" targetNamespace="http://soa.com/xsd/ticket/1.0" version="1.0" xmlns:ns1="http://soa.com/xsd/api/1.0" xmlns:ns2="http://soa.com/xsd/app/1.0" xmlns:ns3="http://soa.com/xsd/user/1.0" xmlns:ns4="http://soa.com/xsd/dnmodel/1.0" xmlns:ns5="http://soa.com/xsd/comment/1.0" xmlns:ns6="http://soa.com/xsd/board/1.0" xmlns:tns="http://soa.com/xsd/ticket/1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:import namespace="http://soa.com/xsd/api/1.0"/>
<xs:import namespace="http://soa.com/xsd/app/1.0"/>
<xs:import namespace="http://soa.com/xsd/user/1.0"/>
<xs:import namespace="http://soa.com/xsd/dnmodel/1.0"/>
<xs:import namespace="http://soa.com/xsd/comment/1.0"/>
<xs:import namespace="http://soa.com/xsd/board/1.0"/>
<xs:element name="Labels"><xs:complexType><xs:sequence><xs:element maxOccurs="unbounded" minOccurs="0" name="Label" type="xs:string"/></xs:sequence></xs:complexType></xs:element>
<xs:element name="Ticket"><xs:complexType><xs:sequence><xs:element minOccurs="0" name="TicketID" type="xs:string"/><xs:element minOccurs="0" ref="ns1:APIID"/><xs:element minOccurs="0" ref="ns2:AppID"/><xs:element minOccurs="0" name="Title" type="xs:string"/><xs:element minOccurs="0" name="Description" type="xs:string"/><xs:element minOccurs="0" name="Environment" type="xs:string"/><xs:element minOccurs="0" name="State" type="xs:string"/><xs:element ref="ns3:UserID"/><xs:element minOccurs="0" ref="ns3:UserName"/><xs:element minOccurs="0" name="Created" type="xs:dateTime"/><xs:element maxOccurs="unbounded" minOccurs="0" name="Label" type="xs:string"/><xs:element maxOccurs="unbounded" minOccurs="0" name="Tag" type="xs:string"/><xs:element minOccurs="0" name="Comments" type="xs:int"/><xs:element minOccurs="0" name="Marks" type="xs:int"/><xs:element minOccurs="0" name="IsMarked" type="xs:boolean"/><xs:element minOccurs="0" name="Visibility" type="xs:string"/><xs:element minOccurs="0" name="PubDate" type="xs:dateTime"/><xs:element maxOccurs="unbounded" minOccurs="0" ref="ns4:Action"/><xs:element minOccurs="0" ref="ns4:TargetResources"/><xs:element minOccurs="0" ref="ns4:Image"/><xs:element minOccurs="0" ref="ns5:CommentsPreview"/><xs:element minOccurs="0" name="Link" type="xs:string"/><xs:element minOccurs="0" ref="ns4:AuthoringUser"/><xs:element minOccurs="0" name="Published" type="xs:boolean"/><xs:element minOccurs="0" ref="ns6:DescriptionMediaType"/><xs:element minOccurs="0" ref="ns6:BoardItemArtifacts"/></xs:sequence></xs:complexType></xs:element>
<xs:element name="Tickets"><xs:complexType><xs:sequence><xs:element maxOccurs="unbounded" minOccurs="0" ref="tns:Ticket"/></xs:sequence></xs:complexType></xs:element>
</xs:schema>
    <xs:schema elementFormDefault="qualified" targetNamespace="http://soa.com/xsd/comment/1.0" version="1.0" xmlns:ns1="http://soa.com/xsd/user/1.0" xmlns:ns2="http://soa.com/xsd/board/1.0" xmlns:ns3="http://soa.com/xsd/dnmodel/1.0" xmlns:ns4="http://a9.com/-/spec/opensearch/1.1/" xmlns:tns="http://soa.com/xsd/comment/1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:import namespace="http://soa.com/xsd/user/1.0"/>
<xs:import namespace="http://soa.com/xsd/board/1.0"/>
<xs:import namespace="http://soa.com/xsd/dnmodel/1.0"/>
<xs:import namespace="http://a9.com/-/spec/opensearch/1.1/"/>
<xs:element name="Comment"><xs:complexType><xs:sequence><xs:element minOccurs="0" name="CommentID" type="xs:string"/><xs:element minOccurs="0" name="CommentSubjectID" type="xs:string"/><xs:element minOccurs="0" name="Content" type="xs:string"/><xs:element minOccurs="0" name="Created" type="xs:dateTime"/><xs:element minOccurs="0" name="Marks" type="xs:int"/><xs:element minOccurs="0" name="IsMarked" type="xs:boolean"/><xs:element ref="ns1:UserID"/><xs:element minOccurs="0" ref="ns1:UserName"/><xs:element minOccurs="0" ref="ns1:AvatarURL"/><xs:element default="true" minOccurs="0" name="Published" type="xs:boolean"/><xs:element minOccurs="0" name="WorkflowState" type="xs:string"/><xs:element minOccurs="0" name="MediaType" type="xs:string"/><xs:element minOccurs="0" ref="ns2:BoardItemArtifacts"/><xs:element minOccurs="0" name="Updated" type="xs:dateTime"/><xs:element maxOccurs="unbounded" minOccurs="0" ref="ns3:Action"/></xs:sequence></xs:complexType></xs:element>
<xs:element name="Comments"><xs:complexType><xs:sequence><xs:element minOccurs="0" ref="ns4:totalResults"/><xs:element minOccurs="0" ref="ns4:startIndex"/><xs:element maxOccurs="unbounded" minOccurs="0" ref="tns:Comment"/></xs:sequence></xs:complexType></xs:element>
<xs:element name="CommentsPreview"><xs:complexType><xs:sequence><xs:element minOccurs="0" name="Count" type="xs:int"/><xs:element maxOccurs="unbounded" minOccurs="0" ref="tns:Comment"/></xs:sequence></xs:complexType></xs:element>
</xs:schema>
    <xs:schema elementFormDefault="qualified" targetNamespace="http://soa.com/xsd/workflow/1.0" version="1.0" xmlns:ns1="http://soa.com/xsd/user/1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:import namespace="http://soa.com/xsd/user/1.0"/>
<xs:element name="Action"><xs:complexType><xs:sequence><xs:element ref="ns1:UserID"/><xs:element name="ActionName" type="xs:string"/><xs:element minOccurs="0" name="Comments" type="xs:string"/><xs:element minOccurs="0" name="Parameters"><xs:complexType><xs:sequence><xs:element maxOccurs="unbounded" minOccurs="0" ref="ns2:ActionParameter" xmlns:ns2="http://soa.com/xsd/workflow/1.0"/></xs:sequence></xs:complexType></xs:element></xs:sequence></xs:complexType></xs:element>
<xs:element name="ActionParameter"><xs:complexType><xs:sequence><xs:element name="Name" type="xs:string"/><xs:element minOccurs="0" name="Value" type="xs:string"/></xs:sequence></xs:complexType></xs:element>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="deleteTicketRequestMessage">
    <wsdl:part name="ticketID" type="xs:string">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="commentOnTicketResponseMessage">
    <wsdl:part name="commentOnTicketResponse" type="xs:string">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getTicketCommentsRequestMessage">
    <wsdl:part name="ticketID" type="xs:string">
    </wsdl:part>
    <wsdl:part name="start" type="xs:integer">
    </wsdl:part>
    <wsdl:part name="count" type="xs:integer">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getTicketResponseMessage">
    <wsdl:part name="getTicketResponse" element="nms1:Ticket">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getTicketCommentsResponseMessage">
    <wsdl:part name="getTicketCommentsResponse" element="nms3:Comments">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="updateTicketLabelsResponseMessage">
    <wsdl:part name="updateTicketLabelsResponse" type="tns:List">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="markTicketRequestMessage">
    <wsdl:part name="ticketID" type="xs:string">
    </wsdl:part>
    <wsdl:part name="parameter0" type="xs:string">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getTicketRequestMessage">
    <wsdl:part name="ticketID" type="xs:string">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="submitTicketResponseMessage">
    <wsdl:part name="submitTicketResponse" type="xs:string">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="markTicketResponseMessage">
    <wsdl:part name="markTicketResponse" type="xs:string">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="commentOnTicketRequestMessage">
    <wsdl:part name="ticketID" type="xs:string">
    </wsdl:part>
    <wsdl:part name="parameter0" element="nms3:Comment">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="executeWorkflowActionRequestMessage">
    <wsdl:part name="ticketID" type="xs:string">
    </wsdl:part>
    <wsdl:part name="parameter0" element="nms5:Action">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="executeWorkflowActionResponseMessage">
    <wsdl:part name="executeWorkflowActionResponse" type="xs:string">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="deleteTicketResponseMessage">
    <wsdl:part element="xs:any">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getSupportedLabelsResponseMessage">
    <wsdl:part name="getSupportedLabelsResponse" element="nms1:Labels">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getSupportedLabelsRequestMessage">
  </wsdl:message>
  <wsdl:message name="updateTicketLabelsRequestMessage">
    <wsdl:part name="ticketID" type="xs:string">
    </wsdl:part>
    <wsdl:part name="parameter0" type="tns:TicketLabelChange">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="unmarkTicketRequestMessage">
    <wsdl:part name="ticketID" type="xs:string">
    </wsdl:part>
    <wsdl:part name="userID" type="xs:string">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getTicketsResponseMessage">
    <wsdl:part name="getTicketsResponse" element="nms1:Tickets">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="unmarkTicketResponseMessage">
    <wsdl:part name="unmarkTicketResponse" type="xs:string">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getTicketsRequestMessage">
    <wsdl:part name="APIID" type="xs:string">
    </wsdl:part>
    <wsdl:part name="AppID" type="xs:string">
    </wsdl:part>
    <wsdl:part name="RetrievingUserID" type="xs:string">
    </wsdl:part>
    <wsdl:part name="AuthorID" type="xs:string">
    </wsdl:part>
    <wsdl:part name="ItemID" type="xs:string">
    </wsdl:part>
    <wsdl:part name="Tag" type="xs:string">
    </wsdl:part>
    <wsdl:part name="Label" type="xs:string">
    </wsdl:part>
    <wsdl:part name="State" type="xs:string">
    </wsdl:part>
    <wsdl:part name="IncludeComments" type="xs:boolean">
    </wsdl:part>
    <wsdl:part name="NumberOfComments" type="xs:integer">
    </wsdl:part>
    <wsdl:part name="IncludeActions" type="xs:boolean">
    </wsdl:part>
    <wsdl:part name="SortBy" type="xs:string">
    </wsdl:part>
    <wsdl:part name="start" type="xs:integer">
    </wsdl:part>
    <wsdl:part name="count" type="xs:integer">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="submitTicketRequestMessage">
    <wsdl:part name="parameter0" element="nms1:Ticket">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="TicketAPIPortType">
    <wsdl:operation name="updateTicketLabels">
      <wsdl:input message="tns:updateTicketLabelsRequestMessage">
    </wsdl:input>
      <wsdl:output message="tns:updateTicketLabelsResponseMessage">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getSupportedLabels">
      <wsdl:input message="tns:getSupportedLabelsRequestMessage">
    </wsdl:input>
      <wsdl:output message="tns:getSupportedLabelsResponseMessage">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getTickets">
      <wsdl:input message="tns:getTicketsRequestMessage">
    </wsdl:input>
      <wsdl:output message="tns:getTicketsResponseMessage">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="submitTicket">
      <wsdl:input message="tns:submitTicketRequestMessage">
    </wsdl:input>
      <wsdl:output message="tns:submitTicketResponseMessage">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="unmarkTicket">
      <wsdl:input message="tns:unmarkTicketRequestMessage">
    </wsdl:input>
      <wsdl:output message="tns:unmarkTicketResponseMessage">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="markTicket">
      <wsdl:input message="tns:markTicketRequestMessage">
    </wsdl:input>
      <wsdl:output message="tns:markTicketResponseMessage">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteTicket">
      <wsdl:input message="tns:deleteTicketRequestMessage">
    </wsdl:input>
      <wsdl:output message="tns:deleteTicketResponseMessage">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="commentOnTicket">
      <wsdl:input message="tns:commentOnTicketRequestMessage">
    </wsdl:input>
      <wsdl:output message="tns:commentOnTicketResponseMessage">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getTicket">
      <wsdl:input message="tns:getTicketRequestMessage">
    </wsdl:input>
      <wsdl:output message="tns:getTicketResponseMessage">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getTicketComments">
      <wsdl:input message="tns:getTicketCommentsRequestMessage">
    </wsdl:input>
      <wsdl:output message="tns:getTicketCommentsResponseMessage">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="executeWorkflowAction">
      <wsdl:input message="tns:executeWorkflowActionRequestMessage">
    </wsdl:input>
      <wsdl:output message="tns:executeWorkflowActionResponseMessage">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="TicketAPIBinding" type="tns:TicketAPIPortType">
    <shttp:binding/>
    <wsdl:operation name="updateTicketLabels">
<wsdl:documentation><sdoc:displayName xmlns:sdoc="http://soa.com/wsdl/doc">POST /tickets/{ticketID}/labels</sdoc:displayName></wsdl:documentation>
    <shttp:operation inputSerialization="application/json,application/xml,application/vnd.soa.v71+json,application/vnd.soa.v72+json,application/vnd.soa.v80+json,application/vnd.soa.v71+xml,application/vnd.soa.v72+xml,application/vnd.soa.v80+xml,application/vnd.soa.v81+json,application/vnd.soa.v81+xml" location="/tickets/{ticketID}/labels" method="POST" outputSerialization="application/json,application/xml,application/vnd.soa.v71+json,application/vnd.soa.v72+json,application/vnd.soa.v80+json,application/vnd.soa.v71+xml,application/vnd.soa.v72+xml,application/vnd.soa.v80+xml,application/vnd.soa.v81+json,application/vnd.soa.v81+xml"/>
      <wsdl:input>
    <shttp:input name="ticketID" part="ticketID" type="path"/>
    <shttp:input name="parameter0" part="parameter0" type="entity"/>
      </wsdl:input>
      <wsdl:output>
    <shttp:output name="updateTicketLabelsResponse" part="updateTicketLabelsResponse" type="entity"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getSupportedLabels">
<wsdl:documentation><sdoc:displayName xmlns:sdoc="http://soa.com/wsdl/doc">GET /tickets/labels</sdoc:displayName></wsdl:documentation>
    <shttp:operation location="/tickets/labels" method="GET" outputSerialization="application/json,application/xml,application/vnd.soa.v71+json,application/vnd.soa.v72+json,application/vnd.soa.v80+json,application/vnd.soa.v71+xml,application/vnd.soa.v72+xml,application/vnd.soa.v80+xml,application/vnd.soa.v81+json,application/vnd.soa.v81+xml"/>
      <wsdl:output>
    <shttp:output name="getSupportedLabelsResponse" part="getSupportedLabelsResponse" type="entity"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getTickets">
<wsdl:documentation><sdoc:displayName xmlns:sdoc="http://soa.com/wsdl/doc">GET /tickets</sdoc:displayName></wsdl:documentation>
    <shttp:operation location="/tickets" method="GET" outputSerialization="application/vnd.soa.v72+json,application/vnd.soa.v80+json,application/vnd.soa.v72+xml,application/vnd.soa.v80+xml,application/vnd.soa.v81+json,application/vnd.soa.v81+xml"/>
      <wsdl:input>
    <shttp:input name="APIID" part="APIID" type="query"/>
    <shttp:input name="AppID" part="AppID" type="query"/>
    <shttp:input name="RetrievingUserID" part="RetrievingUserID" type="query"/>
    <shttp:input name="AuthorID" part="AuthorID" type="query"/>
    <shttp:input name="ItemID" part="ItemID" type="query"/>
    <shttp:input name="Tag" part="Tag" type="query"/>
    <shttp:input name="Label" part="Label" type="query"/>
    <shttp:input name="State" part="State" type="query"/>
    <shttp:input name="IncludeComments" part="IncludeComments" type="query"/>
    <shttp:input name="NumberOfComments" part="NumberOfComments" type="query"/>
    <shttp:input name="IncludeActions" part="IncludeActions" type="query"/>
    <shttp:input name="SortBy" part="SortBy" type="query"/>
    <shttp:input name="start" part="start" type="query"/>
    <shttp:input name="count" part="count" type="query"/>
      </wsdl:input>
      <wsdl:output>
    <shttp:output name="getTicketsResponse" part="getTicketsResponse" type="entity"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="submitTicket">
<wsdl:documentation><sdoc:displayName xmlns:sdoc="http://soa.com/wsdl/doc">POST /tickets</sdoc:displayName></wsdl:documentation>
    <shttp:operation inputSerialization="application/json,application/xml,application/vnd.soa.v71+json,application/vnd.soa.v72+json,application/vnd.soa.v80+json,application/vnd.soa.v71+xml,application/vnd.soa.v72+xml,application/vnd.soa.v80+xml,application/vnd.soa.v81+json,application/vnd.soa.v81+xml" location="/tickets" method="POST" outputSerialization="text/plain"/>
      <wsdl:input>
    <shttp:input name="parameter0" part="parameter0" type="entity"/>
      </wsdl:input>
      <wsdl:output>
    <shttp:output name="submitTicketResponse" part="submitTicketResponse" type="entity"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="unmarkTicket">
<wsdl:documentation><sdoc:displayName xmlns:sdoc="http://soa.com/wsdl/doc">DELETE /tickets/{ticketID}/marks/{userID}</sdoc:displayName></wsdl:documentation>
    <shttp:operation location="/tickets/{ticketID}/marks/{userID}" method="DELETE" outputSerialization="text/plain"/>
      <wsdl:input>
    <shttp:input name="ticketID" part="ticketID" type="path"/>
    <shttp:input name="userID" part="userID" type="path"/>
      </wsdl:input>
      <wsdl:output>
    <shttp:output name="unmarkTicketResponse" part="unmarkTicketResponse" type="entity"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="markTicket">
<wsdl:documentation><sdoc:displayName xmlns:sdoc="http://soa.com/wsdl/doc">POST /tickets/{ticketID}/marks</sdoc:displayName></wsdl:documentation>
    <shttp:operation inputSerialization="text/plain" location="/tickets/{ticketID}/marks" method="POST" outputSerialization="text/plain"/>
      <wsdl:input>
    <shttp:input name="ticketID" part="ticketID" type="path"/>
    <shttp:input name="parameter0" part="parameter0" type="entity"/>
      </wsdl:input>
      <wsdl:output>
    <shttp:output name="markTicketResponse" part="markTicketResponse" type="entity"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteTicket">
<wsdl:documentation><sdoc:displayName xmlns:sdoc="http://soa.com/wsdl/doc">DELETE /tickets/{ticketID}</sdoc:displayName></wsdl:documentation>
    <shttp:operation location="/tickets/{ticketID}" method="DELETE" outputSerialization="text/plain"/>
      <wsdl:input>
    <shttp:input name="ticketID" part="ticketID" type="path"/>
      </wsdl:input>
      <wsdl:output>
    <shttp:output name="" part="" type="entity"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="commentOnTicket">
<wsdl:documentation><sdoc:displayName xmlns:sdoc="http://soa.com/wsdl/doc">POST /tickets/{ticketID}/comments</sdoc:displayName></wsdl:documentation>
    <shttp:operation inputSerialization="application/json,application/xml,application/vnd.soa.v71+json,application/vnd.soa.v72+json,application/vnd.soa.v80+json,application/vnd.soa.v71+xml,application/vnd.soa.v72+xml,application/vnd.soa.v80+xml,application/vnd.soa.v81+json,application/vnd.soa.v81+xml" location="/tickets/{ticketID}/comments" method="POST" outputSerialization="text/plain"/>
      <wsdl:input>
    <shttp:input name="ticketID" part="ticketID" type="path"/>
    <shttp:input name="parameter0" part="parameter0" type="entity"/>
      </wsdl:input>
      <wsdl:output>
    <shttp:output name="commentOnTicketResponse" part="commentOnTicketResponse" type="entity"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getTicket">
<wsdl:documentation><sdoc:displayName xmlns:sdoc="http://soa.com/wsdl/doc">GET /tickets/{ticketID}</sdoc:displayName></wsdl:documentation>
    <shttp:operation location="/tickets/{ticketID}" method="GET" outputSerialization="application/json,application/xml,application/vnd.soa.v71+json,application/vnd.soa.v72+json,application/vnd.soa.v80+json,application/vnd.soa.v71+xml,application/vnd.soa.v72+xml,application/vnd.soa.v80+xml,application/vnd.soa.v81+json,application/vnd.soa.v81+xml"/>
      <wsdl:input>
    <shttp:input name="ticketID" part="ticketID" type="path"/>
      </wsdl:input>
      <wsdl:output>
    <shttp:output name="getTicketResponse" part="getTicketResponse" type="entity"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getTicketComments">
<wsdl:documentation><sdoc:displayName xmlns:sdoc="http://soa.com/wsdl/doc">GET /tickets/{ticketID}/comments</sdoc:displayName></wsdl:documentation>
    <shttp:operation location="/tickets/{ticketID}/comments" method="GET" outputSerialization="application/json,application/xml,application/vnd.soa.v71+json,application/vnd.soa.v72+json,application/vnd.soa.v80+json,application/vnd.soa.v71+xml,application/vnd.soa.v72+xml,application/vnd.soa.v80+xml,application/vnd.soa.v81+json,application/vnd.soa.v81+xml"/>
      <wsdl:input>
    <shttp:input name="ticketID" part="ticketID" type="path"/>
    <shttp:input name="start" part="start" type="query"/>
    <shttp:input name="count" part="count" type="query"/>
      </wsdl:input>
      <wsdl:output>
    <shttp:output name="getTicketCommentsResponse" part="getTicketCommentsResponse" type="entity"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="executeWorkflowAction">
<wsdl:documentation><sdoc:displayName xmlns:sdoc="http://soa.com/wsdl/doc">POST /tickets/{ticketID}/actions</sdoc:displayName></wsdl:documentation>
    <shttp:operation inputSerialization="application/json,application/xml,application/vnd.soa.v71+json,application/vnd.soa.v72+json,application/vnd.soa.v80+json,application/vnd.soa.v71+xml,application/vnd.soa.v72+xml,application/vnd.soa.v80+xml,application/vnd.soa.v81+json,application/vnd.soa.v81+xml" location="/tickets/{ticketID}/actions" method="POST" outputSerialization="text/plain"/>
      <wsdl:input>
    <shttp:input name="ticketID" part="ticketID" type="path"/>
    <shttp:input name="parameter0" part="parameter0" type="entity"/>
      </wsdl:input>
      <wsdl:output>
    <shttp:output name="executeWorkflowActionResponse" part="executeWorkflowActionResponse" type="entity"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="TicketAPI">
<wsdl:documentation><sdoc:title xmlns:sdoc="http://soa.com/wsdl/doc">Ticket API</sdoc:title><sdoc:description xmlns:sdoc="http://soa.com/wsdl/doc"><![CDATA[<p>The Tickets service provides operations for managing tickets about apps or APIs, including the ticket label and the associated comments and marks.</p>]]></sdoc:description></wsdl:documentation>
    <wsdl:port name="TicketAPI_rest_port_http" binding="tns:TicketAPIBinding">
    <shttp:address location="http://0.0.0.0/api"/>
    </wsdl:port>
    <wsdl:port name="TicketAPI_rest_port_https" binding="tns:TicketAPIBinding">
    <shttp:address location="https://0.0.0.0/api"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
