ag/assets/latest_api_plat/rest/api-platform/api-http___soa.com_uri_products_ContractsManager_wsdl_1.0-ContractAdminService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://soa.com/uri/products/ContractsManager/wsdl/1.0" xmlns:nms4="http://soa.com/uri/products/IdentityAuthorization/xsd/1.0" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://soa.com/uri/products/ContractsManager/wsdl/1.0" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:nms3="http://digev.com/uri/products/Types/xsd/1.0" xmlns:nms2="http://soa.com/uri/products/Contracts/xsd/1.0" xmlns:nms1="http://soa.com/uri/products/restapi/xsd/1.0" xmlns:shttp="http://soa.com/wsdl/http">
  <wsdl:types>
    <xs:schema elementFormDefault="qualified" targetNamespace="http://soa.com/uri/products/restapi/xsd/1.0" version="1.0" xmlns:ns1="http://soa.com/uri/products/Contracts/xsd/1.0" xmlns:ns2="http://digev.com/uri/products/Types/xsd/1.0" xmlns:ns3="http://soa.com/uri/products/IdentityAuthorization/xsd/1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:import namespace="http://soa.com/uri/products/Contracts/xsd/1.0"/>
<xs:import namespace="http://digev.com/uri/products/Types/xsd/1.0"/>
<xs:import namespace="http://soa.com/uri/products/IdentityAuthorization/xsd/1.0"/>
<xs:element name="ContractSpec"><xs:complexType><xs:sequence><xs:element name="ContractInfo" type="ns1:ContractInfo"/><xs:element maxOccurs="unbounded" name="SlaAssignment" type="ns1:SlaAssignment"/><xs:element name="ResourceSet" type="ns2:ResourceSet"/><xs:element name="IdentitySet" type="ns3:IdentitySet"/><xs:element maxOccurs="unbounded" minOccurs="0" name="PolicyAttachment" type="xs:string"/><xs:element name="AddContractContext" type="ns1:AddContractContext"/></xs:sequence></xs:complexType></xs:element>
<xs:element name="Contracts"><xs:complexType><xs:sequence><xs:element maxOccurs="unbounded" minOccurs="0" name="ContractInfo" type="ns1:ContractInfo"/></xs:sequence></xs:complexType></xs:element>
<xs:element name="WorkflowAction"><xs:complexType><xs:sequence><xs:element name="Action" type="xs:string"/><xs:element name="UserName" type="xs:string"/><xs:element minOccurs="0" name="Comment" type="xs:string"/></xs:sequence></xs:complexType></xs:element>
</xs:schema>
    <xs:schema elementFormDefault="qualified" targetNamespace="http://digev.com/uri/products/Types/xsd/1.0" version="1.0" xmlns:tns="http://digev.com/uri/products/Types/xsd/1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:element name="Artifacts" type="tns:Artifacts"/>
<xs:element name="EffectiveDateTimes" type="tns:EffectiveDateTimesType"/>
<xs:complexType name="Artifacts"><xs:sequence><xs:element maxOccurs="unbounded" minOccurs="0" name="Artifact" type="tns:Artifact"/></xs:sequence></xs:complexType>
<xs:complexType name="Artifact"><xs:sequence><xs:element minOccurs="0" name="Root" type="xs:string"/><xs:element minOccurs="0" name="Name" type="xs:string"/><xs:element minOccurs="0" name="Type" type="xs:string"/><xs:element minOccurs="0" name="SourceName" type="xs:string"/><xs:element minOccurs="0" name="Comment" type="xs:string"/></xs:sequence><xs:attribute ref="tns:Uri" use="required"/></xs:complexType>
<xs:complexType name="EffectiveDateTimesType"><xs:all><xs:element name="StartDateTime" type="tns:DateTimeZoneType"/><xs:element minOccurs="0" name="EndDateTime" type="tns:DateTimeZoneType"/><xs:element default="true" minOccurs="0" name="Expire" type="xs:boolean"/></xs:all></xs:complexType>
<xs:complexType name="DateTimeZoneType"><xs:sequence><xs:element name="DateTime" type="xs:dateTime"/><xs:element name="TimezoneName" type="xs:string"/></xs:sequence></xs:complexType>
<xs:complexType name="ResourceSet"><xs:sequence><xs:element minOccurs="0" name="ResourceSetInfo" type="tns:ResourceSetInfo"/><xs:element maxOccurs="unbounded" minOccurs="0" name="OrganizationKey" type="xs:string"/><xs:element maxOccurs="unbounded" minOccurs="0" name="ContainerKey" type="xs:string"/><xs:element maxOccurs="unbounded" minOccurs="0" name="ServiceKey" type="xs:string"/><xs:element maxOccurs="unbounded" minOccurs="0" name="OperationKey" type="xs:string"/><xs:element maxOccurs="unbounded" minOccurs="0" name="ContractKey" type="xs:string"/><xs:element maxOccurs="unbounded" minOccurs="0" name="PolicyKey" type="xs:string"/><xs:element maxOccurs="unbounded" minOccurs="0" name="BindingOperationKey" type="xs:string"/><xs:element maxOccurs="unbounded" minOccurs="0" name="MessageKey" type="xs:string"/><xs:element maxOccurs="unbounded" minOccurs="0" name="BindingMessageKey" type="xs:string"/><xs:element maxOccurs="unbounded" minOccurs="0" name="ServiceBindingId" type="xs:long"/><xs:element maxOccurs="unbounded" minOccurs="0" name="EndpointKey" type="xs:string"/><xs:element maxOccurs="unbounded" minOccurs="0" name="CategoryId" type="xs:string"/><xs:element maxOccurs="unbounded" minOccurs="0" name="BpelKey" type="xs:string"/><xs:element maxOccurs="unbounded" minOccurs="0" name="ScriptKey" type="xs:string"/></xs:sequence></xs:complexType>
<xs:complexType name="ResourceSetInfo"><xs:sequence><xs:element minOccurs="0" name="ResourceSetName" type="xs:string"/><xs:element minOccurs="0" name="Description" type="xs:string"/></xs:sequence></xs:complexType>
<xs:attribute name="Uri" type="xs:anyURI"/>
</xs:schema>
    <xs:schema elementFormDefault="qualified" targetNamespace="http://www.soa.com/uri/products/SLAPolicy/xsd/1.0" version="1.0" xmlns:tns="http://www.soa.com/uri/products/SLAPolicy/xsd/1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:element name="Action"><xs:complexType><xs:sequence><xs:element minOccurs="0" ref="tns:ActionConfiguration"/></xs:sequence><xs:attribute name="ActionName" type="tns:ActionNameType" use="required"/></xs:complexType></xs:element>
<xs:element name="ActionConfiguration"><xs:complexType><xs:sequence><xs:any namespace="##other" processContents="lax"/></xs:sequence></xs:complexType></xs:element>
<xs:element name="Alert"><xs:complexType><xs:sequence/><xs:attribute name="FailureCode" type="xs:positiveInteger" use="required"/><xs:attribute name="ClearCode" type="xs:positiveInteger" use="required"/></xs:complexType></xs:element>
<xs:element name="Block"><xs:simpleType><xs:restriction base="xs:string"/></xs:simpleType></xs:element>
<xs:element name="Category"><xs:complexType><xs:sequence><xs:element maxOccurs="unbounded" ref="tns:RTScope"/></xs:sequence><xs:attribute name="type" type="tns:ScopeCategoryType"/></xs:complexType></xs:element>
<xs:element name="Day"><xs:complexType><xs:sequence><xs:element minOccurs="0" ref="tns:From"/><xs:element minOccurs="0" ref="tns:To"/></xs:sequence><xs:attribute name="name" type="tns:DayNameType" use="required"/></xs:complexType></xs:element>
<xs:element name="Days"><xs:complexType><xs:sequence><xs:element maxOccurs="unbounded" minOccurs="0" ref="tns:Day"/></xs:sequence></xs:complexType></xs:element>
<xs:element name="From"><xs:complexType><xs:sequence/><xs:attribute name="Hour" type="xs:int" use="required"/><xs:attribute name="Minutes" type="xs:int" use="required"/></xs:complexType></xs:element>
<xs:element name="RTSLAPolicy"><xs:complexType><xs:sequence><xs:element maxOccurs="unbounded" minOccurs="0" ref="tns:Category"/></xs:sequence><xs:attribute name="Interval" type="xs:string" use="required"/></xs:complexType></xs:element>
<xs:element name="RTScope"><xs:complexType><xs:sequence><xs:element ref="tns:Scope"/><xs:element ref="tns:Validity"/><xs:element maxOccurs="unbounded" ref="tns:Rule"/></xs:sequence><xs:attribute name="PolicyName" type="xs:string" use="required"/><xs:attribute name="PolicyKey" type="xs:string" use="required"/></xs:complexType></xs:element>
<xs:element name="Rule"><xs:complexType><xs:sequence><xs:element ref="tns:Test"/><xs:element maxOccurs="unbounded" ref="tns:Action"/></xs:sequence><xs:attribute name="interval" type="xs:string" use="required"/><xs:attribute name="RuleKey" type="xs:string" use="required"/></xs:complexType></xs:element>
<xs:element name="Rules"><xs:complexType><xs:sequence><xs:element maxOccurs="unbounded" ref="tns:Rule"/></xs:sequence></xs:complexType></xs:element>
<xs:element name="SLAPolicy"><xs:complexType><xs:sequence><xs:element ref="tns:Validity"/><xs:element ref="tns:Rules"/></xs:sequence></xs:complexType></xs:element>
<xs:element name="Scope"><xs:complexType><xs:sequence/><xs:attribute name="id" type="xs:string" use="required"/><xs:attribute name="type" type="tns:ScopeCategoryType" use="required"/><xs:attribute name="key" type="xs:string" use="required"/></xs:complexType></xs:element>
<xs:element name="Scopes"><xs:complexType><xs:sequence><xs:element maxOccurs="unbounded" ref="tns:Scope"/></xs:sequence></xs:complexType></xs:element>
<xs:element name="Test"><xs:complexType><xs:sequence/><xs:attribute name="Operator" type="tns:OperatorType" use="required"/><xs:attribute name="Metric" type="tns:MetricType" use="required"/><xs:attribute name="Value" type="xs:integer"/><xs:attribute name="ValueUnit" type="tns:MeasureUnitType"/></xs:complexType></xs:element>
<xs:element name="To"><xs:complexType><xs:sequence/><xs:attribute name="Hour" type="xs:int" use="required"/><xs:attribute name="Minutes" type="xs:int" use="required"/></xs:complexType></xs:element>
<xs:element name="Validity"><xs:complexType><xs:sequence><xs:element ref="tns:Days"/></xs:sequence><xs:attribute name="TimeZone" type="xs:string" use="required"/></xs:complexType></xs:element>
<xs:simpleType name="DayNameType"><xs:restriction base="xs:string"><xs:enumeration value="mon"/><xs:enumeration value="tue"/><xs:enumeration value="wed"/><xs:enumeration value="thu"/><xs:enumeration value="fri"/><xs:enumeration value="sat"/><xs:enumeration value="sun"/></xs:restriction></xs:simpleType>
<xs:simpleType name="OperatorType"><xs:restriction base="xs:string"><xs:enumeration value="gt"/><xs:enumeration value="ge"/><xs:enumeration value="le"/><xs:enumeration value="lt"/><xs:enumeration value="eq"/><xs:enumeration value="ne"/></xs:restriction></xs:simpleType>
<xs:simpleType name="MetricType"><xs:restriction base="xs:string"><xs:enumeration value="maxResponse"/><xs:enumeration value="minResponse"/><xs:enumeration value="requestMessageSize"/><xs:enumeration value="responseMessageSize"/><xs:enumeration value="maxMessageSize"/><xs:enumeration value="minMessageSize"/><xs:enumeration value="faultCounter"/><xs:enumeration value="requestCounter"/><xs:enumeration value="successCounter"/><xs:enumeration value="avgResponse"/><xs:enumeration value="responseTime"/><xs:enumeration value="usageCount"/></xs:restriction></xs:simpleType>
<xs:simpleType name="MeasureUnitType"><xs:restriction base="xs:string"><xs:enumeration value="msec"/><xs:enumeration value="sec"/><xs:enumeration value="min"/><xs:enumeration value="hour"/><xs:enumeration value="day"/><xs:enumeration value="week"/><xs:enumeration value="count"/><xs:enumeration value="bytes"/><xs:enumeration value="Kbytes"/><xs:enumeration value="Mbytes"/></xs:restriction></xs:simpleType>
<xs:simpleType name="ScopeCategoryType"><xs:restriction base="xs:string"><xs:enumeration value="Organization"/><xs:enumeration value="Contract"/><xs:enumeration value="Service"/><xs:enumeration value="Operation"/><xs:enumeration value="Endpoint"/></xs:restriction></xs:simpleType>
<xs:simpleType name="ActionNameType"><xs:restriction base="xs:string"><xs:enumeration value="alert"/><xs:enumeration value="block"/></xs:restriction></xs:simpleType>
</xs:schema>
    <xs:schema elementFormDefault="qualified" targetNamespace="http://soa.com/uri/products/IdentityAuthorization/xsd/1.0" version="1.0" xmlns:tns="http://soa.com/uri/products/IdentityAuthorization/xsd/1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:complexType name="IdentitySet"><xs:sequence><xs:element minOccurs="0" name="IdentitySetInfo" type="tns:IdentitySetInfo"/><xs:element maxOccurs="unbounded" minOccurs="0" name="UserIdentity" type="xs:string"/><xs:element maxOccurs="unbounded" minOccurs="0" name="GroupIdentity" type="xs:string"/><xs:element maxOccurs="unbounded" minOccurs="0" name="OrganizationIdentity" type="xs:string"/><xs:element maxOccurs="unbounded" minOccurs="0" name="ServiceIdentity" type="xs:string"/></xs:sequence></xs:complexType>
<xs:complexType name="IdentitySetInfo"><xs:sequence><xs:element minOccurs="0" name="IdentitySetName" type="xs:string"/><xs:element minOccurs="0" name="Description" type="xs:string"/></xs:sequence></xs:complexType>
</xs:schema>
    <xs:schema elementFormDefault="qualified" targetNamespace="http://soa.com/uri/products/Contracts/xsd/1.0" version="1.0" xmlns:ns1="http://digev.com/uri/products/Types/xsd/1.0" xmlns:ns2="http://www.soa.com/uri/products/SLAPolicy/xsd/1.0" xmlns:ns3="http://soa.com/uri/products/IdentityAuthorization/xsd/1.0" xmlns:tns="http://soa.com/uri/products/Contracts/xsd/1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:import namespace="http://digev.com/uri/products/Types/xsd/1.0"/>
<xs:import namespace="http://www.soa.com/uri/products/SLAPolicy/xsd/1.0"/>
<xs:import namespace="http://soa.com/uri/products/IdentityAuthorization/xsd/1.0"/>
<xs:element name="AddContractContext" nillable="true" type="tns:AddContractContext"/>
<xs:element name="Contract"><xs:complexType><xs:all><xs:element name="ContractInfo" type="tns:ContractInfo"/><xs:element minOccurs="0" name="ContractScope" type="ns1:ResourceSet"/><xs:element minOccurs="0" name="ConsumerIdentities" type="ns3:IdentitySet"/><xs:element minOccurs="0" ref="ns1:Artifacts"/><xs:element minOccurs="0" name="PolicyAttachments"><xs:complexType><xs:sequence><xs:any maxOccurs="unbounded" minOccurs="0" namespace="##other" processContents="lax"/></xs:sequence></xs:complexType></xs:element></xs:all></xs:complexType></xs:element>
<xs:element name="ContractInfo" nillable="true" type="tns:ContractInfo"/>
<xs:element name="ContractPolicyInfo"><xs:complexType><xs:sequence><xs:element name="Key" type="xs:string"/><xs:element name="Type" type="xs:string"/><xs:element name="SubType" type="xs:string"/><xs:element name="LastModified" type="xs:dateTime"/></xs:sequence></xs:complexType></xs:element>
<xs:element name="ContractRuntimeInfo"><xs:complexType><xs:sequence><xs:element minOccurs="0" name="ContractType" type="xs:string"/><xs:element minOccurs="0" name="AssignedPolicies"><xs:complexType><xs:sequence><xs:element maxOccurs="unbounded" minOccurs="0" ref="tns:ContractPolicyInfo"/></xs:sequence></xs:complexType></xs:element></xs:sequence><xs:attribute name="Key" type="xs:string" use="required"/><xs:attribute name="Name" type="xs:string" use="required"/><xs:attribute name="Anonymous" type="xs:boolean" use="required"/></xs:complexType></xs:element>
<xs:element name="ContractVersionInfo" nillable="true" type="tns:ContractVersionInfo"/>
<xs:element name="OrganizationContracts" nillable="true" type="tns:OrganizationContracts"/>
<xs:element name="ServiceContracts" nillable="true" type="tns:ServiceContracts"/>
<xs:complexType name="ContractInfo"><xs:sequence><xs:element minOccurs="0" name="Description" type="xs:string"/><xs:element minOccurs="0" name="ProviderOrganizationKey" type="xs:string"/><xs:element minOccurs="0" name="ConsumerOrganizationKey" type="xs:string"/><xs:element ref="ns1:EffectiveDateTimes"/><xs:element minOccurs="0" name="ContractVersionInfo" type="tns:ContractVersionInfo"/><xs:element minOccurs="0" name="ContractType" type="xs:string"/></xs:sequence><xs:attribute name="Key" type="xs:string"/><xs:attribute name="Name" type="xs:string" use="required"/><xs:attribute name="Anonymous" type="xs:boolean" use="required"/><xs:attribute name="State" type="xs:string"/></xs:complexType>
<xs:complexType name="ContractVersionInfo"><xs:sequence><xs:element name="LastModifiedTimestamp" type="xs:dateTime"/><xs:element name="User" type="xs:string"/><xs:element name="MetadataVersion" type="xs:int"/><xs:element name="ActiveMetadataVersion" type="xs:int"/></xs:sequence></xs:complexType>
<xs:complexType name="SlaAssignment"><xs:sequence><xs:element minOccurs="0" name="SLADescription" type="xs:string"/><xs:element minOccurs="0" name="SLAPolicyKey" type="xs:string"/><xs:element minOccurs="0" name="ServiceLevelPolicyName" type="xs:string"/><xs:element minOccurs="0" name="ServiceLevelPolicyDescription" type="xs:string"/><xs:element minOccurs="0" ref="ns2:SLAPolicy"/></xs:sequence><xs:attribute name="SLAKey" type="xs:string" use="required"/><xs:attribute name="SLAName" type="xs:string" use="required"/><xs:attribute name="PolicyReference" type="xs:boolean" use="required"/></xs:complexType>
<xs:complexType name="AddContractContext"><xs:sequence><xs:element name="Action" type="tns:AddContractActionEnumType"/><xs:element minOccurs="0" name="Comments" type="xs:string"/></xs:sequence></xs:complexType>
<xs:complexType name="ServiceContracts"><xs:sequence><xs:element name="ServiceKey" type="xs:string"/><xs:element maxOccurs="unbounded" minOccurs="0" name="ContractKey" type="xs:string"/></xs:sequence></xs:complexType>
<xs:complexType name="OrganizationContracts"><xs:sequence><xs:element name="OrganizationKey" type="xs:string"/><xs:element maxOccurs="unbounded" minOccurs="0" name="ContractKey" type="xs:string"/></xs:sequence></xs:complexType>
<xs:simpleType name="AddContractActionEnumType"><xs:restriction base="xs:string"><xs:enumeration value="@CreateOffer"/><xs:enumeration value="@CreateRequest"/><xs:enumeration value="@ImportContract"/><xs:enumeration value="@ActivateContract"/></xs:restriction></xs:simpleType>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="addContractResponseMessage">
    <wsdl:part element="xs:any">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="performWorkflowActionRequestMessage">
    <wsdl:part name="key" type="xs:string">
    </wsdl:part>
    <wsdl:part name="parameter0" element="nms1:WorkflowAction">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="updateContractResourceScopeResponseMessage">
    <wsdl:part element="xs:any">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="performWorkflowActionResponseMessage">
  </wsdl:message>
  <wsdl:message name="getContractsResponseMessage">
    <wsdl:part name="getContractsResponse" element="nms1:Contracts">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getContractRequestMessage">
    <wsdl:part name="key" type="xs:string">
    </wsdl:part>
    <wsdl:part name="includepolicy" type="xs:boolean">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="deleteContractResponseMessage">
    <wsdl:part element="xs:any">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getContractsRequestMessage">
    <wsdl:part name="providerService" type="xs:string">
    </wsdl:part>
    <wsdl:part name="providerOrg" type="xs:string">
    </wsdl:part>
    <wsdl:part name="consumerOrg" type="xs:string">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="deleteContractRequestMessage">
    <wsdl:part name="key" type="xs:string">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="updateContractResourceScopeRequestMessage">
    <wsdl:part name="key" type="xs:string">
    </wsdl:part>
    <wsdl:part name="parameter0" type="nms3:ResourceSet">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getContractResponseMessage">
    <wsdl:part name="getContractResponse" element="nms2:Contract">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="addContractRequestMessage">
    <wsdl:part name="parameter0" element="nms1:ContractSpec">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="ContractsManagerRESTPortType">
    <wsdl:operation name="getContracts">
      <wsdl:input message="tns:getContractsRequestMessage">
    </wsdl:input>
      <wsdl:output message="tns:getContractsResponseMessage">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addContract">
      <wsdl:input message="tns:addContractRequestMessage">
    </wsdl:input>
      <wsdl:output message="tns:addContractResponseMessage">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteContract">
      <wsdl:input message="tns:deleteContractRequestMessage">
    </wsdl:input>
      <wsdl:output message="tns:deleteContractResponseMessage">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateContractResourceScope">
      <wsdl:input message="tns:updateContractResourceScopeRequestMessage">
    </wsdl:input>
      <wsdl:output message="tns:updateContractResourceScopeResponseMessage">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getContract">
      <wsdl:input message="tns:getContractRequestMessage">
    </wsdl:input>
      <wsdl:output message="tns:getContractResponseMessage">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="performWorkflowAction">
      <wsdl:input message="tns:performWorkflowActionRequestMessage">
    </wsdl:input>
      <wsdl:output message="tns:performWorkflowActionResponseMessage">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ContractsManagerRESTBinding" type="tns:ContractsManagerRESTPortType">
    <shttp:binding/>
    <wsdl:operation name="getContracts">
<wsdl:documentation><sdoc:displayName xmlns:sdoc="http://soa.com/wsdl/doc">GET /contracts</sdoc:displayName><sdoc:summary xmlns:sdoc="http://soa.com/wsdl/doc"><![CDATA[Fetch contracts for the given criteria.]]></sdoc:summary><sdoc:description xmlns:sdoc="http://soa.com/wsdl/doc"><![CDATA[<p>Fetch contracts based on given provider service or provider organization or consumer organization.</p>
<h4>Request:</h4>
<pre><code>GET /rest/contracts?providerOrg=uddi:f005b0b2-1079-11e5-a330-a83ecc4e96f2  HTTP/1.1
</code></pre>
<h4>Response:</h4>
<pre><code>HTTP/1.1 200 OK
Content-Type: application/xml

&lt;?xml version="1.0" encoding="UTF-8" standalone="yes"?&gt;
&lt;ns2:Contracts ..."&gt;
    &lt;ns2:ContractInfo Key="ca58bd4d-c59d-11e7-80a1-ff582ddf16f0:1014" Name="Contract1" Anonymous="false" State="Active"&gt;
        &lt;ns5:Description&gt;Contract One&lt;/ns5:Description&gt;
        &lt;ns5:ProviderOrganizationKey&gt;uddi:c6f30e8d-c576-11e7-80a1-ff582ddf16f0&lt;/ns5:ProviderOrganizationKey&gt;
        &lt;ns5:ConsumerOrganizationKey&gt;uddi:71a538c8-c59d-11e7-80a1-ff582ddf16f0&lt;/ns5:ConsumerOrganizationKey&gt;
        &lt;ns1:EffectiveDateTimes&gt;
            &lt;ns1:StartDateTime&gt;
                &lt;ns1:DateTime&gt;2017-11-09T14:31:00-08:00&lt;/ns1:DateTime&gt;
                &lt;ns1:TimezoneName&gt;America/Los_Angeles&lt;/ns1:TimezoneName&gt;
            &lt;/ns1:StartDateTime&gt;
            &lt;ns1:Expire&gt;false&lt;/ns1:Expire&gt;
        &lt;/ns1:EffectiveDateTimes&gt;
        &lt;ns5:ContractVersionInfo&gt;
            &lt;ns5:MetadataVersion&gt;1&lt;/ns5:MetadataVersion&gt;
            &lt;ns5:ActiveMetadataVersion&gt;1&lt;/ns5:ActiveMetadataVersion&gt;
        &lt;/ns5:ContractVersionInfo&gt;
        &lt;ns5:ContractType&gt;service.contract&lt;/ns5:ContractType&gt;
    &lt;/ns2:ContractInfo&gt;
    &lt;ns2:ContractInfo Key="d9b5ff74-c59d-11e7-80a1-ff582ddf16f0:1015" Name="Contract2" Anonymous="false" State="Active"&gt;
        &lt;ns5:Description&gt;Contract Two&lt;/ns5:Description&gt;
        &lt;ns5:ProviderOrganizationKey&gt;uddi:c6f30e8d-c576-11e7-80a1-ff582ddf16f0&lt;/ns5:ProviderOrganizationKey&gt;
        &lt;ns5:ConsumerOrganizationKey&gt;uddi:b8c401a9-c59d-11e7-80a1-ff582ddf16f0&lt;/ns5:ConsumerOrganizationKey&gt;
        &lt;ns1:EffectiveDateTimes&gt;
            &lt;ns1:StartDateTime&gt;
                &lt;ns1:DateTime&gt;2017-11-09T14:32:00-08:00&lt;/ns1:DateTime&gt;
                &lt;ns1:TimezoneName&gt;America/Los_Angeles&lt;/ns1:TimezoneName&gt;
            &lt;/ns1:StartDateTime&gt;
            &lt;ns1:Expire&gt;false&lt;/ns1:Expire&gt;
        &lt;/ns1:EffectiveDateTimes&gt;
        &lt;ns5:ContractVersionInfo&gt;
            &lt;ns5:MetadataVersion&gt;1&lt;/ns5:MetadataVersion&gt;
            &lt;ns5:ActiveMetadataVersion&gt;1&lt;/ns5:ActiveMetadataVersion&gt;
        &lt;/ns5:ContractVersionInfo&gt;
        &lt;ns5:ContractType&gt;service.contract&lt;/ns5:ContractType&gt;
    &lt;/ns2:ContractInfo&gt;
&lt;/ns2:Contracts&gt;
</code></pre>]]></sdoc:description></wsdl:documentation>
    <shttp:operation location="/contracts" method="GET" outputSerialization="application/xml"/>
      <wsdl:input>
    <shttp:input name="providerService" part="providerService" type="query"><wsdl:documentation><sdoc:description xmlns:sdoc="http://soa.com/wsdl/doc"><![CDATA[Return all contracts that govern the given provider's service key]]></sdoc:description><sdoc:required xmlns:sdoc="http://soa.com/wsdl/doc">false</sdoc:required><sdoc:multiple xmlns:sdoc="http://soa.com/wsdl/doc">false</sdoc:multiple></wsdl:documentation></shttp:input>
    <shttp:input name="providerOrg" part="providerOrg" type="query"><wsdl:documentation><sdoc:description xmlns:sdoc="http://soa.com/wsdl/doc"><![CDATA[Return all contracts that govern the given provider's organization key]]></sdoc:description><sdoc:required xmlns:sdoc="http://soa.com/wsdl/doc">false</sdoc:required><sdoc:multiple xmlns:sdoc="http://soa.com/wsdl/doc">false</sdoc:multiple></wsdl:documentation></shttp:input>
    <shttp:input name="consumerOrg" part="consumerOrg" type="query"><wsdl:documentation><sdoc:description xmlns:sdoc="http://soa.com/wsdl/doc"><![CDATA[Return all contracts that govern the given consumer's organization key]]></sdoc:description><sdoc:required xmlns:sdoc="http://soa.com/wsdl/doc">false</sdoc:required><sdoc:multiple xmlns:sdoc="http://soa.com/wsdl/doc">false</sdoc:multiple></wsdl:documentation></shttp:input>
      </wsdl:input>
      <wsdl:output>
    <shttp:output name="getContractsResponse" part="getContractsResponse" type="entity"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addContract">
<wsdl:documentation><sdoc:displayName xmlns:sdoc="http://soa.com/wsdl/doc">POST /contracts</sdoc:displayName><sdoc:summary xmlns:sdoc="http://soa.com/wsdl/doc"><![CDATA[Create a contract]]></sdoc:summary><sdoc:response code="201" message="Created" xmlns:sdoc="http://soa.com/wsdl/doc"/><sdoc:response code="500" message="Internal Error" xmlns:sdoc="http://soa.com/wsdl/doc"/><sdoc:description xmlns:sdoc="http://soa.com/wsdl/doc"><![CDATA[<p>Creates a contract in the given organization with given parameters.  Note that this operation accepts XML content only in order to accommodate attached policies.</p>
<h4>Request:</h4>
<pre><code>POST /rest/contracts  HTTP/1.1
Content-Type: application/xml

&lt;?xml version="1.0" encoding="UTF-8" standalone="yes"?&gt;
&lt;ns2:ContractSpec ...&gt;
    &lt;ns5:ContractInfo Name="CreatedContract" Anonymous="true" State="Active"&gt;
        &lt;ns5:Description&gt;Newly Created Contract.&lt;/ns5:Description&gt;
        &lt;ns5:ProviderOrganizationKey&gt;uddi:f005b0b2-1079-11e5-a330-a83ecc4e96f2&lt;/ns5:ProviderOrganizationKey&gt;
        &lt;ns1:EffectiveDateTimes&gt;
            &lt;ns1:StartDateTime&gt;
                &lt;ns1:DateTime&gt;2017-11-03T17:42:03-07:00&lt;/ns1:DateTime&gt;
                &lt;ns1:TimezoneName&gt;America/Los_Angeles&lt;/ns1:TimezoneName&gt;
            &lt;/ns1:StartDateTime&gt;
            &lt;ns1:Expire&gt;false&lt;/ns1:Expire&gt;
        &lt;/ns1:EffectiveDateTimes&gt;
        &lt;ns5:ContractVersionInfo&gt;
            &lt;ns5:MetadataVersion&gt;1&lt;/ns5:MetadataVersion&gt;
            &lt;ns5:ActiveMetadataVersion&gt;1&lt;/ns5:ActiveMetadataVersion&gt;
        &lt;/ns5:ContractVersionInfo&gt;
        &lt;ns5:ContractType&gt;service.contract&lt;/ns5:ContractType&gt;
    &lt;/ns5:ContractInfo&gt;
    &lt;ns5:AddContractContext&gt;
        &lt;ns5:Action&gt;@CreateOffer&lt;/ns5:Action&gt;
    &lt;/ns5:AddContractContext&gt;
&lt;/ns2:ContractSpec&gt;
</code></pre>
<h4>Response:</h4>
<pre><code>HTTP/1.1 201 Created
Content-Type: application/xml
Location: /rest/contracts/dfde5141-10b2-11e5-93d5-eb4e298f7990:1041
</code></pre>]]></sdoc:description></wsdl:documentation>
    <shttp:operation inputSerialization="application/xml" location="/contracts" method="POST" outputSerialization="application/xml"/>
      <wsdl:input>
    <shttp:input name="parameter0" part="parameter0" type="entity"><wsdl:documentation><sdoc:description xmlns:sdoc="http://soa.com/wsdl/doc"><![CDATA[Add contract parameter spec]]></sdoc:description><sdoc:required xmlns:sdoc="http://soa.com/wsdl/doc">true</sdoc:required><sdoc:multiple xmlns:sdoc="http://soa.com/wsdl/doc">false</sdoc:multiple></wsdl:documentation></shttp:input>
      </wsdl:input>
      <wsdl:output>
    <shttp:output name="" part="" type="entity"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteContract">
<wsdl:documentation><sdoc:displayName xmlns:sdoc="http://soa.com/wsdl/doc">DELETE /contracts/{key}</sdoc:displayName><sdoc:summary xmlns:sdoc="http://soa.com/wsdl/doc"><![CDATA[Remove specified contract]]></sdoc:summary><sdoc:response code="200" message="Success" xmlns:sdoc="http://soa.com/wsdl/doc"/><sdoc:description xmlns:sdoc="http://soa.com/wsdl/doc"><![CDATA[<p>Remove the contract with given key.</p>
<h4>Request:</h4>
<pre><code>DELETE /rest/contracts/dfde5141-10b2-11e5-93d5-eb4e298f7990:1041 HTTP/1.1
</code></pre>]]></sdoc:description></wsdl:documentation>
    <shttp:operation location="/contracts/{key}" method="DELETE"/>
      <wsdl:input>
    <shttp:input name="key" part="key" type="path"><wsdl:documentation><sdoc:description xmlns:sdoc="http://soa.com/wsdl/doc"><![CDATA[The contract key.]]></sdoc:description><sdoc:required xmlns:sdoc="http://soa.com/wsdl/doc">true</sdoc:required><sdoc:multiple xmlns:sdoc="http://soa.com/wsdl/doc">false</sdoc:multiple></wsdl:documentation></shttp:input>
      </wsdl:input>
      <wsdl:output>
    <shttp:output name="" part="" type="entity"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateContractResourceScope">
<wsdl:documentation><sdoc:displayName xmlns:sdoc="http://soa.com/wsdl/doc">PUT /contracts/{key}</sdoc:displayName><sdoc:summary xmlns:sdoc="http://soa.com/wsdl/doc"><![CDATA[Update contract resource scope.]]></sdoc:summary><sdoc:description xmlns:sdoc="http://soa.com/wsdl/doc"><![CDATA[<p>Change the organization, container, service, operation of a given contract in effect changing the management of contract scope.</p>
<h4>Request:</h4>
<pre><code>PUT /rest/contracts/9eaa8b14-10b5-11e5-93d5-eb4e298f7990:1042  HTTP/1.1
Content-Type: application/xml

&lt;?xml version="1.0" encoding="UTF-8" standalone="yes"?&gt;
&lt;ns2:ResourceSet ...&gt;
    &lt;ns2:ResourceSetInfo Name="CreatedContract" Anonymous="true" State="Active"&gt;
        &lt;ns5:ResourceSetName&gt;My Resourceset&lt;/ns5:ResourceSetName&gt;
    &lt;/ns2:ResourceSetInfo&gt;
    &lt;ns6:OrganizationKey&gt;uddi:f005b0b2-1079-11e5-a330-a83ecc4e96f2&lt;/ns6:OrganizationKey&gt;
    &lt;ns6:ContainerKey&gt;nd3845&lt;/ns6:ContainerKey&gt;
    &lt;ns6:ServiceKey&gt;uddi:a06434c0-1122-11e5-93d5-eb4e298f7990&lt;/ns6:ServiceKey&gt;
    &lt;ns6:OperationKey&gt;a2328c24-1122-11e5-93d5-eb4e298f7990&lt;/ns6:OperationKey&gt;
    &lt;ns6:ContractKey&gt;9eaa8b14-10b5-11e5-93d5-eb4e298f7990:1042&lt;/ns6:ContractKey&gt;
&lt;/ns2:ResourceSet&gt;
</code></pre>
<h4>Response:</h4>
<pre><code>HTTP/1.1 200 OK
</code></pre>]]></sdoc:description></wsdl:documentation>
    <shttp:operation inputSerialization="application/xml" location="/contracts/{key}" method="PUT"/>
      <wsdl:input>
    <shttp:input name="key" part="key" type="path"><wsdl:documentation><sdoc:description xmlns:sdoc="http://soa.com/wsdl/doc"><![CDATA[The contract key.]]></sdoc:description><sdoc:required xmlns:sdoc="http://soa.com/wsdl/doc">true</sdoc:required><sdoc:multiple xmlns:sdoc="http://soa.com/wsdl/doc">false</sdoc:multiple></wsdl:documentation></shttp:input>
    <shttp:input name="parameter0" part="parameter0" type="entity"><wsdl:documentation><sdoc:description xmlns:sdoc="http://soa.com/wsdl/doc"><![CDATA[The update contract specification.]]></sdoc:description><sdoc:required xmlns:sdoc="http://soa.com/wsdl/doc">true</sdoc:required><sdoc:multiple xmlns:sdoc="http://soa.com/wsdl/doc">false</sdoc:multiple></wsdl:documentation></shttp:input>
      </wsdl:input>
      <wsdl:output>
    <shttp:output name="" part="" type="entity"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getContract">
<wsdl:documentation><sdoc:displayName xmlns:sdoc="http://soa.com/wsdl/doc">GET /contracts/{key}</sdoc:displayName><sdoc:summary xmlns:sdoc="http://soa.com/wsdl/doc"><![CDATA[Get contract details.]]></sdoc:summary><sdoc:description xmlns:sdoc="http://soa.com/wsdl/doc"><![CDATA[<p>Get contract information based on given key along with policy information based on the include flag given. Note that this operation produces XML content only in order to accommodate attached policies.</p>
<h4>Request:</h4>
<pre><code>GET /rest/contracts/d92830eb-1125-11e5-93d5-eb4e298f7990:1043?includepolicy=true HTTP/1.1
</code></pre>
<h4>Response:</h4>
<pre><code>HTTP/1.1 200 OK
Content-Type: application/xml

&lt;?xml version="1.0" encoding="UTF-8" standalone="yes"?&gt;
&lt;ns5:Contract ..."&gt;
    &lt;ns5:ContractInfo Key="d92830eb-1125-11e5-93d5-eb4e298f7990:1043" Name="MyContract" Anonymous="false" State="Active"&gt;
        &lt;ns5:Description&gt;My simple contract&lt;/ns5:Description&gt;
        &lt;ns5:ProviderOrganizationKey&gt;uddi:f3e6bbe6-c334-11e7-9ec8-92c36890cc34&lt;/ns5:ProviderOrganizationKey&gt;
        &lt;ns5:ConsumerOrganizationKey&gt;uddi:87fb0f0a-c335-11e7-9ec8-81ef6990b923&lt;/ns5:ConsumerOrganizationKey&gt;
        &lt;ns1:EffectiveDateTimes&gt;
            &lt;ns1:StartDateTime&gt;
                &lt;ns1:DateTime&gt;2017-11-09T09:50:00-08:00&lt;/ns1:DateTime&gt;
                &lt;ns1:TimezoneName&gt;America/Los_Angeles&lt;/ns1:TimezoneName&gt;
            &lt;/ns1:StartDateTime&gt;
            &lt;ns1:EndDateTime&gt;
                &lt;ns1:DateTime&gt;2018-11-09T09:50:00-08:00&lt;/ns1:DateTime&gt;
                &lt;ns1:TimezoneName&gt;America/Los_Angeles&lt;/ns1:TimezoneName&gt;
            &lt;/ns1:EndDateTime&gt;
            &lt;ns1:Expire&gt;true&lt;/ns1:Expire&gt;
        &lt;/ns1:EffectiveDateTimes&gt;
        &lt;ns5:ContractVersionInfo&gt;
            &lt;ns5:LastModifiedTimestamp&gt;2017-11-09T09:55:57-08:00&lt;/ns5:LastModifiedTimestamp&gt;
            &lt;ns5:User&gt;Local Domain\administrator&lt;/ns5:User&gt;
            &lt;ns5:MetadataVersion&gt;1&lt;/ns5:MetadataVersion&gt;
            &lt;ns5:ActiveMetadataVersion&gt;1&lt;/ns5:ActiveMetadataVersion&gt;
        &lt;/ns5:ContractVersionInfo&gt;
        &lt;ns5:ContractType&gt;service.contract&lt;/ns5:ContractType&gt;
    &lt;/ns5:ContractInfo&gt;
    &lt;ns5:ContractScope&gt;
        &lt;ns1:ServiceKey&gt;uddi:f3e6bbe6-c334-11e7-9ec8-81ef6990b923&lt;/ns1:ServiceKey&gt;
    &lt;/ns5:ContractScope&gt;
    &lt;ns5:ConsumerIdentities&gt;
        &lt;ns7:OrganizationIdentity&gt;uddi:87fb0f0a-c335-11e7-9ec8-81ef6990b923&lt;/ns7:OrganizationIdentity&gt;
    &lt;/ns5:ConsumerIdentities&gt;
    &lt;ns5:PolicyAttachments&gt;
        &lt;wsp:Policy xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" ... Name="urn:uuid:f76c1d70-c576-11e7-80a1-ff582ddf16f0" visibility="public" wsu:Id="Policy1"&gt;
            &lt;dns0:SLAEnforcement xmlns:dns0="http://federatedgovernance.org/policy/quota/slaenforcement/1.0"&gt;
                &lt;dns0:FaultMessage&gt;SLPFault&lt;/dns0:FaultMessage&gt;
            &lt;/dns0:SLAEnforcement&gt;
        &lt;/wsp:Policy&gt;
    &lt;/ns5:PolicyAttachments&gt;
&lt;/ns5:Contract&gt;
</code></pre>]]></sdoc:description></wsdl:documentation>
    <shttp:operation location="/contracts/{key}" method="GET" outputSerialization="application/xml"/>
      <wsdl:input>
    <shttp:input name="key" part="key" type="path"><wsdl:documentation><sdoc:description xmlns:sdoc="http://soa.com/wsdl/doc"><![CDATA[The contract key.]]></sdoc:description><sdoc:required xmlns:sdoc="http://soa.com/wsdl/doc">true</sdoc:required><sdoc:multiple xmlns:sdoc="http://soa.com/wsdl/doc">false</sdoc:multiple></wsdl:documentation></shttp:input>
    <shttp:input name="includepolicy" part="includepolicy" type="query"><wsdl:documentation><sdoc:description xmlns:sdoc="http://soa.com/wsdl/doc"><![CDATA[whether to include policy]]></sdoc:description><sdoc:required xmlns:sdoc="http://soa.com/wsdl/doc">false</sdoc:required><sdoc:multiple xmlns:sdoc="http://soa.com/wsdl/doc">false</sdoc:multiple></wsdl:documentation></shttp:input>
      </wsdl:input>
      <wsdl:output>
    <shttp:output name="getContractResponse" part="getContractResponse" type="entity"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="performWorkflowAction">
<wsdl:documentation><sdoc:displayName xmlns:sdoc="http://soa.com/wsdl/doc">PUT /contracts/{key}/workflow</sdoc:displayName><sdoc:summary xmlns:sdoc="http://soa.com/wsdl/doc"><![CDATA[Perform Workflow Action]]></sdoc:summary><sdoc:description xmlns:sdoc="http://soa.com/wsdl/doc"><![CDATA[<p>Performs a workflow action on the contract with the given key. The available workflow actions are based on the current workflow process in use for contracts in the system.</p>
<h4>Request:</h4>
<pre><code>PUT /rest/contracts/d92830eb-1125-11e5-93d5-eb4e298f7990:1043/workflow HTTP/1.1
Content-Type: application/json

{
    "Action" : "Activate Contract",
    "Comment" : "Putting contract into production.",
    "UserName" : "jdoe"
}
</code></pre>
<h4>Response:</h4>
<pre><code>HTTP/1.1 200 OK
</code></pre>]]></sdoc:description></wsdl:documentation>
    <shttp:operation inputSerialization="application/json,application/xml,text/xml" location="/contracts/{key}/workflow" method="PUT"/>
      <wsdl:input>
    <shttp:input name="key" part="key" type="path"><wsdl:documentation><sdoc:description xmlns:sdoc="http://soa.com/wsdl/doc"><![CDATA[Key of the contract to perform the action on.]]></sdoc:description><sdoc:required xmlns:sdoc="http://soa.com/wsdl/doc">true</sdoc:required><sdoc:multiple xmlns:sdoc="http://soa.com/wsdl/doc">false</sdoc:multiple></wsdl:documentation></shttp:input>
    <shttp:input name="parameter0" part="parameter0" type="entity"><wsdl:documentation><sdoc:description xmlns:sdoc="http://soa.com/wsdl/doc"><![CDATA[The action to perform.]]></sdoc:description><sdoc:required xmlns:sdoc="http://soa.com/wsdl/doc">true</sdoc:required><sdoc:multiple xmlns:sdoc="http://soa.com/wsdl/doc">false</sdoc:multiple></wsdl:documentation></shttp:input>
      </wsdl:input>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ContractAdminService">
<wsdl:documentation><sdoc:description xmlns:sdoc="http://soa.com/wsdl/doc"><![CDATA[The API used to manage PM contracts]]></sdoc:description><sdoc:title xmlns:sdoc="http://soa.com/wsdl/doc">Contract Management API</sdoc:title><sdoc:version xmlns:sdoc="http://soa.com/wsdl/doc">8.0.0</sdoc:version><sdoc:vendor xmlns:sdoc="http://soa.com/wsdl/doc">SOA Software</sdoc:vendor></wsdl:documentation>
    <wsdl:port name="ContractAdminService_rest_port_http" binding="tns:ContractsManagerRESTBinding">
    <shttp:address location="http://0.0.0.0/rest"/>
    </wsdl:port>
    <wsdl:port name="ContractAdminService_rest_port_https" binding="tns:ContractsManagerRESTBinding">
    <shttp:address location="https://0.0.0.0/rest"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
