ag/assets/latest_api_plat/rest/api-platform/api-urn_com.soa.alert.admin-AlertService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="urn:com.soa.alert.admin" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="urn:com.soa.alert.admin" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:nms1="http://soa.com/uri/products/alerts/xsd/1.0" xmlns:shttp="http://soa.com/wsdl/http">
  <wsdl:types>
    <xs:schema elementFormDefault="qualified" targetNamespace="http://soa.com/uri/products/alerts/xsd/1.0" version="1.0" xmlns:tns="http://soa.com/uri/products/alerts/xsd/1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:element name="Alert" type="tns:alert"/>
<xs:element name="AlertCode" type="tns:alertCode"/>
<xs:element name="AlertCodeInfo" type="tns:alertCodeInfo"/>
<xs:element name="AlertComment" type="tns:alertComment"/>
<xs:element name="AlertList" type="tns:alertList"/>
<xs:element name="AlertSlaInfo" type="tns:alertSlaInfo"/>
<xs:element name="AlertSource" type="tns:alertSource"/>
<xs:element name="AlertTransaction" type="tns:alertTransaction"/>
<xs:element name="AlertWorkflow" type="tns:alertWorkflow"/>
<xs:element name="AlertWorkflowAction" type="tns:alertWorkflowAction"/>
<xs:complexType name="alertWorkflow"><xs:sequence><xs:element minOccurs="0" name="state" type="tns:AlertState"/><xs:element minOccurs="0" name="receivedAt" type="xs:dateTime"/><xs:element minOccurs="0" name="observedBy" type="xs:string"/><xs:element minOccurs="0" name="observedAt" type="xs:dateTime"/><xs:element minOccurs="0" name="resolvedBy" type="xs:string"/><xs:element minOccurs="0" name="resolvedAt" type="xs:dateTime"/><xs:element minOccurs="0" name="Comments"><xs:complexType><xs:sequence><xs:element maxOccurs="unbounded" minOccurs="0" name="Comment" type="tns:alertComment"/></xs:sequence></xs:complexType></xs:element></xs:sequence></xs:complexType>
<xs:complexType name="alertComment"><xs:sequence><xs:element minOccurs="0" name="comment" type="xs:string"/><xs:element minOccurs="0" name="userName" type="xs:string"/><xs:element default="received time" minOccurs="0" name="createdDts" type="xs:dateTime"/><xs:element default="auto-generated" name="commentId" type="xs:long"/></xs:sequence></xs:complexType>
<xs:complexType name="alertCode"><xs:sequence><xs:element name="alertCode" type="xs:int"/><xs:element minOccurs="0" name="componentName" type="xs:string"/><xs:element minOccurs="0" name="subsystemName" type="xs:string"/><xs:element name="severity" type="xs:int"/><xs:element minOccurs="0" name="description" type="xs:string"/><xs:element minOccurs="0" name="additionalInfo" type="xs:string"/><xs:element name="sendSNMPTrap" type="xs:boolean"/><xs:element name="sendEmail" type="xs:boolean"/><xs:element name="logAlert" type="xs:boolean"/><xs:element name="commandId" type="xs:int"/><xs:element minOccurs="0" name="scriptName" type="xs:string"/><xs:element minOccurs="0" name="EmailDests"><xs:complexType><xs:sequence><xs:element maxOccurs="unbounded" minOccurs="0" name="GroupId" type="xs:int"/></xs:sequence></xs:complexType></xs:element><xs:element name="userAlert" type="xs:boolean"/></xs:sequence></xs:complexType>
<xs:complexType name="alert"><xs:sequence><xs:element default="auto-generated" minOccurs="0" name="id" type="xs:string"/><xs:element name="alertType" type="xs:int"/><xs:element name="alertCode" type="xs:int"/><xs:element default="auto-generated" minOccurs="0" name="alertCodeInfo" type="tns:alertCodeInfo"/><xs:element minOccurs="0" name="description" type="xs:string"/><xs:element default="received time" minOccurs="0" name="generatedAt" type="xs:dateTime"/><xs:element minOccurs="0" name="source" type="tns:alertSource"/><xs:element minOccurs="0" name="transaction" type="tns:alertTransaction"/><xs:element default="auto-generated" minOccurs="0" name="workflow" type="tns:alertWorkflow"/><xs:element minOccurs="0" name="containerKey" type="xs:string"/><xs:element minOccurs="0" name="alertSlaInfo" type="tns:alertSlaInfo"/><xs:element minOccurs="0" name="alertDispatchStatus" type="tns:AlerstDispatchStatus"/></xs:sequence></xs:complexType>
<xs:complexType name="alertCodeInfo"><xs:sequence><xs:element name="severity" type="xs:int"/><xs:element minOccurs="0" name="description" type="xs:string"/><xs:element minOccurs="0" name="componentName" type="xs:string"/><xs:element minOccurs="0" name="subsystemName" type="xs:string"/><xs:element minOccurs="0" name="additionalInfo" type="xs:string"/><xs:element name="sendEmailEnabled" type="xs:boolean"/><xs:element name="snmpTrapEnabled" type="xs:boolean"/><xs:element minOccurs="0" name="ScriptCommand" type="xs:string"/></xs:sequence></xs:complexType>
<xs:complexType name="alertSource"><xs:sequence><xs:element name="sourceType" type="xs:int"/><xs:element minOccurs="0" name="source" type="xs:string"/><xs:element minOccurs="0" name="sourceName" type="xs:string"/></xs:sequence></xs:complexType>
<xs:complexType name="alertTransaction"><xs:sequence><xs:any maxOccurs="unbounded" minOccurs="0" namespace="##other" processContents="lax"/></xs:sequence></xs:complexType>
<xs:complexType name="alertSlaInfo"><xs:sequence><xs:element minOccurs="0" name="attachmentPointType" type="xs:string"/><xs:element minOccurs="0" name="attachmentPointKey" type="xs:string"/><xs:element minOccurs="0" name="policyKey" type="xs:string"/><xs:element minOccurs="0" name="policyName" type="xs:string"/><xs:element minOccurs="0" name="ruleKey" type="xs:string"/><xs:element minOccurs="0" name="ruleMetricName" type="xs:string"/><xs:element minOccurs="0" name="ruleOperator" type="xs:string"/><xs:element name="ruleValue" type="xs:long"/><xs:element minOccurs="0" name="ruleValueUnit" type="xs:string"/><xs:element name="measuredValue" type="xs:double"/><xs:element minOccurs="0" name="startTime" type="xs:dateTime"/><xs:element minOccurs="0" name="endTime" type="xs:dateTime"/><xs:element minOccurs="0" name="ruleValueInterval" type="xs:string"/></xs:sequence></xs:complexType>
<xs:complexType name="AlerstDispatchStatus"><xs:sequence><xs:element name="dispatched" type="xs:boolean"/><xs:element minOccurs="0" name="emailStatus" type="tns:EmailStatus"/><xs:element minOccurs="0" name="commandStatus" type="tns:CommandStatus"/><xs:element minOccurs="0" name="snmpStatus" type="tns:SnmpStatus"/></xs:sequence></xs:complexType>
<xs:complexType name="EmailStatus"><xs:sequence><xs:element name="executed" type="xs:boolean"/><xs:element minOccurs="0" name="executionDate" type="xs:dateTime"/></xs:sequence></xs:complexType>
<xs:complexType name="CommandStatus"><xs:sequence><xs:element name="executed" type="xs:boolean"/><xs:element minOccurs="0" name="executionDate" type="xs:dateTime"/></xs:sequence></xs:complexType>
<xs:complexType name="SnmpStatus"><xs:sequence><xs:element name="executed" type="xs:boolean"/><xs:element minOccurs="0" name="executionDate" type="xs:dateTime"/></xs:sequence></xs:complexType>
<xs:complexType name="alertWorkflowAction"><xs:sequence><xs:element minOccurs="0" name="action" type="tns:action"/><xs:element minOccurs="0" name="comment" type="xs:string"/><xs:element minOccurs="0" name="userName" type="xs:string"/></xs:sequence></xs:complexType>
<xs:complexType name="alertList"><xs:sequence><xs:element name="totalCount" type="xs:int"/><xs:element minOccurs="0" name="Alerts"><xs:complexType><xs:sequence><xs:element maxOccurs="unbounded" minOccurs="0" ref="tns:Alert"/></xs:sequence></xs:complexType></xs:element><xs:element name="listIncomplete" type="xs:boolean"/></xs:sequence></xs:complexType>
<xs:simpleType name="AlertState"><xs:restriction base="xs:string"><xs:enumeration value="UNOBSERVED"/><xs:enumeration value="OBSERVED"/><xs:enumeration value="RESOLVED"/></xs:restriction></xs:simpleType>
<xs:simpleType name="action"><xs:restriction base="xs:string"><xs:enumeration value="OBSERVE"/><xs:enumeration value="RESOLVE"/><xs:enumeration value="UNRESOLVE"/><xs:enumeration value="UNOBSERVE"/></xs:restriction></xs:simpleType>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="addCommentResponseMessage">
    <wsdl:part name="addCommentResponse" element="nms1:AlertComment">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="addCommentRequestMessage">
    <wsdl:part name="id" type="xs:string">
    </wsdl:part>
    <wsdl:part name="parameter0" element="nms1:AlertComment">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getAlertsResponseMessage">
    <wsdl:part name="getAlertsResponse" element="nms1:AlertList">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="deleteAlertResponseMessage">
  </wsdl:message>
  <wsdl:message name="deleteAlertRequestMessage">
    <wsdl:part name="id" type="xs:string">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getAlertsRequestMessage">
    <wsdl:part name="code" type="xs:string">
    </wsdl:part>
    <wsdl:part name="source" type="xs:string">
    </wsdl:part>
    <wsdl:part name="org" type="xs:string">
    </wsdl:part>
    <wsdl:part name="from" type="xs:string">
    </wsdl:part>
    <wsdl:part name="to" type="xs:string">
    </wsdl:part>
    <wsdl:part name="severity" type="xs:string">
    </wsdl:part>
    <wsdl:part name="state" type="xs:string">
    </wsdl:part>
    <wsdl:part name="actor" type="xs:string">
    </wsdl:part>
    <wsdl:part name="start" type="xs:integer">
    </wsdl:part>
    <wsdl:part name="count" type="xs:integer">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getAlertCodeRequestMessage">
    <wsdl:part name="code" type="xs:integer">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="performWorkflowActionRequestMessage">
    <wsdl:part name="id" type="xs:string">
    </wsdl:part>
    <wsdl:part name="parameter0" element="nms1:AlertWorkflowAction">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getAlertCodeResponseMessage">
    <wsdl:part name="getAlertCodeResponse" element="nms1:AlertCode">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="addAlertResponseMessage">
    <wsdl:part name="addAlertResponse" element="nms1:Alert">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="performWorkflowActionResponseMessage">
  </wsdl:message>
  <wsdl:message name="addAlertRequestMessage">
    <wsdl:part name="parameter0" element="nms1:Alert">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="AlertServicePortType">
    <wsdl:operation name="addAlert">
      <wsdl:input message="tns:addAlertRequestMessage">
    </wsdl:input>
      <wsdl:output message="tns:addAlertResponseMessage">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteAlert">
      <wsdl:input message="tns:deleteAlertRequestMessage">
    </wsdl:input>
      <wsdl:output message="tns:deleteAlertResponseMessage">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="performWorkflowAction">
      <wsdl:input message="tns:performWorkflowActionRequestMessage">
    </wsdl:input>
      <wsdl:output message="tns:performWorkflowActionResponseMessage">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAlerts">
      <wsdl:input message="tns:getAlertsRequestMessage">
    </wsdl:input>
      <wsdl:output message="tns:getAlertsResponseMessage">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addComment">
      <wsdl:input message="tns:addCommentRequestMessage">
    </wsdl:input>
      <wsdl:output message="tns:addCommentResponseMessage">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAlertCode">
      <wsdl:input message="tns:getAlertCodeRequestMessage">
    </wsdl:input>
      <wsdl:output message="tns:getAlertCodeResponseMessage">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="AlertServiceBinding" type="tns:AlertServicePortType">
    <shttp:binding/>
    <wsdl:operation name="addAlert">
<wsdl:documentation><sdoc:displayName xmlns:sdoc="http://soa.com/wsdl/doc">POST /alerts</sdoc:displayName><sdoc:summary xmlns:sdoc="http://soa.com/wsdl/doc"><![CDATA[Add Alert]]></sdoc:summary><sdoc:description xmlns:sdoc="http://soa.com/wsdl/doc"><![CDATA[<p>Adds/reports an alert. An alert is defined by its type, a code, and a source. The alert's type is a numeric value, 0 is for a basic alert, 1 is
for a service alert, and 3 is for an SLA alert. The alert code identifies a particular event or condition that has been detected. The source of
the alert is the entity the alert is about. There are several types of alert sources which are identified with a numeric value.</p>
<ul>
<li>unknown</li>
<li>service</li>
<li>operation</li>
<li>contract</li>
<li>organization</li>
<li>endpoint</li>
<li>container</li>
</ul>
<p>Each type of source may have a different type of identifier or key used in the <em>source</em> property. The
<em>sourceName</em> property provides a functional area that can be used to group or categorize the alerts. An
alert may also be tied to a transaction, or action performed in the system. The most common transaction
to be associated with alerts is an operation invocation.</p>
<p>The following example illustrates adding a service alert:</p>
<h4>Request:</h4>
<pre><code>POST /rest/alerts HTTP/1.1
Content-Type: application/json

{
    "alertType" : "1",
    "alertCode" : "1000000",
    "description" : "Problem executing custom policy.",
    "generatedAt" : "2015-05-01T16:21:18",
    "source" : {
        "sourceType" : "1",
        "source" : "uddi:f996a248-f061-11e4-924f-f8246128b60a",
        "sourceName" : "General"
    }
    "transaction" : {
        "OperationInvocation" : {
            "operationName" : "op1",
            "operationKey" : "uddi:f996a248-f061-11e4-924f-f8246128b61b",
            "serviceName" : "Service1",
            "serviceKey"uddi:f996a248-f061-11e4-924f-f8246128b60a",
            "contractName" : "Anonymous Access",
            "contractKey" : "uddi:f996a248-f061-11e4-924f-f8246128b53c",
            "organizationKey" : "uddi:f996a248-f061-11e4-924f-f8246127d45a
        }
    }
}
</code></pre>
<h4>Response:</h4>
<pre><code>HTTP/1.1 200 OK
{
    "id" : "1010",
    "alertType" : "1",
    "alertCode" : "1000000",
    "alertCodeInfo" : {
        "severity" : "2",
        "description" : "Policy enforcement failure",
        "componentName" : "Policy Handler Framework",
        "subsystemName" : "General",
        "sendEmailEnabled" : "true",
        "snmpTrapEnabled" : "false"
    }
    "description" : "Problem executing custom policy.",
    "generatedAt" : "2015-05-01T16:21:18"
    "source" : {
        "sourceType" : "1",
        "source" : "uddi:f996a248-f061-11e4-924f-f8246128b60a",
        "sourceName" : "General\
    }
    "transaction" : {
        "OperationInvocation" : {
            "operationName" : "op1",
            "operationKey" : "uddi:f996a248-f061-11e4-924f-f8246128b61b",
            "serviceName" : "Service1",
            "serviceKey"uddi:f996a248-f061-11e4-924f-f8246128b60a",
            "contractName" : "Anonymous Access",
            "contractKey" : "uddi:f996a248-f061-11e4-924f-f8246128b53c",
            "organizationKey" : "uddi:f996a248-f061-11e4-924f-f8246127d45a
        }
    }
    "workflow" : {
      "state" : "UNOBSERVED
      "receivedAt" : "2015-05-01T16:21:18",
    }
    "alertDispatchStatus" : {
        "dispatched" : "false"
    }
}
</code></pre>
<p>Note the <em>id</em> property is not provided in the request but is provided in the response message. The <em>id</em> can then be used when performing workflow actions.
Additional information about the alert derived from the alert code specified is added by the system. Of note the severity of the alert is
dictated by the alert code. The severity is a numeric value and may be one of the following:</p>
<ul>
<li>CRITICAL</li>
<li>MAJOR</li>
<li>MINOR</li>
<li>NORMAL</li>
<li>CLEAR</li>
</ul>
<p>The workflow is also auto-generated and provided in the response where it indicates the initial state and when the system received the record. And finally
a dispatch status may be added if the alert code requires any sort of dispatch.</p>]]></sdoc:description></wsdl:documentation>
    <shttp:operation inputSerialization="application/json,application/xml,text/xml" location="/alerts" method="POST" outputSerialization="application/json,application/xml,text/xml"/>
      <wsdl:input>
    <shttp:input name="parameter0" part="parameter0" type="entity"><wsdl:documentation><sdoc:description xmlns:sdoc="http://soa.com/wsdl/doc"><![CDATA[The alert to add.]]></sdoc:description><sdoc:required xmlns:sdoc="http://soa.com/wsdl/doc">true</sdoc:required><sdoc:multiple xmlns:sdoc="http://soa.com/wsdl/doc">false</sdoc:multiple></wsdl:documentation></shttp:input>
      </wsdl:input>
      <wsdl:output>
    <shttp:output name="addAlertResponse" part="addAlertResponse" type="entity"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteAlert">
<wsdl:documentation><sdoc:displayName xmlns:sdoc="http://soa.com/wsdl/doc">DELETE /alerts/{id}</sdoc:displayName><sdoc:summary xmlns:sdoc="http://soa.com/wsdl/doc"><![CDATA[Delete Alert]]></sdoc:summary></wsdl:documentation>
    <shttp:operation location="/alerts/{id}" method="DELETE"/>
      <wsdl:input>
    <shttp:input name="id" part="id" type="path"><wsdl:documentation><sdoc:description xmlns:sdoc="http://soa.com/wsdl/doc"><![CDATA[ID of the alert to delete.]]></sdoc:description><sdoc:required xmlns:sdoc="http://soa.com/wsdl/doc">true</sdoc:required><sdoc:multiple xmlns:sdoc="http://soa.com/wsdl/doc">false</sdoc:multiple></wsdl:documentation></shttp:input>
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="performWorkflowAction">
<wsdl:documentation><sdoc:displayName xmlns:sdoc="http://soa.com/wsdl/doc">PUT /alerts/{id}/workflow</sdoc:displayName><sdoc:summary xmlns:sdoc="http://soa.com/wsdl/doc"><![CDATA[Perform Workflow Action]]></sdoc:summary></wsdl:documentation>
    <shttp:operation inputSerialization="application/json,application/xml,text/xml" location="/alerts/{id}/workflow" method="PUT"/>
      <wsdl:input>
    <shttp:input name="id" part="id" type="path"><wsdl:documentation><sdoc:description xmlns:sdoc="http://soa.com/wsdl/doc"><![CDATA[ID of the alert to perform the action on.]]></sdoc:description><sdoc:required xmlns:sdoc="http://soa.com/wsdl/doc">true</sdoc:required><sdoc:multiple xmlns:sdoc="http://soa.com/wsdl/doc">false</sdoc:multiple></wsdl:documentation></shttp:input>
    <shttp:input name="parameter0" part="parameter0" type="entity"><wsdl:documentation><sdoc:description xmlns:sdoc="http://soa.com/wsdl/doc"><![CDATA[The action to perform.]]></sdoc:description><sdoc:required xmlns:sdoc="http://soa.com/wsdl/doc">true</sdoc:required><sdoc:multiple xmlns:sdoc="http://soa.com/wsdl/doc">false</sdoc:multiple></wsdl:documentation></shttp:input>
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="getAlerts">
<wsdl:documentation><sdoc:displayName xmlns:sdoc="http://soa.com/wsdl/doc">GET /alerts</sdoc:displayName><sdoc:summary xmlns:sdoc="http://soa.com/wsdl/doc"><![CDATA[Get Alerts]]></sdoc:summary><sdoc:description xmlns:sdoc="http://soa.com/wsdl/doc"><![CDATA[<p>Retrieves the alerts meeting the given criteria. The following usage example illustrates a query for all UNOBSERVED alerts reported against service with the
key uddi:f996a248-f061-11e4-924f-f8246128b60a with a severity of MAJOR or CRITICAL that were generated between 2015-05-01T16:21:17 and now. It also illustrates
paging by asking for records starting from position 50 and to only return 50 records.</p>
<h4>Request:</h4>
<pre><code>GET /rest/alerts?state=UNOBSERVED&amp;source=uddi:f996a248-f061-11e4-924f-f8246128b60a&amp;severity=1&amp;severity=2&amp;from=2015-05-01T16:21:17&amp;start=50&amp;count=50 HTTP/1.1
</code></pre>
<h4>Response:</h4>
<pre><code>HTTP/1.1 200 OK
{
    "totalCount" : "50",
    "records" : [
        {
            "id" : "1010",
            "alertType" : "1",
            "alertCode" : "1000000",
            "alertCodeInfo" : {
                "severity" : "2",
                "description" : "Policy enforcement failure",
                "componentName" : "Policy Handler Framework",
                "subsystemName" : "General",
                "sendEmailEnabled" : "true",
                "snmpTrapEnabled" : "false"
            }
            "description" : "Problem executing custom policy.",
            "generatedAt" : "2015-05-01T16:21:18"
            "source" : {
                "sourceType" : "1",
                "source" : "uddi:f996a248-f061-11e4-924f-f8246128b60a",
                "sourceName" : "General\
            }
            "transaction" : {
                "OperationInvocation" : {
                    "operationName" : "op1",
                    "operationKey" : "uddi:f996a248-f061-11e4-924f-f8246128b61b",
                    "serviceName" : "Service1",
                    "serviceKey"uddi:f996a248-f061-11e4-924f-f8246128b60a",
                    "contractName" : "Anonymous Access",
                    "contractKey" : "uddi:f996a248-f061-11e4-924f-f8246128b53c",
                    "organizationKey" : "uddi:f996a248-f061-11e4-924f-f8246127d45a
                }
           }
           "workflow" : {
               "state" : "UNOBSERVED
               "receivedAt" : "2015-05-01T16:21:18",
           }
           "alertDispatchStatus" : {
               "dispatched" : "false"
           }
       },
       ... not shown for brevity ...
    ],  
    "listIncomplete" : "true"
}
</code></pre>
<p>The <em>listIncomplete</em> field in the response indicates there are more records beyond the 50 that match the given criteria.</p>]]></sdoc:description></wsdl:documentation>
    <shttp:operation location="/alerts" method="GET" outputSerialization="application/json,application/xml,text/xml"/>
      <wsdl:input>
    <shttp:input name="code" part="code" type="query"><wsdl:documentation><sdoc:description xmlns:sdoc="http://soa.com/wsdl/doc"><![CDATA[Alert code to filter on.]]></sdoc:description><sdoc:required xmlns:sdoc="http://soa.com/wsdl/doc">false</sdoc:required><sdoc:multiple xmlns:sdoc="http://soa.com/wsdl/doc">false</sdoc:multiple></wsdl:documentation></shttp:input>
    <shttp:input name="source" part="source" type="query"><wsdl:documentation><sdoc:description xmlns:sdoc="http://soa.com/wsdl/doc"><![CDATA[Source of the alerts to filter on.]]></sdoc:description><sdoc:required xmlns:sdoc="http://soa.com/wsdl/doc">false</sdoc:required><sdoc:multiple xmlns:sdoc="http://soa.com/wsdl/doc">false</sdoc:multiple></wsdl:documentation></shttp:input>
    <shttp:input name="org" part="org" type="query"><wsdl:documentation><sdoc:description xmlns:sdoc="http://soa.com/wsdl/doc"><![CDATA[Organization key to filter on.]]></sdoc:description><sdoc:required xmlns:sdoc="http://soa.com/wsdl/doc">false</sdoc:required><sdoc:multiple xmlns:sdoc="http://soa.com/wsdl/doc">false</sdoc:multiple></wsdl:documentation></shttp:input>
    <shttp:input name="from" part="from" type="query"><wsdl:documentation><sdoc:description xmlns:sdoc="http://soa.com/wsdl/doc"><![CDATA[Date at which only alerts generated after will be returned. ISO-8601 format]]></sdoc:description><sdoc:required xmlns:sdoc="http://soa.com/wsdl/doc">false</sdoc:required><sdoc:multiple xmlns:sdoc="http://soa.com/wsdl/doc">false</sdoc:multiple></wsdl:documentation></shttp:input>
    <shttp:input name="to" part="to" type="query"><wsdl:documentation><sdoc:description xmlns:sdoc="http://soa.com/wsdl/doc"><![CDATA[Date at which only alerts generated before will be returned. ISO-8601 format]]></sdoc:description><sdoc:required xmlns:sdoc="http://soa.com/wsdl/doc">false</sdoc:required><sdoc:multiple xmlns:sdoc="http://soa.com/wsdl/doc">false</sdoc:multiple></wsdl:documentation></shttp:input>
    <shttp:input name="severity" part="severity" type="query"><wsdl:documentation><sdoc:description xmlns:sdoc="http://soa.com/wsdl/doc"><![CDATA[Severities of the alerts to filter on.]]></sdoc:description><sdoc:required xmlns:sdoc="http://soa.com/wsdl/doc">false</sdoc:required><sdoc:multiple xmlns:sdoc="http://soa.com/wsdl/doc">false</sdoc:multiple></wsdl:documentation></shttp:input>
    <shttp:input name="state" part="state" type="query"><wsdl:documentation><sdoc:description xmlns:sdoc="http://soa.com/wsdl/doc"><![CDATA[States of the alerts to filter on.]]></sdoc:description><sdoc:required xmlns:sdoc="http://soa.com/wsdl/doc">false</sdoc:required><sdoc:multiple xmlns:sdoc="http://soa.com/wsdl/doc">false</sdoc:multiple></wsdl:documentation></shttp:input>
    <shttp:input name="actor" part="actor" type="query"><wsdl:documentation><sdoc:description xmlns:sdoc="http://soa.com/wsdl/doc"><![CDATA[Indicates only alerts that the user with the given username performed a workflow action on should be returned.]]></sdoc:description><sdoc:required xmlns:sdoc="http://soa.com/wsdl/doc">false</sdoc:required><sdoc:multiple xmlns:sdoc="http://soa.com/wsdl/doc">false</sdoc:multiple></wsdl:documentation></shttp:input>
    <shttp:input name="start" part="start" type="query"><wsdl:documentation><sdoc:description xmlns:sdoc="http://soa.com/wsdl/doc"><![CDATA[To page the results this integer indicates the first alert from the full result set to return as the first item of the page.]]></sdoc:description><sdoc:required xmlns:sdoc="http://soa.com/wsdl/doc">false</sdoc:required><sdoc:multiple xmlns:sdoc="http://soa.com/wsdl/doc">false</sdoc:multiple></wsdl:documentation></shttp:input>
    <shttp:input name="count" part="count" type="query"><wsdl:documentation><sdoc:description xmlns:sdoc="http://soa.com/wsdl/doc"><![CDATA[To page the results this integer indicates the number of items thatshould be returned in the page.]]></sdoc:description><sdoc:required xmlns:sdoc="http://soa.com/wsdl/doc">false</sdoc:required><sdoc:multiple xmlns:sdoc="http://soa.com/wsdl/doc">false</sdoc:multiple></wsdl:documentation></shttp:input>
      </wsdl:input>
      <wsdl:output>
    <shttp:output name="getAlertsResponse" part="getAlertsResponse" type="entity"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addComment">
<wsdl:documentation><sdoc:displayName xmlns:sdoc="http://soa.com/wsdl/doc">POST /alerts/{id}/comments</sdoc:displayName><sdoc:summary xmlns:sdoc="http://soa.com/wsdl/doc"><![CDATA[Add Comment]]></sdoc:summary></wsdl:documentation>
    <shttp:operation inputSerialization="application/json,application/xml,text/xml" location="/alerts/{id}/comments" method="POST" outputSerialization="application/json,application/xml,text/xml"/>
      <wsdl:input>
    <shttp:input name="id" part="id" type="path"><wsdl:documentation><sdoc:description xmlns:sdoc="http://soa.com/wsdl/doc"><![CDATA[ID of the alert to comment on.]]></sdoc:description><sdoc:required xmlns:sdoc="http://soa.com/wsdl/doc">true</sdoc:required><sdoc:multiple xmlns:sdoc="http://soa.com/wsdl/doc">false</sdoc:multiple></wsdl:documentation></shttp:input>
    <shttp:input name="parameter0" part="parameter0" type="entity"><wsdl:documentation><sdoc:description xmlns:sdoc="http://soa.com/wsdl/doc"><![CDATA[Comment being made. Includes the text of the commentas well as the user who made the comment and when it was made.]]></sdoc:description><sdoc:required xmlns:sdoc="http://soa.com/wsdl/doc">true</sdoc:required><sdoc:multiple xmlns:sdoc="http://soa.com/wsdl/doc">false</sdoc:multiple></wsdl:documentation></shttp:input>
      </wsdl:input>
      <wsdl:output>
    <shttp:output name="addCommentResponse" part="addCommentResponse" type="entity"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAlertCode">
<wsdl:documentation><sdoc:displayName xmlns:sdoc="http://soa.com/wsdl/doc">GET /alertcodes/{code}</sdoc:displayName><sdoc:summary xmlns:sdoc="http://soa.com/wsdl/doc"><![CDATA[Get Alert Code Details]]></sdoc:summary></wsdl:documentation>
    <shttp:operation location="/alertcodes/{code}" method="GET" outputSerialization="application/json,application/xml,text/xml"/>
      <wsdl:input>
    <shttp:input name="code" part="code" type="path"><wsdl:documentation><sdoc:description xmlns:sdoc="http://soa.com/wsdl/doc"><![CDATA[Alert code.]]></sdoc:description><sdoc:required xmlns:sdoc="http://soa.com/wsdl/doc">true</sdoc:required><sdoc:multiple xmlns:sdoc="http://soa.com/wsdl/doc">false</sdoc:multiple></wsdl:documentation></shttp:input>
      </wsdl:input>
      <wsdl:output>
    <shttp:output name="getAlertCodeResponse" part="getAlertCodeResponse" type="entity"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AlertService">
<wsdl:documentation><sdoc:description xmlns:sdoc="http://soa.com/wsdl/doc"><![CDATA[The API used to report and manage alerts.]]></sdoc:description><sdoc:title xmlns:sdoc="http://soa.com/wsdl/doc">Alert Management API</sdoc:title><sdoc:version xmlns:sdoc="http://soa.com/wsdl/doc">8.0.0</sdoc:version><sdoc:vendor xmlns:sdoc="http://soa.com/wsdl/doc">SOA Software</sdoc:vendor></wsdl:documentation>
    <wsdl:port name="AlertService_rest_port_http" binding="tns:AlertServiceBinding">
    <shttp:address location="http://0.0.0.0/rest"/>
    </wsdl:port>
    <wsdl:port name="AlertService_rest_port_https" binding="tns:AlertServiceBinding">
    <shttp:address location="https://0.0.0.0/rest"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
