ag/assets/latest_api_plat/rest/api-platform/api-http___soa.com_wsdl_fedmember_1.0-FederationMemberAPI.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://soa.com/wsdl/fedmember/1.0" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://soa.com/wsdl/fedmember/1.0" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:nms1="http://soa.com/xsd/fedmember/1.0" xmlns:shttp="http://soa.com/wsdl/http">
  <wsdl:types>
    <xs:schema elementFormDefault="qualified" targetNamespace="http://soa.com/xsd/fedmember/1.0" version="1.0" xmlns:tns="http://soa.com/xsd/fedmember/1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:element name="FedMember"><xs:complexType><xs:sequence><xs:element name="FedMemberID" type="xs:string"/><xs:element minOccurs="0" name="Address" type="xs:string"/><xs:element minOccurs="0" name="ProxyAddress" type="xs:string"/><xs:element minOccurs="0" name="IsLocal" type="xs:boolean"/><xs:element minOccurs="0" name="CmApiVersion" type="xs:string"/><xs:element minOccurs="0" name="ESIndexName" type="xs:string"/></xs:sequence></xs:complexType></xs:element>
<xs:element name="FedMembers"><xs:complexType><xs:sequence><xs:element maxOccurs="unbounded" minOccurs="0" ref="tns:FedMember"/></xs:sequence></xs:complexType></xs:element>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="getFedMembersResponseMessage">
    <wsdl:part name="getFedMembersResponse" element="nms1:FedMembers">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getFedMembersRequestMessage">
  </wsdl:message>
  <wsdl:message name="getFedMemberRequestMessage">
    <wsdl:part name="FedMemberID" type="xs:string">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getFedMemberResponseMessage">
    <wsdl:part name="getFedMemberResponse" element="nms1:FedMember">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="FederationMemberAPIPortType">
    <wsdl:operation name="getFedMembers">
      <wsdl:input message="tns:getFedMembersRequestMessage">
    </wsdl:input>
      <wsdl:output message="tns:getFedMembersResponseMessage">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getFedMember">
      <wsdl:input message="tns:getFedMemberRequestMessage">
    </wsdl:input>
      <wsdl:output message="tns:getFedMemberResponseMessage">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="FederationMemberAPIBinding" type="tns:FederationMemberAPIPortType">
    <shttp:binding/>
    <wsdl:operation name="getFedMembers">
<wsdl:documentation><sdoc:displayName xmlns:sdoc="http://soa.com/wsdl/doc">GET /fedmembers</sdoc:displayName></wsdl:documentation>
    <shttp:operation inputSerialization="*/*" location="/fedmembers" method="GET" outputSerialization="application/json,application/vnd.soa.v71+json,application/vnd.soa.v72+json,application/vnd.soa.v80+json,application/vnd.soa.v81+json"/>
      <wsdl:output>
    <shttp:output name="getFedMembersResponse" part="getFedMembersResponse" type="entity"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getFedMember">
<wsdl:documentation><sdoc:displayName xmlns:sdoc="http://soa.com/wsdl/doc">GET /fedmembers/{FedMemberID}</sdoc:displayName></wsdl:documentation>
    <shttp:operation inputSerialization="*/*" location="/fedmembers/{FedMemberID}" method="GET" outputSerialization="application/json,application/vnd.soa.v71+json,application/vnd.soa.v72+json,application/vnd.soa.v80+json,application/vnd.soa.v81+json"/>
      <wsdl:input>
    <shttp:input name="FedMemberID" part="FedMemberID" type="path"/>
      </wsdl:input>
      <wsdl:output>
    <shttp:output name="getFedMemberResponse" part="getFedMemberResponse" type="entity"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="FederationMemberAPI">
<wsdl:documentation><sdoc:title xmlns:sdoc="http://soa.com/wsdl/doc">Federation Members API</sdoc:title><sdoc:description xmlns:sdoc="http://soa.com/wsdl/doc"><![CDATA[<p>This API provides information about federation members.</p>]]></sdoc:description></wsdl:documentation>
    <wsdl:port name="FederationMemberAPI_rest_port_https" binding="tns:FederationMemberAPIBinding">
    <shttp:address location="https://0.0.0.0/api"/>
    </wsdl:port>
    <wsdl:port name="FederationMemberAPI_rest_port_http" binding="tns:FederationMemberAPIBinding">
    <shttp:address location="http://0.0.0.0/api"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
