ag/assets/latest_api_plat/rest/api-platform/api-urn_com.soa.license.api-LicenseAPI.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="urn:com.soa.license.api" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="urn:com.soa.license.api" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:nms3="http://soa.com/xsd/dnmodel/1.0" xmlns:nms2="http://soa.com/xsd/legals/1.0" xmlns:nms1="http://soa.com/xsd/business/1.0" xmlns:shttp="http://soa.com/wsdl/http">
  <wsdl:types>
    <xs:schema elementFormDefault="qualified" targetNamespace="http://soa.com/xsd/business/1.0" version="1.0" xmlns:ns1="http://soa.com/xsd/api/1.0" xmlns:tns="http://soa.com/xsd/business/1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:import namespace="http://soa.com/xsd/api/1.0"/>
<xs:element name="BusinessID" type="xs:string"/>
<xs:element name="ChangeLicenseState"><xs:complexType><xs:sequence><xs:element name="Active" type="xs:boolean"/></xs:sequence></xs:complexType></xs:element>
<xs:element name="License"><xs:complexType><xs:sequence><xs:element name="LicenseID" type="xs:string"/><xs:element name="Name" type="xs:string"/><xs:element minOccurs="0" name="Description" type="xs:string"/><xs:element name="Visibility" type="xs:string"/><xs:element name="SandboxAccessAutoApproved" type="xs:boolean"/><xs:element name="ProductionAccessAutoApproved" type="xs:boolean"/><xs:element minOccurs="0" ref="tns:LicenseParts"/><xs:element minOccurs="0" name="BusinessID" type="xs:string"/><xs:element default="true" minOccurs="0" name="Active" type="xs:boolean"/><xs:element maxOccurs="unbounded" minOccurs="0" name="Environment" type="xs:string"/><xs:element minOccurs="0" name="AgreementDetails"><xs:complexType><xs:sequence><xs:element maxOccurs="unbounded" minOccurs="0" ref="ns2:AgreementDocument" xmlns:ns2="http://soa.com/xsd/legals/1.0"/></xs:sequence></xs:complexType></xs:element></xs:sequence></xs:complexType></xs:element>
<xs:element name="LicenseDetails"><xs:complexType><xs:sequence><xs:element name="LicenseID" type="xs:string"/><xs:element name="Name" type="xs:string"/><xs:element minOccurs="0" name="Description" type="xs:string"/><xs:element name="Visibility" type="xs:string"/><xs:element name="SandboxAccessAutoApproved" type="xs:boolean"/><xs:element name="ProductionAccessAutoApproved" type="xs:boolean"/><xs:element minOccurs="0" ref="tns:LicensePartsDetails"/><xs:element minOccurs="0" name="BusinessID" type="xs:string"/><xs:element default="true" minOccurs="0" name="Active" type="xs:boolean"/><xs:element maxOccurs="unbounded" minOccurs="0" name="Environment" type="xs:string"/><xs:element minOccurs="0" name="AgreementDetails"><xs:complexType><xs:sequence><xs:element maxOccurs="unbounded" minOccurs="0" ref="ns3:AgreementDocument" xmlns:ns3="http://soa.com/xsd/legals/1.0"/></xs:sequence></xs:complexType></xs:element></xs:sequence></xs:complexType></xs:element>
<xs:element name="LicensePart"><xs:complexType><xs:sequence><xs:element minOccurs="0" name="Name" type="xs:string"/><xs:element maxOccurs="unbounded" minOccurs="0" name="ResourceID" type="xs:string"/><xs:element maxOccurs="unbounded" minOccurs="0" name="PolicyKey" type="xs:string"/></xs:sequence></xs:complexType></xs:element>
<xs:element name="LicensePartDetails"><xs:complexType><xs:sequence><xs:element minOccurs="0" name="Name" type="xs:string"/><xs:element maxOccurs="unbounded" ref="tns:Resource"/><xs:element minOccurs="0" ref="ns1:Policies"/></xs:sequence></xs:complexType></xs:element>
<xs:element name="LicenseParts"><xs:complexType><xs:sequence><xs:element maxOccurs="unbounded" ref="tns:LicensePart"/></xs:sequence></xs:complexType></xs:element>
<xs:element name="LicensePartsDetails"><xs:complexType><xs:sequence><xs:element maxOccurs="unbounded" ref="tns:LicensePartDetails"/></xs:sequence></xs:complexType></xs:element>
<xs:element name="Resource"><xs:complexType><xs:sequence><xs:element name="ResourceID" type="xs:string"/><xs:element name="Name" type="xs:string"/><xs:element minOccurs="0" name="ShortDescription" type="xs:string"/><xs:element minOccurs="0" name="LongDescription" type="xs:string"/><xs:element name="Visibility" type="xs:string"/><xs:element minOccurs="0" name="ParentResourceID" type="xs:string"/><xs:element name="SandboxAnonymousAccessAllowed" type="xs:boolean"/><xs:element name="ProductionAnonymousAccessAllowed" type="xs:boolean"/><xs:element minOccurs="0" name="ResourcePath" type="xs:string"/><xs:element default="false" minOccurs="0" name="OAuthGrantDefaultResource" type="xs:boolean"/><xs:element default="true" minOccurs="0" name="OAuthGrantUserAuthorizationRequired" type="xs:boolean"/><xs:element minOccurs="0" name="BusinessID" type="xs:string"/><xs:element minOccurs="0" name="ChildResources"><xs:complexType><xs:sequence><xs:element maxOccurs="unbounded" ref="tns:Resource"/></xs:sequence></xs:complexType></xs:element></xs:sequence></xs:complexType></xs:element>
</xs:schema>
    <xs:schema elementFormDefault="qualified" targetNamespace="http://soa.com/xsd/dnmodel/1.0" version="1.0" xmlns:tns="http://soa.com/xsd/dnmodel/1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:element name="Image"><xs:complexType><xs:all><xs:element name="Url" type="xs:anyURI"/><xs:element name="Title" type="xs:string"/><xs:element name="Link" type="xs:anyURI"/><xs:element minOccurs="0" name="Description" type="xs:string"/></xs:all></xs:complexType></xs:element>
<xs:element name="TargetResource"><xs:complexType><xs:sequence><xs:element minOccurs="0" name="Name" type="xs:string"/><xs:element minOccurs="0" name="ID" type="xs:string"/><xs:element minOccurs="0" name="Type" type="xs:string"/><xs:element minOccurs="0" name="Avatar" type="xs:string"/><xs:element minOccurs="0" ref="tns:Image"/><xs:element minOccurs="0" name="Visibility" type="xs:string"/><xs:element default="false" minOccurs="0" name="IsResourceLevelPermissionSupported" type="xs:boolean"/></xs:sequence></xs:complexType></xs:element>
<xs:element name="TargetResources"><xs:complexType><xs:sequence><xs:element maxOccurs="unbounded" minOccurs="0" ref="tns:TargetResource"/></xs:sequence></xs:complexType></xs:element>
</xs:schema>
    <xs:schema elementFormDefault="qualified" targetNamespace="http://soa.com/xsd/api/1.0" version="1.0" xmlns:ns1="http://soa.com/xsd/business/1.0" xmlns:tns="http://soa.com/xsd/api/1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:import namespace="http://soa.com/xsd/business/1.0"/>
<xs:element name="Policies"><xs:complexType><xs:sequence><xs:element maxOccurs="unbounded" minOccurs="0" ref="tns:Policy"/></xs:sequence></xs:complexType></xs:element>
<xs:element name="Policy"><xs:complexType><xs:sequence><xs:element name="PolicyKey" type="xs:string"/><xs:element minOccurs="0" name="Name" type="xs:string"/><xs:element minOccurs="0" name="Description" type="xs:string"/><xs:element minOccurs="0" name="PolicyType" type="xs:string"/><xs:element minOccurs="0" name="PolicySubType" type="xs:string"/><xs:element minOccurs="0" ref="ns1:BusinessID"/><xs:element minOccurs="0" name="PolicyConfiguration" type="xs:string"/></xs:sequence></xs:complexType></xs:element>
</xs:schema>
    <xs:schema elementFormDefault="qualified" targetNamespace="http://soa.com/xsd/legals/1.0" version="1.0" xmlns:ns1="http://soa.com/xsd/dnmodel/1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:import namespace="http://soa.com/xsd/dnmodel/1.0"/>
<xs:element name="AgreementDocument"><xs:complexType><xs:sequence><xs:element minOccurs="0" name="DocumentID" type="xs:string"/><xs:element name="Name" type="xs:string"/><xs:element minOccurs="0" name="Description" type="xs:string"/><xs:element name="AgreementType" type="xs:string"/><xs:element minOccurs="0" name="ResourceID" type="xs:string"/><xs:element minOccurs="0" name="ResourceType" type="xs:string"/><xs:element name="ContentPath" type="xs:string"/><xs:element minOccurs="0" name="MetadataResourceURI" type="xs:string"/><xs:element minOccurs="0" name="MetadataResourceVersion" type="xs:int"/><xs:element name="Active" type="xs:boolean"/><xs:element name="PrintContentPath" type="xs:string"/><xs:element minOccurs="0" name="PrintResourceURI" type="xs:string"/><xs:element minOccurs="0" name="PrintVersion" type="xs:int"/><xs:element name="DocumentState" type="xs:string"/><xs:element name="FileName" type="xs:string"/><xs:element name="Link" type="xs:string"/><xs:element minOccurs="0" ref="ns1:TargetResources"/></xs:sequence></xs:complexType></xs:element>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="getLicenseResponseMessage">
    <wsdl:part name="getLicenseResponse" element="nms1:LicenseDetails">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="updateLicenseResponseMessage">
    <wsdl:part name="updateLicenseResponse" element="nms1:License">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="updateLicenseRequestMessage">
    <wsdl:part name="LicenseID" type="xs:string">
    </wsdl:part>
    <wsdl:part name="parameter0" element="nms1:License">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="modifyLegalStateResponseMessage">
    <wsdl:part element="xs:any">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="exportLicenseResponseMessage">
    <wsdl:part element="xs:any">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getLicenseRequestMessage">
    <wsdl:part name="LicenseID" type="xs:string">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="addLicenseRequestMessage">
    <wsdl:part name="parameter0" element="nms1:License">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="changeLicenseStateResponseMessage">
    <wsdl:part name="changeLicenseStateResponse" type="xs:string">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="deleteLicenseResponseMessage">
    <wsdl:part name="deleteLicenseResponse" element="nms1:License">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="deleteLicenseRequestMessage">
    <wsdl:part name="LicenseID" type="xs:string">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="modifyLegalStateRequestMessage">
    <wsdl:part name="LicenseID" type="xs:string">
    </wsdl:part>
    <wsdl:part name="LegalDocumentDN" type="xs:string">
    </wsdl:part>
    <wsdl:part name="parameter0" element="nms2:AgreementDocument">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="addLicenseResponseMessage">
    <wsdl:part name="addLicenseResponse" element="nms1:License">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="exportLicenseRequestMessage">
    <wsdl:part name="LicenseID" type="xs:string">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="changeLicenseStateRequestMessage">
    <wsdl:part name="LicenseID" type="xs:string">
    </wsdl:part>
    <wsdl:part name="parameter0" element="nms1:ChangeLicenseState">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="LicenseAPIPortType">
    <wsdl:operation name="updateLicense">
      <wsdl:input message="tns:updateLicenseRequestMessage">
    </wsdl:input>
      <wsdl:output message="tns:updateLicenseResponseMessage">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addLicense">
      <wsdl:input message="tns:addLicenseRequestMessage">
    </wsdl:input>
      <wsdl:output message="tns:addLicenseResponseMessage">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="changeLicenseState">
      <wsdl:input message="tns:changeLicenseStateRequestMessage">
    </wsdl:input>
      <wsdl:output message="tns:changeLicenseStateResponseMessage">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="modifyLegalState">
      <wsdl:input message="tns:modifyLegalStateRequestMessage">
    </wsdl:input>
      <wsdl:output message="tns:modifyLegalStateResponseMessage">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="exportLicense">
      <wsdl:input message="tns:exportLicenseRequestMessage">
    </wsdl:input>
      <wsdl:output message="tns:exportLicenseResponseMessage">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getLicense">
      <wsdl:input message="tns:getLicenseRequestMessage">
    </wsdl:input>
      <wsdl:output message="tns:getLicenseResponseMessage">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteLicense">
      <wsdl:input message="tns:deleteLicenseRequestMessage">
    </wsdl:input>
      <wsdl:output message="tns:deleteLicenseResponseMessage">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="LicenseAPIBinding" type="tns:LicenseAPIPortType">
    <shttp:binding/>
    <wsdl:operation name="updateLicense">
<wsdl:documentation><sdoc:displayName xmlns:sdoc="http://soa.com/wsdl/doc">PUT /licenses/{LicenseID}</sdoc:displayName></wsdl:documentation>
    <shttp:operation inputSerialization="application/xml,application/json,application/vnd.soa.v71+json,application/vnd.soa.v72+json,application/vnd.soa.v80+json,application/vnd.soa.v71+xml,application/vnd.soa.v72+xml,application/vnd.soa.v80+xml,application/vnd.soa.v81+json,application/vnd.soa.v81+xml" location="/licenses/{LicenseID}" method="PUT" outputSerialization="application/xml,application/json,application/vnd.soa.v71+json,application/vnd.soa.v72+json,application/vnd.soa.v80+json,application/vnd.soa.v71+xml,application/vnd.soa.v72+xml,application/vnd.soa.v80+xml,application/vnd.soa.v81+json,application/vnd.soa.v81+xml"/>
      <wsdl:input>
    <shttp:input name="LicenseID" part="LicenseID" type="path"/>
    <shttp:input name="parameter0" part="parameter0" type="entity"/>
      </wsdl:input>
      <wsdl:output>
    <shttp:output name="updateLicenseResponse" part="updateLicenseResponse" type="entity"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addLicense">
<wsdl:documentation><sdoc:displayName xmlns:sdoc="http://soa.com/wsdl/doc">POST /licenses</sdoc:displayName></wsdl:documentation>
    <shttp:operation inputSerialization="application/xml,application/json,application/vnd.soa.v71+json,application/vnd.soa.v72+json,application/vnd.soa.v80+json,application/vnd.soa.v71+xml,application/vnd.soa.v72+xml,application/vnd.soa.v80+xml,application/vnd.soa.v81+json,application/vnd.soa.v81+xml" location="/licenses" method="POST" outputSerialization="application/xml,application/json,application/vnd.soa.v71+json,application/vnd.soa.v72+json,application/vnd.soa.v80+json,application/vnd.soa.v71+xml,application/vnd.soa.v72+xml,application/vnd.soa.v80+xml,application/vnd.soa.v81+json,application/vnd.soa.v81+xml"/>
      <wsdl:input>
    <shttp:input name="parameter0" part="parameter0" type="entity"/>
      </wsdl:input>
      <wsdl:output>
    <shttp:output name="addLicenseResponse" part="addLicenseResponse" type="entity"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="changeLicenseState">
<wsdl:documentation><sdoc:displayName xmlns:sdoc="http://soa.com/wsdl/doc">PUT /licenses/{LicenseID}/state</sdoc:displayName></wsdl:documentation>
    <shttp:operation inputSerialization="application/xml,application/json,application/vnd.soa.v71+json,application/vnd.soa.v72+json,application/vnd.soa.v80+json,application/vnd.soa.v71+xml,application/vnd.soa.v72+xml,application/vnd.soa.v80+xml,application/vnd.soa.v81+json,application/vnd.soa.v81+xml" location="/licenses/{LicenseID}/state" method="PUT" outputSerialization="text/plain"/>
      <wsdl:input>
    <shttp:input name="LicenseID" part="LicenseID" type="path"/>
    <shttp:input name="parameter0" part="parameter0" type="entity"/>
      </wsdl:input>
      <wsdl:output>
    <shttp:output name="changeLicenseStateResponse" part="changeLicenseStateResponse" type="entity"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="modifyLegalState">
<wsdl:documentation><sdoc:displayName xmlns:sdoc="http://soa.com/wsdl/doc">PUT /licenses/{LicenseID}/legals/{LegalDocumentDN}/state</sdoc:displayName></wsdl:documentation>
    <shttp:operation inputSerialization="application/xml,application/json,application/vnd.soa.v71+json,application/vnd.soa.v72+json,application/vnd.soa.v80+json,application/vnd.soa.v71+xml,application/vnd.soa.v72+xml,application/vnd.soa.v80+xml,application/vnd.soa.v81+json,application/vnd.soa.v81+xml" location="/licenses/{LicenseID}/legals/{LegalDocumentDN}/state" method="PUT" outputSerialization="text/plain"/>
      <wsdl:input>
    <shttp:input name="LicenseID" part="LicenseID" type="path"/>
    <shttp:input name="LegalDocumentDN" part="LegalDocumentDN" type="path"/>
    <shttp:input name="parameter0" part="parameter0" type="entity"/>
      </wsdl:input>
      <wsdl:output>
    <shttp:output name="" part="" type="entity"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="exportLicense">
<wsdl:documentation><sdoc:displayName xmlns:sdoc="http://soa.com/wsdl/doc">GET /licenses/{LicenseID}/package</sdoc:displayName></wsdl:documentation>
    <shttp:operation location="/licenses/{LicenseID}/package" method="GET" outputSerialization="application/json,application/vnd.soa.v71+json,application/vnd.soa.v72+json,application/vnd.soa.v80+json,application/octet-stream,application/vnd.soa.v81+json"/>
      <wsdl:input>
    <shttp:input name="LicenseID" part="LicenseID" type="path"/>
      </wsdl:input>
      <wsdl:output>
    <shttp:output name="" part="" type="entity"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getLicense">
<wsdl:documentation><sdoc:displayName xmlns:sdoc="http://soa.com/wsdl/doc">GET /licenses/{LicenseID}</sdoc:displayName></wsdl:documentation>
    <shttp:operation location="/licenses/{LicenseID}" method="GET" outputSerialization="application/xml,application/json,application/vnd.soa.v71+json,application/vnd.soa.v72+json,application/vnd.soa.v80+json,application/vnd.soa.v71+xml,application/vnd.soa.v72+xml,application/vnd.soa.v80+xml,application/vnd.soa.v81+json,application/vnd.soa.v81+xml"/>
      <wsdl:input>
    <shttp:input name="LicenseID" part="LicenseID" type="path"/>
      </wsdl:input>
      <wsdl:output>
    <shttp:output name="getLicenseResponse" part="getLicenseResponse" type="entity"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteLicense">
<wsdl:documentation><sdoc:displayName xmlns:sdoc="http://soa.com/wsdl/doc">DELETE /licenses/{LicenseID}</sdoc:displayName></wsdl:documentation>
    <shttp:operation location="/licenses/{LicenseID}" method="DELETE" outputSerialization="application/xml,application/json,application/vnd.soa.v71+json,application/vnd.soa.v72+json,application/vnd.soa.v80+json,application/vnd.soa.v71+xml,application/vnd.soa.v72+xml,application/vnd.soa.v80+xml,application/vnd.soa.v81+json,application/vnd.soa.v81+xml"/>
      <wsdl:input>
    <shttp:input name="LicenseID" part="LicenseID" type="path"/>
      </wsdl:input>
      <wsdl:output>
    <shttp:output name="deleteLicenseResponse" part="deleteLicenseResponse" type="entity"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="LicenseAPI">
<wsdl:documentation><sdoc:title xmlns:sdoc="http://soa.com/wsdl/doc">License API</sdoc:title><sdoc:description xmlns:sdoc="http://soa.com/wsdl/doc"><![CDATA[<p>The Licenses service provides operations for managing API licenses.</p>]]></sdoc:description></wsdl:documentation>
    <wsdl:port name="LicenseAPI_rest_port_http" binding="tns:LicenseAPIBinding">
    <shttp:address location="http://0.0.0.0/api"/>
    </wsdl:port>
    <wsdl:port name="LicenseAPI_rest_port_https" binding="tns:LicenseAPIBinding">
    <shttp:address location="https://0.0.0.0/api"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
