ag/assets/latest_api_plat/rest/api-platform/api-urn_com.soa.dnworkflow.api-WorkflowAPI.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="urn:com.soa.dnworkflow.api" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="urn:com.soa.dnworkflow.api" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:nms2="urn:org.apache.wink.common.model.rss" xmlns:nms1="http://soa.com/xsd/workflow/1.0" xmlns:shttp="http://soa.com/wsdl/http">
  <wsdl:types>
    <xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:element name="category" nillable="true" type="rssCategory"/>
<xs:element name="channel" nillable="true" type="rssChannel"/>
<xs:element name="cloud" nillable="true" type="rssCloud"/>
<xs:element name="enclosure" nillable="true" type="rssEnclosure"/>
<xs:element name="guid" nillable="true" type="rssGuid"/>
<xs:element name="image" nillable="true" type="rssImage"/>
<xs:element name="item" nillable="true" type="rssItem"/>
<xs:element name="rss"><xs:complexType><xs:sequence><xs:element name="channel" type="rssChannel"/></xs:sequence><xs:attribute name="version" type="xs:string" use="required"/></xs:complexType></xs:element>
<xs:element name="skipDays" nillable="true" type="rssSkipDays"/>
<xs:element name="skipHours" nillable="true" type="rssSkipHours"/>
<xs:element name="source" nillable="true" type="rssSource"/>
<xs:element name="textInput" nillable="true" type="rssTextInput"/>
<xs:complexType name="rssSkipHours"><xs:sequence><xs:element maxOccurs="unbounded" minOccurs="0" name="hour" nillable="true" type="xs:string"/></xs:sequence></xs:complexType>
<xs:complexType name="rssChannel"><xs:all><xs:element name="title" type="xs:string"/><xs:element name="link" type="xs:anyURI"/><xs:element name="description" type="xs:string"/><xs:element minOccurs="0" name="language" type="xs:string"/><xs:element minOccurs="0" name="copyright" type="xs:string"/><xs:element minOccurs="0" name="managingEditor" type="xs:string"/><xs:element minOccurs="0" name="webMaster" type="xs:string"/><xs:element minOccurs="0" name="pubDate" type="xs:string"/><xs:element minOccurs="0" name="lastBuildDate" type="xs:string"/><xs:element maxOccurs="unbounded" minOccurs="0" name="category" nillable="true" type="rssCategory"/><xs:element minOccurs="0" name="generator" type="xs:string"/><xs:element minOccurs="0" name="docs" type="xs:anyURI"/><xs:element minOccurs="0" name="cloud" type="rssCloud"/><xs:element minOccurs="0" name="ttl" type="xs:int"/><xs:element minOccurs="0" name="image" type="rssImage"/><xs:element minOccurs="0" name="rating" type="xs:string"/><xs:element minOccurs="0" name="textInput" type="rssTextInput"/><xs:element minOccurs="0" name="skipHours" type="rssSkipHours"/><xs:element minOccurs="0" name="skipDays" type="rssSkipDays"/><xs:any maxOccurs="unbounded" minOccurs="0" namespace="##other" processContents="lax"/><xs:element maxOccurs="unbounded" minOccurs="0" name="item" nillable="true" type="rssItem"/></xs:all></xs:complexType>
<xs:complexType name="rssCategory"><xs:simpleContent><xs:extension base="xs:string"><xs:attribute name="domain" type="xs:string"/></xs:extension></xs:simpleContent></xs:complexType>
<xs:complexType name="rssCloud"><xs:sequence/><xs:attribute name="domain" type="xs:string" use="required"/><xs:attribute name="port" type="xs:int" use="required"/><xs:attribute name="path" type="xs:string" use="required"/><xs:attribute name="registerProcedure" type="xs:string" use="required"/><xs:attribute name="protocol" type="xs:string" use="required"/></xs:complexType>
<xs:complexType name="rssImage"><xs:all><xs:element name="url" type="xs:string"/><xs:element name="title" type="xs:string"/><xs:element name="link" type="xs:anyURI"/><xs:element default="88" minOccurs="0" name="width" type="xs:int"/><xs:element default="31" minOccurs="0" name="height" type="xs:int"/><xs:element minOccurs="0" name="description" type="xs:string"/></xs:all></xs:complexType>
<xs:complexType name="rssTextInput"><xs:all><xs:element name="title" type="xs:string"/><xs:element name="description" type="xs:string"/><xs:element name="name" type="xs:string"/><xs:element name="link" type="xs:anyURI"/></xs:all></xs:complexType>
<xs:complexType name="rssSkipDays"><xs:sequence><xs:element maxOccurs="unbounded" minOccurs="0" name="day" nillable="true" type="xs:string"/></xs:sequence></xs:complexType>
<xs:complexType name="rssSource"><xs:simpleContent><xs:extension base="xs:string"><xs:attribute name="url" type="xs:string" use="required"/></xs:extension></xs:simpleContent></xs:complexType>
<xs:complexType name="rssEnclosure"><xs:sequence/><xs:attribute name="url" type="xs:string" use="required"/><xs:attribute name="length" type="xs:string" use="required"/><xs:attribute name="type" type="xs:string" use="required"/></xs:complexType>
<xs:complexType name="rssGuid"><xs:simpleContent><xs:extension base="xs:string"><xs:attribute name="isPermaLink" type="xs:boolean"/></xs:extension></xs:simpleContent></xs:complexType>
<xs:complexType name="rssItem"><xs:all><xs:element minOccurs="0" name="title" type="xs:string"/><xs:element minOccurs="0" name="link" type="xs:anyURI"/><xs:element minOccurs="0" name="description" type="xs:string"/><xs:element minOccurs="0" name="author" type="xs:string"/><xs:element maxOccurs="unbounded" minOccurs="0" name="category" nillable="true" type="rssCategory"/><xs:element minOccurs="0" name="comments" type="xs:anyURI"/><xs:element minOccurs="0" name="enclosure" type="rssEnclosure"/><xs:element minOccurs="0" name="guid" type="rssGuid"/><xs:element name="pubDate" type="xs:string"/><xs:element minOccurs="0" name="source" type="rssSource"/><xs:any maxOccurs="unbounded" minOccurs="0" namespace="##other" processContents="lax"/></xs:all></xs:complexType>
</xs:schema>
    <xs:schema elementFormDefault="qualified" targetNamespace="http://soa.com/xsd/workflow/1.0" version="1.0" xmlns:ns1="http://soa.com/xsd/user/1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:import namespace="http://soa.com/xsd/user/1.0"/>
<xs:element name="Action"><xs:complexType><xs:sequence><xs:element ref="ns1:UserID"/><xs:element name="ActionName" type="xs:string"/><xs:element minOccurs="0" name="Comments" type="xs:string"/><xs:element minOccurs="0" name="Parameters"><xs:complexType><xs:sequence><xs:element maxOccurs="unbounded" minOccurs="0" ref="ns2:ActionParameter" xmlns:ns2="http://soa.com/xsd/workflow/1.0"/></xs:sequence></xs:complexType></xs:element></xs:sequence></xs:complexType></xs:element>
<xs:element name="ActionParameter"><xs:complexType><xs:sequence><xs:element name="Name" type="xs:string"/><xs:element minOccurs="0" name="Value" type="xs:string"/></xs:sequence></xs:complexType></xs:element>
<xs:element name="WfActionDefinition"><xs:complexType><xs:sequence><xs:element minOccurs="0" name="ActionName" type="xs:string"/><xs:element minOccurs="0" name="StateName" type="xs:string"/><xs:element minOccurs="0" name="StepID" type="xs:int"/></xs:sequence></xs:complexType></xs:element>
<xs:element name="WorkflowDefinition"><xs:complexType><xs:sequence><xs:element minOccurs="0" name="Key" type="xs:string"/><xs:element minOccurs="0" name="Name" type="xs:string"/><xs:element minOccurs="0" name="Description" type="xs:string"/><xs:element minOccurs="0" name="State" type="xs:string"/><xs:element name="ObjectType" type="xs:string"/><xs:element minOccurs="0" name="BusinessID" type="xs:string"/><xs:element minOccurs="0" name="Updated" type="xs:dateTime"/><xs:element minOccurs="0" name="ObjectReferenceCount" type="xs:long"/></xs:sequence></xs:complexType></xs:element>
</xs:schema>
    <xs:schema targetNamespace="http://soa.com/xsd/user/1.0" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:element name="UserID" type="xs:string"/>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="getInitActionDetailsRequestMessage">
    <wsdl:part name="ObjectType" type="xs:string">
    </wsdl:part>
    <wsdl:part name="InitActionID" type="xs:string">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getWorkflowDefinitionConfigurationRequestMessage">
    <wsdl:part name="WorkflowDefKey" type="xs:string">
    </wsdl:part>
    <wsdl:part name="download" type="xs:boolean">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="deleteWorkflowDefinitionResponseMessage">
    <wsdl:part name="deleteWorkflowDefinitionResponse" type="xs:string">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="addWorkflowDefinitionResponseMessage">
    <wsdl:part name="addWorkflowDefinitionResponse" element="nms1:WorkflowDefinition">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="uploadWorkloadConfigurationRequestMessage">
    <wsdl:part name="WorkflowDefKey" type="xs:string">
    </wsdl:part>
    <wsdl:part name="parameter0" type="tns:BufferedInMultiPart">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getActionsRequestMessage">
    <wsdl:part name="ObjectID" type="xs:string">
    </wsdl:part>
    <wsdl:part name="IncludeReservedActions" type="xs:boolean">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="addWorkflowDefinitionRequestMessage">
    <wsdl:part name="Name" type="xs:string">
    </wsdl:part>
    <wsdl:part name="Description" type="xs:string">
    </wsdl:part>
    <wsdl:part name="ObjectType" type="xs:string">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="deleteWorkflowDefinitionRequestMessage">
    <wsdl:part name="WorkflowDefKey" type="xs:string">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getActionDetailsResponseMessage">
    <wsdl:part name="getActionDetailsResponse" element="nms1:WfActionDefinition">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getInitActionDetailsResponseMessage">
    <wsdl:part name="getInitActionDetailsResponse" element="nms1:WfActionDefinition">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getActionsResponseMessage">
    <wsdl:part name="getActionsResponse" element="tns:rss">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="uploadWorkloadConfigurationResponseMessage">
    <wsdl:part name="uploadWorkloadConfigurationResponse" element="nms1:WorkflowDefinition">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="addWorkloadDefinitionConfigurationResponseMessage">
    <wsdl:part name="addWorkloadDefinitionConfigurationResponse" element="nms1:WorkflowDefinition">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getWorkflowDefinitionResponseMessage">
    <wsdl:part name="getWorkflowDefinitionResponse" element="nms1:WorkflowDefinition">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getWorkflowDefinitionRequestMessage">
    <wsdl:part name="WorkflowDefKey" type="xs:string">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="performWorkflowActionRequestMessage">
    <wsdl:part name="ObjectID" type="xs:string">
    </wsdl:part>
    <wsdl:part name="parameter0" element="nms1:Action">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getActionDetailsRequestMessage">
    <wsdl:part name="ObjectID" type="xs:string">
    </wsdl:part>
    <wsdl:part name="ActionID" type="xs:string">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="performWorkflowActionResponseMessage">
    <wsdl:part name="performWorkflowActionResponse" type="xs:string">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getWorkflowDefinitionConfigurationResponseMessage">
    <wsdl:part element="xs:any">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="listWorkflowDefinitionsRequestMessage">
    <wsdl:part name="BusinessID" type="xs:string">
    </wsdl:part>
    <wsdl:part name="ObjectType" type="xs:string">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="addWorkloadDefinitionConfigurationRequestMessage">
    <wsdl:part name="parameter0" type="tns:BufferedInMultiPart">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="listWorkflowDefinitionsResponseMessage">
    <wsdl:part name="listWorkflowDefinitionsResponse" element="tns:rss">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="WorkflowAPIPortType">
    <wsdl:operation name="performWorkflowAction">
      <wsdl:input message="tns:performWorkflowActionRequestMessage">
    </wsdl:input>
      <wsdl:output message="tns:performWorkflowActionResponseMessage">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getWorkflowDefinition">
      <wsdl:input message="tns:getWorkflowDefinitionRequestMessage">
    </wsdl:input>
      <wsdl:output message="tns:getWorkflowDefinitionResponseMessage">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getActionDetails">
      <wsdl:input message="tns:getActionDetailsRequestMessage">
    </wsdl:input>
      <wsdl:output message="tns:getActionDetailsResponseMessage">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="listWorkflowDefinitions">
      <wsdl:input message="tns:listWorkflowDefinitionsRequestMessage">
    </wsdl:input>
      <wsdl:output message="tns:listWorkflowDefinitionsResponseMessage">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getWorkflowDefinitionConfiguration">
      <wsdl:input message="tns:getWorkflowDefinitionConfigurationRequestMessage">
    </wsdl:input>
      <wsdl:output message="tns:getWorkflowDefinitionConfigurationResponseMessage">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addWorkflowDefinition">
      <wsdl:input message="tns:addWorkflowDefinitionRequestMessage">
    </wsdl:input>
      <wsdl:output message="tns:addWorkflowDefinitionResponseMessage">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="uploadWorkloadConfiguration">
      <wsdl:input message="tns:uploadWorkloadConfigurationRequestMessage">
    </wsdl:input>
      <wsdl:output message="tns:uploadWorkloadConfigurationResponseMessage">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteWorkflowDefinition">
      <wsdl:input message="tns:deleteWorkflowDefinitionRequestMessage">
    </wsdl:input>
      <wsdl:output message="tns:deleteWorkflowDefinitionResponseMessage">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getInitActionDetails">
      <wsdl:input message="tns:getInitActionDetailsRequestMessage">
    </wsdl:input>
      <wsdl:output message="tns:getInitActionDetailsResponseMessage">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addWorkloadDefinitionConfiguration">
      <wsdl:input message="tns:addWorkloadDefinitionConfigurationRequestMessage">
    </wsdl:input>
      <wsdl:output message="tns:addWorkloadDefinitionConfigurationResponseMessage">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getActions">
      <wsdl:input message="tns:getActionsRequestMessage">
    </wsdl:input>
      <wsdl:output message="tns:getActionsResponseMessage">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WorkflowAPIBinding" type="tns:WorkflowAPIPortType">
    <shttp:binding/>
    <wsdl:operation name="performWorkflowAction">
<wsdl:documentation><sdoc:displayName xmlns:sdoc="http://soa.com/wsdl/doc">POST /workflow/objects/{ObjectID}/actions</sdoc:displayName></wsdl:documentation>
    <shttp:operation inputSerialization="application/xml,application/json,application/vnd.soa.v71+json,application/vnd.soa.v72+json,application/vnd.soa.v80+json,application/vnd.soa.v71+xml,application/vnd.soa.v72+xml,application/vnd.soa.v80+xml,application/vnd.soa.v81+json,application/vnd.soa.v81+xml" location="/workflow/objects/{ObjectID}/actions" method="POST" outputSerialization="text/plain"/>
      <wsdl:input>
    <shttp:input name="ObjectID" part="ObjectID" type="path"/>
    <shttp:input name="parameter0" part="parameter0" type="entity"/>
      </wsdl:input>
      <wsdl:output>
    <shttp:output name="performWorkflowActionResponse" part="performWorkflowActionResponse" type="entity"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getWorkflowDefinition">
<wsdl:documentation><sdoc:displayName xmlns:sdoc="http://soa.com/wsdl/doc">GET /workflow/definitions/{WorkflowDefKey}</sdoc:displayName></wsdl:documentation>
    <shttp:operation location="/workflow/definitions/{WorkflowDefKey}" method="GET" outputSerialization="application/xml,application/json,application/vnd.soa.v71+json,application/vnd.soa.v72+json,application/vnd.soa.v80+json,application/vnd.soa.v71+xml,application/vnd.soa.v72+xml,application/vnd.soa.v80+xml,application/vnd.soa.v81+json,application/vnd.soa.v81+xml"/>
      <wsdl:input>
    <shttp:input name="WorkflowDefKey" part="WorkflowDefKey" type="path"/>
      </wsdl:input>
      <wsdl:output>
    <shttp:output name="getWorkflowDefinitionResponse" part="getWorkflowDefinitionResponse" type="entity"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getActionDetails">
<wsdl:documentation><sdoc:displayName xmlns:sdoc="http://soa.com/wsdl/doc">GET /workflow/objects/{ObjectID}/actions/{ActionID}</sdoc:displayName></wsdl:documentation>
    <shttp:operation location="/workflow/objects/{ObjectID}/actions/{ActionID}" method="GET" outputSerialization="application/xml,application/json,application/vnd.soa.v71+json,application/vnd.soa.v72+json,application/vnd.soa.v80+json,application/vnd.soa.v71+xml,application/vnd.soa.v72+xml,application/vnd.soa.v80+xml,application/vnd.soa.v81+json,application/vnd.soa.v81+xml"/>
      <wsdl:input>
    <shttp:input name="ObjectID" part="ObjectID" type="path"/>
    <shttp:input name="ActionID" part="ActionID" type="path"/>
      </wsdl:input>
      <wsdl:output>
    <shttp:output name="getActionDetailsResponse" part="getActionDetailsResponse" type="entity"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="listWorkflowDefinitions">
<wsdl:documentation><sdoc:displayName xmlns:sdoc="http://soa.com/wsdl/doc">GET /workflow/definitions</sdoc:displayName></wsdl:documentation>
    <shttp:operation location="/workflow/definitions" method="GET" outputSerialization="application/xml,application/json,application/vnd.soa.v71+json,application/vnd.soa.v72+json,application/vnd.soa.v80+json,application/vnd.soa.v71+xml,application/vnd.soa.v72+xml,application/vnd.soa.v80+xml,application/vnd.soa.v81+json,application/vnd.soa.v81+xml"/>
      <wsdl:input>
    <shttp:input name="BusinessID" part="BusinessID" type="query"/>
    <shttp:input name="ObjectType" part="ObjectType" type="query"/>
      </wsdl:input>
      <wsdl:output>
    <shttp:output name="listWorkflowDefinitionsResponse" part="listWorkflowDefinitionsResponse" type="entity"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getWorkflowDefinitionConfiguration">
<wsdl:documentation><sdoc:displayName xmlns:sdoc="http://soa.com/wsdl/doc">GET /workflow/definitions/{WorkflowDefKey}/configuration.xml</sdoc:displayName></wsdl:documentation>
    <shttp:operation location="/workflow/definitions/{WorkflowDefKey}/configuration.xml" method="GET" outputSerialization="text/xml,application/xml,application/vnd.soa.v71+json,application/vnd.soa.v72+json,application/vnd.soa.v80+json,application/vnd.soa.v71+xml,application/vnd.soa.v72+xml,application/vnd.soa.v80+xml,application/vnd.soa.v81+json,application/vnd.soa.v81+xml"/>
      <wsdl:input>
    <shttp:input name="WorkflowDefKey" part="WorkflowDefKey" type="path"/>
    <shttp:input name="download" part="download" type="query"/>
      </wsdl:input>
      <wsdl:output>
    <shttp:output name="" part="" type="entity"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addWorkflowDefinition">
<wsdl:documentation><sdoc:displayName xmlns:sdoc="http://soa.com/wsdl/doc">POST /workflow/definitions</sdoc:displayName></wsdl:documentation>
    <shttp:operation inputSerialization="application/x-www-form-urlencoded" location="/workflow/definitions" method="POST" outputSerialization="application/json,application/xml,application/vnd.soa.v71+json,application/vnd.soa.v72+json,application/vnd.soa.v80+json,application/vnd.soa.v71+xml,application/vnd.soa.v72+xml,application/vnd.soa.v80+xml,application/vnd.soa.v81+json,application/vnd.soa.v81+xml"/>
      <wsdl:input>
    <shttp:input name="Name" part="Name" type="form"/>
    <shttp:input name="Description" part="Description" type="form"/>
    <shttp:input name="ObjectType" part="ObjectType" type="form"/>
      </wsdl:input>
      <wsdl:output>
    <shttp:output name="addWorkflowDefinitionResponse" part="addWorkflowDefinitionResponse" type="entity"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="uploadWorkloadConfiguration">
<wsdl:documentation><sdoc:displayName xmlns:sdoc="http://soa.com/wsdl/doc">POST /workflow/definitions/{WorkflowDefKey}</sdoc:displayName></wsdl:documentation>
    <shttp:operation inputSerialization="multipart/form-data" location="/workflow/definitions/{WorkflowDefKey}" method="POST" outputSerialization="application/json,application/vnd.soa.v71+json,application/vnd.soa.v72+json,application/vnd.soa.v80+json,application/vnd.soa.v71+xml,application/vnd.soa.v72+xml,application/vnd.soa.v80+xml,application/vnd.soa.v81+json,application/vnd.soa.v81+xml"/>
      <wsdl:input>
    <shttp:input name="WorkflowDefKey" part="WorkflowDefKey" type="path"/>
    <shttp:input name="parameter0" part="parameter0" type="entity"/>
      </wsdl:input>
      <wsdl:output>
    <shttp:output name="uploadWorkloadConfigurationResponse" part="uploadWorkloadConfigurationResponse" type="entity"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteWorkflowDefinition">
<wsdl:documentation><sdoc:displayName xmlns:sdoc="http://soa.com/wsdl/doc">DELETE /workflow/definitions/{WorkflowDefKey}</sdoc:displayName></wsdl:documentation>
    <shttp:operation location="/workflow/definitions/{WorkflowDefKey}" method="DELETE" outputSerialization="text/plain"/>
      <wsdl:input>
    <shttp:input name="WorkflowDefKey" part="WorkflowDefKey" type="path"/>
      </wsdl:input>
      <wsdl:output>
    <shttp:output name="deleteWorkflowDefinitionResponse" part="deleteWorkflowDefinitionResponse" type="entity"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getInitActionDetails">
<wsdl:documentation><sdoc:displayName xmlns:sdoc="http://soa.com/wsdl/doc">GET /workflow/objecttypes/{ObjectType}/initactions/{InitActionID}</sdoc:displayName></wsdl:documentation>
    <shttp:operation location="/workflow/objecttypes/{ObjectType}/initactions/{InitActionID}" method="GET" outputSerialization="application/xml,application/json,application/vnd.soa.v71+json,application/vnd.soa.v72+json,application/vnd.soa.v80+json,application/vnd.soa.v71+xml,application/vnd.soa.v72+xml,application/vnd.soa.v80+xml,application/vnd.soa.v81+json,application/vnd.soa.v81+xml"/>
      <wsdl:input>
    <shttp:input name="ObjectType" part="ObjectType" type="path"/>
    <shttp:input name="InitActionID" part="InitActionID" type="path"/>
      </wsdl:input>
      <wsdl:output>
    <shttp:output name="getInitActionDetailsResponse" part="getInitActionDetailsResponse" type="entity"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addWorkloadDefinitionConfiguration">
<wsdl:documentation><sdoc:displayName xmlns:sdoc="http://soa.com/wsdl/doc">POST /workflow/definitions</sdoc:displayName></wsdl:documentation>
    <shttp:operation inputSerialization="multipart/form-data" location="/workflow/definitions" method="POST" outputSerialization="application/json,application/vnd.soa.v71+json,application/vnd.soa.v72+json,application/vnd.soa.v80+json,application/vnd.soa.v81+json"/>
      <wsdl:input>
    <shttp:input name="parameter0" part="parameter0" type="entity"/>
      </wsdl:input>
      <wsdl:output>
    <shttp:output name="addWorkloadDefinitionConfigurationResponse" part="addWorkloadDefinitionConfigurationResponse" type="entity"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getActions">
<wsdl:documentation><sdoc:displayName xmlns:sdoc="http://soa.com/wsdl/doc">GET /workflow/objects/{ObjectID}/actions</sdoc:displayName></wsdl:documentation>
    <shttp:operation location="/workflow/objects/{ObjectID}/actions" method="GET" outputSerialization="application/xml,application/json,application/vnd.soa.v71+json,application/vnd.soa.v72+json,application/vnd.soa.v80+json,application/vnd.soa.v71+xml,application/vnd.soa.v72+xml,application/vnd.soa.v80+xml,application/vnd.soa.v81+json,application/vnd.soa.v81+xml"/>
      <wsdl:input>
    <shttp:input name="ObjectID" part="ObjectID" type="path"/>
    <shttp:input name="IncludeReservedActions" part="IncludeReservedActions" type="query"/>
      </wsdl:input>
      <wsdl:output>
    <shttp:output name="getActionsResponse" part="getActionsResponse" type="entity"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WorkflowAPI">
<wsdl:documentation><sdoc:title xmlns:sdoc="http://soa.com/wsdl/doc">Workflow API</sdoc:title><sdoc:description xmlns:sdoc="http://soa.com/wsdl/doc"><![CDATA[<p>The operations in the Workflow service allow you to add, retrieve, manage, and delete custom workflows on the platform.</p>]]></sdoc:description></wsdl:documentation>
    <wsdl:port name="WorkflowAPI_rest_port_http" binding="tns:WorkflowAPIBinding">
    <shttp:address location="http://0.0.0.0/api"/>
    </wsdl:port>
    <wsdl:port name="WorkflowAPI_rest_port_https" binding="tns:WorkflowAPIBinding">
    <shttp:address location="https://0.0.0.0/api"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
