ag/assets/latest_api_plat/rest/api-platform/api-http___soa.com_wsdl_technology_1.0-TechnologyAPI.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://soa.com/wsdl/technology/1.0" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://soa.com/wsdl/technology/1.0" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:nms1="http://soa.com/xsd/technology/1.0" xmlns:shttp="http://soa.com/wsdl/http">
  <wsdl:types>
    <xs:schema elementFormDefault="qualified" targetNamespace="http://soa.com/xsd/technology/1.0" version="1.0" xmlns:tns="http://soa.com/xsd/technology/1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:element name="Technologies"><xs:complexType><xs:sequence><xs:element maxOccurs="unbounded" minOccurs="0" ref="tns:Technology"/></xs:sequence></xs:complexType></xs:element>
<xs:element name="Technology"><xs:complexType><xs:sequence><xs:element name="TechName" type="xs:string"/><xs:element name="Category" type="xs:string"/></xs:sequence></xs:complexType></xs:element>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="getTechnologiesRequestMessage">
  </wsdl:message>
  <wsdl:message name="getTechnologiesResponseMessage">
    <wsdl:part name="getTechnologiesResponse" element="nms1:Technologies">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="TechnologyAPIPortType">
    <wsdl:operation name="getTechnologies">
      <wsdl:input message="tns:getTechnologiesRequestMessage">
    </wsdl:input>
      <wsdl:output message="tns:getTechnologiesResponseMessage">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="TechnologyAPIBinding" type="tns:TechnologyAPIPortType">
    <shttp:binding/>
    <wsdl:operation name="getTechnologies">
<wsdl:documentation><sdoc:displayName xmlns:sdoc="http://soa.com/wsdl/doc">GET /technologies/types</sdoc:displayName></wsdl:documentation>
    <shttp:operation inputSerialization="*/*" location="/technologies/types" method="GET" outputSerialization="application/json,application/vnd.soa.v71+json,application/vnd.soa.v72+json,application/vnd.soa.v80+json,application/vnd.soa.v81+json"/>
      <wsdl:output>
    <shttp:output name="getTechnologiesResponse" part="getTechnologiesResponse" type="entity"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="TechnologyAPI">
<wsdl:documentation><sdoc:title xmlns:sdoc="http://soa.com/wsdl/doc">Technology API</sdoc:title><sdoc:description xmlns:sdoc="http://soa.com/wsdl/doc"><![CDATA[<p>Provides access to technology information.</p>]]></sdoc:description></wsdl:documentation>
    <wsdl:port name="TechnologyAPI_rest_port_http" binding="tns:TechnologyAPIBinding">
    <shttp:address location="http://0.0.0.0/api"/>
    </wsdl:port>
    <wsdl:port name="TechnologyAPI_rest_port_https" binding="tns:TechnologyAPIBinding">
    <shttp:address location="https://0.0.0.0/api"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
