ag/assets/latest_api_plat/rest/api-platform/api-http___soa.com_wsdl_event_1.0-EventAPI.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://soa.com/wsdl/event/1.0" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://soa.com/wsdl/event/1.0" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:nms1="http://soa.com/xsd/event/1.0" xmlns:shttp="http://soa.com/wsdl/http">
  <wsdl:types>
    <xs:schema elementFormDefault="qualified" targetNamespace="http://soa.com/xsd/event/1.0" version="1.0" xmlns:tns="http://soa.com/xsd/event/1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:element name="Context"><xs:complexType><xs:sequence><xs:any namespace="##other" processContents="lax"/></xs:sequence></xs:complexType></xs:element>
<xs:element name="DNChangedEventContext"><xs:complexType><xs:sequence><xs:element minOccurs="0" name="ResourceDN" type="xs:string"/><xs:element minOccurs="0" name="ObjectType" type="xs:string"/></xs:sequence></xs:complexType></xs:element>
<xs:element name="Event"><xs:complexType><xs:sequence><xs:element minOccurs="0" name="EventID" type="xs:string"/><xs:element name="Type" type="xs:string"/><xs:element minOccurs="0" ref="tns:Context"/></xs:sequence></xs:complexType></xs:element>
<xs:element name="EventID" nillable="true" type="xs:string"/>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="postEventResponseMessage">
    <wsdl:part name="postEventResponse" type="xs:string">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="postEventRequestMessage">
    <wsdl:part name="parameter0" element="nms1:Event">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="EventAPIPortType">
    <wsdl:operation name="postEvent">
      <wsdl:input message="tns:postEventRequestMessage">
    </wsdl:input>
      <wsdl:output message="tns:postEventResponseMessage">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="EventAPIBinding" type="tns:EventAPIPortType">
    <shttp:binding/>
    <wsdl:operation name="postEvent">
<wsdl:documentation><sdoc:displayName xmlns:sdoc="http://soa.com/wsdl/doc">POST /events</sdoc:displayName></wsdl:documentation>
    <shttp:operation inputSerialization="text/xml,application/vnd.soa.v71+xml,application/vnd.soa.v72+xml,application/vnd.soa.v80+xml,application/vnd.soa.v81+xml" location="/events" method="POST" outputSerialization="text/plain"/>
      <wsdl:input>
    <shttp:input name="parameter0" part="parameter0" type="entity"/>
      </wsdl:input>
      <wsdl:output>
    <shttp:output name="postEventResponse" part="postEventResponse" type="entity"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="EventAPI">
<wsdl:documentation><sdoc:title xmlns:sdoc="http://soa.com/wsdl/doc">Event API</sdoc:title><sdoc:description xmlns:sdoc="http://soa.com/wsdl/doc"><![CDATA[<p>The Event service allows events to be created in the system.</p>]]></sdoc:description></wsdl:documentation>
    <wsdl:port name="EventAPI_rest_port_http" binding="tns:EventAPIBinding">
    <shttp:address location="http://0.0.0.0/api"/>
    </wsdl:port>
    <wsdl:port name="EventAPI_rest_port_https" binding="tns:EventAPIBinding">
    <shttp:address location="https://0.0.0.0/api"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
