ag/assets/latest_api_plat/rest/api-platform/api-urn_com.soa.rest.services.script-ScriptAdmin.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="urn:com.soa.rest.services.script" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="urn:com.soa.rest.services.script" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:nms1="http://soa.com/uri/products/restapi/xsd/1.0" xmlns:shttp="http://soa.com/wsdl/http">
  <wsdl:types>
    <xs:schema elementFormDefault="qualified" targetNamespace="http://soa.com/uri/products/restapi/xsd/1.0" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:element name="ScriptSpec"><xs:complexType><xs:sequence><xs:element minOccurs="0" name="Id" type="xs:string"/><xs:element minOccurs="0" name="Key" type="xs:string"/><xs:element minOccurs="0" name="Name" type="xs:string"/><xs:element minOccurs="0" name="OrganizationKey" type="xs:string"/><xs:element minOccurs="0" name="ScriptType" type="xs:string"/><xs:element minOccurs="0" name="Description" type="xs:string"/></xs:sequence></xs:complexType></xs:element>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="getScriptTypesRequestMessage">
  </wsdl:message>
  <wsdl:message name="getScriptsRequestMessage">
    <wsdl:part name="org" type="xs:string">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getScriptsResponseMessage">
    <wsdl:part name="getScriptsResponse" type="tns:List">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="deleteScriptResponseMessage">
    <wsdl:part element="xs:any">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getScriptRequestMessage">
    <wsdl:part name="key" type="xs:string">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getScriptTypesResponseMessage">
    <wsdl:part name="getScriptTypesResponse" type="tns:List">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="addScriptResponseMessage">
    <wsdl:part name="addScriptResponse" element="nms1:ScriptSpec">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="addScriptRequestMessage">
    <wsdl:part name="parameter0" element="nms1:ScriptSpec">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="changeScriptResponseMessage">
    <wsdl:part name="changeScriptResponse" element="nms1:ScriptSpec">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="deleteScriptRequestMessage">
    <wsdl:part name="key" type="xs:string">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getScriptResponseMessage">
    <wsdl:part name="getScriptResponse" element="nms1:ScriptSpec">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="changeScriptRequestMessage">
    <wsdl:part name="key" type="xs:string">
    </wsdl:part>
    <wsdl:part name="parameter0" element="nms1:ScriptSpec">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="ScriptAdminPortType">
    <wsdl:operation name="addScript">
      <wsdl:input message="tns:addScriptRequestMessage">
    </wsdl:input>
      <wsdl:output message="tns:addScriptResponseMessage">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getScriptTypes">
      <wsdl:input message="tns:getScriptTypesRequestMessage">
    </wsdl:input>
      <wsdl:output message="tns:getScriptTypesResponseMessage">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="changeScript">
      <wsdl:input message="tns:changeScriptRequestMessage">
    </wsdl:input>
      <wsdl:output message="tns:changeScriptResponseMessage">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getScripts">
      <wsdl:input message="tns:getScriptsRequestMessage">
    </wsdl:input>
      <wsdl:output message="tns:getScriptsResponseMessage">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteScript">
      <wsdl:input message="tns:deleteScriptRequestMessage">
    </wsdl:input>
      <wsdl:output message="tns:deleteScriptResponseMessage">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getScript">
      <wsdl:input message="tns:getScriptRequestMessage">
    </wsdl:input>
      <wsdl:output message="tns:getScriptResponseMessage">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ScriptAdminBinding" type="tns:ScriptAdminPortType">
    <shttp:binding/>
    <wsdl:operation name="addScript">
<wsdl:documentation><sdoc:displayName xmlns:sdoc="http://soa.com/wsdl/doc">POST /pmscripts</sdoc:displayName><sdoc:summary xmlns:sdoc="http://soa.com/wsdl/doc"><![CDATA[Creates a script]]></sdoc:summary></wsdl:documentation>
    <shttp:operation inputSerialization="application/json,application/xml,text/xml" location="/pmscripts" method="POST" outputSerialization="application/json,application/xml,text/xml"/>
      <wsdl:input>
    <shttp:input name="parameter0" part="parameter0" type="entity"><wsdl:documentation><sdoc:description xmlns:sdoc="http://soa.com/wsdl/doc"><![CDATA[The script spec]]></sdoc:description><sdoc:required xmlns:sdoc="http://soa.com/wsdl/doc">true</sdoc:required><sdoc:multiple xmlns:sdoc="http://soa.com/wsdl/doc">false</sdoc:multiple></wsdl:documentation></shttp:input>
      </wsdl:input>
      <wsdl:output>
    <shttp:output name="addScriptResponse" part="addScriptResponse" type="entity"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getScriptTypes">
<wsdl:documentation><sdoc:displayName xmlns:sdoc="http://soa.com/wsdl/doc">GET /pmscripts/types</sdoc:displayName><sdoc:summary xmlns:sdoc="http://soa.com/wsdl/doc"><![CDATA[Returns a list of script types]]></sdoc:summary></wsdl:documentation>
    <shttp:operation location="/pmscripts/types" method="GET" outputSerialization="application/json"/>
      <wsdl:output>
    <shttp:output name="getScriptTypesResponse" part="getScriptTypesResponse" type="entity"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="changeScript">
<wsdl:documentation><sdoc:displayName xmlns:sdoc="http://soa.com/wsdl/doc">PUT /pmscripts/{key}</sdoc:displayName><sdoc:summary xmlns:sdoc="http://soa.com/wsdl/doc"><![CDATA[Updates a script]]></sdoc:summary></wsdl:documentation>
    <shttp:operation inputSerialization="application/xml,text/xml,application/json" location="/pmscripts/{key}" method="PUT" outputSerialization="application/json,application/xml,text/xml"/>
      <wsdl:input>
    <shttp:input name="key" part="key" type="path"><wsdl:documentation><sdoc:description xmlns:sdoc="http://soa.com/wsdl/doc"><![CDATA[The script key.]]></sdoc:description><sdoc:required xmlns:sdoc="http://soa.com/wsdl/doc">true</sdoc:required><sdoc:multiple xmlns:sdoc="http://soa.com/wsdl/doc">false</sdoc:multiple></wsdl:documentation></shttp:input>
    <shttp:input name="parameter0" part="parameter0" type="entity"><wsdl:documentation><sdoc:description xmlns:sdoc="http://soa.com/wsdl/doc"><![CDATA[The changed script]]></sdoc:description><sdoc:required xmlns:sdoc="http://soa.com/wsdl/doc">true</sdoc:required><sdoc:multiple xmlns:sdoc="http://soa.com/wsdl/doc">false</sdoc:multiple></wsdl:documentation></shttp:input>
      </wsdl:input>
      <wsdl:output>
    <shttp:output name="changeScriptResponse" part="changeScriptResponse" type="entity"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getScripts">
<wsdl:documentation><sdoc:displayName xmlns:sdoc="http://soa.com/wsdl/doc">GET /pmscripts</sdoc:displayName><sdoc:description xmlns:sdoc="http://soa.com/wsdl/doc"><![CDATA[<p>Returns all scripts within a given organization, without any script content.</p>]]></sdoc:description><sdoc:summary xmlns:sdoc="http://soa.com/wsdl/doc"><![CDATA[Returns a list of scripts.]]></sdoc:summary></wsdl:documentation>
    <shttp:operation location="/pmscripts" method="GET" outputSerialization="application/json"/>
      <wsdl:input>
    <shttp:input name="org" part="org" type="query"><wsdl:documentation><sdoc:description xmlns:sdoc="http://soa.com/wsdl/doc"><![CDATA[The organization key.]]></sdoc:description><sdoc:required xmlns:sdoc="http://soa.com/wsdl/doc">false</sdoc:required><sdoc:multiple xmlns:sdoc="http://soa.com/wsdl/doc">false</sdoc:multiple></wsdl:documentation></shttp:input>
      </wsdl:input>
      <wsdl:output>
    <shttp:output name="getScriptsResponse" part="getScriptsResponse" type="entity"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteScript">
<wsdl:documentation><sdoc:displayName xmlns:sdoc="http://soa.com/wsdl/doc">DELETE /pmscripts/{key}</sdoc:displayName><sdoc:summary xmlns:sdoc="http://soa.com/wsdl/doc"><![CDATA[Deletes a script]]></sdoc:summary></wsdl:documentation>
    <shttp:operation location="/pmscripts/{key}" method="DELETE" outputSerialization="application/json,application/xml,text/xml"/>
      <wsdl:input>
    <shttp:input name="key" part="key" type="path"><wsdl:documentation><sdoc:description xmlns:sdoc="http://soa.com/wsdl/doc"><![CDATA[The script key]]></sdoc:description><sdoc:required xmlns:sdoc="http://soa.com/wsdl/doc">true</sdoc:required><sdoc:multiple xmlns:sdoc="http://soa.com/wsdl/doc">false</sdoc:multiple></wsdl:documentation></shttp:input>
      </wsdl:input>
      <wsdl:output>
    <shttp:output name="" part="" type="entity"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getScript">
<wsdl:documentation><sdoc:displayName xmlns:sdoc="http://soa.com/wsdl/doc">GET /pmscripts/{key}</sdoc:displayName><sdoc:summary xmlns:sdoc="http://soa.com/wsdl/doc"><![CDATA[Gets a list of script types]]></sdoc:summary></wsdl:documentation>
    <shttp:operation location="/pmscripts/{key}" method="GET" outputSerialization="application/json,application/xml,text/xml"/>
      <wsdl:input>
    <shttp:input name="key" part="key" type="path"><wsdl:documentation><sdoc:description xmlns:sdoc="http://soa.com/wsdl/doc"><![CDATA[The script key]]></sdoc:description><sdoc:required xmlns:sdoc="http://soa.com/wsdl/doc">true</sdoc:required><sdoc:multiple xmlns:sdoc="http://soa.com/wsdl/doc">false</sdoc:multiple></wsdl:documentation></shttp:input>
      </wsdl:input>
      <wsdl:output>
    <shttp:output name="getScriptResponse" part="getScriptResponse" type="entity"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ScriptAdmin">
<wsdl:documentation><sdoc:description xmlns:sdoc="http://soa.com/wsdl/doc"><![CDATA[The API used to manage PM scripts.]]></sdoc:description><sdoc:title xmlns:sdoc="http://soa.com/wsdl/doc">Script Management API</sdoc:title><sdoc:version xmlns:sdoc="http://soa.com/wsdl/doc">8.4.0</sdoc:version><sdoc:vendor xmlns:sdoc="http://soa.com/wsdl/doc">SOA Software</sdoc:vendor></wsdl:documentation>
    <wsdl:port name="ScriptAdmin_rest_port_http" binding="tns:ScriptAdminBinding">
    <shttp:address location="http://0.0.0.0/rest"/>
    </wsdl:port>
    <wsdl:port name="ScriptAdmin_rest_port_https" binding="tns:ScriptAdminBinding">
    <shttp:address location="https://0.0.0.0/rest"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
