ag/assets/latest_api_plat/rest/api-platform/api-urn_com.akana.captcha.api-CaptchaSupportAPI.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="urn:com.akana.captcha.api" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="urn:com.akana.captcha.api" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:nms1="http://soa.com/xsd/captcha/1.0" xmlns:shttp="http://soa.com/wsdl/http">
  <wsdl:types>
    <xs:schema elementFormDefault="qualified" targetNamespace="http://soa.com/xsd/captcha/1.0" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:element name="CaptchaProperties"><xs:complexType><xs:sequence><xs:element name="enabled" type="xs:boolean"/><xs:element name="publickey" type="xs:string"/><xs:element name="challengeUrl" type="xs:string"/></xs:sequence></xs:complexType></xs:element>
<xs:element name="CaptchaResult"><xs:complexType><xs:sequence><xs:element name="statusCode" type="xs:string"/><xs:element name="statusMessage" type="xs:string"/></xs:sequence></xs:complexType></xs:element>
<xs:element name="CaptchaSiteVerifyResult"><xs:complexType><xs:sequence><xs:element minOccurs="0" name="success" type="xs:boolean"/><xs:element minOccurs="0" name="challenge_ts" type="xs:dateTime"/><xs:element minOccurs="0" name="hostname" type="xs:string"/><xs:element maxOccurs="unbounded" minOccurs="0" name="error-codes" type="xs:string"/></xs:sequence></xs:complexType></xs:element>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="verifyCaptchaResponseResponseMessage">
    <wsdl:part name="verifyCaptchaResponseResponse" element="nms1:CaptchaSiteVerifyResult">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="validateCaptchaResponseRequestMessage">
    <wsdl:part name="challenge" type="xs:string">
    </wsdl:part>
    <wsdl:part name="response" type="xs:string">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getCaptchaPropertiesResponseMessage">
    <wsdl:part name="getCaptchaPropertiesResponse" element="nms1:CaptchaProperties">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="validateCaptchaResponseResponseMessage">
    <wsdl:part name="validateCaptchaResponseResponse" element="nms1:CaptchaResult">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getCaptchaPropertiesRequestMessage">
  </wsdl:message>
  <wsdl:message name="verifyCaptchaResponseRequestMessage">
    <wsdl:part name="response" type="xs:string">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="CaptchaSupportAPIPortType">
    <wsdl:operation name="validateCaptchaResponse">
      <wsdl:input message="tns:validateCaptchaResponseRequestMessage">
    </wsdl:input>
      <wsdl:output message="tns:validateCaptchaResponseResponseMessage">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="verifyCaptchaResponse">
      <wsdl:input message="tns:verifyCaptchaResponseRequestMessage">
    </wsdl:input>
      <wsdl:output message="tns:verifyCaptchaResponseResponseMessage">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getCaptchaProperties">
      <wsdl:input message="tns:getCaptchaPropertiesRequestMessage">
    </wsdl:input>
      <wsdl:output message="tns:getCaptchaPropertiesResponseMessage">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CaptchaSupportAPIBinding" type="tns:CaptchaSupportAPIPortType">
    <shttp:binding/>
    <wsdl:operation name="validateCaptchaResponse">
<wsdl:documentation><sdoc:displayName xmlns:sdoc="http://soa.com/wsdl/doc">POST /captcha/validate</sdoc:displayName></wsdl:documentation>
    <shttp:operation inputSerialization="application/x-www-form-urlencoded" location="/captcha/validate" method="POST" outputSerialization="application/json"/>
      <wsdl:input>
    <shttp:input name="challenge" part="challenge" type="form"/>
    <shttp:input name="response" part="response" type="form"/>
      </wsdl:input>
      <wsdl:output>
    <shttp:output name="validateCaptchaResponseResponse" part="validateCaptchaResponseResponse" type="entity"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="verifyCaptchaResponse">
<wsdl:documentation><sdoc:displayName xmlns:sdoc="http://soa.com/wsdl/doc">POST /captcha/verify</sdoc:displayName></wsdl:documentation>
    <shttp:operation inputSerialization="application/x-www-form-urlencoded" location="/captcha/verify" method="POST" outputSerialization="application/json"/>
      <wsdl:input>
    <shttp:input name="response" part="response" type="form"/>
      </wsdl:input>
      <wsdl:output>
    <shttp:output name="verifyCaptchaResponseResponse" part="verifyCaptchaResponseResponse" type="entity"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getCaptchaProperties">
<wsdl:documentation><sdoc:displayName xmlns:sdoc="http://soa.com/wsdl/doc">GET /captcha/properties</sdoc:displayName></wsdl:documentation>
    <shttp:operation inputSerialization="*/*" location="/captcha/properties" method="GET" outputSerialization="application/json"/>
      <wsdl:output>
    <shttp:output name="getCaptchaPropertiesResponse" part="getCaptchaPropertiesResponse" type="entity"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CaptchaSupportAPI">
<wsdl:documentation><sdoc:title xmlns:sdoc="http://soa.com/wsdl/doc">Captcha Support API</sdoc:title><sdoc:description xmlns:sdoc="http://soa.com/wsdl/doc"><![CDATA[<p>The Capthca Support API provides backing services to allow captcha-style challenges.</p>]]></sdoc:description></wsdl:documentation>
    <wsdl:port name="CaptchaSupportAPI_rest_port_http" binding="tns:CaptchaSupportAPIBinding">
    <shttp:address location="http://0.0.0.0/api"/>
    </wsdl:port>
    <wsdl:port name="CaptchaSupportAPI_rest_port_https" binding="tns:CaptchaSupportAPIBinding">
    <shttp:address location="https://0.0.0.0/api"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
