ag/assets/latest_api_plat/rest/api-platform/api-http___soa.com_wsdl_group_1.0-GroupAPI.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://soa.com/wsdl/group/1.0" xmlns:nms4="http://soa.com/xsd/resource/1.0" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://soa.com/wsdl/group/1.0" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:nms3="http://soa.com/xsd/group/1.0" xmlns:nms2="http://soa.com/xsd/workflow/1.0" xmlns:nms1="urn:org.apache.wink.common.model.rss" xmlns:shttp="http://soa.com/wsdl/http">
  <wsdl:types>
    <xs:schema elementFormDefault="qualified" targetNamespace="http://soa.com/xsd/workflow/1.0" version="1.0" xmlns:ns1="http://soa.com/xsd/user/1.0" xmlns:tns="http://soa.com/xsd/workflow/1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:import namespace="http://soa.com/xsd/user/1.0"/>
<xs:element name="Action"><xs:complexType><xs:sequence><xs:element ref="ns1:UserID"/><xs:element name="ActionName" type="xs:string"/><xs:element minOccurs="0" name="Comments" type="xs:string"/><xs:element minOccurs="0" name="Parameters"><xs:complexType><xs:sequence><xs:element maxOccurs="unbounded" minOccurs="0" ref="tns:ActionParameter"/></xs:sequence></xs:complexType></xs:element></xs:sequence></xs:complexType></xs:element>
<xs:element name="ActionParameter"><xs:complexType><xs:sequence><xs:element name="Name" type="xs:string"/><xs:element minOccurs="0" name="Value" type="xs:string"/></xs:sequence></xs:complexType></xs:element>
<xs:element name="HistoricalAction"><xs:complexType><xs:sequence><xs:element name="ActionName" type="xs:string"/><xs:element ref="ns1:UserID"/><xs:element minOccurs="0" name="Comments" type="xs:string"/><xs:element minOccurs="0" name="TimeTaken" type="xs:dateTime"/></xs:sequence></xs:complexType></xs:element>
<xs:element name="ProcessHistory"><xs:complexType><xs:sequence><xs:element maxOccurs="unbounded" minOccurs="0" ref="tns:HistoricalAction"/></xs:sequence></xs:complexType></xs:element>
</xs:schema>
    <xs:schema elementFormDefault="qualified" targetNamespace="http://soa.com/xsd/resource/1.0" version="1.0" xmlns:ns1="http://soa.com/xsd/user/1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:import namespace="http://soa.com/xsd/user/1.0"/>
<xs:element name="Rating"><xs:complexType><xs:sequence><xs:element name="ID" type="xs:string"/><xs:element ref="ns1:UserID"/><xs:element name="Rating" type="xs:int"/></xs:sequence></xs:complexType></xs:element>
<xs:element name="RatingSummary"><xs:complexType><xs:sequence><xs:element name="Five" type="xs:int"/><xs:element name="Four" type="xs:int"/><xs:element name="Three" type="xs:int"/><xs:element name="Two" type="xs:int"/><xs:element name="One" type="xs:int"/></xs:sequence></xs:complexType></xs:element>
</xs:schema>
    <xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:element name="category" nillable="true" type="rssCategory"/>
<xs:element name="channel" nillable="true" type="rssChannel"/>
<xs:element name="cloud" nillable="true" type="rssCloud"/>
<xs:element name="enclosure" nillable="true" type="rssEnclosure"/>
<xs:element name="guid" nillable="true" type="rssGuid"/>
<xs:element name="image" nillable="true" type="rssImage"/>
<xs:element name="item" nillable="true" type="rssItem"/>
<xs:element name="rss"><xs:complexType><xs:sequence><xs:element name="channel" type="rssChannel"/></xs:sequence><xs:attribute name="version" type="xs:string" use="required"/></xs:complexType></xs:element>
<xs:element name="skipDays" nillable="true" type="rssSkipDays"/>
<xs:element name="skipHours" nillable="true" type="rssSkipHours"/>
<xs:element name="source" nillable="true" type="rssSource"/>
<xs:element name="textInput" nillable="true" type="rssTextInput"/>
<xs:complexType name="rssImage"><xs:all><xs:element name="url" type="xs:string"/><xs:element name="title" type="xs:string"/><xs:element name="link" type="xs:anyURI"/><xs:element default="88" minOccurs="0" name="width" type="xs:int"/><xs:element default="31" minOccurs="0" name="height" type="xs:int"/><xs:element minOccurs="0" name="description" type="xs:string"/></xs:all></xs:complexType>
<xs:complexType name="rssChannel"><xs:all><xs:element name="title" type="xs:string"/><xs:element name="link" type="xs:anyURI"/><xs:element name="description" type="xs:string"/><xs:element minOccurs="0" name="language" type="xs:string"/><xs:element minOccurs="0" name="copyright" type="xs:string"/><xs:element minOccurs="0" name="managingEditor" type="xs:string"/><xs:element minOccurs="0" name="webMaster" type="xs:string"/><xs:element minOccurs="0" name="pubDate" type="xs:string"/><xs:element minOccurs="0" name="lastBuildDate" type="xs:string"/><xs:element maxOccurs="unbounded" minOccurs="0" name="category" nillable="true" type="rssCategory"/><xs:element minOccurs="0" name="generator" type="xs:string"/><xs:element minOccurs="0" name="docs" type="xs:anyURI"/><xs:element minOccurs="0" name="cloud" type="rssCloud"/><xs:element minOccurs="0" name="ttl" type="xs:int"/><xs:element minOccurs="0" name="image" type="rssImage"/><xs:element minOccurs="0" name="rating" type="xs:string"/><xs:element minOccurs="0" name="textInput" type="rssTextInput"/><xs:element minOccurs="0" name="skipHours" type="rssSkipHours"/><xs:element minOccurs="0" name="skipDays" type="rssSkipDays"/><xs:any maxOccurs="unbounded" minOccurs="0" namespace="##other" processContents="lax"/><xs:element maxOccurs="unbounded" minOccurs="0" name="item" nillable="true" type="rssItem"/></xs:all></xs:complexType>
<xs:complexType name="rssCategory"><xs:simpleContent><xs:extension base="xs:string"><xs:attribute name="domain" type="xs:string"/></xs:extension></xs:simpleContent></xs:complexType>
<xs:complexType name="rssCloud"><xs:sequence/><xs:attribute name="domain" type="xs:string" use="required"/><xs:attribute name="port" type="xs:int" use="required"/><xs:attribute name="path" type="xs:string" use="required"/><xs:attribute name="registerProcedure" type="xs:string" use="required"/><xs:attribute name="protocol" type="xs:string" use="required"/></xs:complexType>
<xs:complexType name="rssTextInput"><xs:all><xs:element name="title" type="xs:string"/><xs:element name="description" type="xs:string"/><xs:element name="name" type="xs:string"/><xs:element name="link" type="xs:anyURI"/></xs:all></xs:complexType>
<xs:complexType name="rssSkipHours"><xs:sequence><xs:element maxOccurs="unbounded" minOccurs="0" name="hour" nillable="true" type="xs:string"/></xs:sequence></xs:complexType>
<xs:complexType name="rssSkipDays"><xs:sequence><xs:element maxOccurs="unbounded" minOccurs="0" name="day" nillable="true" type="xs:string"/></xs:sequence></xs:complexType>
<xs:complexType name="rssSource"><xs:simpleContent><xs:extension base="xs:string"><xs:attribute name="url" type="xs:string" use="required"/></xs:extension></xs:simpleContent></xs:complexType>
<xs:complexType name="rssEnclosure"><xs:sequence/><xs:attribute name="url" type="xs:string" use="required"/><xs:attribute name="length" type="xs:string" use="required"/><xs:attribute name="type" type="xs:string" use="required"/></xs:complexType>
<xs:complexType name="rssGuid"><xs:simpleContent><xs:extension base="xs:string"><xs:attribute name="isPermaLink" type="xs:boolean"/></xs:extension></xs:simpleContent></xs:complexType>
<xs:complexType name="rssItem"><xs:all><xs:element minOccurs="0" name="title" type="xs:string"/><xs:element minOccurs="0" name="link" type="xs:anyURI"/><xs:element minOccurs="0" name="description" type="xs:string"/><xs:element minOccurs="0" name="author" type="xs:string"/><xs:element maxOccurs="unbounded" minOccurs="0" name="category" nillable="true" type="rssCategory"/><xs:element minOccurs="0" name="comments" type="xs:anyURI"/><xs:element minOccurs="0" name="enclosure" type="rssEnclosure"/><xs:element minOccurs="0" name="guid" type="rssGuid"/><xs:element name="pubDate" type="xs:string"/><xs:element minOccurs="0" name="source" type="rssSource"/><xs:any maxOccurs="unbounded" minOccurs="0" namespace="##other" processContents="lax"/></xs:all></xs:complexType>
</xs:schema>
    <xs:schema elementFormDefault="qualified" targetNamespace="http://soa.com/xsd/group/1.0" version="1.0" xmlns:ns1="http://soa.com/xsd/resource/1.0" xmlns:ns2="http://soa.com/xsd/user/1.0" xmlns:tns="http://soa.com/xsd/group/1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:import namespace="http://soa.com/xsd/resource/1.0"/>
<xs:import namespace="http://soa.com/xsd/user/1.0"/>
<xs:element name="AddGroupRequest"><xs:complexType><xs:sequence><xs:element ref="tns:Group"/><xs:element maxOccurs="unbounded" minOccurs="0" name="Administrators" type="xs:string"/></xs:sequence></xs:complexType></xs:element>
<xs:element name="Group"><xs:complexType><xs:sequence><xs:element minOccurs="0" name="GroupID" type="xs:string"/><xs:element minOccurs="0" name="Name" type="xs:string"/><xs:element minOccurs="0" name="Description" type="xs:string"/><xs:element maxOccurs="unbounded" minOccurs="0" name="Tag" type="xs:string"/><xs:element minOccurs="0" name="Link" type="xs:anyURI"/><xs:element minOccurs="0" name="Contact" type="xs:string"/><xs:element minOccurs="0" name="Visibility" type="xs:string"/><xs:element minOccurs="0" name="PictureID" type="xs:long"/><xs:element minOccurs="0" name="GroupType" type="xs:string"/><xs:element minOccurs="0" name="ContextObjectID" type="xs:string"/><xs:element minOccurs="0" name="State" type="xs:string"/><xs:element minOccurs="0" name="Created" type="xs:dateTime"/><xs:element minOccurs="0" name="Updated" type="xs:dateTime"/><xs:element minOccurs="0" ref="ns1:RatingSummary"/><xs:element minOccurs="0" name="MemberCount" type="xs:int"/><xs:element minOccurs="0" name="AdminCount" type="xs:int"/><xs:element minOccurs="0" name="IsFollowed" type="xs:boolean"/><xs:element minOccurs="0" name="AvatarURL" type="xs:anyURI"/><xs:element minOccurs="0" ref="tns:GroupSettings"/></xs:sequence></xs:complexType></xs:element>
<xs:element name="GroupSettings"><xs:complexType><xs:sequence><xs:element minOccurs="0" name="GroupBoardSupport" type="xs:string"/><xs:element minOccurs="0" name="GroupRatingsSupport" type="xs:string"/><xs:element minOccurs="0" name="GroupReviewsSupport" type="xs:string"/></xs:sequence></xs:complexType></xs:element>
<xs:element name="MembershipRequest"><xs:complexType><xs:sequence><xs:element minOccurs="0" name="MembershipRequestID" type="xs:string"/><xs:element minOccurs="0" name="Email" type="xs:string"/><xs:element minOccurs="0" ref="ns2:UserID"/><xs:element minOccurs="0" name="Message" type="xs:string"/><xs:element minOccurs="0" name="Role" type="xs:string"/></xs:sequence></xs:complexType></xs:element>
</xs:schema>
    <xs:schema targetNamespace="http://soa.com/xsd/user/1.0" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:element name="UserID" type="xs:string"/>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="getWorkflowHistoryResponseMessage">
    <wsdl:part name="getWorkflowHistoryResponse" element="nms2:ProcessHistory">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getRatingResponseMessage">
    <wsdl:part name="getRatingResponse" element="nms4:Rating">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="removeMemberFromGroupResponseMessage">
    <wsdl:part element="xs:any">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getRatingRequestMessage">
    <wsdl:part name="ID" type="xs:string">
    </wsdl:part>
    <wsdl:part name="userID" type="xs:string">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="updateRatingResponseMessage">
    <wsdl:part name="updateRatingResponse" element="nms4:Rating">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="deleteGroupRequestMessage">
    <wsdl:part name="GroupID" type="xs:string">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="inviteMemberToGroupResponseMessage">
    <wsdl:part name="inviteMemberToGroupResponse" type="xs:string">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="inviteMemberToGroupRequestMessage">
    <wsdl:part name="GroupID" type="xs:string">
    </wsdl:part>
    <wsdl:part name="parameter0" element="nms3:MembershipRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getWorkflowHistoryRequestMessage">
    <wsdl:part name="MembershipRequestID" type="xs:string">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="modifyGroupRequestMessage">
    <wsdl:part name="GroupID" type="xs:string">
    </wsdl:part>
    <wsdl:part name="parameter0" element="nms3:Group">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="addGroupResponseMessage">
    <wsdl:part name="addGroupResponse" element="nms3:Group">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="listMembersRequestMessage">
    <wsdl:part name="GroupID" type="xs:string">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="addRatingRequestMessage">
    <wsdl:part name="ID" type="xs:string">
    </wsdl:part>
    <wsdl:part name="parameter0" element="nms4:Rating">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="addGroupRequestMessage">
    <wsdl:part name="parameter0" element="nms3:AddGroupRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getRequestStateRequestMessage">
    <wsdl:part name="MembershipRequestID" type="xs:string">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="deleteRatingResponseMessage">
  </wsdl:message>
  <wsdl:message name="getAvatarRequestMessage">
    <wsdl:part name="ID" type="xs:string">
    </wsdl:part>
    <wsdl:part name="version" type="xs:string">
    </wsdl:part>
    <wsdl:part name="size" type="xs:integer">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="executeWorkflowActionResponseMessage">
    <wsdl:part name="executeWorkflowActionResponse" type="xs:string">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getDefaultAvatarResponseMessage">
  </wsdl:message>
  <wsdl:message name="getDefaultAvatarRequestMessage">
    <wsdl:part name="ID" type="xs:string">
    </wsdl:part>
    <wsdl:part name="size" type="xs:integer">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="updateImageRequestMessage">
    <wsdl:part name="ID" type="xs:string">
    </wsdl:part>
    <wsdl:part name="parameter0" type="tns:BufferedInMultiPart">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getBoardResponseMessage">
    <wsdl:part name="getBoardResponse" element="tns:rss">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getMembersResponseMessage">
    <wsdl:part name="getMembersResponse" element="tns:rss">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="updateImageResponseMessage">
    <wsdl:part element="xs:any">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getFollowersRequestMessage">
    <wsdl:part name="GroupID" type="xs:string">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="updateMemberRoleResponseMessage">
    <wsdl:part element="xs:any">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getImageResponseMessage">
  </wsdl:message>
  <wsdl:message name="getGroupSettingsRequestMessage">
    <wsdl:part name="GroupID" type="xs:string">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getGroupSettingsResponseMessage">
    <wsdl:part name="getGroupSettingsResponse" element="nms3:GroupSettings">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getRatingSummaryRequestMessage">
    <wsdl:part name="ID" type="xs:string">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getMembersRequestMessage">
    <wsdl:part name="GroupID" type="xs:string">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getRequestStateResponseMessage">
    <wsdl:part name="getRequestStateResponse" type="xs:string">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="addRatingResponseMessage">
    <wsdl:part name="addRatingResponse" element="nms4:Rating">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getRatingSummaryResponseMessage">
    <wsdl:part name="getRatingSummaryResponse" element="nms4:RatingSummary">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getDefaultVersionedAvatarRequestMessage">
    <wsdl:part name="version" type="xs:string">
    </wsdl:part>
    <wsdl:part name="Extension" type="xs:string">
    </wsdl:part>
    <wsdl:part name="size" type="xs:integer">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="listMembersResponseMessage">
    <wsdl:part name="listMembersResponse" type="tns:List">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="deleteRatingRequestMessage">
    <wsdl:part name="userID" type="xs:string">
    </wsdl:part>
    <wsdl:part name="ID" type="xs:string">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="removeMemberFromGroupRequestMessage">
    <wsdl:part name="GroupID" type="xs:string">
    </wsdl:part>
    <wsdl:part name="UserID" type="xs:string">
    </wsdl:part>
    <wsdl:part name="Comment" type="xs:string">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getBoardRequestMessage">
    <wsdl:part name="GroupID" type="xs:string">
    </wsdl:part>
    <wsdl:part name="ItemType" type="xs:string">
    </wsdl:part>
    <wsdl:part name="DiscussionType" type="xs:string">
    </wsdl:part>
    <wsdl:part name="ItemID" type="xs:string">
    </wsdl:part>
    <wsdl:part name="Tag" type="xs:string">
    </wsdl:part>
    <wsdl:part name="IncludeComments" type="xs:boolean">
    </wsdl:part>
    <wsdl:part name="NumberOfComments" type="xs:integer">
    </wsdl:part>
    <wsdl:part name="IncludeActions" type="xs:boolean">
    </wsdl:part>
    <wsdl:part name="IncludeCommentActions" type="xs:boolean">
    </wsdl:part>
    <wsdl:part name="start" type="xs:integer">
    </wsdl:part>
    <wsdl:part name="count" type="xs:integer">
    </wsdl:part>
    <wsdl:part name="SortBy" type="xs:string">
    </wsdl:part>
    <wsdl:part name="RetrievingUserID" type="xs:string">
    </wsdl:part>
    <wsdl:part name="IncludeSelfAuthored" type="xs:boolean">
    </wsdl:part>
    <wsdl:part name="PublishedState" type="xs:string">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getGroupResponseMessage">
    <wsdl:part name="getGroupResponse" element="nms3:Group">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="executeWorkflowActionRequestMessage">
    <wsdl:part name="MembershipRequestID" type="xs:string">
    </wsdl:part>
    <wsdl:part name="parameter0" element="nms2:Action">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getAvatarResponseMessage">
  </wsdl:message>
  <wsdl:message name="deleteGroupResponseMessage">
    <wsdl:part name="deleteGroupResponse" type="xs:string">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getGroupRequestMessage">
    <wsdl:part name="GroupID" type="xs:string">
    </wsdl:part>
    <wsdl:part name="IncludeSettings" type="xs:boolean">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="deleteImageResponseMessage">
    <wsdl:part element="xs:any">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="deleteImageRequestMessage">
    <wsdl:part name="ID" type="xs:string">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="previewAvatarRequestMessage">
    <wsdl:part name="ID" type="xs:string">
    </wsdl:part>
    <wsdl:part name="Provider" type="xs:string">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="modifyGroupResponseMessage">
    <wsdl:part name="modifyGroupResponse" element="nms3:Group">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="updateRatingRequestMessage">
    <wsdl:part name="userID" type="xs:string">
    </wsdl:part>
    <wsdl:part name="ID" type="xs:string">
    </wsdl:part>
    <wsdl:part name="parameter0" element="nms4:Rating">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getDefaultVersionedAvatarResponseMessage">
  </wsdl:message>
  <wsdl:message name="getFollowersResponseMessage">
    <wsdl:part name="getFollowersResponse" element="tns:rss">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getImageRequestMessage">
    <wsdl:part name="ID" type="xs:string">
    </wsdl:part>
    <wsdl:part name="size" type="xs:integer">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="previewAvatarResponseMessage">
    <wsdl:part element="xs:any">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="updateMemberRoleRequestMessage">
    <wsdl:part name="GroupID" type="xs:string">
    </wsdl:part>
    <wsdl:part name="UserID" type="xs:string">
    </wsdl:part>
    <wsdl:part name="parameter0" type="xs:string">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="GroupAPIPortType">
    <wsdl:operation name="getFollowers">
      <wsdl:input message="tns:getFollowersRequestMessage">
    </wsdl:input>
      <wsdl:output message="tns:getFollowersResponseMessage">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getBoard">
      <wsdl:input message="tns:getBoardRequestMessage">
    </wsdl:input>
      <wsdl:output message="tns:getBoardResponseMessage">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="executeWorkflowAction">
      <wsdl:input message="tns:executeWorkflowActionRequestMessage">
    </wsdl:input>
      <wsdl:output message="tns:executeWorkflowActionResponseMessage">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getGroupSettings">
      <wsdl:input message="tns:getGroupSettingsRequestMessage">
    </wsdl:input>
      <wsdl:output message="tns:getGroupSettingsResponseMessage">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="inviteMemberToGroup">
      <wsdl:input message="tns:inviteMemberToGroupRequestMessage">
    </wsdl:input>
      <wsdl:output message="tns:inviteMemberToGroupResponseMessage">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="removeMemberFromGroup">
      <wsdl:input message="tns:removeMemberFromGroupRequestMessage">
    </wsdl:input>
      <wsdl:output message="tns:removeMemberFromGroupResponseMessage">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="modifyGroup">
      <wsdl:input message="tns:modifyGroupRequestMessage">
    </wsdl:input>
      <wsdl:output message="tns:modifyGroupResponseMessage">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addGroup">
      <wsdl:input message="tns:addGroupRequestMessage">
    </wsdl:input>
      <wsdl:output message="tns:addGroupResponseMessage">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateMemberRole">
      <wsdl:input message="tns:updateMemberRoleRequestMessage">
    </wsdl:input>
      <wsdl:output message="tns:updateMemberRoleResponseMessage">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="listMembers">
      <wsdl:input message="tns:listMembersRequestMessage">
    </wsdl:input>
      <wsdl:output message="tns:listMembersResponseMessage">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getWorkflowHistory">
      <wsdl:input message="tns:getWorkflowHistoryRequestMessage">
    </wsdl:input>
      <wsdl:output message="tns:getWorkflowHistoryResponseMessage">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getRequestState">
      <wsdl:input message="tns:getRequestStateRequestMessage">
    </wsdl:input>
      <wsdl:output message="tns:getRequestStateResponseMessage">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteGroup">
      <wsdl:input message="tns:deleteGroupRequestMessage">
    </wsdl:input>
      <wsdl:output message="tns:deleteGroupResponseMessage">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getGroup">
      <wsdl:input message="tns:getGroupRequestMessage">
    </wsdl:input>
      <wsdl:output message="tns:getGroupResponseMessage">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getMembers">
      <wsdl:input message="tns:getMembersRequestMessage">
    </wsdl:input>
      <wsdl:output message="tns:getMembersResponseMessage">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addRating">
      <wsdl:input message="tns:addRatingRequestMessage">
    </wsdl:input>
      <wsdl:output message="tns:addRatingResponseMessage">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteRating">
      <wsdl:input message="tns:deleteRatingRequestMessage">
    </wsdl:input>
      <wsdl:output message="tns:deleteRatingResponseMessage">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateRating">
      <wsdl:input message="tns:updateRatingRequestMessage">
    </wsdl:input>
      <wsdl:output message="tns:updateRatingResponseMessage">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getRatingSummary">
      <wsdl:input message="tns:getRatingSummaryRequestMessage">
    </wsdl:input>
      <wsdl:output message="tns:getRatingSummaryResponseMessage">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getRating">
      <wsdl:input message="tns:getRatingRequestMessage">
    </wsdl:input>
      <wsdl:output message="tns:getRatingResponseMessage">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAvatar">
      <wsdl:input message="tns:getAvatarRequestMessage">
    </wsdl:input>
      <wsdl:output message="tns:getAvatarResponseMessage">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getImage">
      <wsdl:input message="tns:getImageRequestMessage">
    </wsdl:input>
      <wsdl:output message="tns:getImageResponseMessage">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getDefaultAvatar">
      <wsdl:input message="tns:getDefaultAvatarRequestMessage">
    </wsdl:input>
      <wsdl:output message="tns:getDefaultAvatarResponseMessage">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getDefaultVersionedAvatar">
      <wsdl:input message="tns:getDefaultVersionedAvatarRequestMessage">
    </wsdl:input>
      <wsdl:output message="tns:getDefaultVersionedAvatarResponseMessage">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="previewAvatar">
      <wsdl:input message="tns:previewAvatarRequestMessage">
    </wsdl:input>
      <wsdl:output message="tns:previewAvatarResponseMessage">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateImage">
      <wsdl:input message="tns:updateImageRequestMessage">
    </wsdl:input>
      <wsdl:output message="tns:updateImageResponseMessage">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteImage">
      <wsdl:input message="tns:deleteImageRequestMessage">
    </wsdl:input>
      <wsdl:output message="tns:deleteImageResponseMessage">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="GroupAPIBinding" type="tns:GroupAPIPortType">
    <shttp:binding/>
    <wsdl:operation name="getFollowers">
<wsdl:documentation><sdoc:displayName xmlns:sdoc="http://soa.com/wsdl/doc">GET /groups/{GroupID}/followers</sdoc:displayName></wsdl:documentation>
    <shttp:operation location="/groups/{GroupID}/followers" method="GET" outputSerialization="application/json,application/vnd.soa.v71+json,application/vnd.soa.v72+json,application/vnd.soa.v80+json,application/vnd.soa.v81+json"/>
      <wsdl:input>
    <shttp:input name="GroupID" part="GroupID" type="path"/>
      </wsdl:input>
      <wsdl:output>
    <shttp:output name="getFollowersResponse" part="getFollowersResponse" type="entity"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getBoard">
<wsdl:documentation><sdoc:displayName xmlns:sdoc="http://soa.com/wsdl/doc">GET /groups/{GroupID}/board</sdoc:displayName></wsdl:documentation>
    <shttp:operation location="/groups/{GroupID}/board" method="GET" outputSerialization="text/xml,application/json,application/vnd.soa.v71+json,application/vnd.soa.v72+json,application/vnd.soa.v80+json,application/vnd.soa.v71+xml,application/vnd.soa.v72+xml,application/vnd.soa.v80+xml,application/vnd.soa.v81+json,application/vnd.soa.v81+xml"/>
      <wsdl:input>
    <shttp:input name="GroupID" part="GroupID" type="path"/>
    <shttp:input name="ItemType" part="ItemType" type="query"/>
    <shttp:input name="DiscussionType" part="DiscussionType" type="query"/>
    <shttp:input name="ItemID" part="ItemID" type="query"/>
    <shttp:input name="Tag" part="Tag" type="query"/>
    <shttp:input name="IncludeComments" part="IncludeComments" type="query"/>
    <shttp:input name="NumberOfComments" part="NumberOfComments" type="query"/>
    <shttp:input name="IncludeActions" part="IncludeActions" type="query"/>
    <shttp:input name="IncludeCommentActions" part="IncludeCommentActions" type="query"/>
    <shttp:input name="start" part="start" type="query"/>
    <shttp:input name="count" part="count" type="query"/>
    <shttp:input name="SortBy" part="SortBy" type="query"/>
    <shttp:input name="RetrievingUserID" part="RetrievingUserID" type="query"/>
    <shttp:input name="IncludeSelfAuthored" part="IncludeSelfAuthored" type="query"/>
    <shttp:input name="PublishedState" part="PublishedState" type="query"/>
      </wsdl:input>
      <wsdl:output>
    <shttp:output name="getBoardResponse" part="getBoardResponse" type="entity"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="executeWorkflowAction">
<wsdl:documentation><sdoc:displayName xmlns:sdoc="http://soa.com/wsdl/doc">POST /groups/requests/{MembershipRequestID}/actions</sdoc:displayName></wsdl:documentation>
    <shttp:operation inputSerialization="application/json,application/vnd.soa.v71+json,application/vnd.soa.v72+json,application/vnd.soa.v80+json,application/vnd.soa.v81+json" location="/groups/requests/{MembershipRequestID}/actions" method="POST" outputSerialization="text/plain"/>
      <wsdl:input>
    <shttp:input name="MembershipRequestID" part="MembershipRequestID" type="path"/>
    <shttp:input name="parameter0" part="parameter0" type="entity"/>
      </wsdl:input>
      <wsdl:output>
    <shttp:output name="executeWorkflowActionResponse" part="executeWorkflowActionResponse" type="entity"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getGroupSettings">
<wsdl:documentation><sdoc:displayName xmlns:sdoc="http://soa.com/wsdl/doc">GET /groups/{GroupID}/settings</sdoc:displayName></wsdl:documentation>
    <shttp:operation location="/groups/{GroupID}/settings" method="GET" outputSerialization="application/json,application/xml,application/vnd.soa.v71+json,application/vnd.soa.v72+json,application/vnd.soa.v80+json,application/vnd.soa.v71+xml,application/vnd.soa.v72+xml,application/vnd.soa.v80+xml,application/vnd.soa.v81+json,application/vnd.soa.v81+xml"/>
      <wsdl:input>
    <shttp:input name="GroupID" part="GroupID" type="path"/>
      </wsdl:input>
      <wsdl:output>
    <shttp:output name="getGroupSettingsResponse" part="getGroupSettingsResponse" type="entity"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="inviteMemberToGroup">
<wsdl:documentation><sdoc:displayName xmlns:sdoc="http://soa.com/wsdl/doc">POST /groups/{GroupID}/members</sdoc:displayName></wsdl:documentation>
    <shttp:operation inputSerialization="application/json,application/vnd.soa.v71+json,application/vnd.soa.v72+json,application/vnd.soa.v80+json,application/vnd.soa.v81+json" location="/groups/{GroupID}/members" method="POST" outputSerialization="text/plain"/>
      <wsdl:input>
    <shttp:input name="GroupID" part="GroupID" type="path"/>
    <shttp:input name="parameter0" part="parameter0" type="entity"/>
      </wsdl:input>
      <wsdl:output>
    <shttp:output name="inviteMemberToGroupResponse" part="inviteMemberToGroupResponse" type="entity"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="removeMemberFromGroup">
<wsdl:documentation><sdoc:displayName xmlns:sdoc="http://soa.com/wsdl/doc">DELETE /groups/{GroupID}/members/{UserID}</sdoc:displayName></wsdl:documentation>
    <shttp:operation location="/groups/{GroupID}/members/{UserID}" method="DELETE" outputSerialization="text/plain"/>
      <wsdl:input>
    <shttp:input name="GroupID" part="GroupID" type="path"/>
    <shttp:input name="UserID" part="UserID" type="path"/>
    <shttp:input name="Comment" part="Comment" type="query"/>
      </wsdl:input>
      <wsdl:output>
    <shttp:output name="" part="" type="entity"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="modifyGroup">
<wsdl:documentation><sdoc:displayName xmlns:sdoc="http://soa.com/wsdl/doc">PUT /groups/{GroupID}</sdoc:displayName></wsdl:documentation>
    <shttp:operation inputSerialization="application/xml,application/json,application/vnd.soa.v71+json,application/vnd.soa.v72+json,application/vnd.soa.v80+json,application/vnd.soa.v71+xml,application/vnd.soa.v72+xml,application/vnd.soa.v80+xml,application/vnd.soa.v81+json,application/vnd.soa.v81+xml" location="/groups/{GroupID}" method="PUT" outputSerialization="application/xml,application/json,application/vnd.soa.v71+json,application/vnd.soa.v72+json,application/vnd.soa.v80+json,application/vnd.soa.v71+xml,application/vnd.soa.v72+xml,application/vnd.soa.v80+xml,application/vnd.soa.v81+json,application/vnd.soa.v81+xml"/>
      <wsdl:input>
    <shttp:input name="GroupID" part="GroupID" type="path"/>
    <shttp:input name="parameter0" part="parameter0" type="entity"/>
      </wsdl:input>
      <wsdl:output>
    <shttp:output name="modifyGroupResponse" part="modifyGroupResponse" type="entity"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addGroup">
<wsdl:documentation><sdoc:displayName xmlns:sdoc="http://soa.com/wsdl/doc">POST /groups</sdoc:displayName></wsdl:documentation>
    <shttp:operation inputSerialization="application/xml,application/json,application/vnd.soa.v71+json,application/vnd.soa.v72+json,application/vnd.soa.v80+json,application/vnd.soa.v71+xml,application/vnd.soa.v72+xml,application/vnd.soa.v80+xml,application/vnd.soa.v81+json,application/vnd.soa.v81+xml" location="/groups" method="POST" outputSerialization="application/xml,application/json,application/vnd.soa.v71+json,application/vnd.soa.v72+json,application/vnd.soa.v80+json,application/vnd.soa.v71+xml,application/vnd.soa.v72+xml,application/vnd.soa.v80+xml,application/vnd.soa.v81+json,application/vnd.soa.v81+xml"/>
      <wsdl:input>
    <shttp:input name="parameter0" part="parameter0" type="entity"/>
      </wsdl:input>
      <wsdl:output>
    <shttp:output name="addGroupResponse" part="addGroupResponse" type="entity"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateMemberRole">
<wsdl:documentation><sdoc:displayName xmlns:sdoc="http://soa.com/wsdl/doc">PUT /groups/{GroupID}/members/{UserID}/role</sdoc:displayName></wsdl:documentation>
    <shttp:operation inputSerialization="application/json,application/vnd.soa.v71+json,application/vnd.soa.v72+json,application/vnd.soa.v80+json,application/vnd.soa.v81+json" location="/groups/{GroupID}/members/{UserID}/role" method="PUT" outputSerialization="text/plain"/>
      <wsdl:input>
    <shttp:input name="GroupID" part="GroupID" type="path"/>
    <shttp:input name="UserID" part="UserID" type="path"/>
    <shttp:input name="parameter0" part="parameter0" type="entity"/>
      </wsdl:input>
      <wsdl:output>
    <shttp:output name="" part="" type="entity"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="listMembers">
<wsdl:documentation><sdoc:displayName xmlns:sdoc="http://soa.com/wsdl/doc">GET /groups/{GroupID}/members</sdoc:displayName></wsdl:documentation>
    <shttp:operation location="/groups/{GroupID}/members" method="GET" outputSerialization="application/vnd.soa.v71+json,application/vnd.soa.v72+json,application/vnd.soa.v80+json,application/vnd.soa.v71+xml,application/vnd.soa.v72+xml,application/vnd.soa.v80+xml,application/vnd.soa.v81+json,application/vnd.soa.v81+xml"/>
      <wsdl:input>
    <shttp:input name="GroupID" part="GroupID" type="path"/>
      </wsdl:input>
      <wsdl:output>
    <shttp:output name="listMembersResponse" part="listMembersResponse" type="entity"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getWorkflowHistory">
<wsdl:documentation><sdoc:displayName xmlns:sdoc="http://soa.com/wsdl/doc">GET /groups/requests/{MembershipRequestID}/history</sdoc:displayName></wsdl:documentation>
    <shttp:operation location="/groups/requests/{MembershipRequestID}/history" method="GET" outputSerialization="application/json,application/vnd.soa.v71+json,application/vnd.soa.v72+json,application/vnd.soa.v80+json,application/vnd.soa.v81+json"/>
      <wsdl:input>
    <shttp:input name="MembershipRequestID" part="MembershipRequestID" type="path"/>
      </wsdl:input>
      <wsdl:output>
    <shttp:output name="getWorkflowHistoryResponse" part="getWorkflowHistoryResponse" type="entity"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getRequestState">
<wsdl:documentation><sdoc:displayName xmlns:sdoc="http://soa.com/wsdl/doc">GET /groups/requests/{MembershipRequestID}</sdoc:displayName></wsdl:documentation>
    <shttp:operation location="/groups/requests/{MembershipRequestID}" method="GET" outputSerialization="text/plain"/>
      <wsdl:input>
    <shttp:input name="MembershipRequestID" part="MembershipRequestID" type="path"/>
      </wsdl:input>
      <wsdl:output>
    <shttp:output name="getRequestStateResponse" part="getRequestStateResponse" type="entity"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteGroup">
<wsdl:documentation><sdoc:displayName xmlns:sdoc="http://soa.com/wsdl/doc">DELETE /groups/{GroupID}</sdoc:displayName></wsdl:documentation>
    <shttp:operation location="/groups/{GroupID}" method="DELETE" outputSerialization="text/plain"/>
      <wsdl:input>
    <shttp:input name="GroupID" part="GroupID" type="path"/>
      </wsdl:input>
      <wsdl:output>
    <shttp:output name="deleteGroupResponse" part="deleteGroupResponse" type="entity"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getGroup">
<wsdl:documentation><sdoc:displayName xmlns:sdoc="http://soa.com/wsdl/doc">GET /groups/{GroupID}</sdoc:displayName></wsdl:documentation>
    <shttp:operation location="/groups/{GroupID}" method="GET" outputSerialization="application/json,application/vnd.soa.v71+json,application/vnd.soa.v72+json,application/vnd.soa.v80+json,application/vnd.soa.v81+json"/>
      <wsdl:input>
    <shttp:input name="GroupID" part="GroupID" type="path"/>
    <shttp:input name="IncludeSettings" part="IncludeSettings" type="query"/>
      </wsdl:input>
      <wsdl:output>
    <shttp:output name="getGroupResponse" part="getGroupResponse" type="entity"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getMembers">
<wsdl:documentation><sdoc:displayName xmlns:sdoc="http://soa.com/wsdl/doc">GET /groups/{GroupID}/members</sdoc:displayName></wsdl:documentation>
    <shttp:operation location="/groups/{GroupID}/members" method="GET" outputSerialization="text/xml,application/json"/>
      <wsdl:input>
    <shttp:input name="GroupID" part="GroupID" type="path"/>
      </wsdl:input>
      <wsdl:output>
    <shttp:output name="getMembersResponse" part="getMembersResponse" type="entity"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addRating">
<wsdl:documentation><sdoc:displayName xmlns:sdoc="http://soa.com/wsdl/doc">POST /groups/{ID}/ratings</sdoc:displayName></wsdl:documentation>
    <shttp:operation inputSerialization="application/xml,application/json,application/vnd.soa.v71+json,application/vnd.soa.v72+json,application/vnd.soa.v80+json,application/vnd.soa.v71+xml,application/vnd.soa.v72+xml,application/vnd.soa.v80+xml" location="/groups/{ID}/ratings" method="POST" outputSerialization="application/xml,application/json,application/vnd.soa.v71+json,application/vnd.soa.v72+json,application/vnd.soa.v80+json,application/vnd.soa.v71+xml,application/vnd.soa.v72+xml,application/vnd.soa.v80+xml"/>
      <wsdl:input>
    <shttp:input name="ID" part="ID" type="path"/>
    <shttp:input name="parameter0" part="parameter0" type="entity"/>
      </wsdl:input>
      <wsdl:output>
    <shttp:output name="addRatingResponse" part="addRatingResponse" type="entity"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteRating">
<wsdl:documentation><sdoc:displayName xmlns:sdoc="http://soa.com/wsdl/doc">DELETE /groups/{ID}/ratings/{userID}</sdoc:displayName></wsdl:documentation>
    <shttp:operation location="/groups/{ID}/ratings/{userID}" method="DELETE" outputSerialization="application/xml,application/json,application/vnd.soa.v71+json,application/vnd.soa.v72+json,application/vnd.soa.v80+json,application/vnd.soa.v71+xml,application/vnd.soa.v72+xml,application/vnd.soa.v80+xml"/>
      <wsdl:input>
    <shttp:input name="userID" part="userID" type="path"/>
    <shttp:input name="ID" part="ID" type="path"/>
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="updateRating">
<wsdl:documentation><sdoc:displayName xmlns:sdoc="http://soa.com/wsdl/doc">PUT /groups/{ID}/ratings/{userID}</sdoc:displayName></wsdl:documentation>
    <shttp:operation inputSerialization="application/xml,application/json,application/vnd.soa.v71+json,application/vnd.soa.v72+json,application/vnd.soa.v80+json,application/vnd.soa.v71+xml,application/vnd.soa.v72+xml,application/vnd.soa.v80+xml" location="/groups/{ID}/ratings/{userID}" method="PUT" outputSerialization="application/xml,application/json,application/vnd.soa.v71+json,application/vnd.soa.v72+json,application/vnd.soa.v80+json,application/vnd.soa.v71+xml,application/vnd.soa.v72+xml,application/vnd.soa.v80+xml"/>
      <wsdl:input>
    <shttp:input name="userID" part="userID" type="path"/>
    <shttp:input name="ID" part="ID" type="path"/>
    <shttp:input name="parameter0" part="parameter0" type="entity"/>
      </wsdl:input>
      <wsdl:output>
    <shttp:output name="updateRatingResponse" part="updateRatingResponse" type="entity"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getRatingSummary">
<wsdl:documentation><sdoc:displayName xmlns:sdoc="http://soa.com/wsdl/doc">GET /groups/{ID}/ratings/summary</sdoc:displayName></wsdl:documentation>
    <shttp:operation location="/groups/{ID}/ratings/summary" method="GET" outputSerialization="text/xml,application/json,application/vnd.soa.v71+json,application/vnd.soa.v72+json,application/vnd.soa.v80+json,application/vnd.soa.v71+xml,application/vnd.soa.v72+xml,application/vnd.soa.v80+xml"/>
      <wsdl:input>
    <shttp:input name="ID" part="ID" type="path"/>
      </wsdl:input>
      <wsdl:output>
    <shttp:output name="getRatingSummaryResponse" part="getRatingSummaryResponse" type="entity"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getRating">
<wsdl:documentation><sdoc:displayName xmlns:sdoc="http://soa.com/wsdl/doc">GET /groups/{ID}/ratings/{userID}</sdoc:displayName></wsdl:documentation>
    <shttp:operation location="/groups/{ID}/ratings/{userID}" method="GET" outputSerialization="text/xml,application/json,application/vnd.soa.v71+json,application/vnd.soa.v72+json,application/vnd.soa.v80+json,application/vnd.soa.v71+xml,application/vnd.soa.v72+xml,application/vnd.soa.v80+xml"/>
      <wsdl:input>
    <shttp:input name="ID" part="ID" type="path"/>
    <shttp:input name="userID" part="userID" type="path"/>
      </wsdl:input>
      <wsdl:output>
    <shttp:output name="getRatingResponse" part="getRatingResponse" type="entity"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAvatar">
<wsdl:documentation><sdoc:displayName xmlns:sdoc="http://soa.com/wsdl/doc">GET /groups/{ID}/avatars/{version}.png</sdoc:displayName></wsdl:documentation>
    <shttp:operation inputSerialization="*/*" location="/groups/{ID}/avatars/{version}.png" method="GET" outputSerialization="image/png"/>
      <wsdl:input>
    <shttp:input name="ID" part="ID" type="path"/>
    <shttp:input name="version" part="version" type="path"/>
    <shttp:input name="size" part="size" type="query"/>
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="getImage">
<wsdl:documentation><sdoc:displayName xmlns:sdoc="http://soa.com/wsdl/doc">GET /groups/{ID}/picture</sdoc:displayName></wsdl:documentation>
    <shttp:operation inputSerialization="*/*" location="/groups/{ID}/picture" method="GET" outputSerialization="image/jpeg"/>
      <wsdl:input>
    <shttp:input name="ID" part="ID" type="path"/>
    <shttp:input name="size" part="size" type="query"/>
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="getDefaultAvatar">
<wsdl:documentation><sdoc:displayName xmlns:sdoc="http://soa.com/wsdl/doc">GET /groups/{ID}/avatar</sdoc:displayName></wsdl:documentation>
    <shttp:operation inputSerialization="*/*" location="/groups/{ID}/avatar" method="GET" outputSerialization="image/png"/>
      <wsdl:input>
    <shttp:input name="ID" part="ID" type="path"/>
    <shttp:input name="size" part="size" type="query"/>
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="getDefaultVersionedAvatar">
<wsdl:documentation><sdoc:displayName xmlns:sdoc="http://soa.com/wsdl/doc">GET /groups/avatar/{version}{Extension:(/[^/]+?)*}</sdoc:displayName></wsdl:documentation>
    <shttp:operation inputSerialization="*/*" location="/groups/avatar/{version}{Extension:(/[^/]+?)*}" method="GET" outputSerialization="image/png"/>
      <wsdl:input>
    <shttp:input name="version" part="version" type="path"/>
    <shttp:input name="Extension" part="Extension" type="path"/>
    <shttp:input name="size" part="size" type="query"/>
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="previewAvatar">
<wsdl:documentation><sdoc:displayName xmlns:sdoc="http://soa.com/wsdl/doc">GET /groups/{ID}/previewavatar</sdoc:displayName></wsdl:documentation>
    <shttp:operation inputSerialization="*/*" location="/groups/{ID}/previewavatar" method="GET" outputSerialization="image/jpeg"/>
      <wsdl:input>
    <shttp:input name="ID" part="ID" type="path"/>
    <shttp:input name="Provider" part="Provider" type="query"/>
      </wsdl:input>
      <wsdl:output>
    <shttp:output name="" part="" type="entity"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateImage">
<wsdl:documentation><sdoc:displayName xmlns:sdoc="http://soa.com/wsdl/doc">POST /groups/{ID}/picture</sdoc:displayName></wsdl:documentation>
    <shttp:operation inputSerialization="multipart/form-data" location="/groups/{ID}/picture" method="POST" outputSerialization="text/plain"/>
      <wsdl:input>
    <shttp:input name="ID" part="ID" type="path"/>
    <shttp:input name="parameter0" part="parameter0" type="entity"/>
      </wsdl:input>
      <wsdl:output>
    <shttp:output name="" part="" type="entity"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteImage">
<wsdl:documentation><sdoc:displayName xmlns:sdoc="http://soa.com/wsdl/doc">DELETE /groups/{ID}/picture</sdoc:displayName></wsdl:documentation>
    <shttp:operation inputSerialization="*/*" location="/groups/{ID}/picture" method="DELETE" outputSerialization="text/plain"/>
      <wsdl:input>
    <shttp:input name="ID" part="ID" type="path"/>
      </wsdl:input>
      <wsdl:output>
    <shttp:output name="" part="" type="entity"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="GroupAPI">
<wsdl:documentation><sdoc:title xmlns:sdoc="http://soa.com/wsdl/doc">Group API</sdoc:title><sdoc:description xmlns:sdoc="http://soa.com/wsdl/doc"><![CDATA[<p>The Groups service provides methods for managing groups in the Akana API Platform, including app teams, API Context Groups, and independent groups.</p>]]></sdoc:description></wsdl:documentation>
    <wsdl:port name="GroupAPI_rest_port_https" binding="tns:GroupAPIBinding">
    <shttp:address location="https://0.0.0.0/api"/>
    </wsdl:port>
    <wsdl:port name="GroupAPI_rest_port_http" binding="tns:GroupAPIBinding">
    <shttp:address location="http://0.0.0.0/api"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
