ag/assets/latest_api_plat/rest/api-platform/api-urn_com.soa.dz.api-DeploymentZoneAPI.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="urn:com.soa.dz.api" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="urn:com.soa.dz.api" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:nms2="http://soa.com/xsd/deploymentzone/1.0" xmlns:nms1="urn:org.apache.wink.common.model.rss" xmlns:shttp="http://soa.com/wsdl/http">
  <wsdl:types>
    <xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:element name="category" nillable="true" type="rssCategory"/>
<xs:element name="channel" nillable="true" type="rssChannel"/>
<xs:element name="cloud" nillable="true" type="rssCloud"/>
<xs:element name="enclosure" nillable="true" type="rssEnclosure"/>
<xs:element name="guid" nillable="true" type="rssGuid"/>
<xs:element name="image" nillable="true" type="rssImage"/>
<xs:element name="item" nillable="true" type="rssItem"/>
<xs:element name="rss"><xs:complexType><xs:sequence><xs:element name="channel" type="rssChannel"/></xs:sequence><xs:attribute name="version" type="xs:string" use="required"/></xs:complexType></xs:element>
<xs:element name="skipDays" nillable="true" type="rssSkipDays"/>
<xs:element name="skipHours" nillable="true" type="rssSkipHours"/>
<xs:element name="source" nillable="true" type="rssSource"/>
<xs:element name="textInput" nillable="true" type="rssTextInput"/>
<xs:complexType name="rssCloud"><xs:sequence/><xs:attribute name="domain" type="xs:string" use="required"/><xs:attribute name="port" type="xs:int" use="required"/><xs:attribute name="path" type="xs:string" use="required"/><xs:attribute name="registerProcedure" type="xs:string" use="required"/><xs:attribute name="protocol" type="xs:string" use="required"/></xs:complexType>
<xs:complexType name="rssImage"><xs:all><xs:element name="url" type="xs:string"/><xs:element name="title" type="xs:string"/><xs:element name="link" type="xs:anyURI"/><xs:element default="88" minOccurs="0" name="width" type="xs:int"/><xs:element default="31" minOccurs="0" name="height" type="xs:int"/><xs:element minOccurs="0" name="description" type="xs:string"/></xs:all></xs:complexType>
<xs:complexType name="rssSkipDays"><xs:sequence><xs:element maxOccurs="unbounded" minOccurs="0" name="day" nillable="true" type="xs:string"/></xs:sequence></xs:complexType>
<xs:complexType name="rssChannel"><xs:all><xs:element name="title" type="xs:string"/><xs:element name="link" type="xs:anyURI"/><xs:element name="description" type="xs:string"/><xs:element minOccurs="0" name="language" type="xs:string"/><xs:element minOccurs="0" name="copyright" type="xs:string"/><xs:element minOccurs="0" name="managingEditor" type="xs:string"/><xs:element minOccurs="0" name="webMaster" type="xs:string"/><xs:element minOccurs="0" name="pubDate" type="xs:string"/><xs:element minOccurs="0" name="lastBuildDate" type="xs:string"/><xs:element maxOccurs="unbounded" minOccurs="0" name="category" nillable="true" type="rssCategory"/><xs:element minOccurs="0" name="generator" type="xs:string"/><xs:element minOccurs="0" name="docs" type="xs:anyURI"/><xs:element minOccurs="0" name="cloud" type="rssCloud"/><xs:element minOccurs="0" name="ttl" type="xs:int"/><xs:element minOccurs="0" name="image" type="rssImage"/><xs:element minOccurs="0" name="rating" type="xs:string"/><xs:element minOccurs="0" name="textInput" type="rssTextInput"/><xs:element minOccurs="0" name="skipHours" type="rssSkipHours"/><xs:element minOccurs="0" name="skipDays" type="rssSkipDays"/><xs:any maxOccurs="unbounded" minOccurs="0" namespace="##other" processContents="lax"/><xs:element maxOccurs="unbounded" minOccurs="0" name="item" nillable="true" type="rssItem"/></xs:all></xs:complexType>
<xs:complexType name="rssCategory"><xs:simpleContent><xs:extension base="xs:string"><xs:attribute name="domain" type="xs:string"/></xs:extension></xs:simpleContent></xs:complexType>
<xs:complexType name="rssTextInput"><xs:all><xs:element name="title" type="xs:string"/><xs:element name="description" type="xs:string"/><xs:element name="name" type="xs:string"/><xs:element name="link" type="xs:anyURI"/></xs:all></xs:complexType>
<xs:complexType name="rssSkipHours"><xs:sequence><xs:element maxOccurs="unbounded" minOccurs="0" name="hour" nillable="true" type="xs:string"/></xs:sequence></xs:complexType>
<xs:complexType name="rssSource"><xs:simpleContent><xs:extension base="xs:string"><xs:attribute name="url" type="xs:string" use="required"/></xs:extension></xs:simpleContent></xs:complexType>
<xs:complexType name="rssEnclosure"><xs:sequence/><xs:attribute name="url" type="xs:string" use="required"/><xs:attribute name="length" type="xs:string" use="required"/><xs:attribute name="type" type="xs:string" use="required"/></xs:complexType>
<xs:complexType name="rssGuid"><xs:simpleContent><xs:extension base="xs:string"><xs:attribute name="isPermaLink" type="xs:boolean"/></xs:extension></xs:simpleContent></xs:complexType>
<xs:complexType name="rssItem"><xs:all><xs:element minOccurs="0" name="title" type="xs:string"/><xs:element minOccurs="0" name="link" type="xs:anyURI"/><xs:element minOccurs="0" name="description" type="xs:string"/><xs:element minOccurs="0" name="author" type="xs:string"/><xs:element maxOccurs="unbounded" minOccurs="0" name="category" nillable="true" type="rssCategory"/><xs:element minOccurs="0" name="comments" type="xs:anyURI"/><xs:element minOccurs="0" name="enclosure" type="rssEnclosure"/><xs:element minOccurs="0" name="guid" type="rssGuid"/><xs:element name="pubDate" type="xs:string"/><xs:element minOccurs="0" name="source" type="rssSource"/><xs:any maxOccurs="unbounded" minOccurs="0" namespace="##other" processContents="lax"/></xs:all></xs:complexType>
</xs:schema>
    <xs:schema elementFormDefault="qualified" targetNamespace="http://soa.com/xsd/deploymentzone/1.0" version="1.0" xmlns:tns="http://soa.com/xsd/deploymentzone/1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:element name="DZoneEnvImplAssociation"><xs:complexType><xs:sequence><xs:element name="Implementation" type="xs:string"/><xs:element name="Environment" type="xs:string"/></xs:sequence></xs:complexType></xs:element>
<xs:element name="DZoneEnvImplAssociations"><xs:complexType><xs:sequence><xs:element maxOccurs="unbounded" minOccurs="0" ref="tns:DZoneEnvImplAssociation"/></xs:sequence></xs:complexType></xs:element>
<xs:element name="DeploymentZoneAccessPoint"><xs:complexType><xs:sequence><xs:element minOccurs="0" name="Protocol" type="xs:string"/><xs:element minOccurs="0" name="Name" type="xs:string"/><xs:element minOccurs="0" name="Address" type="xs:string"/></xs:sequence></xs:complexType></xs:element>
<xs:element name="DeploymentZoneInfo"><xs:complexType><xs:sequence><xs:element minOccurs="0" name="DeploymentZoneID" type="xs:string"/><xs:element name="Name" type="xs:string"/><xs:element minOccurs="0" name="Description" type="xs:string"/><xs:element minOccurs="0" name="Location" type="xs:string"/><xs:element minOccurs="0" name="ContainerKey" type="xs:string"/><xs:element minOccurs="0" name="ContainerName" type="xs:string"/><xs:element minOccurs="0" name="AddressOverrideBehavior" type="xs:string"/><xs:element minOccurs="0" name="RandomHostNameBehavior" type="xs:string"/><xs:element minOccurs="0" name="HostName" type="xs:string"/><xs:element default="true" minOccurs="0" name="VirtualHostSupported" type="xs:boolean"/><xs:element maxOccurs="unbounded" minOccurs="0" ref="tns:DeploymentZoneAccessPoint"/><xs:element minOccurs="0" ref="tns:DZoneEnvImplAssociations"/></xs:sequence></xs:complexType></xs:element>
<xs:element name="DeploymentZoneInfoList"><xs:complexType><xs:sequence><xs:element maxOccurs="unbounded" minOccurs="0" ref="tns:DeploymentZoneInfo"/></xs:sequence></xs:complexType></xs:element>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="listDeploymentZonesResponseMessage">
    <wsdl:part name="listDeploymentZonesResponse" element="nms2:DeploymentZoneInfoList">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getDeploymentZoneInfoResponseMessage">
    <wsdl:part name="getDeploymentZoneInfoResponse" element="nms2:DeploymentZoneInfo">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="deleteDeploymentZoneInfoResponseMessage">
    <wsdl:part name="deleteDeploymentZoneInfoResponse" type="xs:string">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getDeploymentZoneInfoRequestMessage">
    <wsdl:part name="dzInfoID" type="xs:string">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getDeploymentZoneAssociationsResponseMessage">
    <wsdl:part name="getDeploymentZoneAssociationsResponse" element="nms2:DZoneEnvImplAssociations">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="addDeploymentZoneRequestMessage">
    <wsdl:part name="parameter0" element="nms2:DeploymentZoneInfo">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="updateDeploymentZoneResponseMessage">
    <wsdl:part name="updateDeploymentZoneResponse" element="nms2:DeploymentZoneInfo">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="listDeploymentZonesRequestMessage">
    <wsdl:part name="Implementation" type="xs:string">
    </wsdl:part>
    <wsdl:part name="Environment" type="xs:string">
    </wsdl:part>
    <wsdl:part name="APIImplementationPattern" type="xs:string">
    </wsdl:part>
    <wsdl:part name="DzoneID" type="xs:string">
    </wsdl:part>
    <wsdl:part name="ContextID" type="xs:string">
    </wsdl:part>
    <wsdl:part name="OrgKey" type="xs:string">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getDeploymentZonesRequestMessage">
    <wsdl:part name="BindingType" type="xs:string">
    </wsdl:part>
    <wsdl:part name="ContextID" type="xs:string">
    </wsdl:part>
    <wsdl:part name="OrgKey" type="xs:string">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getDeploymentZoneAssociationsRequestMessage">
    <wsdl:part name="DZoneID" type="xs:string">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="deleteDeploymentZoneInfoRequestMessage">
    <wsdl:part name="DZoneID" type="xs:string">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="updateDeploymentZoneAssociationsResponseMessage">
    <wsdl:part name="updateDeploymentZoneAssociationsResponse" element="nms2:DZoneEnvImplAssociations">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="updateDeploymentZoneAssociationsRequestMessage">
    <wsdl:part name="DZoneID" type="xs:string">
    </wsdl:part>
    <wsdl:part name="parameter0" element="nms2:DZoneEnvImplAssociations">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="updateDeploymentZoneRequestMessage">
    <wsdl:part name="DZoneID" type="xs:string">
    </wsdl:part>
    <wsdl:part name="parameter0" element="nms2:DeploymentZoneInfo">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="addDeploymentZoneResponseMessage">
    <wsdl:part name="addDeploymentZoneResponse" element="nms2:DeploymentZoneInfo">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getDeploymentZonesResponseMessage">
    <wsdl:part name="getDeploymentZonesResponse" element="tns:rss">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="DeploymentZoneAPIPortType">
    <wsdl:operation name="deleteDeploymentZoneInfo">
      <wsdl:input message="tns:deleteDeploymentZoneInfoRequestMessage">
    </wsdl:input>
      <wsdl:output message="tns:deleteDeploymentZoneInfoResponseMessage">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getDeploymentZones">
      <wsdl:input message="tns:getDeploymentZonesRequestMessage">
    </wsdl:input>
      <wsdl:output message="tns:getDeploymentZonesResponseMessage">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getDeploymentZoneAssociations">
      <wsdl:input message="tns:getDeploymentZoneAssociationsRequestMessage">
    </wsdl:input>
      <wsdl:output message="tns:getDeploymentZoneAssociationsResponseMessage">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addDeploymentZone">
      <wsdl:input message="tns:addDeploymentZoneRequestMessage">
    </wsdl:input>
      <wsdl:output message="tns:addDeploymentZoneResponseMessage">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateDeploymentZone">
      <wsdl:input message="tns:updateDeploymentZoneRequestMessage">
    </wsdl:input>
      <wsdl:output message="tns:updateDeploymentZoneResponseMessage">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="listDeploymentZones">
      <wsdl:input message="tns:listDeploymentZonesRequestMessage">
    </wsdl:input>
      <wsdl:output message="tns:listDeploymentZonesResponseMessage">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getDeploymentZoneInfo">
      <wsdl:input message="tns:getDeploymentZoneInfoRequestMessage">
    </wsdl:input>
      <wsdl:output message="tns:getDeploymentZoneInfoResponseMessage">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateDeploymentZoneAssociations">
      <wsdl:input message="tns:updateDeploymentZoneAssociationsRequestMessage">
    </wsdl:input>
      <wsdl:output message="tns:updateDeploymentZoneAssociationsResponseMessage">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="DeploymentZoneAPIBinding" type="tns:DeploymentZoneAPIPortType">
    <shttp:binding/>
    <wsdl:operation name="deleteDeploymentZoneInfo">
<wsdl:documentation><sdoc:displayName xmlns:sdoc="http://soa.com/wsdl/doc">DELETE /deploymentzones/{DZoneID}</sdoc:displayName></wsdl:documentation>
    <shttp:operation location="/deploymentzones/{DZoneID}" method="DELETE" outputSerialization="text/plain"/>
      <wsdl:input>
    <shttp:input name="DZoneID" part="DZoneID" type="path"/>
      </wsdl:input>
      <wsdl:output>
    <shttp:output name="deleteDeploymentZoneInfoResponse" part="deleteDeploymentZoneInfoResponse" type="entity"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getDeploymentZones">
<wsdl:documentation><sdoc:displayName xmlns:sdoc="http://soa.com/wsdl/doc">GET /deploymentzones</sdoc:displayName></wsdl:documentation>
    <shttp:operation location="/deploymentzones" method="GET" outputSerialization="text/xml,application/json,application/vnd.soa.v71+json,application/vnd.soa.v72+json,application/vnd.soa.v80+json,application/vnd.soa.v71+xml,application/vnd.soa.v72+xml,application/vnd.soa.v80+xml"/>
      <wsdl:input>
    <shttp:input name="BindingType" part="BindingType" type="query"/>
    <shttp:input name="ContextID" part="ContextID" type="query"><wsdl:documentation><sdoc:description xmlns:sdoc="http://soa.com/wsdl/doc"><![CDATA[The Context Id. If this parameter is included, the deployment zones permissions will be checked against this context. Tenant context will be used otherwise. The OrgKey will supersede this context.]]></sdoc:description><sdoc:required xmlns:sdoc="http://soa.com/wsdl/doc">false</sdoc:required><sdoc:multiple xmlns:sdoc="http://soa.com/wsdl/doc">false</sdoc:multiple></wsdl:documentation></shttp:input>
    <shttp:input name="OrgKey" part="OrgKey" type="query"><wsdl:documentation><sdoc:description xmlns:sdoc="http://soa.com/wsdl/doc"><![CDATA[The Context Organization Key. If this parameter is included, the deployment zones permissions will be checked against this context. Tenant Org context will be used otherwise.]]></sdoc:description><sdoc:required xmlns:sdoc="http://soa.com/wsdl/doc">false</sdoc:required><sdoc:multiple xmlns:sdoc="http://soa.com/wsdl/doc">false</sdoc:multiple></wsdl:documentation></shttp:input>
      </wsdl:input>
      <wsdl:output>
    <shttp:output name="getDeploymentZonesResponse" part="getDeploymentZonesResponse" type="entity"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getDeploymentZoneAssociations">
<wsdl:documentation><sdoc:displayName xmlns:sdoc="http://soa.com/wsdl/doc">GET /deploymentzones/{DZoneID}/associations</sdoc:displayName></wsdl:documentation>
    <shttp:operation location="/deploymentzones/{DZoneID}/associations" method="GET" outputSerialization="application/json,application/xml,application/vnd.soa.v81+json,application/vnd.soa.v81+xml"/>
      <wsdl:input>
    <shttp:input name="DZoneID" part="DZoneID" type="path"/>
      </wsdl:input>
      <wsdl:output>
    <shttp:output name="getDeploymentZoneAssociationsResponse" part="getDeploymentZoneAssociationsResponse" type="entity"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addDeploymentZone">
<wsdl:documentation><sdoc:displayName xmlns:sdoc="http://soa.com/wsdl/doc">POST /deploymentzones</sdoc:displayName></wsdl:documentation>
    <shttp:operation inputSerialization="application/json,application/xml,application/vnd.soa.v81+json,application/vnd.soa.v81+xml" location="/deploymentzones" method="POST" outputSerialization="application/json,application/xml,application/vnd.soa.v81+json,application/vnd.soa.v81+xml"/>
      <wsdl:input>
    <shttp:input name="parameter0" part="parameter0" type="entity"/>
      </wsdl:input>
      <wsdl:output>
    <shttp:output name="addDeploymentZoneResponse" part="addDeploymentZoneResponse" type="entity"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateDeploymentZone">
<wsdl:documentation><sdoc:displayName xmlns:sdoc="http://soa.com/wsdl/doc">PUT /deploymentzones/{DZoneID}</sdoc:displayName></wsdl:documentation>
    <shttp:operation inputSerialization="application/json,application/xml,application/vnd.soa.v81+json,application/vnd.soa.v81+xml" location="/deploymentzones/{DZoneID}" method="PUT" outputSerialization="application/json,application/xml,application/vnd.soa.v81+json,application/vnd.soa.v81+xml"/>
      <wsdl:input>
    <shttp:input name="DZoneID" part="DZoneID" type="path"/>
    <shttp:input name="parameter0" part="parameter0" type="entity"/>
      </wsdl:input>
      <wsdl:output>
    <shttp:output name="updateDeploymentZoneResponse" part="updateDeploymentZoneResponse" type="entity"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="listDeploymentZones">
<wsdl:documentation><sdoc:displayName xmlns:sdoc="http://soa.com/wsdl/doc">GET /deploymentzones</sdoc:displayName></wsdl:documentation>
    <shttp:operation location="/deploymentzones" method="GET" outputSerialization="application/vnd.soa.v81+json,application/vnd.soa.v81+xml,application/vnd.soa.v84+xml,application/vnd.soa.v84+json"/>
      <wsdl:input>
    <shttp:input name="Implementation" part="Implementation" type="query"/>
    <shttp:input name="Environment" part="Environment" type="query"/>
    <shttp:input name="APIImplementationPattern" part="APIImplementationPattern" type="query"/>
    <shttp:input name="DzoneID" part="DzoneID" type="query"/>
    <shttp:input name="ContextID" part="ContextID" type="query"><wsdl:documentation><sdoc:description xmlns:sdoc="http://soa.com/wsdl/doc"><![CDATA[The Context Id. If this parameter is included, the deployment zones permissions will be checked against this context. Tenant context will be used otherwise. The OrgKey will supersede this context.]]></sdoc:description><sdoc:required xmlns:sdoc="http://soa.com/wsdl/doc">false</sdoc:required><sdoc:multiple xmlns:sdoc="http://soa.com/wsdl/doc">false</sdoc:multiple></wsdl:documentation></shttp:input>
    <shttp:input name="OrgKey" part="OrgKey" type="query"><wsdl:documentation><sdoc:description xmlns:sdoc="http://soa.com/wsdl/doc"><![CDATA[The Context Organization Key. If this parameter is included, the deployment zones permissions will be checked against this context.]]></sdoc:description><sdoc:required xmlns:sdoc="http://soa.com/wsdl/doc">false</sdoc:required><sdoc:multiple xmlns:sdoc="http://soa.com/wsdl/doc">false</sdoc:multiple></wsdl:documentation></shttp:input>
      </wsdl:input>
      <wsdl:output>
    <shttp:output name="listDeploymentZonesResponse" part="listDeploymentZonesResponse" type="entity"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getDeploymentZoneInfo">
<wsdl:documentation><sdoc:displayName xmlns:sdoc="http://soa.com/wsdl/doc">GET /deploymentzones/{dzInfoID}</sdoc:displayName></wsdl:documentation>
    <shttp:operation location="/deploymentzones/{dzInfoID}" method="GET" outputSerialization="application/vnd.soa.v81+json,application/vnd.soa.v81+xml"/>
      <wsdl:input>
    <shttp:input name="dzInfoID" part="dzInfoID" type="path"/>
      </wsdl:input>
      <wsdl:output>
    <shttp:output name="getDeploymentZoneInfoResponse" part="getDeploymentZoneInfoResponse" type="entity"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateDeploymentZoneAssociations">
<wsdl:documentation><sdoc:displayName xmlns:sdoc="http://soa.com/wsdl/doc">PUT /deploymentzones/{DZoneID}/associations</sdoc:displayName></wsdl:documentation>
    <shttp:operation inputSerialization="application/json,application/xml,application/vnd.soa.v81+json,application/vnd.soa.v81+xml" location="/deploymentzones/{DZoneID}/associations" method="PUT" outputSerialization="application/json,application/xml,application/vnd.soa.v81+json,application/vnd.soa.v81+xml"/>
      <wsdl:input>
    <shttp:input name="DZoneID" part="DZoneID" type="path"/>
    <shttp:input name="parameter0" part="parameter0" type="entity"/>
      </wsdl:input>
      <wsdl:output>
    <shttp:output name="updateDeploymentZoneAssociationsResponse" part="updateDeploymentZoneAssociationsResponse" type="entity"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DeploymentZoneAPI">
<wsdl:documentation><sdoc:title xmlns:sdoc="http://soa.com/wsdl/doc">Deployment Zone API</sdoc:title><sdoc:description xmlns:sdoc="http://soa.com/wsdl/doc"><![CDATA[<p>The Deployment Zones service allows you to retrieve a list of deployment zones for the platform.</p>]]></sdoc:description></wsdl:documentation>
    <wsdl:port name="DeploymentZoneAPI_rest_port_https" binding="tns:DeploymentZoneAPIBinding">
    <shttp:address location="https://0.0.0.0/api"/>
    </wsdl:port>
    <wsdl:port name="DeploymentZoneAPI_rest_port_http" binding="tns:DeploymentZoneAPIBinding">
    <shttp:address location="http://0.0.0.0/api"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
