ag/assets/latest_api_plat/rest/api-platform/api-http___soa.com_wsdl_openid_1.0-OpenIDAPI.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://soa.com/wsdl/openid/1.0" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://soa.com/wsdl/openid/1.0" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:shttp="http://soa.com/wsdl/http">
  <wsdl:message name="idGETResponseMessage">
    <wsdl:part element="xs:any">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="xrdsResponseMessage">
    <wsdl:part element="xs:any">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="idPOSTResponseMessage">
    <wsdl:part element="xs:any">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="idPOSTRequestMessage">
  </wsdl:message>
  <wsdl:message name="idGETRequestMessage">
  </wsdl:message>
  <wsdl:message name="loginGETResponseMessage">
    <wsdl:part element="xs:any">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="loginPOSTRequestMessage">
  </wsdl:message>
  <wsdl:message name="xrdsRequestMessage">
  </wsdl:message>
  <wsdl:message name="loginGETRequestMessage">
  </wsdl:message>
  <wsdl:message name="loginPOSTResponseMessage">
    <wsdl:part element="xs:any">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="OpenIDAPIPortType">
    <wsdl:operation name="idPOST">
      <wsdl:input message="tns:idPOSTRequestMessage">
    </wsdl:input>
      <wsdl:output message="tns:idPOSTResponseMessage">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="idGET">
      <wsdl:input message="tns:idGETRequestMessage">
    </wsdl:input>
      <wsdl:output message="tns:idGETResponseMessage">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="xrds">
      <wsdl:input message="tns:xrdsRequestMessage">
    </wsdl:input>
      <wsdl:output message="tns:xrdsResponseMessage">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="loginGET">
      <wsdl:input message="tns:loginGETRequestMessage">
    </wsdl:input>
      <wsdl:output message="tns:loginGETResponseMessage">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="loginPOST">
      <wsdl:input message="tns:loginPOSTRequestMessage">
    </wsdl:input>
      <wsdl:output message="tns:loginPOSTResponseMessage">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="OpenIDAPIBinding" type="tns:OpenIDAPIPortType">
    <shttp:binding/>
    <wsdl:operation name="idPOST">
<wsdl:documentation><sdoc:displayName xmlns:sdoc="http://soa.com/wsdl/doc">POST /id</sdoc:displayName></wsdl:documentation>
    <shttp:operation inputSerialization="application/x-www-form-urlencoded" location="/id" method="POST" outputSerialization="application/xrds+xml"/>
      <wsdl:output>
    <shttp:output name="" part="" type="entity"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="idGET">
<wsdl:documentation><sdoc:displayName xmlns:sdoc="http://soa.com/wsdl/doc">GET /id</sdoc:displayName></wsdl:documentation>
    <shttp:operation location="/id" method="GET" outputSerialization="application/xrds+xml"/>
      <wsdl:output>
    <shttp:output name="" part="" type="entity"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="xrds">
<wsdl:documentation><sdoc:displayName xmlns:sdoc="http://soa.com/wsdl/doc">GET /xrds</sdoc:displayName></wsdl:documentation>
    <shttp:operation location="/xrds" method="GET" outputSerialization="application/xrds+xml"/>
      <wsdl:output>
    <shttp:output name="" part="" type="entity"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="loginGET">
<wsdl:documentation><sdoc:displayName xmlns:sdoc="http://soa.com/wsdl/doc">GET /login</sdoc:displayName></wsdl:documentation>
    <shttp:operation location="/login" method="GET" outputSerialization="application/json"/>
      <wsdl:output>
    <shttp:output name="" part="" type="entity"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="loginPOST">
<wsdl:documentation><sdoc:displayName xmlns:sdoc="http://soa.com/wsdl/doc">POST /login</sdoc:displayName></wsdl:documentation>
    <shttp:operation inputSerialization="application/x-www-form-urlencoded" location="/login" method="POST" outputSerialization="text/plain"/>
      <wsdl:output>
    <shttp:output name="" part="" type="entity"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="OpenIDAPI">
    <wsdl:port name="OpenIDAPI_rest_port_http" binding="tns:OpenIDAPIBinding">
    <shttp:address location="http://0.0.0.0/openid"/>
    </wsdl:port>
    <wsdl:port name="OpenIDAPI_rest_port_https" binding="tns:OpenIDAPIBinding">
    <shttp:address location="https://0.0.0.0/openid"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
