ag/assets/latest_api_plat/rest/api-platform/api-http___soa.com_wsdl_policy_1.0-PolicyAPI.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://soa.com/wsdl/policy/1.0" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://soa.com/wsdl/policy/1.0" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:nms2="http://soa.com/xsd/api/1.0" xmlns:nms1="urn:org.apache.wink.common.model.rss" xmlns:shttp="http://soa.com/wsdl/http">
  <wsdl:types>
    <xs:schema targetNamespace="http://soa.com/xsd/business/1.0" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:element name="BusinessID" type="xs:string"/>
</xs:schema>
    <xs:schema elementFormDefault="qualified" targetNamespace="http://soa.com/xsd/api/1.0" version="1.0" xmlns:ns1="http://soa.com/xsd/business/1.0" xmlns:tns="http://soa.com/xsd/api/1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:import namespace="http://soa.com/xsd/business/1.0"/>
<xs:element name="Policies"><xs:complexType><xs:sequence><xs:element maxOccurs="unbounded" minOccurs="0" ref="tns:Policy"/></xs:sequence></xs:complexType></xs:element>
<xs:element name="Policy"><xs:complexType><xs:sequence><xs:element name="PolicyKey" type="xs:string"/><xs:element minOccurs="0" name="Name" type="xs:string"/><xs:element minOccurs="0" name="Description" type="xs:string"/><xs:element minOccurs="0" name="PolicyType" type="xs:string"/><xs:element minOccurs="0" name="PolicySubType" type="xs:string"/><xs:element minOccurs="0" ref="ns1:BusinessID"/><xs:element minOccurs="0" name="PolicyConfiguration" type="xs:string"/></xs:sequence></xs:complexType></xs:element>
</xs:schema>
    <xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:element name="category" nillable="true" type="rssCategory"/>
<xs:element name="channel" nillable="true" type="rssChannel"/>
<xs:element name="cloud" nillable="true" type="rssCloud"/>
<xs:element name="enclosure" nillable="true" type="rssEnclosure"/>
<xs:element name="guid" nillable="true" type="rssGuid"/>
<xs:element name="image" nillable="true" type="rssImage"/>
<xs:element name="item" nillable="true" type="rssItem"/>
<xs:element name="rss"><xs:complexType><xs:sequence><xs:element name="channel" type="rssChannel"/></xs:sequence><xs:attribute name="version" type="xs:string" use="required"/></xs:complexType></xs:element>
<xs:element name="skipDays" nillable="true" type="rssSkipDays"/>
<xs:element name="skipHours" nillable="true" type="rssSkipHours"/>
<xs:element name="source" nillable="true" type="rssSource"/>
<xs:element name="textInput" nillable="true" type="rssTextInput"/>
<xs:complexType name="rssCloud"><xs:sequence/><xs:attribute name="domain" type="xs:string" use="required"/><xs:attribute name="port" type="xs:int" use="required"/><xs:attribute name="path" type="xs:string" use="required"/><xs:attribute name="registerProcedure" type="xs:string" use="required"/><xs:attribute name="protocol" type="xs:string" use="required"/></xs:complexType>
<xs:complexType name="rssSkipHours"><xs:sequence><xs:element maxOccurs="unbounded" minOccurs="0" name="hour" nillable="true" type="xs:string"/></xs:sequence></xs:complexType>
<xs:complexType name="rssSkipDays"><xs:sequence><xs:element maxOccurs="unbounded" minOccurs="0" name="day" nillable="true" type="xs:string"/></xs:sequence></xs:complexType>
<xs:complexType name="rssChannel"><xs:all><xs:element name="title" type="xs:string"/><xs:element name="link" type="xs:anyURI"/><xs:element name="description" type="xs:string"/><xs:element minOccurs="0" name="language" type="xs:string"/><xs:element minOccurs="0" name="copyright" type="xs:string"/><xs:element minOccurs="0" name="managingEditor" type="xs:string"/><xs:element minOccurs="0" name="webMaster" type="xs:string"/><xs:element minOccurs="0" name="pubDate" type="xs:string"/><xs:element minOccurs="0" name="lastBuildDate" type="xs:string"/><xs:element maxOccurs="unbounded" minOccurs="0" name="category" nillable="true" type="rssCategory"/><xs:element minOccurs="0" name="generator" type="xs:string"/><xs:element minOccurs="0" name="docs" type="xs:anyURI"/><xs:element minOccurs="0" name="cloud" type="rssCloud"/><xs:element minOccurs="0" name="ttl" type="xs:int"/><xs:element minOccurs="0" name="image" type="rssImage"/><xs:element minOccurs="0" name="rating" type="xs:string"/><xs:element minOccurs="0" name="textInput" type="rssTextInput"/><xs:element minOccurs="0" name="skipHours" type="rssSkipHours"/><xs:element minOccurs="0" name="skipDays" type="rssSkipDays"/><xs:any maxOccurs="unbounded" minOccurs="0" namespace="##other" processContents="lax"/><xs:element maxOccurs="unbounded" minOccurs="0" name="item" nillable="true" type="rssItem"/></xs:all></xs:complexType>
<xs:complexType name="rssCategory"><xs:simpleContent><xs:extension base="xs:string"><xs:attribute name="domain" type="xs:string"/></xs:extension></xs:simpleContent></xs:complexType>
<xs:complexType name="rssImage"><xs:all><xs:element name="url" type="xs:string"/><xs:element name="title" type="xs:string"/><xs:element name="link" type="xs:anyURI"/><xs:element default="88" minOccurs="0" name="width" type="xs:int"/><xs:element default="31" minOccurs="0" name="height" type="xs:int"/><xs:element minOccurs="0" name="description" type="xs:string"/></xs:all></xs:complexType>
<xs:complexType name="rssTextInput"><xs:all><xs:element name="title" type="xs:string"/><xs:element name="description" type="xs:string"/><xs:element name="name" type="xs:string"/><xs:element name="link" type="xs:anyURI"/></xs:all></xs:complexType>
<xs:complexType name="rssSource"><xs:simpleContent><xs:extension base="xs:string"><xs:attribute name="url" type="xs:string" use="required"/></xs:extension></xs:simpleContent></xs:complexType>
<xs:complexType name="rssEnclosure"><xs:sequence/><xs:attribute name="url" type="xs:string" use="required"/><xs:attribute name="length" type="xs:string" use="required"/><xs:attribute name="type" type="xs:string" use="required"/></xs:complexType>
<xs:complexType name="rssGuid"><xs:simpleContent><xs:extension base="xs:string"><xs:attribute name="isPermaLink" type="xs:boolean"/></xs:extension></xs:simpleContent></xs:complexType>
<xs:complexType name="rssItem"><xs:all><xs:element minOccurs="0" name="title" type="xs:string"/><xs:element minOccurs="0" name="link" type="xs:anyURI"/><xs:element minOccurs="0" name="description" type="xs:string"/><xs:element minOccurs="0" name="author" type="xs:string"/><xs:element maxOccurs="unbounded" minOccurs="0" name="category" nillable="true" type="rssCategory"/><xs:element minOccurs="0" name="comments" type="xs:anyURI"/><xs:element minOccurs="0" name="enclosure" type="rssEnclosure"/><xs:element minOccurs="0" name="guid" type="rssGuid"/><xs:element name="pubDate" type="xs:string"/><xs:element minOccurs="0" name="source" type="rssSource"/><xs:any maxOccurs="unbounded" minOccurs="0" namespace="##other" processContents="lax"/></xs:all></xs:complexType>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="getPoliciesResponseMessage">
    <wsdl:part name="getPoliciesResponse" element="tns:rss">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="updatePolicyResponseMessage">
    <wsdl:part name="updatePolicyResponse" element="nms2:Policy">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getPoliciesListResponseMessage">
    <wsdl:part name="getPoliciesListResponse" element="nms2:Policies">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getPoliciesRequestMessage">
    <wsdl:part name="Type" type="xs:string">
    </wsdl:part>
    <wsdl:part name="BusinessID" type="xs:string">
    </wsdl:part>
    <wsdl:part name="IncludeInactivePolicies" type="xs:boolean">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getPoliciesListRequestMessage">
    <wsdl:part name="Type" type="xs:string">
    </wsdl:part>
    <wsdl:part name="BusinessID" type="xs:string">
    </wsdl:part>
    <wsdl:part name="IncludeInactivePolicies" type="xs:boolean">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="updatePolicyRequestMessage">
    <wsdl:part name="policyKey" type="xs:string">
    </wsdl:part>
    <wsdl:part name="PolicyConfiguration" type="xs:string">
    </wsdl:part>
    <wsdl:part name="Activate" type="xs:boolean">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="PolicyAPIPortType">
    <wsdl:operation name="getPolicies">
      <wsdl:input message="tns:getPoliciesRequestMessage">
    </wsdl:input>
      <wsdl:output message="tns:getPoliciesResponseMessage">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updatePolicy">
      <wsdl:input message="tns:updatePolicyRequestMessage">
    </wsdl:input>
      <wsdl:output message="tns:updatePolicyResponseMessage">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getPoliciesList">
      <wsdl:input message="tns:getPoliciesListRequestMessage">
    </wsdl:input>
      <wsdl:output message="tns:getPoliciesListResponseMessage">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="PolicyAPIBinding" type="tns:PolicyAPIPortType">
    <shttp:binding/>
    <wsdl:operation name="getPolicies">
<wsdl:documentation><sdoc:displayName xmlns:sdoc="http://soa.com/wsdl/doc">GET /policies</sdoc:displayName></wsdl:documentation>
    <shttp:operation inputSerialization="*/*" location="/policies" method="GET" outputSerialization="text/xml,application/json,application/vnd.soa.v71+json,application/vnd.soa.v72+json,application/vnd.soa.v80+json,application/vnd.soa.v71+xml,application/vnd.soa.v72+xml,application/vnd.soa.v80+xml,application/vnd.soa.v81+json,application/vnd.soa.v81+xml"/>
      <wsdl:input>
    <shttp:input name="Type" part="Type" type="query"/>
    <shttp:input name="BusinessID" part="BusinessID" type="query"/>
    <shttp:input name="IncludeInactivePolicies" part="IncludeInactivePolicies" type="query"/>
      </wsdl:input>
      <wsdl:output>
    <shttp:output name="getPoliciesResponse" part="getPoliciesResponse" type="entity"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updatePolicy">
<wsdl:documentation><sdoc:displayName xmlns:sdoc="http://soa.com/wsdl/doc">PUT /policies/{policyKey}</sdoc:displayName></wsdl:documentation>
    <shttp:operation inputSerialization="application/x-www-form-urlencoded" location="/policies/{policyKey}" method="PUT" outputSerialization="application/xml,application/vnd.soa.v80+xml,application/vnd.soa.v81+xml"/>
      <wsdl:input>
    <shttp:input name="policyKey" part="policyKey" type="path"/>
    <shttp:input name="PolicyConfiguration" part="PolicyConfiguration" type="form"/>
    <shttp:input name="Activate" part="Activate" type="form"/>
      </wsdl:input>
      <wsdl:output>
    <shttp:output name="updatePolicyResponse" part="updatePolicyResponse" type="entity"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getPoliciesList">
<wsdl:documentation><sdoc:displayName xmlns:sdoc="http://soa.com/wsdl/doc">GET /policies</sdoc:displayName></wsdl:documentation>
    <shttp:operation location="/policies" method="GET" outputSerialization="application/vnd.akana.v2020+json"/>
      <wsdl:input>
    <shttp:input name="Type" part="Type" type="query"/>
    <shttp:input name="BusinessID" part="BusinessID" type="query"/>
    <shttp:input name="IncludeInactivePolicies" part="IncludeInactivePolicies" type="query"/>
      </wsdl:input>
      <wsdl:output>
    <shttp:output name="getPoliciesListResponse" part="getPoliciesListResponse" type="entity"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PolicyAPI">
<wsdl:documentation><sdoc:title xmlns:sdoc="http://soa.com/wsdl/doc">Policy API</sdoc:title><sdoc:description xmlns:sdoc="http://soa.com/wsdl/doc"><![CDATA[<p>The Policies service supports managing the policies that govern API operation in the platform.</p>]]></sdoc:description></wsdl:documentation>
    <wsdl:port name="PolicyAPI_rest_port_http" binding="tns:PolicyAPIBinding">
    <shttp:address location="http://0.0.0.0/api"/>
    </wsdl:port>
    <wsdl:port name="PolicyAPI_rest_port_https" binding="tns:PolicyAPIBinding">
    <shttp:address location="https://0.0.0.0/api"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
