ag/assets/202010_api_plat/rest/api-platform/api-urn_com.soa.atmosphere.search.api-IndexAPI.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="urn:com.soa.atmosphere.search.api" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="urn:com.soa.atmosphere.search.api" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:nms1="http://soa.com/xsd/search/1.0" xmlns:shttp="http://soa.com/wsdl/http">
  <wsdl:types>
    <xs:schema elementFormDefault="qualified" targetNamespace="http://soa.com/xsd/search/1.0" version="1.0" xmlns:tns="http://soa.com/xsd/search/1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:element name="IndexEntries"><xs:complexType><xs:sequence><xs:element maxOccurs="unbounded" ref="tns:IndexEntry"/></xs:sequence></xs:complexType></xs:element>
<xs:element name="IndexEntry"><xs:complexType><xs:sequence><xs:element name="ObjectID" type="xs:string"/><xs:element name="ObjectType" type="xs:string"/></xs:sequence></xs:complexType></xs:element>
<xs:element name="IndexQueueState"><xs:complexType><xs:sequence><xs:element name="LocalIndexQueueSize" type="xs:int"/><xs:element name="FederationIndexQueueSize" type="xs:int"/></xs:sequence></xs:complexType></xs:element>
<xs:element name="IndexRequest"><xs:complexType><xs:sequence><xs:element ref="tns:IndexEntries"/><xs:element default="sync" minOccurs="0" name="Mode" type="xs:string"/><xs:element default="local" minOccurs="0" name="Target" type="xs:string"/><xs:element default="update" minOccurs="0" name="Action" type="xs:string"/></xs:sequence></xs:complexType></xs:element>
<xs:element name="IndexResponse"><xs:complexType><xs:sequence><xs:element name="Status" type="xs:string"/></xs:sequence></xs:complexType></xs:element>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="getIndexQueueStateRequestMessage">
  </wsdl:message>
  <wsdl:message name="indexRequestMessage">
    <wsdl:part name="parameter0" element="nms1:IndexRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getIndexQueueStateResponseMessage">
    <wsdl:part name="getIndexQueueStateResponse" element="nms1:IndexQueueState">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="indexResponseMessage">
    <wsdl:part name="indexResponse" element="nms1:IndexResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="IndexAPIPortType">
    <wsdl:operation name="getIndexQueueState">
      <wsdl:input message="tns:getIndexQueueStateRequestMessage">
    </wsdl:input>
      <wsdl:output message="tns:getIndexQueueStateResponseMessage">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="index">
      <wsdl:input message="tns:indexRequestMessage">
    </wsdl:input>
      <wsdl:output message="tns:indexResponseMessage">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="IndexAPIBinding" type="tns:IndexAPIPortType">
    <shttp:binding/>
    <wsdl:operation name="getIndexQueueState">
<wsdl:documentation><sdoc:displayName xmlns:sdoc="http://soa.com/wsdl/doc">GET /index/queue/state</sdoc:displayName></wsdl:documentation>
    <shttp:operation location="/index/queue/state" method="GET" outputSerialization="application/xml,application/json,application/vnd.soa.v71+json,application/vnd.soa.v72+json,application/vnd.soa.v80+json,application/vnd.soa.v71+xml,application/vnd.soa.v72+xml,application/vnd.soa.v80+xml"/>
      <wsdl:output>
    <shttp:output name="getIndexQueueStateResponse" part="getIndexQueueStateResponse" type="entity"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="index">
<wsdl:documentation><sdoc:displayName xmlns:sdoc="http://soa.com/wsdl/doc">POST /index</sdoc:displayName></wsdl:documentation>
    <shttp:operation inputSerialization="application/xml,application/json,application/vnd.soa.v71+json,application/vnd.soa.v72+json,application/vnd.soa.v80+json,application/vnd.soa.v71+xml,application/vnd.soa.v72+xml,application/vnd.soa.v80+xml" location="/index" method="POST" outputSerialization="application/xml,application/json,application/vnd.soa.v71+json,application/vnd.soa.v72+json,application/vnd.soa.v80+json,application/vnd.soa.v71+xml,application/vnd.soa.v72+xml,application/vnd.soa.v80+xml"/>
      <wsdl:input>
    <shttp:input name="parameter0" part="parameter0" type="entity"/>
      </wsdl:input>
      <wsdl:output>
    <shttp:output name="indexResponse" part="indexResponse" type="entity"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="IndexAPI">
<wsdl:documentation><sdoc:title xmlns:sdoc="http://soa.com/wsdl/doc">Index API</sdoc:title><sdoc:description xmlns:sdoc="http://soa.com/wsdl/doc"><![CDATA[<p>The Search Index service provides an interface for managing the Elasticsearch feature in the Akana API Platform.</p>]]></sdoc:description></wsdl:documentation>
    <wsdl:port name="IndexAPI_rest_port_http" binding="tns:IndexAPIBinding">
    <shttp:address location="http://0.0.0.0/api"/>
    </wsdl:port>
    <wsdl:port name="IndexAPI_rest_port_https" binding="tns:IndexAPIBinding">
    <shttp:address location="https://0.0.0.0/api"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
