ag/assets/0804_api_plat/restApiDocs/api-platform/api-urn_com.soa.dbnotification.impl-NotificationAPI.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="urn:com.soa.dbnotification.impl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="urn:com.soa.dbnotification.impl" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:nms1="http://soa.com/xsd/notification/1.0" xmlns:shttp="http://soa.com/wsdl/http">
  <wsdl:types>
    <xs:schema elementFormDefault="qualified" targetNamespace="http://soa.com/xsd/notification/1.0" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:element name="NotificationTypes"><xs:complexType><xs:sequence><xs:element maxOccurs="unbounded" minOccurs="0" name="NotificationType" type="xs:string"/></xs:sequence></xs:complexType></xs:element>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="getNotificationTypesResponseMessage">
    <wsdl:part name="getNotificationTypesResponse" element="nms1:NotificationTypes">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getNotificationTypesRequestMessage">
  </wsdl:message>
  <wsdl:portType name="NotificationAPIPortType">
    <wsdl:operation name="getNotificationTypes">
      <wsdl:input message="tns:getNotificationTypesRequestMessage">
    </wsdl:input>
      <wsdl:output message="tns:getNotificationTypesResponseMessage">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NotificationAPIBinding" type="tns:NotificationAPIPortType">
    <shttp:binding/>
    <wsdl:operation name="getNotificationTypes">
<wsdl:documentation><sdoc:displayName xmlns:sdoc="http://soa.com/wsdl/doc">GET /notifications/types</sdoc:displayName></wsdl:documentation>
    <shttp:operation inputSerialization="*/*" location="/notifications/types" method="GET" outputSerialization="application/json,application/vnd.soa.v71+json,application/vnd.soa.v72+json,application/vnd.soa.v80+json,application/vnd.soa.v81+json"/>
      <wsdl:output>
    <shttp:output name="getNotificationTypesResponse" part="getNotificationTypesResponse" type="entity"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="NotificationAPI">
<wsdl:documentation><sdoc:description xmlns:sdoc="http://soa.com/wsdl/doc"><![CDATA[<p>The Notification service provides operations for managing Dashboard and email notifications.</p>]]></sdoc:description></wsdl:documentation>
    <wsdl:port name="NotificationAPI_rest_port_http" binding="tns:NotificationAPIBinding">
    <shttp:address location="http://0.0.0.0/api"/>
    </wsdl:port>
    <wsdl:port name="NotificationAPI_rest_port_https" binding="tns:NotificationAPIBinding">
    <shttp:address location="https://0.0.0.0/api"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
