ag/assets/0804_api_plat/restApiDocs/api-platform/api-http___soa.com_wsdl_environment_1.0-AssetEnvironmentAPI.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://soa.com/wsdl/environment/1.0" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://soa.com/wsdl/environment/1.0" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:nms1="http://soa.com/xsd/environment/1.0" xmlns:shttp="http://soa.com/wsdl/http">
  <wsdl:types>
    <xs:schema elementFormDefault="qualified" targetNamespace="http://soa.com/xsd/environment/1.0" version="1.0" xmlns:tns="http://soa.com/xsd/environment/1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:element name="AssetEnvironments"><xs:complexType><xs:sequence><xs:element maxOccurs="unbounded" minOccurs="0" name="AssetEnvironment" type="tns:AssetEnvironment"/></xs:sequence></xs:complexType></xs:element>
<xs:complexType name="AssetEnvironment"><xs:sequence><xs:element minOccurs="0" name="AssetId" type="xs:string"/><xs:element minOccurs="0" name="AssetType" type="xs:string"/><xs:element minOccurs="0" name="EnvironmentName" type="xs:string"/><xs:element minOccurs="0" name="EnvironmentDisplayName" type="xs:string"/><xs:element minOccurs="0" name="Url" type="xs:anyURI"/><xs:element minOccurs="0" name="Status" type="xs:string"/><xs:element minOccurs="0" name="Version" type="xs:string"/><xs:element maxOccurs="unbounded" minOccurs="0" name="TargetEnvironments" type="tns:AssetEnvironment"/></xs:sequence></xs:complexType>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="promoteResponseMessage">
    <wsdl:part name="promoteResponse" type="nms1:AssetEnvironment">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getAssetEnvironmentsRequestMessage">
    <wsdl:part name="AssetID" type="xs:string">
    </wsdl:part>
    <wsdl:part name="AssetType" type="xs:string">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="promoteRequestMessage">
    <wsdl:part name="AssetID" type="xs:string">
    </wsdl:part>
    <wsdl:part name="parameter0" type="nms1:AssetEnvironment">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getAssetEnvironmentsResponseMessage">
    <wsdl:part name="getAssetEnvironmentsResponse" element="nms1:AssetEnvironments">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="AssetEnvironmentAPIPortType">
    <wsdl:operation name="promote">
      <wsdl:input message="tns:promoteRequestMessage">
    </wsdl:input>
      <wsdl:output message="tns:promoteResponseMessage">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAssetEnvironments">
      <wsdl:input message="tns:getAssetEnvironmentsRequestMessage">
    </wsdl:input>
      <wsdl:output message="tns:getAssetEnvironmentsResponseMessage">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="AssetEnvironmentAPIBinding" type="tns:AssetEnvironmentAPIPortType">
    <shttp:binding/>
    <wsdl:operation name="promote">
<wsdl:documentation><sdoc:displayName xmlns:sdoc="http://soa.com/wsdl/doc">POST /assetenvironments/{AssetID}</sdoc:displayName><sdoc:description xmlns:sdoc="http://soa.com/wsdl/doc"><![CDATA[<p>Promotes the given asset to the next environment.</p>
<h4>Request:</h4>
<pre><code>POST /assetenvironments/2211616d-6252-4c82-8563-b668b21b70b2.atmosphere HTTP/1.1
Content-Type: application/json
{
    "AssetType" : "API",
    "EnvironmentName" : "QA"
}
</code></pre>
<h4>Response:</h4>
<pre><code>HTTP/1.1 200 OK

{
  "AssetType" : "API",
  "EnvironmentName" : "Staging",
  "Url" : "http://abc.com/s",
  "Status" : "Promoted"
}
</code></pre>]]></sdoc:description></wsdl:documentation>
    <shttp:operation inputSerialization="application/json,application/xml,application/vnd.soa.v84+json,application/vnd.soa.v84+xml" location="/assetenvironments/{AssetID}" method="POST" outputSerialization="application/json,application/xml,application/vnd.soa.v84+json,application/vnd.soa.v84+xml"/>
      <wsdl:input>
    <shttp:input name="AssetID" part="AssetID" type="path"><wsdl:documentation><sdoc:description xmlns:sdoc="http://soa.com/wsdl/doc"><![CDATA[The asset Id.]]></sdoc:description><sdoc:required xmlns:sdoc="http://soa.com/wsdl/doc">false</sdoc:required><sdoc:multiple xmlns:sdoc="http://soa.com/wsdl/doc">false</sdoc:multiple></wsdl:documentation></shttp:input>
    <shttp:input name="parameter0" part="parameter0" type="entity"/>
      </wsdl:input>
      <wsdl:output>
    <shttp:output name="promoteResponse" part="promoteResponse" type="entity"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAssetEnvironments">
<wsdl:documentation><sdoc:displayName xmlns:sdoc="http://soa.com/wsdl/doc">GET /assetenvironments/{AssetID}</sdoc:displayName><sdoc:description xmlns:sdoc="http://soa.com/wsdl/doc"><![CDATA[<p>Returns the asset environments for the given asset FDN</p>
<h4>Request:</h4>
<pre><code>GET /assetenvironments/8ec423b6-9b1f-4491-aef3-e787f85fce3e.atmosphere?AssetType=API HTTP/1.1
Accept: application/json
</code></pre>
<h4>Response:</h4>
<pre><code>HTTP/1.1 200 OK


{
  "AssetEnvironment" : [ {
    "AssetType" : "API",
    "EnvironmentName" : "Development",
    "Url" : "http://abc.com/d",
    "Status" : "Promoted"
  }, {
    "AssetType" : "API",
    "EnvironmentName" : "QA",
    "Url" : "http://abc.com/q",
    "Status" : "Promoted"
  }, {
    "AssetType" : "API",
    "EnvironmentName" : "Staging",
    "Url" : "http://abc.com/s",
    "Status" : "Not Promoted"
  } ]
}
</code></pre>]]></sdoc:description></wsdl:documentation>
    <shttp:operation location="/assetenvironments/{AssetID}" method="GET" outputSerialization="application/json,application/xml,application/vnd.soa.v84+json,application/vnd.soa.v84+xml"/>
      <wsdl:input>
    <shttp:input name="AssetID" part="AssetID" type="path"><wsdl:documentation><sdoc:description xmlns:sdoc="http://soa.com/wsdl/doc"><![CDATA[The asset's Id.]]></sdoc:description><sdoc:required xmlns:sdoc="http://soa.com/wsdl/doc">false</sdoc:required><sdoc:multiple xmlns:sdoc="http://soa.com/wsdl/doc">false</sdoc:multiple></wsdl:documentation></shttp:input>
    <shttp:input name="AssetType" part="AssetType" type="query"><wsdl:documentation><sdoc:description xmlns:sdoc="http://soa.com/wsdl/doc"><![CDATA[The asset type]]></sdoc:description><sdoc:required xmlns:sdoc="http://soa.com/wsdl/doc">true</sdoc:required><sdoc:multiple xmlns:sdoc="http://soa.com/wsdl/doc">false</sdoc:multiple></wsdl:documentation></shttp:input>
      </wsdl:input>
      <wsdl:output>
    <shttp:output name="getAssetEnvironmentsResponse" part="getAssetEnvironmentsResponse" type="entity"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AssetEnvironmentAPI">
<wsdl:documentation><sdoc:title xmlns:sdoc="http://soa.com/wsdl/doc">Asset Environment API</sdoc:title><sdoc:version xmlns:sdoc="http://soa.com/wsdl/doc">8.4.0</sdoc:version><sdoc:vendor xmlns:sdoc="http://soa.com/wsdl/doc">Rogue Wave Software</sdoc:vendor><sdoc:description xmlns:sdoc="http://soa.com/wsdl/doc"><![CDATA[<p>The Asset Environment service provides operations for managing the promotion of assets to different environments.</p>]]></sdoc:description></wsdl:documentation>
    <wsdl:port name="AssetEnvironmentAPI_rest_port_https" binding="tns:AssetEnvironmentAPIBinding">
    <shttp:address location="https://0.0.0.0/api"/>
    </wsdl:port>
    <wsdl:port name="AssetEnvironmentAPI_rest_port_http" binding="tns:AssetEnvironmentAPIBinding">
    <shttp:address location="http://0.0.0.0/api"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
