ag/assets/202010_api_plat/api-http___soa.com_uri_products_domainadmin_wsdl_1.0-DomainMgmtService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://soa.com/uri/products/domainadmin/wsdl/1.0" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://soa.com/uri/products/domainadmin/wsdl/1.0" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:nms1="http://digev.com/uri/products/PolicyManager/xsd/1.0" xmlns:shttp="http://soa.com/wsdl/http">
  <wsdl:types>
    <xs:schema elementFormDefault="qualified" targetNamespace="http://digev.com/uri/products/PolicyManager/xsd/1.0" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:complexType name="Domain"><xs:sequence><xs:element name="DomainName" type="xs:string"/><xs:element minOccurs="0" name="DomainDescription" type="xs:string"/><xs:element minOccurs="0" name="Sequence" type="xs:int"/><xs:element name="IdentitySystemType" type="xs:string"/><xs:element name="ModuleClassName" type="xs:string"/><xs:element minOccurs="0" name="LastUpdatedDts" type="xs:dateTime"/><xs:element minOccurs="0" name="ConnectorName" type="xs:string"/><xs:element minOccurs="0" name="ConnectorConfiguration" type="xs:base64Binary"/><xs:element minOccurs="0" name="OrganizationScope" type="xs:string"/></xs:sequence><xs:attribute name="SupportsInteractiveLogin" type="xs:boolean"/><xs:attribute name="SupportsWsLogin" type="xs:boolean"/><xs:attribute name="SupportsAuthorization" type="xs:boolean"/><xs:attribute name="SupportsIdentityBrowsing" type="xs:boolean"/><xs:attribute name="SupportsLoginProcess" type="xs:boolean"/></xs:complexType>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="modifyDomainRequestMessage">
    <wsdl:part name="domainName" type="xs:string">
    </wsdl:part>
    <wsdl:part name="parameter0" type="nms1:Domain">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="deleteDomainRequestMessage">
    <wsdl:part name="domainName" type="xs:string">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="modifyDomainResponseMessage">
    <wsdl:part name="modifyDomainResponse" type="nms1:Domain">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="addDomainRequestMessage">
    <wsdl:part name="parameter0" type="nms1:Domain">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getDomainRequestMessage">
    <wsdl:part name="domainName" type="xs:string">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="addDomainResponseMessage">
    <wsdl:part name="addDomainResponse" type="nms1:Domain">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="deleteDomainResponseMessage">
  </wsdl:message>
  <wsdl:message name="getDomainResponseMessage">
    <wsdl:part name="getDomainResponse" type="nms1:Domain">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="DomainMgmtRESTPortType">
    <wsdl:operation name="deleteDomain">
      <wsdl:input message="tns:deleteDomainRequestMessage">
    </wsdl:input>
      <wsdl:output message="tns:deleteDomainResponseMessage">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="modifyDomain">
      <wsdl:input message="tns:modifyDomainRequestMessage">
    </wsdl:input>
      <wsdl:output message="tns:modifyDomainResponseMessage">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addDomain">
      <wsdl:input message="tns:addDomainRequestMessage">
    </wsdl:input>
      <wsdl:output message="tns:addDomainResponseMessage">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getDomain">
      <wsdl:input message="tns:getDomainRequestMessage">
    </wsdl:input>
      <wsdl:output message="tns:getDomainResponseMessage">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="DomainMgmtRESTBinding" type="tns:DomainMgmtRESTPortType">
    <shttp:binding/>
    <wsdl:operation name="deleteDomain">
<wsdl:documentation><sdoc:displayName xmlns:sdoc="http://soa.com/wsdl/doc">DELETE /domains/{domainName}</sdoc:displayName><sdoc:summary xmlns:sdoc="http://soa.com/wsdl/doc"><![CDATA[Delete a domain]]></sdoc:summary><sdoc:response code="200" xmlns:sdoc="http://soa.com/wsdl/doc"><sdoc:description><![CDATA[Success]]></sdoc:description></sdoc:response><sdoc:response code="404" xmlns:sdoc="http://soa.com/wsdl/doc"><sdoc:description><![CDATA[Specified domain not found (Invalid domain name)]]></sdoc:description></sdoc:response><sdoc:response code="500" xmlns:sdoc="http://soa.com/wsdl/doc"><sdoc:description><![CDATA[Internal error trying to delete the domain]]></sdoc:description></sdoc:response><sdoc:description xmlns:sdoc="http://soa.com/wsdl/doc"><![CDATA[<p>Delete a domain.</p>
<h4>Request</h4>
<pre><code>DELETE /rest/domains/LDAP1 HTTP/1.1
</code></pre>
<h4>Response</h4>
<pre><code>HTTP/1.1 200 OK
</code></pre>]]></sdoc:description></wsdl:documentation>
    <shttp:operation location="/domains/{domainName}" method="DELETE"/>
      <wsdl:input>
    <shttp:input name="domainName" part="domainName" type="path"><wsdl:documentation><sdoc:description xmlns:sdoc="http://soa.com/wsdl/doc"><![CDATA[Name of the domain.]]></sdoc:description><sdoc:required xmlns:sdoc="http://soa.com/wsdl/doc">false</sdoc:required><sdoc:multiple xmlns:sdoc="http://soa.com/wsdl/doc">false</sdoc:multiple></wsdl:documentation></shttp:input>
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="modifyDomain">
<wsdl:documentation><sdoc:displayName xmlns:sdoc="http://soa.com/wsdl/doc">POST /domains/{domainName}</sdoc:displayName><sdoc:summary xmlns:sdoc="http://soa.com/wsdl/doc"><![CDATA[Modify a domain]]></sdoc:summary><sdoc:response code="200" xmlns:sdoc="http://soa.com/wsdl/doc"><sdoc:description><![CDATA[Success]]></sdoc:description></sdoc:response><sdoc:response code="404" xmlns:sdoc="http://soa.com/wsdl/doc"><sdoc:description><![CDATA[Specified domain not found (Invalid domain name)]]></sdoc:description></sdoc:response><sdoc:response code="500" xmlns:sdoc="http://soa.com/wsdl/doc"><sdoc:description><![CDATA[Internal error retrieving the domain]]></sdoc:description></sdoc:response><sdoc:description xmlns:sdoc="http://soa.com/wsdl/doc"><![CDATA[<p>Modify a domain.</p>
<h4>Request</h4>
<pre><code>POST /rest/domains/LDAP1 HTTP/1.1
{
    "DomainName" : "LDAP1",
    "DomainDescription" : "My LDAP domain",
    "IdentitySystemType" : "Directory Server",
    "ModuleClassName" : "com.soa.security.provider.ldap.LDAPSecurityProvider",
    "LastUpdatedDts" : "2015-12-09T02:40:25Z",
    "ConnectorName" : "33c9d1fe-9e1e-11e5-ae49-c39bdb8021bb",
    "ConnectorConfiguration" : "I0RvbWFpbiBwdXsZGFwLmdyb3VwLlRhcC5ihS5sZG29...",
    "OrganizationScope" : "uddi:soa.com:registryorganization",
    "SupportsInteractiveLogin" : true,
    "SupportsWsLogin" : true,
    "SupportsAuthorization" : false,
    "SupportsIdentityBrowsing" : true,
    "SupportsLoginProcess" : true
}
</code></pre>
<h4>Response</h4>
<pre><code>HTTP/1.1 200 OK
{
    "DomainName" : "LDAP1",
    "DomainDescription" : "My LDAP domain",
    "IdentitySystemType" : "Directory Server",
    "ModuleClassName" : "com.soa.security.provider.ldap.LDAPSecurityProvider",
    "LastUpdatedDts" : "2015-12-09T02:40:25Z",
    "ConnectorName" : "33c9d1fe-9e1e-11e5-ae49-c39bdb8021bb",
    "ConnectorConfiguration" : "I0RvbWFpbiBwdXsZGFwLmdyb3VwLlRhcC5ihS5sZG29...",
    "OrganizationScope" : "uddi:soa.com:registryorganization",
    "SupportsInteractiveLogin" : true,
    "SupportsWsLogin" : true,
    "SupportsAuthorization" : false,
    "SupportsIdentityBrowsing" : true,
    "SupportsLoginProcess" : true
}
</code></pre>]]></sdoc:description></wsdl:documentation>
    <shttp:operation inputSerialization="application/xml,application/json" location="/domains/{domainName}" method="POST" outputSerialization="application/xml,application/json"/>
      <wsdl:input>
    <shttp:input name="domainName" part="domainName" type="path"><wsdl:documentation><sdoc:description xmlns:sdoc="http://soa.com/wsdl/doc"><![CDATA[Name of the domain.]]></sdoc:description><sdoc:required xmlns:sdoc="http://soa.com/wsdl/doc">false</sdoc:required><sdoc:multiple xmlns:sdoc="http://soa.com/wsdl/doc">false</sdoc:multiple></wsdl:documentation></shttp:input>
    <shttp:input name="parameter0" part="parameter0" type="entity"><wsdl:documentation><sdoc:description xmlns:sdoc="http://soa.com/wsdl/doc"><![CDATA[New domain information.]]></sdoc:description><sdoc:required xmlns:sdoc="http://soa.com/wsdl/doc">false</sdoc:required><sdoc:multiple xmlns:sdoc="http://soa.com/wsdl/doc">false</sdoc:multiple></wsdl:documentation></shttp:input>
      </wsdl:input>
      <wsdl:output>
    <shttp:output name="modifyDomainResponse" part="modifyDomainResponse" type="entity"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addDomain">
<wsdl:documentation><sdoc:displayName xmlns:sdoc="http://soa.com/wsdl/doc">POST /domains</sdoc:displayName><sdoc:summary xmlns:sdoc="http://soa.com/wsdl/doc"><![CDATA[Add a domain]]></sdoc:summary><sdoc:response code="200" xmlns:sdoc="http://soa.com/wsdl/doc"><sdoc:description><![CDATA[Success]]></sdoc:description></sdoc:response><sdoc:response code="500" xmlns:sdoc="http://soa.com/wsdl/doc"><sdoc:description><![CDATA[Internal error trying to create the domain]]></sdoc:description></sdoc:response><sdoc:description xmlns:sdoc="http://soa.com/wsdl/doc"><![CDATA[<p>Add a domain.</p>
<h4>Request</h4>
<pre><code>POST /rest/domains HTTP/1.1
Content-Type: application/json

{
    "DomainName" : "LDAP1",
    "DomainDescription" : "My LDAP domain",
    "IdentitySystemType" : "Directory Server",
    "ModuleClassName" : "com.soa.security.provider.ldap.LDAPSecurityProvider",
    "LastUpdatedDts" : "2015-12-09T02:40:25Z",
    "ConnectorName" : "33c9d1fe-9e1e-11e5-ae49-c39bdb8021bb",
    "ConnectorConfiguration" : "I0RvbWFpbiBwdXsZGFwLmdyb3VwLlRhcC5ihS5sZG29...",
    "OrganizationScope" : "uddi:soa.com:registryorganization",
    "SupportsInteractiveLogin" : true,
    "SupportsWsLogin" : true,
    "SupportsAuthorization" : false,
    "SupportsIdentityBrowsing" : true,
    "SupportsLoginProcess" : true
}
</code></pre>
<h4>Response</h4>
<pre><code>HTTP/1.1 200 OK
{
    "DomainName" : "LDAP1",
    "DomainDescription" : "My LDAP domain",
    "IdentitySystemType" : "Directory Server",
    "ModuleClassName" : "com.soa.security.provider.ldap.LDAPSecurityProvider",
    "LastUpdatedDts" : "2015-12-09T02:40:25Z",
    "ConnectorName" : "33c9d1fe-9e1e-11e5-ae49-c39bdb8021bb",
    "ConnectorConfiguration" : "I0RvbWFpbiBwdXsZGFwLmdyb3VwLlRhcC5ihS5sZG29...",
    "OrganizationScope" : "uddi:soa.com:registryorganization",
    "SupportsInteractiveLogin" : true,
    "SupportsWsLogin" : true,
    "SupportsAuthorization" : false,
    "SupportsIdentityBrowsing" : true,
    "SupportsLoginProcess" : true
}
</code></pre>]]></sdoc:description></wsdl:documentation>
    <shttp:operation inputSerialization="application/xml,application/json" location="/domains" method="POST" outputSerialization="application/xml,application/json"/>
      <wsdl:input>
    <shttp:input name="parameter0" part="parameter0" type="entity"><wsdl:documentation><sdoc:description xmlns:sdoc="http://soa.com/wsdl/doc"><![CDATA[New domain information.]]></sdoc:description><sdoc:required xmlns:sdoc="http://soa.com/wsdl/doc">false</sdoc:required><sdoc:multiple xmlns:sdoc="http://soa.com/wsdl/doc">false</sdoc:multiple></wsdl:documentation></shttp:input>
      </wsdl:input>
      <wsdl:output>
    <shttp:output name="addDomainResponse" part="addDomainResponse" type="entity"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getDomain">
<wsdl:documentation><sdoc:displayName xmlns:sdoc="http://soa.com/wsdl/doc">GET /domains/{domainName}</sdoc:displayName><sdoc:summary xmlns:sdoc="http://soa.com/wsdl/doc"><![CDATA[Get domain details]]></sdoc:summary><sdoc:response code="200" xmlns:sdoc="http://soa.com/wsdl/doc"><sdoc:description><![CDATA[Success]]></sdoc:description></sdoc:response><sdoc:response code="404" xmlns:sdoc="http://soa.com/wsdl/doc"><sdoc:description><![CDATA[Specified domain not found (Invalid domain name)]]></sdoc:description></sdoc:response><sdoc:response code="500" xmlns:sdoc="http://soa.com/wsdl/doc"><sdoc:description><![CDATA[Internal error trying to retrieve the domain]]></sdoc:description></sdoc:response><sdoc:description xmlns:sdoc="http://soa.com/wsdl/doc"><![CDATA[<p>Retrieves a domain's configuration.</p>
<h4>Request</h4>
<pre><code>GET /rest/domains/Local%20Domain HTTP/1.1
</code></pre>
<h4>Response</h4>
<pre><code>HTTP/1.1 200 OK
{
    "DomainName" : "Local Domain",
    "DomainDescription" : "Domain for local Policy Manager users",
    "IdentitySystemType" : "Policy Manager",
    "ModuleClassName" : "com.soa.security.provider.pm.PMSecurityModuleProvider",
    "LastUpdatedDts" : "2015-12-09T02:40:25Z",
    "SupportsInteractiveLogin" : true,
    "SupportsWsLogin" : true,
    "SupportsAuthorization" : true,
    "SupportsIdentityBrowsing" : true,
    "SupportsLoginProcess" : false
}
</code></pre>]]></sdoc:description></wsdl:documentation>
    <shttp:operation location="/domains/{domainName}" method="GET" outputSerialization="application/xml,application/json"/>
      <wsdl:input>
    <shttp:input name="domainName" part="domainName" type="path"><wsdl:documentation><sdoc:description xmlns:sdoc="http://soa.com/wsdl/doc"><![CDATA[Name of the domain.]]></sdoc:description><sdoc:required xmlns:sdoc="http://soa.com/wsdl/doc">false</sdoc:required><sdoc:multiple xmlns:sdoc="http://soa.com/wsdl/doc">false</sdoc:multiple></wsdl:documentation></shttp:input>
      </wsdl:input>
      <wsdl:output>
    <shttp:output name="getDomainResponse" part="getDomainResponse" type="entity"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DomainMgmtService">
<wsdl:documentation><sdoc:description xmlns:sdoc="http://soa.com/wsdl/doc"><![CDATA[This API is used to manage PM security domains, or identity systems.]]></sdoc:description><sdoc:title xmlns:sdoc="http://soa.com/wsdl/doc">Domain (Identity System) Management API</sdoc:title><sdoc:version xmlns:sdoc="http://soa.com/wsdl/doc">8.5.0</sdoc:version><sdoc:vendor xmlns:sdoc="http://soa.com/wsdl/doc">Akana</sdoc:vendor></wsdl:documentation>
    <wsdl:port name="DomainMgmtService_rest_port_https" binding="tns:DomainMgmtRESTBinding">
    <shttp:address location="https://0.0.0.0/rest"/>
    </wsdl:port>
    <wsdl:port name="DomainMgmtService_rest_port_http" binding="tns:DomainMgmtRESTBinding">
    <shttp:address location="http://0.0.0.0/rest"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
