ag/assets/previous_api_plat/rest/api-platform/api-urn_com.akana.model.api-ModelAPI.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="urn:com.akana.model.api" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="urn:com.akana.model.api" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:nms3="http://soa.com/xsd/workflow/1.0" xmlns:nms2="http://soa.com/xsd/dnmodel/1.0" xmlns:nms1="http://soa.com/xsd/schema/1.0" xmlns:shttp="http://soa.com/wsdl/http">
  <wsdl:types>
    <xs:schema elementFormDefault="qualified" targetNamespace="http://soa.com/xsd/dnmodel/1.0" version="1.0" xmlns:tns="http://soa.com/xsd/dnmodel/1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:element name="Image"><xs:complexType><xs:all><xs:element name="Url" type="xs:anyURI"/><xs:element name="Title" type="xs:string"/><xs:element name="Link" type="xs:anyURI"/><xs:element minOccurs="0" name="Description" type="xs:string"/></xs:all></xs:complexType></xs:element>
<xs:element name="Links"><xs:complexType><xs:sequence><xs:element name="rel" type="xs:string"/><xs:element name="href" type="xs:string"/><xs:element minOccurs="0" name="type" type="xs:string"/><xs:element minOccurs="0" name="title" type="xs:string"/></xs:sequence></xs:complexType></xs:element>
<xs:element name="TargetResource"><xs:complexType><xs:sequence><xs:element minOccurs="0" name="Name" type="xs:string"/><xs:element minOccurs="0" name="ID" type="xs:string"/><xs:element minOccurs="0" name="Type" type="xs:string"/><xs:element minOccurs="0" name="Avatar" type="xs:string"/><xs:element minOccurs="0" ref="tns:Image"/><xs:element minOccurs="0" name="Visibility" type="xs:string"/><xs:element default="false" minOccurs="0" name="IsResourceLevelPermissionSupported" type="xs:boolean"/></xs:sequence></xs:complexType></xs:element>
<xs:element name="TargetResources"><xs:complexType><xs:sequence><xs:element maxOccurs="unbounded" minOccurs="0" ref="tns:TargetResource"/></xs:sequence></xs:complexType></xs:element>
</xs:schema>
    <xs:schema targetNamespace="http://soa.com/xsd/business/1.0" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:element name="BusinessID" type="xs:string"/>
</xs:schema>
    <xs:schema targetNamespace="http://soa.com/xsd/user/1.0" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:element name="UserID" type="xs:string"/>
</xs:schema>
    <xs:schema elementFormDefault="qualified" targetNamespace="http://soa.com/xsd/schema/1.0" version="1.0" xmlns:ns1="http://soa.com/xsd/dnmodel/1.0" xmlns:ns2="http://soa.com/xsd/workflow/1.0" xmlns:ns3="http://soa.com/xsd/business/1.0" xmlns:tns="http://soa.com/xsd/schema/1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:import namespace="http://soa.com/xsd/dnmodel/1.0"/>
<xs:import namespace="http://soa.com/xsd/workflow/1.0"/>
<xs:import namespace="http://soa.com/xsd/business/1.0"/>
<xs:element name="AddModelRequest"><xs:complexType><xs:sequence><xs:element minOccurs="0" ref="ns3:BusinessID"/><xs:element minOccurs="0" name="Name" type="xs:string"/><xs:element minOccurs="0" name="Description" type="xs:string"/><xs:element minOccurs="0" name="Summary" type="xs:string"/><xs:element maxOccurs="unbounded" minOccurs="0" name="Tags" type="xs:string"/><xs:element minOccurs="0" name="Visibility" type="xs:string"/><xs:element minOccurs="0" name="ModelCategory" type="xs:string"/><xs:element minOccurs="0" name="VersionName" type="xs:string"/><xs:element minOccurs="0" name="VersionDescription" type="xs:string"/><xs:element minOccurs="0" ref="tns:SchemaDocumentReference"/></xs:sequence></xs:complexType></xs:element>
<xs:element name="AddModelVersionRequest"><xs:complexType><xs:sequence><xs:element minOccurs="0" ref="ns3:BusinessID"/><xs:element minOccurs="0" name="VersionName" type="xs:string"/><xs:element minOccurs="0" name="VersionDescription" type="xs:string"/><xs:element maxOccurs="unbounded" minOccurs="0" name="Tags" type="xs:string"/><xs:element minOccurs="0" name="Visibility" type="xs:string"/><xs:element minOccurs="0" name="SourceModelVersionID" type="xs:string"/></xs:sequence></xs:complexType></xs:element>
<xs:element name="Model"><xs:complexType><xs:sequence><xs:element name="ModelID" type="xs:string"/><xs:element name="Name" type="xs:string"/><xs:element minOccurs="0" name="Description" type="xs:string"/><xs:element minOccurs="0" name="Summary" type="xs:string"/><xs:element minOccurs="0" name="ModelCategory" type="xs:string"/><xs:element minOccurs="0" name="LatestVersionID" type="xs:string"/><xs:element maxOccurs="unbounded" minOccurs="0" name="Tag" type="xs:string"/><xs:element minOccurs="0" name="Visibility" type="xs:string"/><xs:element minOccurs="0" name="Created" type="xs:dateTime"/><xs:element minOccurs="0" name="Updated" type="xs:dateTime"/><xs:element minOccurs="0" name="State" type="xs:string"/><xs:element minOccurs="0" ref="ns3:BusinessID"/><xs:element maxOccurs="unbounded" minOccurs="0" ref="ns1:Links"/><xs:element minOccurs="0" ref="tns:ModelVersion"/><xs:element minOccurs="0" ref="tns:ModelVersions"/><xs:element minOccurs="0" ref="ns1:TargetResources"/></xs:sequence></xs:complexType></xs:element>
<xs:element name="ModelReferences"><xs:complexType><xs:sequence><xs:element maxOccurs="unbounded" minOccurs="0" ref="tns:ModelVersion"/></xs:sequence></xs:complexType></xs:element>
<xs:element name="ModelVersion"><xs:complexType><xs:sequence><xs:element name="ModelVersionID" type="xs:string"/><xs:element minOccurs="0" name="ModelID" type="xs:string"/><xs:element minOccurs="0" name="Name" type="xs:string"/><xs:element minOccurs="0" name="Description" type="xs:string"/><xs:element maxOccurs="unbounded" minOccurs="0" name="Tag" type="xs:string"/><xs:element minOccurs="0" name="Visibility" type="xs:string"/><xs:element minOccurs="0" name="Created" type="xs:dateTime"/><xs:element minOccurs="0" name="Updated" type="xs:dateTime"/><xs:element minOccurs="0" name="State" type="xs:string"/><xs:element minOccurs="0" name="Schema" type="xs:string"/><xs:element minOccurs="0" ref="tns:ModelReferences"/><xs:element maxOccurs="unbounded" minOccurs="0" ref="ns1:Links"/><xs:element maxOccurs="unbounded" minOccurs="0" ref="ns2:Action"/><xs:element minOccurs="0" ref="ns1:TargetResources"/></xs:sequence></xs:complexType></xs:element>
<xs:element name="ModelVersions"><xs:complexType><xs:sequence><xs:element maxOccurs="unbounded" minOccurs="0" ref="tns:ModelVersion"/></xs:sequence></xs:complexType></xs:element>
<xs:element name="SchemaDocumentReference"><xs:complexType><xs:sequence><xs:element name="DropboxFileId" type="xs:long"/><xs:element name="FileName" type="xs:string"/><xs:element maxOccurs="unbounded" minOccurs="0" ref="tns:SchemaImports"/><xs:element minOccurs="0" name="RequireModelName" type="xs:boolean"/></xs:sequence></xs:complexType></xs:element>
<xs:element name="SchemaImports"><xs:complexType><xs:sequence><xs:element name="Name" type="xs:string"/><xs:element default="false" name="AddToLibrary" type="xs:boolean"/><xs:element maxOccurs="unbounded" minOccurs="0" ref="tns:SchemaImports"/></xs:sequence></xs:complexType></xs:element>
</xs:schema>
    <xs:schema elementFormDefault="qualified" targetNamespace="http://soa.com/xsd/workflow/1.0" version="1.0" xmlns:ns1="http://soa.com/xsd/user/1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:import namespace="http://soa.com/xsd/user/1.0"/>
<xs:element name="Action"><xs:complexType><xs:sequence><xs:element ref="ns1:UserID"/><xs:element name="ActionName" type="xs:string"/><xs:element minOccurs="0" name="Comments" type="xs:string"/><xs:element minOccurs="0" name="Parameters"><xs:complexType><xs:sequence><xs:element maxOccurs="unbounded" minOccurs="0" ref="ns2:ActionParameter" xmlns:ns2="http://soa.com/xsd/workflow/1.0"/></xs:sequence></xs:complexType></xs:element></xs:sequence></xs:complexType></xs:element>
<xs:element name="ActionParameter"><xs:complexType><xs:sequence><xs:element name="Name" type="xs:string"/><xs:element minOccurs="0" name="Value" type="xs:string"/></xs:sequence></xs:complexType></xs:element>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="getSchemaRequestMessage">
    <wsdl:part name="ModelVersionID" type="xs:string">
    </wsdl:part>
    <wsdl:part name="resolveReferences" type="xs:boolean">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="deleteSchemaRequestMessage">
    <wsdl:part name="ModelVersionID" type="xs:string">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getImageResponseMessage">
  </wsdl:message>
  <wsdl:message name="updateSchemaRequestMessage">
    <wsdl:part name="ModelVersionID" type="xs:string">
    </wsdl:part>
    <wsdl:part name="parameter0" type="xs:string">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="updateVersionDetailsResponseMessage">
    <wsdl:part name="updateVersionDetailsResponse" element="nms1:ModelVersion">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getVersionResponseMessage">
    <wsdl:part name="getVersionResponse" element="nms1:ModelVersion">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="updateModelRequestMessage">
    <wsdl:part name="ModelID" type="xs:string">
    </wsdl:part>
    <wsdl:part name="parameter0" element="nms1:Model">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="updateVersionDetailsRequestMessage">
    <wsdl:part name="ModelVersionID" type="xs:string">
    </wsdl:part>
    <wsdl:part name="parameter0" element="nms1:ModelVersion">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="deleteSchemaResponseMessage">
    <wsdl:part element="xs:any">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getDefaultVersionedAvatarRequestMessage">
    <wsdl:part name="version" type="xs:string">
    </wsdl:part>
    <wsdl:part name="Extension" type="xs:string">
    </wsdl:part>
    <wsdl:part name="size" type="xs:integer">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="deleteModelRequestMessage">
    <wsdl:part name="ModelID" type="xs:string">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="deleteVersionRequestMessage">
    <wsdl:part name="ModelVersionID" type="xs:string">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getSchemaResponseMessage">
    <wsdl:part name="getSchemaResponse" type="xs:string">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getVersionRequestMessage">
    <wsdl:part name="ModelVersionID" type="xs:string">
    </wsdl:part>
    <wsdl:part name="includeSchema" type="xs:boolean">
    </wsdl:part>
    <wsdl:part name="includeReferences" type="xs:boolean">
    </wsdl:part>
    <wsdl:part name="includeTags" type="xs:boolean">
    </wsdl:part>
    <wsdl:part name="includeActions" type="xs:boolean">
    </wsdl:part>
    <wsdl:part name="includeTargetResources" type="xs:boolean">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getModelRequestMessage">
    <wsdl:part name="ModelID" type="xs:string">
    </wsdl:part>
    <wsdl:part name="includeVersions" type="xs:boolean">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getAvatarRequestMessage">
    <wsdl:part name="ID" type="xs:string">
    </wsdl:part>
    <wsdl:part name="version" type="xs:string">
    </wsdl:part>
    <wsdl:part name="size" type="xs:integer">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="executeWorkflowActionResponseMessage">
    <wsdl:part name="executeWorkflowActionResponse" type="xs:string">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="updateSchemaResponseMessage">
    <wsdl:part name="updateSchemaResponse" element="nms1:ModelVersion">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="executeWorkflowActionRequestMessage">
    <wsdl:part name="ModelVersionID" type="xs:string">
    </wsdl:part>
    <wsdl:part name="parameter0" element="nms3:Action">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getDefaultAvatarResponseMessage">
  </wsdl:message>
  <wsdl:message name="createModelResponseMessage">
    <wsdl:part element="xs:any">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getAvatarResponseMessage">
  </wsdl:message>
  <wsdl:message name="updateModelResponseMessage">
    <wsdl:part name="updateModelResponse" element="nms1:Model">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="readFileDetailsRequestMessage">
    <wsdl:part name="parameter0" type="tns:BufferedInMultiPart">
    </wsdl:part>
    <wsdl:part name="FileName" type="xs:string">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="createVersionResponseMessage">
    <wsdl:part name="createVersionResponse" element="nms1:ModelVersion">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getModelResponseMessage">
    <wsdl:part name="getModelResponse" element="nms1:Model">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="deleteImageResponseMessage">
    <wsdl:part element="xs:any">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="createVersionRequestMessage">
    <wsdl:part name="ModelID" type="xs:string">
    </wsdl:part>
    <wsdl:part name="parameter0" element="nms1:AddModelVersionRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getDefaultAvatarRequestMessage">
    <wsdl:part name="ID" type="xs:string">
    </wsdl:part>
    <wsdl:part name="size" type="xs:integer">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="updateImageRequestMessage">
    <wsdl:part name="ID" type="xs:string">
    </wsdl:part>
    <wsdl:part name="parameter0" type="tns:BufferedInMultiPart">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="deleteImageRequestMessage">
    <wsdl:part name="ID" type="xs:string">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="previewAvatarRequestMessage">
    <wsdl:part name="ID" type="xs:string">
    </wsdl:part>
    <wsdl:part name="Provider" type="xs:string">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="deleteVersionResponseMessage">
    <wsdl:part element="xs:any">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="readFileDetailsResponseMessage">
    <wsdl:part name="readFileDetailsResponse" element="nms1:SchemaDocumentReference">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getDefaultVersionedAvatarResponseMessage">
  </wsdl:message>
  <wsdl:message name="updateImageResponseMessage">
    <wsdl:part element="xs:any">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="previewAvatarResponseMessage">
    <wsdl:part element="xs:any">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getImageRequestMessage">
    <wsdl:part name="ID" type="xs:string">
    </wsdl:part>
    <wsdl:part name="size" type="xs:integer">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="listModelVersionsRequestMessage">
    <wsdl:part name="ModelID" type="xs:string">
    </wsdl:part>
    <wsdl:part name="includeSchema" type="xs:boolean">
    </wsdl:part>
    <wsdl:part name="includeReferences" type="xs:boolean">
    </wsdl:part>
    <wsdl:part name="includeTargetResources" type="xs:boolean">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="listModelVersionsResponseMessage">
    <wsdl:part name="listModelVersionsResponse" element="nms1:ModelVersions">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="deleteModelResponseMessage">
    <wsdl:part element="xs:any">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="createModelRequestMessage">
    <wsdl:part name="parameter0" element="nms1:AddModelRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="ModelAPIPortType">
    <wsdl:operation name="getModel">
      <wsdl:input message="tns:getModelRequestMessage">
    </wsdl:input>
      <wsdl:output message="tns:getModelResponseMessage">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="executeWorkflowAction">
      <wsdl:input message="tns:executeWorkflowActionRequestMessage">
    </wsdl:input>
      <wsdl:output message="tns:executeWorkflowActionResponseMessage">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="readFileDetails">
      <wsdl:input message="tns:readFileDetailsRequestMessage">
    </wsdl:input>
      <wsdl:output message="tns:readFileDetailsResponseMessage">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateVersionDetails">
      <wsdl:input message="tns:updateVersionDetailsRequestMessage">
    </wsdl:input>
      <wsdl:output message="tns:updateVersionDetailsResponseMessage">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="listModelVersions">
      <wsdl:input message="tns:listModelVersionsRequestMessage">
    </wsdl:input>
      <wsdl:output message="tns:listModelVersionsResponseMessage">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateSchema">
      <wsdl:input message="tns:updateSchemaRequestMessage">
    </wsdl:input>
      <wsdl:output message="tns:updateSchemaResponseMessage">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteModel">
      <wsdl:input message="tns:deleteModelRequestMessage">
    </wsdl:input>
      <wsdl:output message="tns:deleteModelResponseMessage">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateModel">
      <wsdl:input message="tns:updateModelRequestMessage">
    </wsdl:input>
      <wsdl:output message="tns:updateModelResponseMessage">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteSchema">
      <wsdl:input message="tns:deleteSchemaRequestMessage">
    </wsdl:input>
      <wsdl:output message="tns:deleteSchemaResponseMessage">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="createVersion">
      <wsdl:input message="tns:createVersionRequestMessage">
    </wsdl:input>
      <wsdl:output message="tns:createVersionResponseMessage">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="createModel">
      <wsdl:input message="tns:createModelRequestMessage">
    </wsdl:input>
      <wsdl:output message="tns:createModelResponseMessage">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteVersion">
      <wsdl:input message="tns:deleteVersionRequestMessage">
    </wsdl:input>
      <wsdl:output message="tns:deleteVersionResponseMessage">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getSchema">
      <wsdl:input message="tns:getSchemaRequestMessage">
    </wsdl:input>
      <wsdl:output message="tns:getSchemaResponseMessage">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getVersion">
      <wsdl:input message="tns:getVersionRequestMessage">
    </wsdl:input>
      <wsdl:output message="tns:getVersionResponseMessage">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAvatar">
      <wsdl:input message="tns:getAvatarRequestMessage">
    </wsdl:input>
      <wsdl:output message="tns:getAvatarResponseMessage">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getDefaultAvatar">
      <wsdl:input message="tns:getDefaultAvatarRequestMessage">
    </wsdl:input>
      <wsdl:output message="tns:getDefaultAvatarResponseMessage">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getDefaultVersionedAvatar">
      <wsdl:input message="tns:getDefaultVersionedAvatarRequestMessage">
    </wsdl:input>
      <wsdl:output message="tns:getDefaultVersionedAvatarResponseMessage">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="previewAvatar">
      <wsdl:input message="tns:previewAvatarRequestMessage">
    </wsdl:input>
      <wsdl:output message="tns:previewAvatarResponseMessage">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateImage">
      <wsdl:input message="tns:updateImageRequestMessage">
    </wsdl:input>
      <wsdl:output message="tns:updateImageResponseMessage">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteImage">
      <wsdl:input message="tns:deleteImageRequestMessage">
    </wsdl:input>
      <wsdl:output message="tns:deleteImageResponseMessage">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getImage">
      <wsdl:input message="tns:getImageRequestMessage">
    </wsdl:input>
      <wsdl:output message="tns:getImageResponseMessage">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ModelAPIBinding" type="tns:ModelAPIPortType">
    <shttp:binding/>
    <wsdl:operation name="getModel">
<wsdl:documentation><sdoc:displayName xmlns:sdoc="http://soa.com/wsdl/doc">GET /models/{ModelID}</sdoc:displayName></wsdl:documentation>
    <shttp:operation location="/models/{ModelID}" method="GET" outputSerialization="application/json"/>
      <wsdl:input>
    <shttp:input name="ModelID" part="ModelID" type="path"/>
    <shttp:input name="includeVersions" part="includeVersions" type="query"/>
      </wsdl:input>
      <wsdl:output>
    <shttp:output name="getModelResponse" part="getModelResponse" type="entity"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="executeWorkflowAction">
<wsdl:documentation><sdoc:displayName xmlns:sdoc="http://soa.com/wsdl/doc">POST /models/versions/{ModelVersionID}/action</sdoc:displayName></wsdl:documentation>
    <shttp:operation inputSerialization="application/json" location="/models/versions/{ModelVersionID}/action" method="POST" outputSerialization="text/plain"/>
      <wsdl:input>
    <shttp:input name="ModelVersionID" part="ModelVersionID" type="path"/>
    <shttp:input name="parameter0" part="parameter0" type="entity"/>
      </wsdl:input>
      <wsdl:output>
    <shttp:output name="executeWorkflowActionResponse" part="executeWorkflowActionResponse" type="entity"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="readFileDetails">
<wsdl:documentation><sdoc:displayName xmlns:sdoc="http://soa.com/wsdl/doc">POST /models/readfiledetails</sdoc:displayName></wsdl:documentation>
    <shttp:operation inputSerialization="multipart/form-data" location="/models/readfiledetails" method="POST" outputSerialization="application/json"/>
      <wsdl:input>
    <shttp:input name="parameter0" part="parameter0" type="entity"/>
    <shttp:input name="FileName" part="FileName" type="form"/>
      </wsdl:input>
      <wsdl:output>
    <shttp:output name="readFileDetailsResponse" part="readFileDetailsResponse" type="entity"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateVersionDetails">
<wsdl:documentation><sdoc:displayName xmlns:sdoc="http://soa.com/wsdl/doc">PUT /models/versions/{ModelVersionID}</sdoc:displayName></wsdl:documentation>
    <shttp:operation inputSerialization="application/json" location="/models/versions/{ModelVersionID}" method="PUT" outputSerialization="application/json"/>
      <wsdl:input>
    <shttp:input name="ModelVersionID" part="ModelVersionID" type="path"/>
    <shttp:input name="parameter0" part="parameter0" type="entity"/>
      </wsdl:input>
      <wsdl:output>
    <shttp:output name="updateVersionDetailsResponse" part="updateVersionDetailsResponse" type="entity"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="listModelVersions">
<wsdl:documentation><sdoc:displayName xmlns:sdoc="http://soa.com/wsdl/doc">GET /models/{ModelID}/versions</sdoc:displayName></wsdl:documentation>
    <shttp:operation location="/models/{ModelID}/versions" method="GET" outputSerialization="application/json"/>
      <wsdl:input>
    <shttp:input name="ModelID" part="ModelID" type="path"/>
    <shttp:input name="includeSchema" part="includeSchema" type="query"/>
    <shttp:input name="includeReferences" part="includeReferences" type="query"/>
    <shttp:input name="includeTargetResources" part="includeTargetResources" type="query"/>
      </wsdl:input>
      <wsdl:output>
    <shttp:output name="listModelVersionsResponse" part="listModelVersionsResponse" type="entity"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateSchema">
<wsdl:documentation><sdoc:displayName xmlns:sdoc="http://soa.com/wsdl/doc">PUT /models/versions/{ModelVersionID}/schema</sdoc:displayName></wsdl:documentation>
    <shttp:operation inputSerialization="text/plain" location="/models/versions/{ModelVersionID}/schema" method="PUT" outputSerialization="application/json"/>
      <wsdl:input>
    <shttp:input name="ModelVersionID" part="ModelVersionID" type="path"/>
    <shttp:input name="parameter0" part="parameter0" type="entity"/>
      </wsdl:input>
      <wsdl:output>
    <shttp:output name="updateSchemaResponse" part="updateSchemaResponse" type="entity"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteModel">
<wsdl:documentation><sdoc:displayName xmlns:sdoc="http://soa.com/wsdl/doc">DELETE /models/{ModelID}</sdoc:displayName></wsdl:documentation>
    <shttp:operation location="/models/{ModelID}" method="DELETE" outputSerialization="text/plain"/>
      <wsdl:input>
    <shttp:input name="ModelID" part="ModelID" type="path"/>
      </wsdl:input>
      <wsdl:output>
    <shttp:output name="" part="" type="entity"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateModel">
<wsdl:documentation><sdoc:displayName xmlns:sdoc="http://soa.com/wsdl/doc">PUT /models/{ModelID}</sdoc:displayName></wsdl:documentation>
    <shttp:operation inputSerialization="application/json" location="/models/{ModelID}" method="PUT" outputSerialization="application/json"/>
      <wsdl:input>
    <shttp:input name="ModelID" part="ModelID" type="path"/>
    <shttp:input name="parameter0" part="parameter0" type="entity"/>
      </wsdl:input>
      <wsdl:output>
    <shttp:output name="updateModelResponse" part="updateModelResponse" type="entity"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteSchema">
<wsdl:documentation><sdoc:displayName xmlns:sdoc="http://soa.com/wsdl/doc">DELETE /models/versions/{ModelVersionID}/schema</sdoc:displayName></wsdl:documentation>
    <shttp:operation location="/models/versions/{ModelVersionID}/schema" method="DELETE" outputSerialization="text/plain"/>
      <wsdl:input>
    <shttp:input name="ModelVersionID" part="ModelVersionID" type="path"/>
      </wsdl:input>
      <wsdl:output>
    <shttp:output name="" part="" type="entity"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="createVersion">
<wsdl:documentation><sdoc:displayName xmlns:sdoc="http://soa.com/wsdl/doc">POST /models/{ModelID}/versions</sdoc:displayName></wsdl:documentation>
    <shttp:operation inputSerialization="application/json" location="/models/{ModelID}/versions" method="POST" outputSerialization="application/json"/>
      <wsdl:input>
    <shttp:input name="ModelID" part="ModelID" type="path"/>
    <shttp:input name="parameter0" part="parameter0" type="entity"/>
      </wsdl:input>
      <wsdl:output>
    <shttp:output name="createVersionResponse" part="createVersionResponse" type="entity"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="createModel">
<wsdl:documentation><sdoc:displayName xmlns:sdoc="http://soa.com/wsdl/doc">POST /models</sdoc:displayName></wsdl:documentation>
    <shttp:operation inputSerialization="application/json" location="/models" method="POST" outputSerialization="application/json"/>
      <wsdl:input>
    <shttp:input name="parameter0" part="parameter0" type="entity"/>
      </wsdl:input>
      <wsdl:output>
    <shttp:output name="" part="" type="entity"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteVersion">
<wsdl:documentation><sdoc:displayName xmlns:sdoc="http://soa.com/wsdl/doc">DELETE /models/versions/{ModelVersionID}</sdoc:displayName></wsdl:documentation>
    <shttp:operation location="/models/versions/{ModelVersionID}" method="DELETE" outputSerialization="text/plain"/>
      <wsdl:input>
    <shttp:input name="ModelVersionID" part="ModelVersionID" type="path"/>
      </wsdl:input>
      <wsdl:output>
    <shttp:output name="" part="" type="entity"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getSchema">
<wsdl:documentation><sdoc:displayName xmlns:sdoc="http://soa.com/wsdl/doc">GET /models/versions/{ModelVersionID}/schema</sdoc:displayName></wsdl:documentation>
    <shttp:operation location="/models/versions/{ModelVersionID}/schema" method="GET" outputSerialization="text/plain"/>
      <wsdl:input>
    <shttp:input name="ModelVersionID" part="ModelVersionID" type="path"/>
    <shttp:input name="resolveReferences" part="resolveReferences" type="query"/>
      </wsdl:input>
      <wsdl:output>
    <shttp:output name="getSchemaResponse" part="getSchemaResponse" type="entity"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getVersion">
<wsdl:documentation><sdoc:displayName xmlns:sdoc="http://soa.com/wsdl/doc">GET /models/versions/{ModelVersionID}</sdoc:displayName></wsdl:documentation>
    <shttp:operation location="/models/versions/{ModelVersionID}" method="GET" outputSerialization="application/json"/>
      <wsdl:input>
    <shttp:input name="ModelVersionID" part="ModelVersionID" type="path"/>
    <shttp:input name="includeSchema" part="includeSchema" type="query"/>
    <shttp:input name="includeReferences" part="includeReferences" type="query"/>
    <shttp:input name="includeTags" part="includeTags" type="query"/>
    <shttp:input name="includeActions" part="includeActions" type="query"/>
    <shttp:input name="includeTargetResources" part="includeTargetResources" type="query"/>
      </wsdl:input>
      <wsdl:output>
    <shttp:output name="getVersionResponse" part="getVersionResponse" type="entity"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAvatar">
<wsdl:documentation><sdoc:displayName xmlns:sdoc="http://soa.com/wsdl/doc">GET /models/{ID}/avatars/{version}.png</sdoc:displayName></wsdl:documentation>
    <shttp:operation inputSerialization="*/*" location="/models/{ID}/avatars/{version}.png" method="GET" outputSerialization="image/png"/>
      <wsdl:input>
    <shttp:input name="ID" part="ID" type="path"/>
    <shttp:input name="version" part="version" type="path"/>
    <shttp:input name="size" part="size" type="query"/>
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="getDefaultAvatar">
<wsdl:documentation><sdoc:displayName xmlns:sdoc="http://soa.com/wsdl/doc">GET /models/{ID}/avatar</sdoc:displayName></wsdl:documentation>
    <shttp:operation inputSerialization="*/*" location="/models/{ID}/avatar" method="GET" outputSerialization="image/png"/>
      <wsdl:input>
    <shttp:input name="ID" part="ID" type="path"/>
    <shttp:input name="size" part="size" type="query"/>
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="getDefaultVersionedAvatar">
<wsdl:documentation><sdoc:displayName xmlns:sdoc="http://soa.com/wsdl/doc">GET /models/avatar/{version}{Extension:(/[^/]+?)*}</sdoc:displayName></wsdl:documentation>
    <shttp:operation inputSerialization="*/*" location="/models/avatar/{version}{Extension:(/[^/]+?)*}" method="GET" outputSerialization="image/png"/>
      <wsdl:input>
    <shttp:input name="version" part="version" type="path"/>
    <shttp:input name="Extension" part="Extension" type="path"/>
    <shttp:input name="size" part="size" type="query"/>
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="previewAvatar">
<wsdl:documentation><sdoc:displayName xmlns:sdoc="http://soa.com/wsdl/doc">GET /models/{ID}/previewavatar</sdoc:displayName></wsdl:documentation>
    <shttp:operation inputSerialization="*/*" location="/models/{ID}/previewavatar" method="GET" outputSerialization="image/jpeg"/>
      <wsdl:input>
    <shttp:input name="ID" part="ID" type="path"/>
    <shttp:input name="Provider" part="Provider" type="query"/>
      </wsdl:input>
      <wsdl:output>
    <shttp:output name="" part="" type="entity"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateImage">
<wsdl:documentation><sdoc:displayName xmlns:sdoc="http://soa.com/wsdl/doc">POST /models/{ID}/picture</sdoc:displayName></wsdl:documentation>
    <shttp:operation inputSerialization="multipart/form-data" location="/models/{ID}/picture" method="POST" outputSerialization="text/plain"/>
      <wsdl:input>
    <shttp:input name="ID" part="ID" type="path"/>
    <shttp:input name="parameter0" part="parameter0" type="entity"/>
      </wsdl:input>
      <wsdl:output>
    <shttp:output name="" part="" type="entity"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteImage">
<wsdl:documentation><sdoc:displayName xmlns:sdoc="http://soa.com/wsdl/doc">DELETE /models/{ID}/picture</sdoc:displayName></wsdl:documentation>
    <shttp:operation inputSerialization="*/*" location="/models/{ID}/picture" method="DELETE" outputSerialization="text/plain"/>
      <wsdl:input>
    <shttp:input name="ID" part="ID" type="path"/>
      </wsdl:input>
      <wsdl:output>
    <shttp:output name="" part="" type="entity"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getImage">
<wsdl:documentation><sdoc:displayName xmlns:sdoc="http://soa.com/wsdl/doc">GET /models/{ID}/picture</sdoc:displayName></wsdl:documentation>
    <shttp:operation inputSerialization="*/*" location="/models/{ID}/picture" method="GET" outputSerialization="image/jpeg"/>
      <wsdl:input>
    <shttp:input name="ID" part="ID" type="path"/>
    <shttp:input name="size" part="size" type="query"/>
      </wsdl:input>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ModelAPI">
<wsdl:documentation><sdoc:title xmlns:sdoc="http://soa.com/wsdl/doc">Model Library API</sdoc:title><sdoc:description xmlns:sdoc="http://soa.com/wsdl/doc"><![CDATA[<p>The Model Libary API allows provides access to the system model (schema) registry.</p>]]></sdoc:description></wsdl:documentation>
    <wsdl:port name="ModelAPI_rest_port_https" binding="tns:ModelAPIBinding">
    <shttp:address location="https://0.0.0.0/api"/>
    </wsdl:port>
    <wsdl:port name="ModelAPI_rest_port_http" binding="tns:ModelAPIBinding">
    <shttp:address location="http://0.0.0.0/api"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
