ag/assets/previous_api_plat/rest/api-platform/api-urn_com.soa.apiportal.asset.api-ServiceAssetAPI.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="urn:com.soa.apiportal.asset.api" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="urn:com.soa.apiportal.asset.api" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:nms1="http://soa.com/xsd/asset/1.0" xmlns:shttp="http://soa.com/wsdl/http">
  <wsdl:types>
    <xs:schema elementFormDefault="qualified" targetNamespace="http://soa.com/xsd/asset/1.0" version="1.0" xmlns:tns="http://soa.com/xsd/asset/1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:element name="BindingOperation"><xs:complexType><xs:sequence><xs:element name="OperationName" type="xs:string"/><xs:element minOccurs="0" name="BindingOperationKey" type="xs:string"/><xs:element minOccurs="0" name="WsdlOperationName" type="xs:string"/><xs:element minOccurs="0" ref="tns:SOAP11Operation"/><xs:element minOccurs="0" ref="tns:SOAP12Operation"/><xs:element minOccurs="0" ref="tns:HttpOperation"/></xs:sequence></xs:complexType></xs:element>
<xs:element name="BindingOperations"><xs:complexType><xs:sequence><xs:element maxOccurs="unbounded" minOccurs="0" ref="tns:BindingOperation"/></xs:sequence></xs:complexType></xs:element>
<xs:element name="Endpoint"><xs:complexType><xs:sequence><xs:element name="Uri" type="xs:anyURI"/><xs:element maxOccurs="unbounded" minOccurs="0" name="ConnectionProperties" type="tns:ConnectionProperty"/><xs:element minOccurs="0" name="BindingQName" type="xs:string"/><xs:element minOccurs="0" name="BindingType" type="xs:string"/><xs:element minOccurs="0" name="EndpointKey" type="xs:string"/></xs:sequence></xs:complexType></xs:element>
<xs:element name="Endpoints"><xs:complexType><xs:sequence><xs:element maxOccurs="unbounded" minOccurs="0" ref="tns:Endpoint"/></xs:sequence></xs:complexType></xs:element>
<xs:element name="HttpOperation"><xs:complexType><xs:sequence><xs:element name="Method" type="xs:string"/><xs:element name="Path" type="xs:string"/><xs:element name="InputContentType" type="xs:string"/><xs:element name="OutputContentType" type="xs:string"/><xs:element minOccurs="0" name="FaultContentType" type="xs:string"/><xs:element maxOccurs="unbounded" minOccurs="0" ref="tns:Input"/></xs:sequence></xs:complexType></xs:element>
<xs:element name="Input"><xs:complexType><xs:sequence><xs:element name="Name" type="xs:string"/><xs:element name="Type" type="xs:string"/><xs:element minOccurs="0" name="Value" type="xs:string"/></xs:sequence></xs:complexType></xs:element>
<xs:element name="Policies"><xs:complexType><xs:sequence><xs:element maxOccurs="unbounded" minOccurs="0" ref="tns:Policy"/></xs:sequence></xs:complexType></xs:element>
<xs:element name="Policy"><xs:complexType><xs:sequence><xs:element name="PolicyKey" type="xs:string"/><xs:element minOccurs="0" name="Name" type="xs:string"/><xs:element minOccurs="0" name="Description" type="xs:string"/><xs:element minOccurs="0" name="PolicyType" type="xs:string"/><xs:element minOccurs="0" name="PolicySubType" type="xs:string"/><xs:element minOccurs="0" name="PolicyConfiguration" type="xs:string"/></xs:sequence></xs:complexType></xs:element>
<xs:element name="SOAP11Operation"><xs:complexType><xs:sequence><xs:element minOccurs="0" name="SOAPAction" type="xs:string"/></xs:sequence></xs:complexType></xs:element>
<xs:element name="SOAP12Operation"><xs:complexType><xs:sequence><xs:element minOccurs="0" name="SOAPAction" type="xs:string"/></xs:sequence></xs:complexType></xs:element>
<xs:element name="ServiceAsset"><xs:complexType><xs:sequence><xs:element name="ServiceKey" type="xs:string"/><xs:element minOccurs="0" name="Name" type="xs:string"/><xs:element minOccurs="0" name="Description" type="xs:string"/><xs:element minOccurs="0" name="ServiceType" type="xs:string"/><xs:element minOccurs="0" ref="tns:Endpoints"/><xs:element minOccurs="0" ref="tns:Policies"/><xs:element minOccurs="0" name="Created" type="xs:dateTime"/><xs:element minOccurs="0" name="Updated" type="xs:dateTime"/><xs:element maxOccurs="unbounded" minOccurs="0" name="BindingType" type="xs:string"/><xs:element minOccurs="0" ref="tns:ServiceBindings"/></xs:sequence></xs:complexType></xs:element>
<xs:element name="ServiceBinding"><xs:complexType><xs:sequence><xs:element minOccurs="0" name="BindingQName" type="xs:string"/><xs:element minOccurs="0" name="BindingKey" type="xs:string"/><xs:element minOccurs="0" name="InterfaceQName" type="xs:string"/><xs:element minOccurs="0" name="InterfaceKey" type="xs:string"/><xs:element minOccurs="0" name="BindingType" type="xs:string"/><xs:element minOccurs="0" ref="tns:BindingOperations"/></xs:sequence></xs:complexType></xs:element>
<xs:element name="ServiceBindings"><xs:complexType><xs:sequence><xs:element maxOccurs="unbounded" minOccurs="0" ref="tns:ServiceBinding"/></xs:sequence></xs:complexType></xs:element>
<xs:complexType name="ConnectionProperty"><xs:sequence><xs:element name="Name" type="xs:string"/><xs:element name="Value" type="xs:string"/></xs:sequence></xs:complexType>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="saveServiceEndpointsResponseMessage">
    <wsdl:part name="saveServiceEndpointsResponse" element="nms1:Endpoints">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getServiceAssetRequestMessage">
    <wsdl:part name="ServiceID" type="xs:string">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getServiceEndpointsResponseMessage">
    <wsdl:part name="getServiceEndpointsResponse" element="nms1:Endpoints">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getServiceAssetResponseMessage">
    <wsdl:part name="getServiceAssetResponse" element="nms1:ServiceAsset">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getServiceEndpointsRequestMessage">
    <wsdl:part name="ServiceID" type="xs:string">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="saveServiceEndpointsRequestMessage">
    <wsdl:part name="ServiceID" type="xs:string">
    </wsdl:part>
    <wsdl:part name="parameter0" element="nms1:Endpoints">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="ServiceAssetAPIPortType">
    <wsdl:operation name="getServiceEndpoints">
      <wsdl:input message="tns:getServiceEndpointsRequestMessage">
    </wsdl:input>
      <wsdl:output message="tns:getServiceEndpointsResponseMessage">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getServiceAsset">
      <wsdl:input message="tns:getServiceAssetRequestMessage">
    </wsdl:input>
      <wsdl:output message="tns:getServiceAssetResponseMessage">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="saveServiceEndpoints">
      <wsdl:input message="tns:saveServiceEndpointsRequestMessage">
    </wsdl:input>
      <wsdl:output message="tns:saveServiceEndpointsResponseMessage">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ServiceAssetAPIBinding" type="tns:ServiceAssetAPIPortType">
    <shttp:binding/>
    <wsdl:operation name="getServiceEndpoints">
<wsdl:documentation><sdoc:displayName xmlns:sdoc="http://soa.com/wsdl/doc">GET /assets/services/{ServiceID}/endpoints</sdoc:displayName></wsdl:documentation>
    <shttp:operation location="/assets/services/{ServiceID}/endpoints" method="GET" outputSerialization="application/json,application/vnd.soa.v81+json"/>
      <wsdl:input>
    <shttp:input name="ServiceID" part="ServiceID" type="path"/>
      </wsdl:input>
      <wsdl:output>
    <shttp:output name="getServiceEndpointsResponse" part="getServiceEndpointsResponse" type="entity"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getServiceAsset">
<wsdl:documentation><sdoc:displayName xmlns:sdoc="http://soa.com/wsdl/doc">GET /assets/services/{ServiceID}</sdoc:displayName></wsdl:documentation>
    <shttp:operation location="/assets/services/{ServiceID}" method="GET" outputSerialization="application/json,application/vnd.soa.v81+json"/>
      <wsdl:input>
    <shttp:input name="ServiceID" part="ServiceID" type="path"/>
      </wsdl:input>
      <wsdl:output>
    <shttp:output name="getServiceAssetResponse" part="getServiceAssetResponse" type="entity"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="saveServiceEndpoints">
<wsdl:documentation><sdoc:displayName xmlns:sdoc="http://soa.com/wsdl/doc">PUT /assets/services/{ServiceID}/endpoints</sdoc:displayName></wsdl:documentation>
    <shttp:operation inputSerialization="application/json,application/vnd.soa.v81+json" location="/assets/services/{ServiceID}/endpoints" method="PUT" outputSerialization="application/json,application/vnd.soa.v81+json"/>
      <wsdl:input>
    <shttp:input name="ServiceID" part="ServiceID" type="path"/>
    <shttp:input name="parameter0" part="parameter0" type="entity"/>
      </wsdl:input>
      <wsdl:output>
    <shttp:output name="saveServiceEndpointsResponse" part="saveServiceEndpointsResponse" type="entity"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServiceAssetAPI">
<wsdl:documentation><sdoc:title xmlns:sdoc="http://soa.com/wsdl/doc">Service Asset API</sdoc:title><sdoc:description xmlns:sdoc="http://soa.com/wsdl/doc"><![CDATA[<p>This API allows service assets to be managed.</p>]]></sdoc:description></wsdl:documentation>
    <wsdl:port name="ServiceAssetAPI_rest_port_https" binding="tns:ServiceAssetAPIBinding">
    <shttp:address location="https://0.0.0.0/api"/>
    </wsdl:port>
    <wsdl:port name="ServiceAssetAPI_rest_port_http" binding="tns:ServiceAssetAPIBinding">
    <shttp:address location="http://0.0.0.0/api"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
