ag/assets/previous_api_plat/rest/api-platform/api-http___soa.com_wsdl_login_1.0-LoginAPI.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://soa.com/wsdl/login/1.0" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://soa.com/wsdl/login/1.0" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:nms2="http://soa.com/xsd/user/1.0" xmlns:nms1="http://soa.com/xsd/login/1.0" xmlns:shttp="http://soa.com/wsdl/http">
  <wsdl:types>
    <xs:schema elementFormDefault="qualified" targetNamespace="http://soa.com/xsd/login/1.0" version="1.0" xmlns:tns="http://soa.com/xsd/login/1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:element name="LoginDomain"><xs:complexType><xs:sequence><xs:element minOccurs="0" name="LoginDomainID" type="xs:string"/><xs:element name="DomainName" type="xs:string"/><xs:element name="FedmemberId" type="xs:string"/><xs:element name="DisplayMode" type="xs:string"/><xs:element name="Title" type="xs:string"/><xs:element name="Sequence" type="xs:int"/><xs:element maxOccurs="unbounded" name="VirtualHost" type="xs:string"/><xs:element name="IdSystemType" type="xs:string"/><xs:element name="LogoAssigned" type="xs:boolean"/><xs:element default="true" name="Enabled" type="xs:boolean"/><xs:element minOccurs="0" name="LogoId" type="xs:long"/></xs:sequence></xs:complexType></xs:element>
<xs:element name="LoginDomains"><xs:complexType><xs:sequence><xs:element maxOccurs="unbounded" minOccurs="0" ref="tns:LoginDomain"/></xs:sequence></xs:complexType></xs:element>
<xs:element name="LoginRequest" type="tns:loginRequest"/>
<xs:element name="ResolveLoginPendingTaskRequest" type="tns:resolveLoginPendingTaskRequest"/>
<xs:element name="loginResponse" type="tns:loginResponse"/>
<xs:complexType name="loginResponse"><xs:sequence><xs:element minOccurs="0" name="authToken" type="xs:string"/><xs:element minOccurs="0" name="authTokenValidUntil" type="xs:string"/><xs:element minOccurs="0" name="avatarURL" type="xs:string"/><xs:element minOccurs="0" name="csrfToken" type="xs:string"/><xs:element minOccurs="0" name="lastLoginDate" type="xs:string"/><xs:element minOccurs="0" name="loginDomainID" type="xs:string"/><xs:element minOccurs="0" name="loginState" type="xs:string"/><xs:element maxOccurs="unbounded" minOccurs="0" name="pendingAgreements" nillable="true" type="xs:string"/><xs:element name="pendingNotifications" type="xs:int"/><xs:element minOccurs="0" name="pendingTaskData" type="xs:anyType"/><xs:element maxOccurs="unbounded" minOccurs="0" name="pendingTasks" nillable="true" type="xs:string"/><xs:element minOccurs="0" name="sessionValidUntil" type="xs:string"/><xs:element minOccurs="0" name="status" type="xs:string"/><xs:element minOccurs="0" name="userFDN" type="xs:string"/><xs:element minOccurs="0" name="userName" type="xs:string"/></xs:sequence></xs:complexType>
<xs:complexType name="loginRequest"><xs:sequence><xs:element minOccurs="0" name="authToken" type="xs:string"/><xs:element minOccurs="0" name="domainName" type="xs:string"/><xs:element minOccurs="0" name="email" type="xs:string"/><xs:element minOccurs="0" name="fedMemberId" type="xs:string"/><xs:element name="federationLogins" type="xs:boolean"/><xs:element minOccurs="0" name="invitationCode" type="xs:string"/><xs:element minOccurs="0" name="password" type="xs:string"/><xs:element minOccurs="0" name="userName" type="xs:string"/></xs:sequence></xs:complexType>
<xs:complexType name="resolveLoginPendingTaskRequest"><xs:sequence><xs:element name="parameters" type="tns:parameters"/><xs:element minOccurs="0" name="taskID" type="xs:string"/></xs:sequence></xs:complexType>
<xs:complexType name="parameters"><xs:sequence><xs:element minOccurs="0" name="verificationCode" type="xs:string"/><xs:element name="Action" type="xs:string"/></xs:sequence></xs:complexType>
</xs:schema>
    <xs:schema elementFormDefault="qualified" targetNamespace="http://soa.com/xsd/user/1.0" version="1.0" xmlns:tns="http://soa.com/xsd/user/1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:element name="EmailChangeResponse" type="tns:emailChangeResponse"/>
<xs:element name="PasswordResetRequest"><xs:complexType><xs:sequence><xs:element name="Email" type="xs:string"/><xs:element minOccurs="0" name="NewPassword" type="xs:string"/><xs:element name="PasswordResetCode" type="xs:string"/><xs:element minOccurs="0" ref="tns:UserIdentificationChallenge"/></xs:sequence></xs:complexType></xs:element>
<xs:element name="PasswordResetResponse"><xs:complexType><xs:sequence><xs:element name="emailAddress" type="xs:string"/><xs:element name="userName" type="xs:string"/><xs:element name="ResetStatus" type="xs:string"/><xs:element minOccurs="0" ref="tns:UserIdentificationChallenge"/></xs:sequence></xs:complexType></xs:element>
<xs:element name="UserIdentificationChallenge"><xs:complexType><xs:sequence><xs:element minOccurs="0" name="UserID" type="xs:string"/><xs:element name="ChallengeCode" type="xs:string"/><xs:element minOccurs="0" name="ChallengeQuestion" type="xs:string"/><xs:element minOccurs="0" name="Answer" type="xs:string"/></xs:sequence></xs:complexType></xs:element>
<xs:complexType name="emailChangeResponse"><xs:sequence><xs:element minOccurs="0" name="changeStatus" type="xs:boolean"/><xs:element minOccurs="0" name="newEmailAddress" type="xs:string"/><xs:element minOccurs="0" name="userIdentificationChallenge"><xs:complexType><xs:sequence><xs:element minOccurs="0" name="UserID" type="xs:string"/><xs:element name="ChallengeCode" type="xs:string"/><xs:element minOccurs="0" name="ChallengeQuestion" type="xs:string"/><xs:element minOccurs="0" name="Answer" type="xs:string"/></xs:sequence></xs:complexType></xs:element><xs:element minOccurs="0" name="userName" type="xs:string"/></xs:sequence></xs:complexType>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="appLoginResponseMessage">
    <wsdl:part element="xs:any">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="ssoLoginPostRequestMessage">
    <wsdl:part name="domainid" type="xs:string">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="loginRequestMessage">
    <wsdl:part name="parameter0" element="nms1:LoginRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="validateRegistrationCodeRequestMessage">
    <wsdl:part name="registrationCode" type="xs:string">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="processLogoutPostRequestMessage">
  </wsdl:message>
  <wsdl:message name="ssoLoginRequestMessage">
    <wsdl:part name="domain" type="xs:string">
    </wsdl:part>
    <wsdl:part name="domainid" type="xs:string">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="endSessionRequestMessage">
    <wsdl:part name="returninstructions" type="xs:boolean">
    </wsdl:part>
    <wsdl:part name="event" type="xs:string">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="ssoLoginResponseMessage">
    <wsdl:part element="xs:any">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="federatedLogoutRequestMessage">
    <wsdl:part name="fedmemberId" type="xs:string">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="ssoLoginPostResponseMessage">
    <wsdl:part element="xs:any">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="updateLoginDomainsResponseMessage">
    <wsdl:part name="updateLoginDomainsResponse" type="xs:string">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="renewTokenGetRequestMessage">
  </wsdl:message>
  <wsdl:message name="endSessionResponseMessage">
    <wsdl:part element="xs:any">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getLoginDomainsRequestMessage">
    <wsdl:part name="all" type="xs:boolean">
    </wsdl:part>
    <wsdl:part name="IncludeDisabled" type="xs:boolean">
    </wsdl:part>
    <wsdl:part name="cache" type="xs:boolean">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getLoginDomainLogoResponseMessage">
  </wsdl:message>
  <wsdl:message name="renewTokenResponseMessage">
    <wsdl:part element="xs:any">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="loginWithSSORequestMessage">
    <wsdl:part name="provider" type="xs:string">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="appLoginRequestMessage">
    <wsdl:part name="appID" type="xs:string">
    </wsdl:part>
    <wsdl:part name="secretKey" type="xs:string">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="resolveLoginPendingTaskRequestMessage">
    <wsdl:part name="parameter0" element="nms1:ResolveLoginPendingTaskRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="processLogoutPostResponseMessage">
    <wsdl:part element="xs:any">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="renewTokenRequestMessage">
    <wsdl:part name="federationLogins" type="xs:boolean">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="authenticateWithPasswordResetCodeFormPostResponseMessage">
    <wsdl:part element="xs:any">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="processLogoutGetRequestMessage">
  </wsdl:message>
  <wsdl:message name="federatedLoginRequestMessage">
    <wsdl:part name="parameter0" element="nms1:LoginRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="validateRegistrationCodeResponseMessage">
    <wsdl:part element="xs:any">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="logoutGetResponseMessage">
    <wsdl:part name="logoutGetResponse" type="xs:string">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="authenticateWithEmailChangeCodeResponseMessage">
    <wsdl:part name="authenticateWithEmailChangeCodeResponse" element="nms2:EmailChangeResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getLoginDomainResponseMessage">
    <wsdl:part name="getLoginDomainResponse" element="nms1:LoginDomain">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="ssoLoginInstructionsResponseMessage">
    <wsdl:part name="ssoLoginInstructionsResponse" type="tns:LoginData">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="loginResponseMessage">
    <wsdl:part name="loginResponse" element="nms1:LoginResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getLoginDomainLogoRequestMessage">
    <wsdl:part name="LoginDomainID" type="xs:string">
    </wsdl:part>
    <wsdl:part name="size" type="xs:integer">
    </wsdl:part>
    <wsdl:part name="cache" type="xs:boolean">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="processLogoutGetResponseMessage">
    <wsdl:part element="xs:any">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="authenticateWithPasswordResetCodeResponseMessage">
    <wsdl:part name="authenticateWithPasswordResetCodeResponse" element="nms2:PasswordResetResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="authenticateWithEmailChangeCodeRequestMessage">
    <wsdl:part name="parameter0" type="tns:EmailChangeRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="logoutGetRequestMessage">
  </wsdl:message>
  <wsdl:message name="initiateSSOLoginRequestMessage">
    <wsdl:part name="provider" type="xs:string">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getLoginDomainRequestMessage">
    <wsdl:part name="LoginDomainID" type="xs:string">
    </wsdl:part>
    <wsdl:part name="cache" type="xs:boolean">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getLoginDomainsResponseMessage">
    <wsdl:part name="getLoginDomainsResponse" type="tns:List">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="updateLoginDomainsRequestMessage">
    <wsdl:part name="parameter0" element="nms1:LoginDomains">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getLoginStatusResponseMessage">
    <wsdl:part name="getLoginStatusResponse" element="nms1:LoginResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="federatedLoginResponseMessage">
    <wsdl:part element="xs:any">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="federatedLogoutResponseMessage">
    <wsdl:part element="xs:any">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="resolveLoginPendingTaskResponseMessage">
    <wsdl:part name="resolveLoginPendingTaskResponse" element="nms1:LoginResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getLoginStatusRequestMessage">
  </wsdl:message>
  <wsdl:message name="ssoLoginInstructionsRequestMessage">
    <wsdl:part name="domain" type="xs:string">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="renewTokenGetResponseMessage">
    <wsdl:part element="xs:any">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="logoutRequestMessage">
    <wsdl:part name="fedmemberId" type="xs:string">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="loginWithSSOResponseMessage">
    <wsdl:part name="loginWithSSOResponse" type="xs:string">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="initiateSSOLoginResponseMessage">
    <wsdl:part name="initiateSSOLoginResponse" type="xs:string">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="authenticateWithPasswordResetCodeRequestMessage">
    <wsdl:part name="parameter0" element="nms2:PasswordResetRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="authenticateWithPasswordResetCodeFormPostRequestMessage">
    <wsdl:part name="email" type="xs:string">
    </wsdl:part>
    <wsdl:part name="passwordResetCode" type="xs:string">
    </wsdl:part>
    <wsdl:part name="newPassword" type="xs:string">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="logoutResponseMessage">
    <wsdl:part element="xs:any">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="LoginAPIPortType">
    <wsdl:operation name="ssoLoginPost">
      <wsdl:input message="tns:ssoLoginPostRequestMessage">
    </wsdl:input>
      <wsdl:output message="tns:ssoLoginPostResponseMessage">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="renewToken">
      <wsdl:input message="tns:renewTokenRequestMessage">
    </wsdl:input>
      <wsdl:output message="tns:renewTokenResponseMessage">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="federatedLogin">
      <wsdl:input message="tns:federatedLoginRequestMessage">
    </wsdl:input>
      <wsdl:output message="tns:federatedLoginResponseMessage">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="loginWithSSO">
      <wsdl:input message="tns:loginWithSSORequestMessage">
    </wsdl:input>
      <wsdl:output message="tns:loginWithSSOResponseMessage">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="appLogin">
      <wsdl:input message="tns:appLoginRequestMessage">
    </wsdl:input>
      <wsdl:output message="tns:appLoginResponseMessage">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ssoLoginInstructions">
      <wsdl:input message="tns:ssoLoginInstructionsRequestMessage">
    </wsdl:input>
      <wsdl:output message="tns:ssoLoginInstructionsResponseMessage">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="renewTokenGet">
      <wsdl:input message="tns:renewTokenGetRequestMessage">
    </wsdl:input>
      <wsdl:output message="tns:renewTokenGetResponseMessage">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="logoutGet">
      <wsdl:input message="tns:logoutGetRequestMessage">
    </wsdl:input>
      <wsdl:output message="tns:logoutGetResponseMessage">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="logout">
      <wsdl:input message="tns:logoutRequestMessage">
    </wsdl:input>
      <wsdl:output message="tns:logoutResponseMessage">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="federatedLogout">
      <wsdl:input message="tns:federatedLogoutRequestMessage">
    </wsdl:input>
      <wsdl:output message="tns:federatedLogoutResponseMessage">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="initiateSSOLogin">
      <wsdl:input message="tns:initiateSSOLoginRequestMessage">
    </wsdl:input>
      <wsdl:output message="tns:initiateSSOLoginResponseMessage">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ssoLogin">
      <wsdl:input message="tns:ssoLoginRequestMessage">
    </wsdl:input>
      <wsdl:output message="tns:ssoLoginResponseMessage">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="login">
      <wsdl:input message="tns:loginRequestMessage">
    </wsdl:input>
      <wsdl:output message="tns:loginResponseMessage">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="authenticateWithPasswordResetCodeFormPost">
      <wsdl:input message="tns:authenticateWithPasswordResetCodeFormPostRequestMessage">
    </wsdl:input>
      <wsdl:output message="tns:authenticateWithPasswordResetCodeFormPostResponseMessage">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="authenticateWithPasswordResetCode">
      <wsdl:input message="tns:authenticateWithPasswordResetCodeRequestMessage">
    </wsdl:input>
      <wsdl:output message="tns:authenticateWithPasswordResetCodeResponseMessage">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="authenticateWithEmailChangeCode">
      <wsdl:input message="tns:authenticateWithEmailChangeCodeRequestMessage">
    </wsdl:input>
      <wsdl:output message="tns:authenticateWithEmailChangeCodeResponseMessage">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getLoginDomains">
      <wsdl:input message="tns:getLoginDomainsRequestMessage">
    </wsdl:input>
      <wsdl:output message="tns:getLoginDomainsResponseMessage">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateLoginDomains">
      <wsdl:input message="tns:updateLoginDomainsRequestMessage">
    </wsdl:input>
      <wsdl:output message="tns:updateLoginDomainsResponseMessage">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getLoginDomainLogo">
      <wsdl:input message="tns:getLoginDomainLogoRequestMessage">
    </wsdl:input>
      <wsdl:output message="tns:getLoginDomainLogoResponseMessage">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getLoginDomain">
      <wsdl:input message="tns:getLoginDomainRequestMessage">
    </wsdl:input>
      <wsdl:output message="tns:getLoginDomainResponseMessage">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getLoginStatus">
      <wsdl:input message="tns:getLoginStatusRequestMessage">
    </wsdl:input>
      <wsdl:output message="tns:getLoginStatusResponseMessage">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="validateRegistrationCode">
      <wsdl:input message="tns:validateRegistrationCodeRequestMessage">
    </wsdl:input>
      <wsdl:output message="tns:validateRegistrationCodeResponseMessage">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="endSession">
      <wsdl:input message="tns:endSessionRequestMessage">
    </wsdl:input>
      <wsdl:output message="tns:endSessionResponseMessage">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="processLogoutGet">
      <wsdl:input message="tns:processLogoutGetRequestMessage">
    </wsdl:input>
      <wsdl:output message="tns:processLogoutGetResponseMessage">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="processLogoutPost">
      <wsdl:input message="tns:processLogoutPostRequestMessage">
    </wsdl:input>
      <wsdl:output message="tns:processLogoutPostResponseMessage">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="resolveLoginPendingTask">
      <wsdl:input message="tns:resolveLoginPendingTaskRequestMessage">
    </wsdl:input>
      <wsdl:output message="tns:resolveLoginPendingTaskResponseMessage">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="LoginAPIBinding" type="tns:LoginAPIPortType">
    <shttp:binding/>
    <wsdl:operation name="ssoLoginPost">
<wsdl:documentation><sdoc:displayName xmlns:sdoc="http://soa.com/wsdl/doc">POST /ssoLogin{domainid:(/[^/]+?)?}</sdoc:displayName></wsdl:documentation>
    <shttp:operation inputSerialization="application/x-www-form-urlencoded" location="/ssoLogin{domainid:(/[^/]+?)?}" method="POST" outputSerialization="application/json,application/vnd.soa.v71+json,application/vnd.soa.v72+json,application/vnd.soa.v80+json,application/vnd.soa.v81+json"/>
      <wsdl:input>
    <shttp:input name="domainid" part="domainid" type="path"/>
      </wsdl:input>
      <wsdl:output>
    <shttp:output name="" part="" type="entity"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="renewToken">
<wsdl:documentation><sdoc:displayName xmlns:sdoc="http://soa.com/wsdl/doc">POST /renewToken</sdoc:displayName></wsdl:documentation>
    <shttp:operation inputSerialization="application/x-www-form-urlencoded" location="/renewToken" method="POST" outputSerialization="application/json,application/vnd.soa.v71+json,application/vnd.soa.v72+json,application/vnd.soa.v80+json,application/vnd.soa.v81+json"/>
      <wsdl:input>
    <shttp:input name="federationLogins" part="federationLogins" type="form"/>
      </wsdl:input>
      <wsdl:output>
    <shttp:output name="" part="" type="entity"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="federatedLogin">
<wsdl:documentation><sdoc:displayName xmlns:sdoc="http://soa.com/wsdl/doc">POST /federatedLogin</sdoc:displayName></wsdl:documentation>
    <shttp:operation inputSerialization="application/json,application/vnd.soa.v71+json,application/vnd.soa.v72+json,application/vnd.soa.v80+json,application/vnd.soa.v81+json" location="/federatedLogin" method="POST" outputSerialization="application/json,application/vnd.soa.v71+json,application/vnd.soa.v72+json,application/vnd.soa.v80+json,application/vnd.soa.v81+json"/>
      <wsdl:input>
    <shttp:input name="parameter0" part="parameter0" type="entity"/>
      </wsdl:input>
      <wsdl:output>
    <shttp:output name="" part="" type="entity"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="loginWithSSO">
<wsdl:documentation><sdoc:displayName xmlns:sdoc="http://soa.com/wsdl/doc">GET /loginWithSSO</sdoc:displayName></wsdl:documentation>
    <shttp:operation inputSerialization="*/*" location="/loginWithSSO" method="GET" outputSerialization="application/javascript,application/json,application/vnd.soa.v71+json,application/vnd.soa.v72+json,application/vnd.soa.v80+json,application/vnd.soa.v81+json"/>
      <wsdl:input>
    <shttp:input name="provider" part="provider" type="query"/>
      </wsdl:input>
      <wsdl:output>
    <shttp:output name="loginWithSSOResponse" part="loginWithSSOResponse" type="entity"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="appLogin">
<wsdl:documentation><sdoc:displayName xmlns:sdoc="http://soa.com/wsdl/doc">POST /appLogin</sdoc:displayName></wsdl:documentation>
    <shttp:operation inputSerialization="application/x-www-form-urlencoded" location="/appLogin" method="POST" outputSerialization="text/plain"/>
      <wsdl:input>
    <shttp:input name="appID" part="appID" type="form"/>
    <shttp:input name="secretKey" part="secretKey" type="form"/>
      </wsdl:input>
      <wsdl:output>
    <shttp:output name="" part="" type="entity"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ssoLoginInstructions">
<wsdl:documentation><sdoc:displayName xmlns:sdoc="http://soa.com/wsdl/doc">GET /ssoLoginInstructions</sdoc:displayName></wsdl:documentation>
    <shttp:operation inputSerialization="*/*" location="/ssoLoginInstructions" method="GET" outputSerialization="application/json,application/vnd.soa.v71+json,application/vnd.soa.v72+json,application/vnd.soa.v80+json,application/vnd.soa.v81+json"/>
      <wsdl:input>
    <shttp:input name="domain" part="domain" type="query"/>
      </wsdl:input>
      <wsdl:output>
    <shttp:output name="ssoLoginInstructionsResponse" part="ssoLoginInstructionsResponse" type="entity"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="renewTokenGet">
<wsdl:documentation><sdoc:displayName xmlns:sdoc="http://soa.com/wsdl/doc">GET /renewToken</sdoc:displayName></wsdl:documentation>
    <shttp:operation inputSerialization="*/*" location="/renewToken" method="GET" outputSerialization="application/json,text/javascript,application/javascript,application/vnd.soa.v71+json,application/vnd.soa.v72+json,application/vnd.soa.v80+json,application/vnd.soa.v81+json"/>
      <wsdl:output>
    <shttp:output name="" part="" type="entity"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="logoutGet">
<wsdl:documentation><sdoc:displayName xmlns:sdoc="http://soa.com/wsdl/doc">GET /logout</sdoc:displayName></wsdl:documentation>
    <shttp:operation inputSerialization="*/*" location="/logout" method="GET" outputSerialization="application/json,text/javascript,application/javascript,application/vnd.soa.v71+json,application/vnd.soa.v72+json,application/vnd.soa.v80+json,application/vnd.soa.v81+json"/>
      <wsdl:output>
    <shttp:output name="logoutGetResponse" part="logoutGetResponse" type="entity"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="logout">
<wsdl:documentation><sdoc:displayName xmlns:sdoc="http://soa.com/wsdl/doc">POST /logout</sdoc:displayName></wsdl:documentation>
    <shttp:operation inputSerialization="application/x-www-form-urlencoded" location="/logout" method="POST" outputSerialization="application/json,application/vnd.soa.v71+json,application/vnd.soa.v72+json,application/vnd.soa.v80+json,application/vnd.soa.v81+json"/>
      <wsdl:input>
    <shttp:input name="fedmemberId" part="fedmemberId" type="form"/>
      </wsdl:input>
      <wsdl:output>
    <shttp:output name="" part="" type="entity"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="federatedLogout">
<wsdl:documentation><sdoc:displayName xmlns:sdoc="http://soa.com/wsdl/doc">POST /federatedLogout</sdoc:displayName></wsdl:documentation>
    <shttp:operation inputSerialization="application/x-www-form-urlencoded" location="/federatedLogout" method="POST" outputSerialization="application/json,application/vnd.soa.v71+json,application/vnd.soa.v72+json,application/vnd.soa.v80+json,application/vnd.soa.v81+json"/>
      <wsdl:input>
    <shttp:input name="fedmemberId" part="fedmemberId" type="form"/>
      </wsdl:input>
      <wsdl:output>
    <shttp:output name="" part="" type="entity"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="initiateSSOLogin">
<wsdl:documentation><sdoc:displayName xmlns:sdoc="http://soa.com/wsdl/doc">GET /initiateSSOLogin</sdoc:displayName></wsdl:documentation>
    <shttp:operation inputSerialization="*/*" location="/initiateSSOLogin" method="GET" outputSerialization="text/plain"/>
      <wsdl:input>
    <shttp:input name="provider" part="provider" type="query"/>
      </wsdl:input>
      <wsdl:output>
    <shttp:output name="initiateSSOLoginResponse" part="initiateSSOLoginResponse" type="entity"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ssoLogin">
<wsdl:documentation><sdoc:displayName xmlns:sdoc="http://soa.com/wsdl/doc">GET /ssoLogin{domainid:(/[^/]+?)?}</sdoc:displayName></wsdl:documentation>
    <shttp:operation inputSerialization="*/*" location="/ssoLogin{domainid:(/[^/]+?)?}" method="GET" outputSerialization="application/json,application/vnd.soa.v71+json,application/vnd.soa.v72+json,application/vnd.soa.v80+json,application/vnd.soa.v81+json"/>
      <wsdl:input>
    <shttp:input name="domain" part="domain" type="query"/>
    <shttp:input name="domainid" part="domainid" type="path"/>
      </wsdl:input>
      <wsdl:output>
    <shttp:output name="" part="" type="entity"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="login">
<wsdl:documentation><sdoc:displayName xmlns:sdoc="http://soa.com/wsdl/doc">POST </sdoc:displayName></wsdl:documentation>
    <shttp:operation inputSerialization="application/json,application/vnd.soa.v71+json,application/vnd.soa.v72+json,application/vnd.soa.v80+json,application/vnd.soa.v81+json" location="" method="POST" outputSerialization="application/json,application/vnd.soa.v71+json,application/vnd.soa.v72+json,application/vnd.soa.v80+json,application/vnd.soa.v81+json"/>
      <wsdl:input>
    <shttp:input name="parameter0" part="parameter0" type="entity"/>
      </wsdl:input>
      <wsdl:output>
    <shttp:output name="loginResponse" part="loginResponse" type="entity"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="authenticateWithPasswordResetCodeFormPost">
<wsdl:documentation><sdoc:displayName xmlns:sdoc="http://soa.com/wsdl/doc">POST /authenticateWithPasswordResetCode</sdoc:displayName></wsdl:documentation>
    <shttp:operation inputSerialization="application/x-www-form-urlencoded" location="/authenticateWithPasswordResetCode" method="POST" outputSerialization="application/json,application/vnd.soa.v71+json,application/vnd.soa.v72+json,application/vnd.soa.v80+json,application/vnd.soa.v81+json"/>
      <wsdl:input>
    <shttp:input name="email" part="email" type="form"/>
    <shttp:input name="passwordResetCode" part="passwordResetCode" type="form"/>
    <shttp:input name="newPassword" part="newPassword" type="form"/>
      </wsdl:input>
      <wsdl:output>
    <shttp:output name="" part="" type="entity"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="authenticateWithPasswordResetCode">
<wsdl:documentation><sdoc:displayName xmlns:sdoc="http://soa.com/wsdl/doc">POST /authenticateWithPasswordResetCode</sdoc:displayName></wsdl:documentation>
    <shttp:operation inputSerialization="application/json,application/vnd.soa.v72+json,application/vnd.soa.v80+json,application/vnd.soa.v81+json" location="/authenticateWithPasswordResetCode" method="POST" outputSerialization="application/json,application/vnd.soa.v72+json,application/vnd.soa.v80+json,application/vnd.soa.v81+json"/>
      <wsdl:input>
    <shttp:input name="parameter0" part="parameter0" type="entity"/>
      </wsdl:input>
      <wsdl:output>
    <shttp:output name="authenticateWithPasswordResetCodeResponse" part="authenticateWithPasswordResetCodeResponse" type="entity"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="authenticateWithEmailChangeCode">
<wsdl:documentation><sdoc:displayName xmlns:sdoc="http://soa.com/wsdl/doc">POST /authenticateWithEmailChangeCode</sdoc:displayName></wsdl:documentation>
    <shttp:operation inputSerialization="application/json,application/vnd.soa.v72+json,application/vnd.soa.v80+json,application/vnd.soa.v81+json" location="/authenticateWithEmailChangeCode" method="POST" outputSerialization="application/json,application/vnd.soa.v72+json,application/vnd.soa.v80+json,application/vnd.soa.v81+json"/>
      <wsdl:input>
    <shttp:input name="parameter0" part="parameter0" type="entity"/>
      </wsdl:input>
      <wsdl:output>
    <shttp:output name="authenticateWithEmailChangeCodeResponse" part="authenticateWithEmailChangeCodeResponse" type="entity"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getLoginDomains">
<wsdl:documentation><sdoc:displayName xmlns:sdoc="http://soa.com/wsdl/doc">GET /domains</sdoc:displayName></wsdl:documentation>
    <shttp:operation location="/domains" method="GET" outputSerialization="application/json,application/vnd.soa.v71+json,application/vnd.soa.v72+json,application/vnd.soa.v80+json,application/vnd.soa.v81+json"/>
      <wsdl:input>
    <shttp:input name="all" part="all" type="query"/>
    <shttp:input name="IncludeDisabled" part="IncludeDisabled" type="query"/>
    <shttp:input name="cache" part="cache" type="query"/>
      </wsdl:input>
      <wsdl:output>
    <shttp:output name="getLoginDomainsResponse" part="getLoginDomainsResponse" type="entity"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateLoginDomains">
<wsdl:documentation><sdoc:displayName xmlns:sdoc="http://soa.com/wsdl/doc">PUT /domains</sdoc:displayName></wsdl:documentation>
    <shttp:operation inputSerialization="application/json,application/vnd.soa.v71+json,application/vnd.soa.v72+json,application/vnd.soa.v80+json,application/vnd.soa.v81+json" location="/domains" method="PUT" outputSerialization="text/plain"/>
      <wsdl:input>
    <shttp:input name="parameter0" part="parameter0" type="entity"/>
      </wsdl:input>
      <wsdl:output>
    <shttp:output name="updateLoginDomainsResponse" part="updateLoginDomainsResponse" type="entity"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getLoginDomainLogo">
<wsdl:documentation><sdoc:displayName xmlns:sdoc="http://soa.com/wsdl/doc">GET /domains/{LoginDomainID}/logo</sdoc:displayName></wsdl:documentation>
    <shttp:operation location="/domains/{LoginDomainID}/logo" method="GET" outputSerialization="image/png"/>
      <wsdl:input>
    <shttp:input name="LoginDomainID" part="LoginDomainID" type="path"/>
    <shttp:input name="size" part="size" type="query"/>
    <shttp:input name="cache" part="cache" type="query"/>
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="getLoginDomain">
<wsdl:documentation><sdoc:displayName xmlns:sdoc="http://soa.com/wsdl/doc">GET /domains/{LoginDomainID}</sdoc:displayName></wsdl:documentation>
    <shttp:operation location="/domains/{LoginDomainID}" method="GET" outputSerialization="application/xml,application/json,application/vnd.soa.v71+json,application/vnd.soa.v72+json,application/vnd.soa.v80+json,application/vnd.soa.v71+xml,application/vnd.soa.v72+xml,application/vnd.soa.v80+xml,application/vnd.soa.v81+json,application/vnd.soa.v81+xml"/>
      <wsdl:input>
    <shttp:input name="LoginDomainID" part="LoginDomainID" type="path"/>
    <shttp:input name="cache" part="cache" type="query"/>
      </wsdl:input>
      <wsdl:output>
    <shttp:output name="getLoginDomainResponse" part="getLoginDomainResponse" type="entity"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getLoginStatus">
<wsdl:documentation><sdoc:displayName xmlns:sdoc="http://soa.com/wsdl/doc">GET /status</sdoc:displayName></wsdl:documentation>
    <shttp:operation location="/status" method="GET" outputSerialization="application/xml,application/json,application/vnd.soa.v71+json,application/vnd.soa.v72+json,application/vnd.soa.v80+json,application/vnd.soa.v71+xml,application/vnd.soa.v72+xml,application/vnd.soa.v80+xml,application/vnd.soa.v81+json,application/vnd.soa.v81+xml"/>
      <wsdl:output>
    <shttp:output name="getLoginStatusResponse" part="getLoginStatusResponse" type="entity"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="validateRegistrationCode">
<wsdl:documentation><sdoc:displayName xmlns:sdoc="http://soa.com/wsdl/doc">POST /validateRegistrationCode</sdoc:displayName></wsdl:documentation>
    <shttp:operation inputSerialization="application/x-www-form-urlencoded" location="/validateRegistrationCode" method="POST" outputSerialization="application/json,application/vnd.soa.v71+json,application/vnd.soa.v72+json,application/vnd.soa.v80+json,application/vnd.soa.v81+json"/>
      <wsdl:input>
    <shttp:input name="registrationCode" part="registrationCode" type="form"/>
      </wsdl:input>
      <wsdl:output>
    <shttp:output name="" part="" type="entity"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="endSession">
<wsdl:documentation><sdoc:displayName xmlns:sdoc="http://soa.com/wsdl/doc">GET /endsession</sdoc:displayName></wsdl:documentation>
    <shttp:operation location="/endsession" method="GET" outputSerialization="application/json,application/vnd.soa.v72+json,application/vnd.soa.v80+json,application/vnd.soa.v81+json"/>
      <wsdl:input>
    <shttp:input name="returninstructions" part="returninstructions" type="query"/>
    <shttp:input name="event" part="event" type="query"/>
      </wsdl:input>
      <wsdl:output>
    <shttp:output name="" part="" type="entity"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="processLogoutGet">
<wsdl:documentation><sdoc:displayName xmlns:sdoc="http://soa.com/wsdl/doc">GET /ssologout</sdoc:displayName></wsdl:documentation>
    <shttp:operation location="/ssologout" method="GET" outputSerialization="*/*"/>
      <wsdl:output>
    <shttp:output name="" part="" type="entity"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="processLogoutPost">
<wsdl:documentation><sdoc:displayName xmlns:sdoc="http://soa.com/wsdl/doc">POST /ssologout</sdoc:displayName></wsdl:documentation>
    <shttp:operation inputSerialization="application/x-www-form-urlencoded" location="/ssologout" method="POST" outputSerialization="*/*"/>
      <wsdl:output>
    <shttp:output name="" part="" type="entity"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="resolveLoginPendingTask">
<wsdl:documentation><sdoc:displayName xmlns:sdoc="http://soa.com/wsdl/doc">POST /pendingtasks</sdoc:displayName></wsdl:documentation>
    <shttp:operation inputSerialization="application/json,application/vnd.soa.v72+json,application/vnd.soa.v80+json,application/vnd.soa.v81+json" location="/pendingtasks" method="POST" outputSerialization="application/json,application/vnd.soa.v72+json,application/vnd.soa.v80+json,application/vnd.soa.v81+json"/>
      <wsdl:input>
    <shttp:input name="parameter0" part="parameter0" type="entity"/>
      </wsdl:input>
      <wsdl:output>
    <shttp:output name="resolveLoginPendingTaskResponse" part="resolveLoginPendingTaskResponse" type="entity"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="LoginAPI">
<wsdl:documentation><sdoc:title xmlns:sdoc="http://soa.com/wsdl/doc">Login API</sdoc:title><sdoc:description xmlns:sdoc="http://soa.com/wsdl/doc"><![CDATA[<p>The Login service provides a REST interface and a set of operations that deal with logging in and out, including getting an authentication token, renewing  an authorization token, and deleting an authorization token cookie. This API also includes interfaces to perform SSO login.</p>]]></sdoc:description></wsdl:documentation>
    <wsdl:port name="LoginAPI_rest_port_https" binding="tns:LoginAPIBinding">
    <shttp:address location="https://0.0.0.0/api/login"/>
    </wsdl:port>
    <wsdl:port name="LoginAPI_rest_port_http" binding="tns:LoginAPIBinding">
    <shttp:address location="http://0.0.0.0/api/login"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
