ag/assets/previous_api_plat/rest/api-platform/api-urn_com.soa.properties.api-PropertiesAPI.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="urn:com.soa.properties.api" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="urn:com.soa.properties.api" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:nms1="http://soa.com/xsd/tenant/1.0" xmlns:shttp="http://soa.com/wsdl/http">
  <wsdl:types>
    <xs:schema elementFormDefault="qualified" targetNamespace="http://soa.com/xsd/tenant/1.0" version="1.0" xmlns:tns="http://soa.com/xsd/tenant/1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:element name="TenantProperties"><xs:complexType><xs:sequence><xs:element name="DefaultTheme" type="xs:string"/><xs:element name="ConsoleAddress" type="xs:string"/><xs:element name="ProxyApiUrl" type="xs:string"/><xs:element maxOccurs="unbounded" minOccurs="0" name="Themes" type="tns:Theme"/><xs:element minOccurs="0" name="TenantID" type="xs:string"/><xs:element minOccurs="0" name="SiteAdminGroupID" type="xs:string"/><xs:element minOccurs="0" name="TenantBusinessID" type="xs:string"/><xs:element minOccurs="0" name="TenantBusinessKey" type="xs:string"/><xs:element minOccurs="0" name="BusinessAdminGroupID" type="xs:string"/><xs:element minOccurs="0" name="TenantName" type="xs:string"/><xs:element minOccurs="0" name="ContactEmailAddress" type="xs:string"/><xs:element minOccurs="0" name="FromEmailAddress" type="xs:string"/><xs:element minOccurs="0" name="AnalyticsAccountID" type="xs:string"/><xs:element maxOccurs="unbounded" minOccurs="0" name="SupportedThemes" type="tns:SupportedTheme"/><xs:element minOccurs="0" name="LaaSIntegrationSupport" type="xs:string"/><xs:element maxOccurs="unbounded" minOccurs="0" name="ForwardProxyAllowedHosts" type="xs:string"/></xs:sequence></xs:complexType></xs:element>
<xs:complexType name="Theme"><xs:sequence><xs:element name="Theme" type="xs:string"/><xs:element maxOccurs="unbounded" name="VirtualHosts" type="xs:string"/><xs:element name="ConsoleAddress" type="xs:string"/><xs:element name="SiteTitle" type="xs:string"/><xs:element name="SiteDescription" type="xs:string"/><xs:element name="TenantID" type="xs:long"/><xs:element name="FedmemberID" type="xs:string"/><xs:element name="ThemeImpl" type="xs:string"/><xs:element name="Alias" type="xs:string"/></xs:sequence></xs:complexType>
<xs:complexType name="SupportedTheme"><xs:sequence><xs:element name="Theme" type="xs:string"/><xs:element name="Cloneable" type="xs:boolean"/><xs:element name="ThemeImpl" type="xs:string"/></xs:sequence></xs:complexType>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="getTenantPropertiesRequestMessage">
  </wsdl:message>
  <wsdl:message name="getTenantPropertiesResponseMessage">
    <wsdl:part name="getTenantPropertiesResponse" element="nms1:TenantProperties">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="PropertiesAPIPortType">
    <wsdl:operation name="getTenantProperties">
      <wsdl:input message="tns:getTenantPropertiesRequestMessage">
    </wsdl:input>
      <wsdl:output message="tns:getTenantPropertiesResponseMessage">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="PropertiesAPIBinding" type="tns:PropertiesAPIPortType">
    <shttp:binding/>
    <wsdl:operation name="getTenantProperties">
<wsdl:documentation><sdoc:displayName xmlns:sdoc="http://soa.com/wsdl/doc">GET /properties</sdoc:displayName></wsdl:documentation>
    <shttp:operation inputSerialization="*/*" location="/properties" method="GET" outputSerialization="application/json,application/vnd.soa.v71+json,application/vnd.soa.v72+json,application/vnd.soa.v80+json,application/vnd.soa.v81+json"/>
      <wsdl:output>
    <shttp:output name="getTenantPropertiesResponse" part="getTenantPropertiesResponse" type="entity"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PropertiesAPI">
<wsdl:documentation><sdoc:title xmlns:sdoc="http://soa.com/wsdl/doc">Tenant Properties API</sdoc:title><sdoc:description xmlns:sdoc="http://soa.com/wsdl/doc"><![CDATA[<p>The Propeties service allows you to retrieve properties for your deployment.</p>]]></sdoc:description></wsdl:documentation>
    <wsdl:port name="PropertiesAPI_rest_port_https" binding="tns:PropertiesAPIBinding">
    <shttp:address location="https://0.0.0.0/api"/>
    </wsdl:port>
    <wsdl:port name="PropertiesAPI_rest_port_http" binding="tns:PropertiesAPIBinding">
    <shttp:address location="http://0.0.0.0/api"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
