ag/assets/previous_api_plat/rest/api-platform/api-urn_com.soa.atmosphere.search.api-FederatedSearchAPI.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="urn:com.soa.atmosphere.search.api" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="urn:com.soa.atmosphere.search.api" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:nms2="http://soa.com/xsd/search/1.0" xmlns:nms1="urn:org.apache.wink.common.model.rss" xmlns:shttp="http://soa.com/wsdl/http">
  <wsdl:types>
    <xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:element name="aliasedDocument" type="aliasedDocument"/>
<xs:element name="category" nillable="true" type="rssCategory"/>
<xs:element name="channel" nillable="true" type="rssChannel"/>
<xs:element name="cloud" nillable="true" type="rssCloud"/>
<xs:element name="document" type="document"/>
<xs:element name="enclosure" nillable="true" type="rssEnclosure"/>
<xs:element name="guid" nillable="true" type="rssGuid"/>
<xs:element name="image" nillable="true" type="rssImage"/>
<xs:element name="item" nillable="true" type="rssItem"/>
<xs:element name="rss"><xs:complexType><xs:sequence><xs:element name="channel" type="rssChannel"/></xs:sequence><xs:attribute name="version" type="xs:string" use="required"/></xs:complexType></xs:element>
<xs:element name="skipDays" nillable="true" type="rssSkipDays"/>
<xs:element name="skipHours" nillable="true" type="rssSkipHours"/>
<xs:element name="source" nillable="true" type="rssSource"/>
<xs:element name="textInput" nillable="true" type="rssTextInput"/>
<xs:complexType name="rssSkipDays"><xs:sequence><xs:element maxOccurs="unbounded" minOccurs="0" name="day" nillable="true" type="xs:string"/></xs:sequence></xs:complexType>
<xs:complexType name="rssChannel"><xs:all><xs:element name="title" type="xs:string"/><xs:element name="link" type="xs:anyURI"/><xs:element name="description" type="xs:string"/><xs:element minOccurs="0" name="language" type="xs:string"/><xs:element minOccurs="0" name="copyright" type="xs:string"/><xs:element minOccurs="0" name="managingEditor" type="xs:string"/><xs:element minOccurs="0" name="webMaster" type="xs:string"/><xs:element minOccurs="0" name="pubDate" type="xs:string"/><xs:element minOccurs="0" name="lastBuildDate" type="xs:string"/><xs:element maxOccurs="unbounded" minOccurs="0" name="category" nillable="true" type="rssCategory"/><xs:element minOccurs="0" name="generator" type="xs:string"/><xs:element minOccurs="0" name="docs" type="xs:anyURI"/><xs:element minOccurs="0" name="cloud" type="rssCloud"/><xs:element minOccurs="0" name="ttl" type="xs:int"/><xs:element minOccurs="0" name="image" type="rssImage"/><xs:element minOccurs="0" name="rating" type="xs:string"/><xs:element minOccurs="0" name="textInput" type="rssTextInput"/><xs:element minOccurs="0" name="skipHours" type="rssSkipHours"/><xs:element minOccurs="0" name="skipDays" type="rssSkipDays"/><xs:any maxOccurs="unbounded" minOccurs="0" namespace="##other" processContents="lax"/><xs:element maxOccurs="unbounded" minOccurs="0" name="item" nillable="true" type="rssItem"/></xs:all></xs:complexType>
<xs:complexType name="rssCategory"><xs:simpleContent><xs:extension base="xs:string"><xs:attribute name="domain" type="xs:string"/></xs:extension></xs:simpleContent></xs:complexType>
<xs:complexType name="rssCloud"><xs:sequence/><xs:attribute name="domain" type="xs:string" use="required"/><xs:attribute name="port" type="xs:int" use="required"/><xs:attribute name="path" type="xs:string" use="required"/><xs:attribute name="registerProcedure" type="xs:string" use="required"/><xs:attribute name="protocol" type="xs:string" use="required"/></xs:complexType>
<xs:complexType name="rssImage"><xs:all><xs:element name="url" type="xs:string"/><xs:element name="title" type="xs:string"/><xs:element name="link" type="xs:anyURI"/><xs:element default="88" minOccurs="0" name="width" type="xs:int"/><xs:element default="31" minOccurs="0" name="height" type="xs:int"/><xs:element minOccurs="0" name="description" type="xs:string"/></xs:all></xs:complexType>
<xs:complexType name="rssTextInput"><xs:all><xs:element name="title" type="xs:string"/><xs:element name="description" type="xs:string"/><xs:element name="name" type="xs:string"/><xs:element name="link" type="xs:anyURI"/></xs:all></xs:complexType>
<xs:complexType name="rssSkipHours"><xs:sequence><xs:element maxOccurs="unbounded" minOccurs="0" name="hour" nillable="true" type="xs:string"/></xs:sequence></xs:complexType>
<xs:complexType name="rssSource"><xs:simpleContent><xs:extension base="xs:string"><xs:attribute name="url" type="xs:string" use="required"/></xs:extension></xs:simpleContent></xs:complexType>
<xs:complexType name="rssEnclosure"><xs:sequence/><xs:attribute name="url" type="xs:string" use="required"/><xs:attribute name="length" type="xs:string" use="required"/><xs:attribute name="type" type="xs:string" use="required"/></xs:complexType>
<xs:complexType name="rssGuid"><xs:simpleContent><xs:extension base="xs:string"><xs:attribute name="isPermaLink" type="xs:boolean"/></xs:extension></xs:simpleContent></xs:complexType>
<xs:complexType name="rssItem"><xs:all><xs:element minOccurs="0" name="title" type="xs:string"/><xs:element minOccurs="0" name="link" type="xs:anyURI"/><xs:element minOccurs="0" name="description" type="xs:string"/><xs:element minOccurs="0" name="author" type="xs:string"/><xs:element maxOccurs="unbounded" minOccurs="0" name="category" nillable="true" type="rssCategory"/><xs:element minOccurs="0" name="comments" type="xs:anyURI"/><xs:element minOccurs="0" name="enclosure" type="rssEnclosure"/><xs:element minOccurs="0" name="guid" type="rssGuid"/><xs:element name="pubDate" type="xs:string"/><xs:element minOccurs="0" name="source" type="rssSource"/><xs:any maxOccurs="unbounded" minOccurs="0" namespace="##other" processContents="lax"/></xs:all></xs:complexType>
<xs:complexType name="aliasedDocument"><xs:sequence><xs:element minOccurs="0" name="alias" type="xs:string"/><xs:element minOccurs="0" ref="document"/></xs:sequence></xs:complexType>
<xs:complexType name="document"><xs:sequence><xs:element maxOccurs="unbounded" minOccurs="0" name="allFields" type="field"/><xs:element minOccurs="0" name="id" type="xs:string"/><xs:element minOccurs="0" name="indexName" type="xs:string"/></xs:sequence></xs:complexType>
<xs:complexType name="field"><xs:sequence><xs:element name="binary" type="xs:boolean"/><xs:element name="boost" type="xs:int"/><xs:element name="indexed" type="xs:boolean"/><xs:element minOccurs="0" name="name" type="xs:string"/><xs:element name="stored" type="xs:boolean"/><xs:element minOccurs="0" name="value" type="xs:string"/></xs:sequence></xs:complexType>
</xs:schema>
    <xs:schema elementFormDefault="qualified" targetNamespace="http://soa.com/xsd/search/1.0" version="1.0" xmlns:tns="http://soa.com/xsd/search/1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:import/>
<xs:element name="indexableDocument" type="tns:indexableDocument"/>
<xs:element name="indexableDocuments" type="tns:indexableDocuments"/>
<xs:element name="indexingResult"><xs:complexType><xs:sequence><xs:element minOccurs="0" name="NumUpdatedDocuments" type="xs:int"/></xs:sequence></xs:complexType></xs:element>
<xs:complexType name="indexableDocuments"><xs:sequence><xs:element maxOccurs="unbounded" minOccurs="0" name="indexableDocuments" nillable="true" type="tns:indexableDocument"/></xs:sequence></xs:complexType>
<xs:complexType name="indexableDocument"><xs:sequence><xs:element minOccurs="0" name="action" type="xs:string"/><xs:element minOccurs="0" name="aliasedDocument" type="aliasedDocument"/><xs:element minOccurs="0" name="elasticAliasedDocument" type="aliasedDocument"/></xs:sequence></xs:complexType>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="getCatalogResponseMessage">
    <wsdl:part name="getCatalogResponse" element="tns:rss">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="indexRequestMessage">
    <wsdl:part name="parameter0" element="nms2:IndexableDocuments">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="searchResponseMessage">
    <wsdl:part name="searchResponse" element="tns:rss">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getCatalogRequestMessage">
    <wsdl:part name="FedMemberID" type="xs:string">
    </wsdl:part>
    <wsdl:part name="type" type="xs:string">
    </wsdl:part>
    <wsdl:part name="start" type="xs:integer">
    </wsdl:part>
    <wsdl:part name="count" type="xs:integer">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="searchWithPOSTResponseMessage">
    <wsdl:part name="searchWithPOSTResponse" element="tns:rss">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="indexResponseMessage">
    <wsdl:part name="indexResponse" element="nms2:indexingResult">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="searchWithPOSTRequestMessage">
    <wsdl:part name="q" type="xs:string">
    </wsdl:part>
    <wsdl:part name="sort" type="xs:string">
    </wsdl:part>
    <wsdl:part name="sortBy" type="xs:string">
    </wsdl:part>
    <wsdl:part name="start" type="xs:integer">
    </wsdl:part>
    <wsdl:part name="count" type="xs:integer">
    </wsdl:part>
    <wsdl:part name="AdminGroups" type="xs:string">
    </wsdl:part>
    <wsdl:part name="AdminApis" type="xs:string">
    </wsdl:part>
    <wsdl:part name="AdminApps" type="xs:string">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="searchRequestMessage">
    <wsdl:part name="q" type="xs:string">
    </wsdl:part>
    <wsdl:part name="sort" type="xs:string">
    </wsdl:part>
    <wsdl:part name="sortBy" type="xs:string">
    </wsdl:part>
    <wsdl:part name="start" type="xs:integer">
    </wsdl:part>
    <wsdl:part name="count" type="xs:integer">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="FederatedSearchAPIPortType">
    <wsdl:operation name="getCatalog">
      <wsdl:input message="tns:getCatalogRequestMessage">
    </wsdl:input>
      <wsdl:output message="tns:getCatalogResponseMessage">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="searchWithPOST">
      <wsdl:input message="tns:searchWithPOSTRequestMessage">
    </wsdl:input>
      <wsdl:output message="tns:searchWithPOSTResponseMessage">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="index">
      <wsdl:input message="tns:indexRequestMessage">
    </wsdl:input>
      <wsdl:output message="tns:indexResponseMessage">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="search">
      <wsdl:input message="tns:searchRequestMessage">
    </wsdl:input>
      <wsdl:output message="tns:searchResponseMessage">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="FederatedSearchAPIBinding" type="tns:FederatedSearchAPIPortType">
    <shttp:binding/>
    <wsdl:operation name="getCatalog">
<wsdl:documentation><sdoc:displayName xmlns:sdoc="http://soa.com/wsdl/doc">GET /federatedsearch/catalog</sdoc:displayName></wsdl:documentation>
    <shttp:operation location="/federatedsearch/catalog" method="GET" outputSerialization="application/xml,text/xml,application/json,application/vnd.soa.v71+json,application/vnd.soa.v72+json,application/vnd.soa.v80+json,application/vnd.soa.v71+xml,application/vnd.soa.v72+xml,application/vnd.soa.v80+xml,application/vnd.soa.v81+json,application/vnd.soa.v81+xml"/>
      <wsdl:input>
    <shttp:input name="FedMemberID" part="FedMemberID" type="query"/>
    <shttp:input name="type" part="type" type="query"/>
    <shttp:input name="start" part="start" type="query"/>
    <shttp:input name="count" part="count" type="query"/>
      </wsdl:input>
      <wsdl:output>
    <shttp:output name="getCatalogResponse" part="getCatalogResponse" type="entity"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="searchWithPOST">
<wsdl:documentation><sdoc:displayName xmlns:sdoc="http://soa.com/wsdl/doc">POST /federatedsearch</sdoc:displayName></wsdl:documentation>
    <shttp:operation inputSerialization="application/x-www-form-urlencoded" location="/federatedsearch" method="POST" outputSerialization="application/xml,text/xml,application/json,application/vnd.soa.v71+json,application/vnd.soa.v72+json,application/vnd.soa.v80+json,application/vnd.soa.v71+xml,application/vnd.soa.v72+xml,application/vnd.soa.v80+xml,application/vnd.soa.v81+json,application/vnd.soa.v81+xml"/>
      <wsdl:input>
    <shttp:input name="q" part="q" type="form"/>
    <shttp:input name="sort" part="sort" type="form"/>
    <shttp:input name="sortBy" part="sortBy" type="form"/>
    <shttp:input name="start" part="start" type="form"/>
    <shttp:input name="count" part="count" type="form"/>
    <shttp:input name="AdminGroups" part="AdminGroups" type="form"/>
    <shttp:input name="AdminApis" part="AdminApis" type="form"/>
    <shttp:input name="AdminApps" part="AdminApps" type="form"/>
      </wsdl:input>
      <wsdl:output>
    <shttp:output name="searchWithPOSTResponse" part="searchWithPOSTResponse" type="entity"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="index">
<wsdl:documentation><sdoc:displayName xmlns:sdoc="http://soa.com/wsdl/doc">POST /federatedsearch/index</sdoc:displayName></wsdl:documentation>
    <shttp:operation inputSerialization="application/json,application/vnd.soa.v71+json,application/vnd.soa.v72+json,application/vnd.soa.v80+json,application/vnd.soa.v81+json" location="/federatedsearch/index" method="POST" outputSerialization="application/json,application/vnd.soa.v71+json,application/vnd.soa.v72+json,application/vnd.soa.v80+json,application/vnd.soa.v81+json"/>
      <wsdl:input>
    <shttp:input name="parameter0" part="parameter0" type="entity"/>
      </wsdl:input>
      <wsdl:output>
    <shttp:output name="indexResponse" part="indexResponse" type="entity"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="search">
<wsdl:documentation><sdoc:displayName xmlns:sdoc="http://soa.com/wsdl/doc">GET /federatedsearch</sdoc:displayName></wsdl:documentation>
    <shttp:operation location="/federatedsearch" method="GET" outputSerialization="application/xml,text/xml,application/json,application/vnd.soa.v71+json,application/vnd.soa.v72+json,application/vnd.soa.v80+json,application/vnd.soa.v71+xml,application/vnd.soa.v72+xml,application/vnd.soa.v80+xml,application/vnd.soa.v81+json,application/vnd.soa.v81+xml"/>
      <wsdl:input>
    <shttp:input name="q" part="q" type="query"/>
    <shttp:input name="sort" part="sort" type="query"/>
    <shttp:input name="sortBy" part="sortBy" type="query"/>
    <shttp:input name="start" part="start" type="query"/>
    <shttp:input name="count" part="count" type="query"/>
      </wsdl:input>
      <wsdl:output>
    <shttp:output name="searchResponse" part="searchResponse" type="entity"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="FederatedSearchAPI">
<wsdl:documentation><sdoc:title xmlns:sdoc="http://soa.com/wsdl/doc">Federated Search API</sdoc:title><sdoc:description xmlns:sdoc="http://soa.com/wsdl/doc"><![CDATA[<p>The federated search service provides a high-level search API.</p>]]></sdoc:description></wsdl:documentation>
    <wsdl:port name="FederatedSearchAPI_rest_port_http" binding="tns:FederatedSearchAPIBinding">
    <shttp:address location="http://0.0.0.0/api"/>
    </wsdl:port>
    <wsdl:port name="FederatedSearchAPI_rest_port_https" binding="tns:FederatedSearchAPIBinding">
    <shttp:address location="https://0.0.0.0/api"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
