ag/assets/previous_api_plat/rest/api-platform/api-http___soa.com_wsdl_environment_1.0-EnvironmentAPI.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://soa.com/wsdl/environment/1.0" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://soa.com/wsdl/environment/1.0" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:nms1="http://soa.com/xsd/environment/1.0" xmlns:shttp="http://soa.com/wsdl/http">
  <wsdl:types>
    <xs:schema elementFormDefault="qualified" targetNamespace="http://soa.com/xsd/environment/1.0" version="1.0" xmlns:tns="http://soa.com/xsd/environment/1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:element name="Environments"><xs:complexType><xs:sequence><xs:element maxOccurs="unbounded" minOccurs="0" name="Environment" type="tns:Environment"/></xs:sequence></xs:complexType></xs:element>
<xs:complexType name="Environment"><xs:sequence><xs:element minOccurs="0" name="Name" type="xs:string"/><xs:element minOccurs="0" name="DisplayName" type="xs:string"/><xs:element minOccurs="0" name="Description" type="xs:string"/><xs:element minOccurs="0" name="CurrentEnvironment" type="xs:boolean"/></xs:sequence></xs:complexType>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="getEnvironmentsRequestMessage">
    <wsdl:part name="Scope" type="xs:string">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getEnvironmentsResponseMessage">
    <wsdl:part name="getEnvironmentsResponse" element="nms1:Environments">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="EnvironmentAPIPortType">
    <wsdl:operation name="getEnvironments">
      <wsdl:input message="tns:getEnvironmentsRequestMessage">
    </wsdl:input>
      <wsdl:output message="tns:getEnvironmentsResponseMessage">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="EnvironmentAPIBinding" type="tns:EnvironmentAPIPortType">
    <shttp:binding/>
    <wsdl:operation name="getEnvironments">
<wsdl:documentation><sdoc:displayName xmlns:sdoc="http://soa.com/wsdl/doc">GET /environments</sdoc:displayName><sdoc:description xmlns:sdoc="http://soa.com/wsdl/doc"><![CDATA[<p>Returns environments within the given scope. The scopes are &ldquo;global&rdquo; (all environments),
&ldquo;local&rdquo; (only those defined in the local system/tenant), and &ldquo;default&rdquo; (default local
environment). The scope parameter is optional, the default value is &ldquo;global&rdquo;.</p>
<h4>Request:</h4>
<pre><code>GET /environments?Scope=local HTTP/1.1
Accept: application/json
</code></pre>
<h4>Response:</h4>
<pre><code>HTTP/1.1 200 OK

{
  "Environment" : [ {
    "Name" : "Development",
    "CurrentEnvironment" : true
  }, {
    "Name" : "QA",
    "CurrentEnvironment" : false
  }, {
    "Name" : "Staging",
    "CurrentEnvironment" : false
  } ]
}
</code></pre>]]></sdoc:description></wsdl:documentation>
    <shttp:operation location="/environments" method="GET" outputSerialization="application/json,application/xml,application/vnd.soa.v84+json,application/vnd.soa.v84+xml"/>
      <wsdl:input>
    <shttp:input name="Scope" part="Scope" type="query"><wsdl:documentation><sdoc:description xmlns:sdoc="http://soa.com/wsdl/doc"><![CDATA[Scope of the results, global, local, default. Optional, if not supplied the default is global.]]></sdoc:description><sdoc:required xmlns:sdoc="http://soa.com/wsdl/doc">false</sdoc:required><sdoc:multiple xmlns:sdoc="http://soa.com/wsdl/doc">false</sdoc:multiple></wsdl:documentation></shttp:input>
      </wsdl:input>
      <wsdl:output>
    <shttp:output name="getEnvironmentsResponse" part="getEnvironmentsResponse" type="entity"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="EnvironmentAPI">
<wsdl:documentation><sdoc:title xmlns:sdoc="http://soa.com/wsdl/doc">Environment API</sdoc:title><sdoc:version xmlns:sdoc="http://soa.com/wsdl/doc">8.4.0</sdoc:version><sdoc:vendor xmlns:sdoc="http://soa.com/wsdl/doc">Rogue Wave Software</sdoc:vendor><sdoc:description xmlns:sdoc="http://soa.com/wsdl/doc"><![CDATA[<p>The Environment service provides operations for finding information about the configured environments.</p>]]></sdoc:description></wsdl:documentation>
    <wsdl:port name="EnvironmentAPI_rest_port_http" binding="tns:EnvironmentAPIBinding">
    <shttp:address location="http://0.0.0.0/api"/>
    </wsdl:port>
    <wsdl:port name="EnvironmentAPI_rest_port_https" binding="tns:EnvironmentAPIBinding">
    <shttp:address location="https://0.0.0.0/api"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
