ag/assets/previous_api_plat/rest/api-platform/api-http___soa.com_wsdl_app_1.0-ApplicationIdentityAPI.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://soa.com/wsdl/app/1.0" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://soa.com/wsdl/app/1.0" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:shttp="http://soa.com/wsdl/http">
  <wsdl:message name="getApplicationJwksUrlRequestMessage">
    <wsdl:part name="RuntimeID" type="xs:string">
    </wsdl:part>
    <wsdl:part name="FedMemberID" type="xs:string">
    </wsdl:part>
    <wsdl:part name="ServiceQName" type="xs:string">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getAppCertificateRequestMessage">
    <wsdl:part name="RuntimeID" type="xs:string">
    </wsdl:part>
    <wsdl:part name="FedMemberID" type="xs:string">
    </wsdl:part>
    <wsdl:part name="ServiceQName" type="xs:string">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getApplicationSharedSecretResponseMessage">
    <wsdl:part name="getApplicationSharedSecretResponse" type="xs:string">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getAppCertificateResponseMessage">
  </wsdl:message>
  <wsdl:message name="getApplicationSharedSecretRequestMessage">
    <wsdl:part name="RuntimeID" type="xs:string">
    </wsdl:part>
    <wsdl:part name="FedMemberID" type="xs:string">
    </wsdl:part>
    <wsdl:part name="ServiceQName" type="xs:string">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getApplicationJwksUrlResponseMessage">
    <wsdl:part name="getApplicationJwksUrlResponse" type="xs:string">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="ApplicationIdentityAPIPortType">
    <wsdl:operation name="getAppCertificate">
      <wsdl:input message="tns:getAppCertificateRequestMessage">
    </wsdl:input>
      <wsdl:output message="tns:getAppCertificateResponseMessage">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getApplicationJwksUrl">
      <wsdl:input message="tns:getApplicationJwksUrlRequestMessage">
    </wsdl:input>
      <wsdl:output message="tns:getApplicationJwksUrlResponseMessage">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getApplicationSharedSecret">
      <wsdl:input message="tns:getApplicationSharedSecretRequestMessage">
    </wsdl:input>
      <wsdl:output message="tns:getApplicationSharedSecretResponseMessage">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ApplicationIdentityAPIBinding" type="tns:ApplicationIdentityAPIPortType">
    <shttp:binding/>
    <wsdl:operation name="getAppCertificate">
<wsdl:documentation><sdoc:displayName xmlns:sdoc="http://soa.com/wsdl/doc">GET /identities/{RuntimeID}/certificate</sdoc:displayName></wsdl:documentation>
    <shttp:operation inputSerialization="*/*" location="/identities/{RuntimeID}/certificate" method="GET" outputSerialization="application/octet-stream"/>
      <wsdl:input>
    <shttp:input name="RuntimeID" part="RuntimeID" type="path"/>
    <shttp:input name="FedMemberID" part="FedMemberID" type="query"/>
    <shttp:input name="ServiceQName" part="ServiceQName" type="query"/>
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="getApplicationJwksUrl">
<wsdl:documentation><sdoc:displayName xmlns:sdoc="http://soa.com/wsdl/doc">GET /identities/{RuntimeID}/oauthdetails</sdoc:displayName></wsdl:documentation>
    <shttp:operation inputSerialization="*/*" location="/identities/{RuntimeID}/oauthdetails" method="GET" outputSerialization="application/json,application/xml,text/xml"/>
      <wsdl:input>
    <shttp:input name="RuntimeID" part="RuntimeID" type="path"/>
    <shttp:input name="FedMemberID" part="FedMemberID" type="query"/>
    <shttp:input name="ServiceQName" part="ServiceQName" type="query"/>
      </wsdl:input>
      <wsdl:output>
    <shttp:output name="getApplicationJwksUrlResponse" part="getApplicationJwksUrlResponse" type="entity"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getApplicationSharedSecret">
<wsdl:documentation><sdoc:displayName xmlns:sdoc="http://soa.com/wsdl/doc">GET /identities/{RuntimeID}/secret</sdoc:displayName></wsdl:documentation>
    <shttp:operation inputSerialization="*/*" location="/identities/{RuntimeID}/secret" method="GET" outputSerialization="text/plain"/>
      <wsdl:input>
    <shttp:input name="RuntimeID" part="RuntimeID" type="path"/>
    <shttp:input name="FedMemberID" part="FedMemberID" type="query"/>
    <shttp:input name="ServiceQName" part="ServiceQName" type="query"/>
      </wsdl:input>
      <wsdl:output>
    <shttp:output name="getApplicationSharedSecretResponse" part="getApplicationSharedSecretResponse" type="entity"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ApplicationIdentityAPI">
<wsdl:documentation><sdoc:title xmlns:sdoc="http://soa.com/wsdl/doc">Application Identity API</sdoc:title><sdoc:description xmlns:sdoc="http://soa.com/wsdl/doc"><![CDATA[<p>The application identity service provides access to the security artifcats for an API.</p>]]></sdoc:description></wsdl:documentation>
    <wsdl:port name="ApplicationIdentityAPI_rest_port_http" binding="tns:ApplicationIdentityAPIBinding">
    <shttp:address location="http://0.0.0.0/globalapis"/>
    </wsdl:port>
    <wsdl:port name="ApplicationIdentityAPI_rest_port_https" binding="tns:ApplicationIdentityAPIBinding">
    <shttp:address location="https://0.0.0.0/globalapis"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
