ag/assets/previous_api_plat/rest/api-platform/api-urn_com.soa.exports.remote.service-ExportsMgmtPortType.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="urn:com.soa.exports.remote.service" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="urn:com.soa.exports.remote.service" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:nms1="http://soa.com/uri/products/exportservice/xsd/1.0" xmlns:shttp="http://soa.com/wsdl/http">
  <wsdl:types>
    <xs:schema elementFormDefault="qualified" targetNamespace="http://soa.com/uri/products/exportservice/xsd/1.0" version="1.0" xmlns:tns="http://soa.com/uri/products/exportservice/xsd/1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:element name="ExportContractRequest"><xs:complexType><xs:complexContent><xs:extension base="tns:BaseExportRequest"><xs:sequence><xs:element name="ContractKey" type="xs:string"/><xs:element minOccurs="0" name="QoSPolicy" type="tns:IncludeExclude"/><xs:element minOccurs="0" name="Metadata" type="tns:IncludeExclude"/></xs:sequence></xs:extension></xs:complexContent></xs:complexType></xs:element>
<xs:element name="ExportOrganizationRequest"><xs:complexType><xs:complexContent><xs:extension base="tns:BaseExportRequest"><xs:sequence><xs:element name="OrganizationKey" type="xs:string"/><xs:element minOccurs="0" name="OperationalPolicy" type="tns:IncludeExclude"/><xs:element minOccurs="0" name="QoSPolicy" type="tns:IncludeExclude"/><xs:element minOccurs="0" name="CompliancePolicy" type="tns:IncludeExclude"/><xs:element minOccurs="0" name="Metadata" type="tns:IncludeExclude"/><xs:element minOccurs="0" name="PKIKeys" type="tns:IncludeExclude"/><xs:element minOccurs="0" name="Process" type="tns:IncludeExclude"/><xs:element minOccurs="0" name="Script" type="tns:IncludeExclude"/></xs:sequence></xs:extension></xs:complexContent></xs:complexType></xs:element>
<xs:element name="ExportPolicyRequest"><xs:complexType><xs:complexContent><xs:extension base="tns:BaseExportRequest"><xs:sequence><xs:element name="PolicyKey" type="xs:string"/></xs:sequence></xs:extension></xs:complexContent></xs:complexType></xs:element>
<xs:element name="ExportProcessRequest"><xs:complexType><xs:complexContent><xs:extension base="tns:BaseExportRequest"><xs:sequence><xs:element name="ProcessKey" type="xs:string"/></xs:sequence></xs:extension></xs:complexContent></xs:complexType></xs:element>
<xs:element name="ExportResult"><xs:complexType><xs:sequence><xs:element name="Completed" type="xs:boolean"/><xs:element minOccurs="0" name="TotalWork" type="xs:int"/><xs:element minOccurs="0" name="WorkCompleted" type="xs:int"/><xs:element minOccurs="0" name="ErrorMessage" type="xs:string"/><xs:element minOccurs="0" name="StatusMessage" type="xs:string"/><xs:element minOccurs="0" name="ExportHost" type="xs:string"/><xs:element minOccurs="0" name="ExportFile" type="xs:string"/></xs:sequence></xs:complexType></xs:element>
<xs:element name="ExportScriptRequest"><xs:complexType><xs:complexContent><xs:extension base="tns:BaseExportRequest"><xs:sequence><xs:element name="ScriptKey" type="xs:string"/></xs:sequence></xs:extension></xs:complexContent></xs:complexType></xs:element>
<xs:complexType name="BaseExportRequest"><xs:sequence><xs:element minOccurs="0" name="ExportDir" type="xs:string"/><xs:element minOccurs="0" name="ExportFile" type="xs:string"/></xs:sequence></xs:complexType>
<xs:complexType name="ServiceExportType"><xs:complexContent><xs:extension base="tns:BaseExportRequest"><xs:sequence><xs:element minOccurs="0" name="ServiceKey" type="xs:string"/><xs:element minOccurs="0" name="ServiceBindingId" type="xs:string"/><xs:element minOccurs="0" name="ServiceQName" type="xs:string"/><xs:element minOccurs="0" name="OperationalPolicy" type="tns:IncludeExclude"/><xs:element minOccurs="0" name="QoSPolicy" type="tns:IncludeExclude"/><xs:element minOccurs="0" name="CompliancePolicy" type="tns:IncludeExclude"/><xs:element minOccurs="0" name="Metadata" type="tns:IncludeExclude"/><xs:element minOccurs="0" name="PKIKeys" type="tns:IncludeExclude"/><xs:element minOccurs="0" name="Process" type="tns:IncludeExclude"/><xs:element minOccurs="0" name="Script" type="tns:IncludeExclude"/></xs:sequence></xs:extension></xs:complexContent></xs:complexType>
<xs:simpleType name="IncludeExclude"><xs:restriction base="xs:string"><xs:enumeration value="include"/><xs:enumeration value="exclude"/></xs:restriction></xs:simpleType>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="exportContractDeprecatedResponseMessage">
    <wsdl:part name="exportContractDeprecatedResponse" element="nms1:ExportResult">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="exportOrganizationDeprecatedRequestMessage">
    <wsdl:part name="parameter0" element="nms1:ExportOrganizationRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="exportPolicyDeprecatedResponseMessage">
    <wsdl:part name="exportPolicyDeprecatedResponse" element="nms1:ExportResult">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="exportProcessResponseMessage">
    <wsdl:part name="exportProcessResponse" element="nms1:ExportResult">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="exportOrganizationRequestMessage">
    <wsdl:part name="parameter0" element="nms1:ExportOrganizationRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="exportContractDeprecatedRequestMessage">
    <wsdl:part name="parameter0" element="nms1:ExportContractRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="exportProxyServiceGroupResponseMessage">
    <wsdl:part name="exportProxyServiceGroupResponse" element="nms1:ExportResult">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="exportPolicyDeprecatedRequestMessage">
    <wsdl:part name="parameter0" element="nms1:ExportPolicyRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="exportServiceResponseMessage">
    <wsdl:part name="exportServiceResponse" element="nms1:ExportResult">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="exportProcessDeprecatedRequestMessage">
    <wsdl:part name="parameter0" element="nms1:ExportProcessRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="exportContractResponseMessage">
    <wsdl:part name="exportContractResponse" element="nms1:ExportResult">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="exportProxyServiceGroupRequestMessage">
    <wsdl:part name="parameter0" type="tns:ExportProxyServiceGroupRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="exportServiceDeprecatedRequestMessage">
    <wsdl:part name="parameter0" type="tns:ExportServiceRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="exportOrganizationResponseMessage">
    <wsdl:part name="exportOrganizationResponse" element="nms1:ExportResult">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="exportServiceRequestMessage">
    <wsdl:part name="parameter0" type="tns:ExportServiceRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="exportProcessRequestMessage">
    <wsdl:part name="parameter0" element="nms1:ExportProcessRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="exportProcessDeprecatedResponseMessage">
    <wsdl:part name="exportProcessDeprecatedResponse" element="nms1:ExportResult">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="exportPolicyRequestMessage">
    <wsdl:part name="parameter0" element="nms1:ExportPolicyRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="exportServiceDeprecatedResponseMessage">
    <wsdl:part name="exportServiceDeprecatedResponse" element="nms1:ExportResult">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="exportProxyServiceGroupDeprecatedRequestMessage">
    <wsdl:part name="parameter0" type="tns:ExportProxyServiceGroupRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="exportScriptResponseMessage">
    <wsdl:part name="exportScriptResponse" element="nms1:ExportResult">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="exportPolicyResponseMessage">
    <wsdl:part name="exportPolicyResponse" element="nms1:ExportResult">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="exportProxyServiceGroupDeprecatedResponseMessage">
    <wsdl:part name="exportProxyServiceGroupDeprecatedResponse" element="nms1:ExportResult">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="exportScriptDeprecatedResponseMessage">
    <wsdl:part name="exportScriptDeprecatedResponse" element="nms1:ExportResult">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="exportScriptRequestMessage">
    <wsdl:part name="parameter0" element="nms1:ExportScriptRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="exportContractRequestMessage">
    <wsdl:part name="parameter0" element="nms1:ExportContractRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="exportOrganizationDeprecatedResponseMessage">
    <wsdl:part name="exportOrganizationDeprecatedResponse" element="nms1:ExportResult">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="exportScriptDeprecatedRequestMessage">
    <wsdl:part name="parameter0" element="nms1:ExportScriptRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="ExportsMgmtPortTypePortType">
    <wsdl:operation name="exportProxyServiceGroup">
      <wsdl:input message="tns:exportProxyServiceGroupRequestMessage">
    </wsdl:input>
      <wsdl:output message="tns:exportProxyServiceGroupResponseMessage">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="exportContract">
      <wsdl:input message="tns:exportContractRequestMessage">
    </wsdl:input>
      <wsdl:output message="tns:exportContractResponseMessage">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="exportPolicy">
      <wsdl:input message="tns:exportPolicyRequestMessage">
    </wsdl:input>
      <wsdl:output message="tns:exportPolicyResponseMessage">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="exportProcess">
      <wsdl:input message="tns:exportProcessRequestMessage">
    </wsdl:input>
      <wsdl:output message="tns:exportProcessResponseMessage">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="exportScript">
      <wsdl:input message="tns:exportScriptRequestMessage">
    </wsdl:input>
      <wsdl:output message="tns:exportScriptResponseMessage">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="exportOrganizationDeprecated">
      <wsdl:input message="tns:exportOrganizationDeprecatedRequestMessage">
    </wsdl:input>
      <wsdl:output message="tns:exportOrganizationDeprecatedResponseMessage">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="exportServiceDeprecated">
      <wsdl:input message="tns:exportServiceDeprecatedRequestMessage">
    </wsdl:input>
      <wsdl:output message="tns:exportServiceDeprecatedResponseMessage">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="exportProxyServiceGroupDeprecated">
      <wsdl:input message="tns:exportProxyServiceGroupDeprecatedRequestMessage">
    </wsdl:input>
      <wsdl:output message="tns:exportProxyServiceGroupDeprecatedResponseMessage">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="exportContractDeprecated">
      <wsdl:input message="tns:exportContractDeprecatedRequestMessage">
    </wsdl:input>
      <wsdl:output message="tns:exportContractDeprecatedResponseMessage">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="exportPolicyDeprecated">
      <wsdl:input message="tns:exportPolicyDeprecatedRequestMessage">
    </wsdl:input>
      <wsdl:output message="tns:exportPolicyDeprecatedResponseMessage">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="exportProcessDeprecated">
      <wsdl:input message="tns:exportProcessDeprecatedRequestMessage">
    </wsdl:input>
      <wsdl:output message="tns:exportProcessDeprecatedResponseMessage">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="exportScriptDeprecated">
      <wsdl:input message="tns:exportScriptDeprecatedRequestMessage">
    </wsdl:input>
      <wsdl:output message="tns:exportScriptDeprecatedResponseMessage">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="exportOrganization">
      <wsdl:input message="tns:exportOrganizationRequestMessage">
    </wsdl:input>
      <wsdl:output message="tns:exportOrganizationResponseMessage">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="exportService">
      <wsdl:input message="tns:exportServiceRequestMessage">
    </wsdl:input>
      <wsdl:output message="tns:exportServiceResponseMessage">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ExportsMgmtPortTypeBinding" type="tns:ExportsMgmtPortTypePortType">
    <shttp:binding/>
    <wsdl:operation name="exportProxyServiceGroup">
<wsdl:documentation><sdoc:displayName xmlns:sdoc="http://soa.com/wsdl/doc">POST /proxyservicegroups/export</sdoc:displayName><sdoc:description xmlns:sdoc="http://soa.com/wsdl/doc"><![CDATA[Exports an proxy service group]]></sdoc:description></wsdl:documentation>
    <shttp:operation inputSerialization="application/json,application/xml,text/xml" location="/proxyservicegroups/export" method="POST"/>
      <wsdl:input>
    <shttp:input name="parameter0" part="parameter0" type="entity"><wsdl:documentation><sdoc:description xmlns:sdoc="http://soa.com/wsdl/doc"><![CDATA[Export Proxy Service Group Request]]></sdoc:description><sdoc:required xmlns:sdoc="http://soa.com/wsdl/doc">true</sdoc:required><sdoc:multiple xmlns:sdoc="http://soa.com/wsdl/doc">false</sdoc:multiple></wsdl:documentation></shttp:input>
      </wsdl:input>
      <wsdl:output>
    <shttp:output name="exportProxyServiceGroupResponse" part="exportProxyServiceGroupResponse" type="entity"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="exportContract">
<wsdl:documentation><sdoc:displayName xmlns:sdoc="http://soa.com/wsdl/doc">POST /contracts/export</sdoc:displayName><sdoc:description xmlns:sdoc="http://soa.com/wsdl/doc"><![CDATA[Exports a contract]]></sdoc:description></wsdl:documentation>
    <shttp:operation inputSerialization="application/json,application/xml,text/xml" location="/contracts/export" method="POST"/>
      <wsdl:input>
    <shttp:input name="parameter0" part="parameter0" type="entity"><wsdl:documentation><sdoc:description xmlns:sdoc="http://soa.com/wsdl/doc"><![CDATA[Export Contract Request]]></sdoc:description><sdoc:required xmlns:sdoc="http://soa.com/wsdl/doc">true</sdoc:required><sdoc:multiple xmlns:sdoc="http://soa.com/wsdl/doc">false</sdoc:multiple></wsdl:documentation></shttp:input>
      </wsdl:input>
      <wsdl:output>
    <shttp:output name="exportContractResponse" part="exportContractResponse" type="entity"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="exportPolicy">
<wsdl:documentation><sdoc:displayName xmlns:sdoc="http://soa.com/wsdl/doc">POST /policies/export</sdoc:displayName><sdoc:description xmlns:sdoc="http://soa.com/wsdl/doc"><![CDATA[Exports a policy]]></sdoc:description></wsdl:documentation>
    <shttp:operation inputSerialization="application/json,application/xml,text/xml" location="/policies/export" method="POST"/>
      <wsdl:input>
    <shttp:input name="parameter0" part="parameter0" type="entity"><wsdl:documentation><sdoc:description xmlns:sdoc="http://soa.com/wsdl/doc"><![CDATA[Export Policy Request]]></sdoc:description><sdoc:required xmlns:sdoc="http://soa.com/wsdl/doc">true</sdoc:required><sdoc:multiple xmlns:sdoc="http://soa.com/wsdl/doc">false</sdoc:multiple></wsdl:documentation></shttp:input>
      </wsdl:input>
      <wsdl:output>
    <shttp:output name="exportPolicyResponse" part="exportPolicyResponse" type="entity"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="exportProcess">
<wsdl:documentation><sdoc:displayName xmlns:sdoc="http://soa.com/wsdl/doc">POST /processes/export</sdoc:displayName><sdoc:description xmlns:sdoc="http://soa.com/wsdl/doc"><![CDATA[Exports a process]]></sdoc:description></wsdl:documentation>
    <shttp:operation inputSerialization="application/json,application/xml,text/xml" location="/processes/export" method="POST"/>
      <wsdl:input>
    <shttp:input name="parameter0" part="parameter0" type="entity"><wsdl:documentation><sdoc:description xmlns:sdoc="http://soa.com/wsdl/doc"><![CDATA[Export Process Request]]></sdoc:description><sdoc:required xmlns:sdoc="http://soa.com/wsdl/doc">true</sdoc:required><sdoc:multiple xmlns:sdoc="http://soa.com/wsdl/doc">false</sdoc:multiple></wsdl:documentation></shttp:input>
      </wsdl:input>
      <wsdl:output>
    <shttp:output name="exportProcessResponse" part="exportProcessResponse" type="entity"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="exportScript">
<wsdl:documentation><sdoc:displayName xmlns:sdoc="http://soa.com/wsdl/doc">POST /scripts/export</sdoc:displayName><sdoc:description xmlns:sdoc="http://soa.com/wsdl/doc"><![CDATA[Exports a script]]></sdoc:description></wsdl:documentation>
    <shttp:operation inputSerialization="application/json,application/xml,text/xml" location="/scripts/export" method="POST"/>
      <wsdl:input>
    <shttp:input name="parameter0" part="parameter0" type="entity"><wsdl:documentation><sdoc:description xmlns:sdoc="http://soa.com/wsdl/doc"><![CDATA[Export Script Request]]></sdoc:description><sdoc:required xmlns:sdoc="http://soa.com/wsdl/doc">true</sdoc:required><sdoc:multiple xmlns:sdoc="http://soa.com/wsdl/doc">false</sdoc:multiple></wsdl:documentation></shttp:input>
      </wsdl:input>
      <wsdl:output>
    <shttp:output name="exportScriptResponse" part="exportScriptResponse" type="entity"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="exportOrganizationDeprecated">
<wsdl:documentation><sdoc:displayName xmlns:sdoc="http://soa.com/wsdl/doc">POST /organization/export</sdoc:displayName><sdoc:description xmlns:sdoc="http://soa.com/wsdl/doc"><![CDATA[Exports an organization .. Resource Path deprecated]]></sdoc:description></wsdl:documentation>
    <shttp:operation inputSerialization="application/json,application/xml,text/xml" location="/organization/export" method="POST"/>
      <wsdl:input>
    <shttp:input name="parameter0" part="parameter0" type="entity"><wsdl:documentation><sdoc:description xmlns:sdoc="http://soa.com/wsdl/doc"><![CDATA[Export Org Request Deprecated]]></sdoc:description><sdoc:required xmlns:sdoc="http://soa.com/wsdl/doc">true</sdoc:required><sdoc:multiple xmlns:sdoc="http://soa.com/wsdl/doc">false</sdoc:multiple></wsdl:documentation></shttp:input>
      </wsdl:input>
      <wsdl:output>
    <shttp:output name="exportOrganizationDeprecatedResponse" part="exportOrganizationDeprecatedResponse" type="entity"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="exportServiceDeprecated">
<wsdl:documentation><sdoc:displayName xmlns:sdoc="http://soa.com/wsdl/doc">POST /service/export</sdoc:displayName><sdoc:description xmlns:sdoc="http://soa.com/wsdl/doc"><![CDATA[Exports an service .. Resource Path deprecated]]></sdoc:description></wsdl:documentation>
    <shttp:operation inputSerialization="application/json,application/xml,text/xml" location="/service/export" method="POST"/>
      <wsdl:input>
    <shttp:input name="parameter0" part="parameter0" type="entity"><wsdl:documentation><sdoc:description xmlns:sdoc="http://soa.com/wsdl/doc"><![CDATA[Export Service Request Deprecated]]></sdoc:description><sdoc:required xmlns:sdoc="http://soa.com/wsdl/doc">true</sdoc:required><sdoc:multiple xmlns:sdoc="http://soa.com/wsdl/doc">false</sdoc:multiple></wsdl:documentation></shttp:input>
      </wsdl:input>
      <wsdl:output>
    <shttp:output name="exportServiceDeprecatedResponse" part="exportServiceDeprecatedResponse" type="entity"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="exportProxyServiceGroupDeprecated">
<wsdl:documentation><sdoc:displayName xmlns:sdoc="http://soa.com/wsdl/doc">POST /proxyservicegroup/export</sdoc:displayName><sdoc:description xmlns:sdoc="http://soa.com/wsdl/doc"><![CDATA[Exports an proxy service group .. Resource Path deprecated]]></sdoc:description></wsdl:documentation>
    <shttp:operation inputSerialization="application/json,application/xml,text/xml" location="/proxyservicegroup/export" method="POST"/>
      <wsdl:input>
    <shttp:input name="parameter0" part="parameter0" type="entity"><wsdl:documentation><sdoc:description xmlns:sdoc="http://soa.com/wsdl/doc"><![CDATA[Export Proxy Service Group Request Deprecated]]></sdoc:description><sdoc:required xmlns:sdoc="http://soa.com/wsdl/doc">true</sdoc:required><sdoc:multiple xmlns:sdoc="http://soa.com/wsdl/doc">false</sdoc:multiple></wsdl:documentation></shttp:input>
      </wsdl:input>
      <wsdl:output>
    <shttp:output name="exportProxyServiceGroupDeprecatedResponse" part="exportProxyServiceGroupDeprecatedResponse" type="entity"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="exportContractDeprecated">
<wsdl:documentation><sdoc:displayName xmlns:sdoc="http://soa.com/wsdl/doc">POST /contract/export</sdoc:displayName><sdoc:description xmlns:sdoc="http://soa.com/wsdl/doc"><![CDATA[Exports a contract]]></sdoc:description></wsdl:documentation>
    <shttp:operation inputSerialization="application/json,application/xml,text/xml" location="/contract/export" method="POST"/>
      <wsdl:input>
    <shttp:input name="parameter0" part="parameter0" type="entity"><wsdl:documentation><sdoc:description xmlns:sdoc="http://soa.com/wsdl/doc"><![CDATA[Export Contract Request Deprecated]]></sdoc:description><sdoc:required xmlns:sdoc="http://soa.com/wsdl/doc">true</sdoc:required><sdoc:multiple xmlns:sdoc="http://soa.com/wsdl/doc">false</sdoc:multiple></wsdl:documentation></shttp:input>
      </wsdl:input>
      <wsdl:output>
    <shttp:output name="exportContractDeprecatedResponse" part="exportContractDeprecatedResponse" type="entity"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="exportPolicyDeprecated">
<wsdl:documentation><sdoc:displayName xmlns:sdoc="http://soa.com/wsdl/doc">POST /policy/export</sdoc:displayName><sdoc:description xmlns:sdoc="http://soa.com/wsdl/doc"><![CDATA[Exports a policy .. Resource Path deprecated]]></sdoc:description></wsdl:documentation>
    <shttp:operation inputSerialization="application/json,application/xml,text/xml" location="/policy/export" method="POST"/>
      <wsdl:input>
    <shttp:input name="parameter0" part="parameter0" type="entity"><wsdl:documentation><sdoc:description xmlns:sdoc="http://soa.com/wsdl/doc"><![CDATA[Export Policy Request Deprecated]]></sdoc:description><sdoc:required xmlns:sdoc="http://soa.com/wsdl/doc">true</sdoc:required><sdoc:multiple xmlns:sdoc="http://soa.com/wsdl/doc">false</sdoc:multiple></wsdl:documentation></shttp:input>
      </wsdl:input>
      <wsdl:output>
    <shttp:output name="exportPolicyDeprecatedResponse" part="exportPolicyDeprecatedResponse" type="entity"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="exportProcessDeprecated">
<wsdl:documentation><sdoc:displayName xmlns:sdoc="http://soa.com/wsdl/doc">POST /process/export</sdoc:displayName><sdoc:description xmlns:sdoc="http://soa.com/wsdl/doc"><![CDATA[Exports a process .. Resource Path deprecated]]></sdoc:description></wsdl:documentation>
    <shttp:operation inputSerialization="application/json,application/xml,text/xml" location="/process/export" method="POST"/>
      <wsdl:input>
    <shttp:input name="parameter0" part="parameter0" type="entity"><wsdl:documentation><sdoc:description xmlns:sdoc="http://soa.com/wsdl/doc"><![CDATA[Export Process Request Deprecated]]></sdoc:description><sdoc:required xmlns:sdoc="http://soa.com/wsdl/doc">true</sdoc:required><sdoc:multiple xmlns:sdoc="http://soa.com/wsdl/doc">false</sdoc:multiple></wsdl:documentation></shttp:input>
      </wsdl:input>
      <wsdl:output>
    <shttp:output name="exportProcessDeprecatedResponse" part="exportProcessDeprecatedResponse" type="entity"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="exportScriptDeprecated">
<wsdl:documentation><sdoc:displayName xmlns:sdoc="http://soa.com/wsdl/doc">POST /script/export</sdoc:displayName><sdoc:description xmlns:sdoc="http://soa.com/wsdl/doc"><![CDATA[Exports a script .. Resource Path deprecated]]></sdoc:description></wsdl:documentation>
    <shttp:operation inputSerialization="application/json,application/xml,text/xml" location="/script/export" method="POST"/>
      <wsdl:input>
    <shttp:input name="parameter0" part="parameter0" type="entity"><wsdl:documentation><sdoc:description xmlns:sdoc="http://soa.com/wsdl/doc"><![CDATA[Export Script Request Deprecated]]></sdoc:description><sdoc:required xmlns:sdoc="http://soa.com/wsdl/doc">true</sdoc:required><sdoc:multiple xmlns:sdoc="http://soa.com/wsdl/doc">false</sdoc:multiple></wsdl:documentation></shttp:input>
      </wsdl:input>
      <wsdl:output>
    <shttp:output name="exportScriptDeprecatedResponse" part="exportScriptDeprecatedResponse" type="entity"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="exportOrganization">
<wsdl:documentation><sdoc:displayName xmlns:sdoc="http://soa.com/wsdl/doc">POST /organizations/export</sdoc:displayName><sdoc:description xmlns:sdoc="http://soa.com/wsdl/doc"><![CDATA[Exports an organization]]></sdoc:description></wsdl:documentation>
    <shttp:operation inputSerialization="application/json,application/xml,text/xml" location="/organizations/export" method="POST"/>
      <wsdl:input>
    <shttp:input name="parameter0" part="parameter0" type="entity"><wsdl:documentation><sdoc:description xmlns:sdoc="http://soa.com/wsdl/doc"><![CDATA[Export Org Request]]></sdoc:description><sdoc:required xmlns:sdoc="http://soa.com/wsdl/doc">true</sdoc:required><sdoc:multiple xmlns:sdoc="http://soa.com/wsdl/doc">false</sdoc:multiple></wsdl:documentation></shttp:input>
      </wsdl:input>
      <wsdl:output>
    <shttp:output name="exportOrganizationResponse" part="exportOrganizationResponse" type="entity"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="exportService">
<wsdl:documentation><sdoc:displayName xmlns:sdoc="http://soa.com/wsdl/doc">POST /services/export</sdoc:displayName><sdoc:description xmlns:sdoc="http://soa.com/wsdl/doc"><![CDATA[Exports an service]]></sdoc:description></wsdl:documentation>
    <shttp:operation inputSerialization="application/json,application/xml,text/xml" location="/services/export" method="POST"/>
      <wsdl:input>
    <shttp:input name="parameter0" part="parameter0" type="entity"><wsdl:documentation><sdoc:description xmlns:sdoc="http://soa.com/wsdl/doc"><![CDATA[Export Service Request]]></sdoc:description><sdoc:required xmlns:sdoc="http://soa.com/wsdl/doc">true</sdoc:required><sdoc:multiple xmlns:sdoc="http://soa.com/wsdl/doc">false</sdoc:multiple></wsdl:documentation></shttp:input>
      </wsdl:input>
      <wsdl:output>
    <shttp:output name="exportServiceResponse" part="exportServiceResponse" type="entity"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ExportsMgmtPortType">
<wsdl:documentation><sdoc:description xmlns:sdoc="http://soa.com/wsdl/doc"><![CDATA[The API used to manage PM exports.]]></sdoc:description><sdoc:title xmlns:sdoc="http://soa.com/wsdl/doc">Exports Management Service</sdoc:title><sdoc:version xmlns:sdoc="http://soa.com/wsdl/doc">7.0.0</sdoc:version><sdoc:vendor xmlns:sdoc="http://soa.com/wsdl/doc">SOA Software</sdoc:vendor></wsdl:documentation>
    <wsdl:port name="ExportsMgmtPortType_rest_port_https" binding="tns:ExportsMgmtPortTypeBinding">
    <shttp:address location="https://0.0.0.0/"/>
    </wsdl:port>
    <wsdl:port name="ExportsMgmtPortType_rest_port_http" binding="tns:ExportsMgmtPortTypeBinding">
    <shttp:address location="http://0.0.0.0/"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
