ag/assets/restApiDocs_api-platform_84/api-platform/api-urn_com.soa.atmosphere.search.api-IndexAPI.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="urn:com.soa.atmosphere.search.api" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="urn:com.soa.atmosphere.search.api" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:nms1="http://soa.com/xsd/search/1.0" xmlns:shttp="http://soa.com/wsdl/http">
  <wsdl:types>
    <xs:schema elementFormDefault="qualified" targetNamespace="http://soa.com/xsd/search/1.0" version="1.0" xmlns:tns="http://soa.com/xsd/search/1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:element name="EmbeddedNodeConfiguration"><xs:complexType><xs:sequence><xs:element name="ContainerKey" type="xs:string"/><xs:element minOccurs="0" name="Name" type="xs:string"/><xs:element minOccurs="0" name="IndexLocation" type="xs:string"/><xs:element minOccurs="0" name="BindToAll" type="xs:boolean"/><xs:element minOccurs="0" name="NetworkBindAddress" type="xs:string"/><xs:element minOccurs="0" name="NetworkPublishAddress" type="xs:string"/><xs:element minOccurs="0" name="TransportPort" type="xs:int"/><xs:element minOccurs="0" name="HttpPort" type="xs:int"/><xs:element minOccurs="0" name="HttpEnabled" type="xs:boolean"/><xs:element minOccurs="0" name="MasterEligible" type="xs:boolean"/><xs:element minOccurs="0" name="DataNode" type="xs:boolean"/></xs:sequence></xs:complexType></xs:element>
<xs:element name="EmbeddedNodeConfigurations"><xs:complexType><xs:sequence><xs:element maxOccurs="unbounded" minOccurs="0" ref="tns:EmbeddedNodeConfiguration"/></xs:sequence></xs:complexType></xs:element>
<xs:element name="IndexEntries"><xs:complexType><xs:sequence><xs:element maxOccurs="unbounded" ref="tns:IndexEntry"/></xs:sequence></xs:complexType></xs:element>
<xs:element name="IndexEntry"><xs:complexType><xs:sequence><xs:element name="ObjectID" type="xs:string"/><xs:element name="ObjectType" type="xs:string"/></xs:sequence></xs:complexType></xs:element>
<xs:element name="IndexQueueState"><xs:complexType><xs:sequence><xs:element name="LocalIndexQueueSize" type="xs:int"/><xs:element name="FederationIndexQueueSize" type="xs:int"/></xs:sequence></xs:complexType></xs:element>
<xs:element name="IndexRequest"><xs:complexType><xs:sequence><xs:element ref="tns:IndexEntries"/><xs:element default="sync" minOccurs="0" name="Mode" type="xs:string"/><xs:element default="local" minOccurs="0" name="Target" type="xs:string"/><xs:element default="update" minOccurs="0" name="Action" type="xs:string"/></xs:sequence></xs:complexType></xs:element>
<xs:element name="IndexResponse"><xs:complexType><xs:sequence><xs:element name="Status" type="xs:string"/></xs:sequence></xs:complexType></xs:element>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="deleteMappingRequestMessage">
    <wsdl:part name="index" type="xs:string">
    </wsdl:part>
    <wsdl:part name="type" type="xs:string">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="deleteMappingResponseMessage">
    <wsdl:part element="xs:any">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getClusterHealthResponseMessage">
    <wsdl:part name="getClusterHealthResponse" type="tns:List">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getEmbeddedNodeConfigurationsRequestMessage">
  </wsdl:message>
  <wsdl:message name="getIndexQueueStateResponseMessage">
    <wsdl:part name="getIndexQueueStateResponse" element="nms1:IndexQueueState">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="updateMappingFileUploadRequestMessage">
    <wsdl:part name="index" type="xs:string">
    </wsdl:part>
    <wsdl:part name="type" type="xs:string">
    </wsdl:part>
    <wsdl:part name="parameter0" type="tns:BufferedInMultiPart">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getEmbeddedNodeConfigurationRequestMessage">
    <wsdl:part name="ContainerKey" type="xs:string">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="indexResponseMessage">
    <wsdl:part name="indexResponse" element="nms1:IndexResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="updateMappingFromStoreRequestMessage">
    <wsdl:part name="index" type="xs:string">
    </wsdl:part>
    <wsdl:part name="type" type="xs:string">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getClusterHealthRequestMessage">
  </wsdl:message>
  <wsdl:message name="getIndexQueueStateRequestMessage">
  </wsdl:message>
  <wsdl:message name="getEmbeddedNodeConfigurationsResponseMessage">
    <wsdl:part name="getEmbeddedNodeConfigurationsResponse" element="nms1:EmbeddedNodeConfigurations">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getEmbeddedNodeConfigurationResponseMessage">
    <wsdl:part name="getEmbeddedNodeConfigurationResponse" element="nms1:EmbeddedNodeConfiguration">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="updateEmbeddedNodeConfigurationResponseMessage">
    <wsdl:part name="updateEmbeddedNodeConfigurationResponse" element="nms1:EmbeddedNodeConfiguration">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="updateEmbeddedNodeConfigurationRequestMessage">
    <wsdl:part name="ContainerKey" type="xs:string">
    </wsdl:part>
    <wsdl:part name="parameter0" element="nms1:EmbeddedNodeConfiguration">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="indexRequestMessage">
    <wsdl:part name="parameter0" element="nms1:IndexRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="updateMappingFileUploadResponseMessage">
    <wsdl:part element="xs:any">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="updateMappingFromStoreResponseMessage">
    <wsdl:part element="xs:any">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="IndexAPIPortType">
    <wsdl:operation name="getClusterHealth">
      <wsdl:input message="tns:getClusterHealthRequestMessage">
    </wsdl:input>
      <wsdl:output message="tns:getClusterHealthResponseMessage">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteMapping">
      <wsdl:input message="tns:deleteMappingRequestMessage">
    </wsdl:input>
      <wsdl:output message="tns:deleteMappingResponseMessage">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getIndexQueueState">
      <wsdl:input message="tns:getIndexQueueStateRequestMessage">
    </wsdl:input>
      <wsdl:output message="tns:getIndexQueueStateResponseMessage">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateMappingFileUpload">
      <wsdl:input message="tns:updateMappingFileUploadRequestMessage">
    </wsdl:input>
      <wsdl:output message="tns:updateMappingFileUploadResponseMessage">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateMappingFromStore">
      <wsdl:input message="tns:updateMappingFromStoreRequestMessage">
    </wsdl:input>
      <wsdl:output message="tns:updateMappingFromStoreResponseMessage">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getEmbeddedNodeConfigurations">
      <wsdl:input message="tns:getEmbeddedNodeConfigurationsRequestMessage">
    </wsdl:input>
      <wsdl:output message="tns:getEmbeddedNodeConfigurationsResponseMessage">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getEmbeddedNodeConfiguration">
      <wsdl:input message="tns:getEmbeddedNodeConfigurationRequestMessage">
    </wsdl:input>
      <wsdl:output message="tns:getEmbeddedNodeConfigurationResponseMessage">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateEmbeddedNodeConfiguration">
      <wsdl:input message="tns:updateEmbeddedNodeConfigurationRequestMessage">
    </wsdl:input>
      <wsdl:output message="tns:updateEmbeddedNodeConfigurationResponseMessage">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="index">
      <wsdl:input message="tns:indexRequestMessage">
    </wsdl:input>
      <wsdl:output message="tns:indexResponseMessage">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="IndexAPIBinding" type="tns:IndexAPIPortType">
    <shttp:binding/>
    <wsdl:operation name="getClusterHealth">
<wsdl:documentation><sdoc:displayName xmlns:sdoc="http://soa.com/wsdl/doc">GET /index/cluster/health</sdoc:displayName></wsdl:documentation>
    <shttp:operation location="/index/cluster/health" method="GET" outputSerialization="application/xml,application/json,application/vnd.soa.v81+xml,application/vnd.soa.v81+json"/>
      <wsdl:output>
    <shttp:output name="getClusterHealthResponse" part="getClusterHealthResponse" type="entity"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteMapping">
<wsdl:documentation><sdoc:displayName xmlns:sdoc="http://soa.com/wsdl/doc">DELETE /index/{index}/{type}/mapping</sdoc:displayName></wsdl:documentation>
    <shttp:operation location="/index/{index}/{type}/mapping" method="DELETE" outputSerialization="text/plain"/>
      <wsdl:input>
    <shttp:input name="index" part="index" type="path"/>
    <shttp:input name="type" part="type" type="path"/>
      </wsdl:input>
      <wsdl:output>
    <shttp:output name="" part="" type="entity"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getIndexQueueState">
<wsdl:documentation><sdoc:displayName xmlns:sdoc="http://soa.com/wsdl/doc">GET /index/queue/state</sdoc:displayName></wsdl:documentation>
    <shttp:operation location="/index/queue/state" method="GET" outputSerialization="application/xml,application/json,application/vnd.soa.v71+json,application/vnd.soa.v72+json,application/vnd.soa.v80+json,application/vnd.soa.v71+xml,application/vnd.soa.v72+xml,application/vnd.soa.v80+xml"/>
      <wsdl:output>
    <shttp:output name="getIndexQueueStateResponse" part="getIndexQueueStateResponse" type="entity"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateMappingFileUpload">
<wsdl:documentation><sdoc:displayName xmlns:sdoc="http://soa.com/wsdl/doc">PUT /index/{index}/{type}/mapping</sdoc:displayName></wsdl:documentation>
    <shttp:operation inputSerialization="multipart/form-data" location="/index/{index}/{type}/mapping" method="PUT" outputSerialization="text/plain"/>
      <wsdl:input>
    <shttp:input name="index" part="index" type="path"/>
    <shttp:input name="type" part="type" type="path"/>
    <shttp:input name="parameter0" part="parameter0" type="entity"/>
      </wsdl:input>
      <wsdl:output>
    <shttp:output name="" part="" type="entity"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateMappingFromStore">
<wsdl:documentation><sdoc:displayName xmlns:sdoc="http://soa.com/wsdl/doc">PUT /index/{index}/{type}/mapping</sdoc:displayName></wsdl:documentation>
    <shttp:operation inputSerialization="application/x-www-form-urlencoded" location="/index/{index}/{type}/mapping" method="PUT" outputSerialization="text/plain"/>
      <wsdl:input>
    <shttp:input name="index" part="index" type="path"/>
    <shttp:input name="type" part="type" type="path"/>
      </wsdl:input>
      <wsdl:output>
    <shttp:output name="" part="" type="entity"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getEmbeddedNodeConfigurations">
<wsdl:documentation><sdoc:displayName xmlns:sdoc="http://soa.com/wsdl/doc">GET /index/nodeconfig</sdoc:displayName></wsdl:documentation>
    <shttp:operation location="/index/nodeconfig" method="GET" outputSerialization="application/json,application/vnd.soa.v83+json"/>
      <wsdl:output>
    <shttp:output name="getEmbeddedNodeConfigurationsResponse" part="getEmbeddedNodeConfigurationsResponse" type="entity"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getEmbeddedNodeConfiguration">
<wsdl:documentation><sdoc:displayName xmlns:sdoc="http://soa.com/wsdl/doc">GET /index/{ContainerKey}/nodeconfig</sdoc:displayName></wsdl:documentation>
    <shttp:operation location="/index/{ContainerKey}/nodeconfig" method="GET" outputSerialization="application/json,application/vnd.soa.v83+json"/>
      <wsdl:input>
    <shttp:input name="ContainerKey" part="ContainerKey" type="path"/>
      </wsdl:input>
      <wsdl:output>
    <shttp:output name="getEmbeddedNodeConfigurationResponse" part="getEmbeddedNodeConfigurationResponse" type="entity"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateEmbeddedNodeConfiguration">
<wsdl:documentation><sdoc:displayName xmlns:sdoc="http://soa.com/wsdl/doc">PUT /index/{ContainerKey}/nodeconfig</sdoc:displayName></wsdl:documentation>
    <shttp:operation inputSerialization="application/json,application/vnd.soa.v83+json" location="/index/{ContainerKey}/nodeconfig" method="PUT" outputSerialization="application/json,application/vnd.soa.v83+json"/>
      <wsdl:input>
    <shttp:input name="ContainerKey" part="ContainerKey" type="path"/>
    <shttp:input name="parameter0" part="parameter0" type="entity"/>
      </wsdl:input>
      <wsdl:output>
    <shttp:output name="updateEmbeddedNodeConfigurationResponse" part="updateEmbeddedNodeConfigurationResponse" type="entity"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="index">
<wsdl:documentation><sdoc:displayName xmlns:sdoc="http://soa.com/wsdl/doc">POST /index</sdoc:displayName></wsdl:documentation>
    <shttp:operation inputSerialization="application/xml,application/json,application/vnd.soa.v71+json,application/vnd.soa.v72+json,application/vnd.soa.v80+json,application/vnd.soa.v71+xml,application/vnd.soa.v72+xml,application/vnd.soa.v80+xml" location="/index" method="POST" outputSerialization="application/xml,application/json,application/vnd.soa.v71+json,application/vnd.soa.v72+json,application/vnd.soa.v80+json,application/vnd.soa.v71+xml,application/vnd.soa.v72+xml,application/vnd.soa.v80+xml"/>
      <wsdl:input>
    <shttp:input name="parameter0" part="parameter0" type="entity"/>
      </wsdl:input>
      <wsdl:output>
    <shttp:output name="indexResponse" part="indexResponse" type="entity"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="IndexAPI">
<wsdl:documentation><sdoc:description xmlns:sdoc="http://soa.com/wsdl/doc"><![CDATA[<p>The Search Index service provides an interface for managing the Elasticsearch feature in the Akana API Platform.</p>]]></sdoc:description></wsdl:documentation>
    <wsdl:port name="IndexAPI_rest_port_http" binding="tns:IndexAPIBinding">
    <shttp:address location="http://0.0.0.0/api"/>
    </wsdl:port>
    <wsdl:port name="IndexAPI_rest_port_https" binding="tns:IndexAPIBinding">
    <shttp:address location="https://0.0.0.0/api"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
